{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 9</span>
				Admin
			</h1>
			<p class="lede"></p>
		</div>
	</div>
	<div class="grid-row">
		<div class="column-one-third">
			<a href="design"><h2 class="heading-medium" style="margin:0px;">Design exploration</h2></a>
			<p>All prototypes created so far, including those created for design exploration</p>
		</div>
		<div class="column-one-third">
			<a href="index.html"><h2 class="heading-medium" style="margin:0px;">User research</h2></a>
			<p>Prototypes ready to put in front of users during testing purposes. Set as index.html for easy of use during testing</p>
		</div>
		<div class="column-one-third">
			<a href="ready"><h2 class="heading-medium" style="margin:0px;">Ready for live</h2></a>
			<p>Prototypes to guide the creation of the live site. The code <strong>should not</strong> be used directly in the live environment</p>
		</div>
	</div>
</main>

{% endblock %}


