{% set searchTerm = data.searchTerm %}
{% set searchPrompt = data.searchPrompt %}
{% set VocExitHide = data.VocExitHide %}
{% set VocConsumeHide = data.VocConsumeHide %}

{% extends "govuk_template_BAU.html" %}

{% block head %}
  <script>
	  // Making data object accessible in client
	  var session = {{ data | dump | safe }};
  </script>
  {% include "./includes/head.html" %}
{% endblock %}

{% block body_start %}
<!-- {% include "./includes/banner_prototype.html" %} -->
{% endblock %}

{% block cookie_message %}
  <p>The National Careers Service uses cookies to make the site simpler. <a href="#1">Find out more about cookies</a></p>
{% endblock %}

{% block proposition_header %}
  {% include "./includes/header-title_blank.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block body_end %}
  {% include "./includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
