{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 9</span>
				Ready for live
			</h1>
			<p class="lede">Prototypes to guide the creation of the live site. The code <strong>should not</strong> be used directly in the live environment</p>

			<h2 class="heading-large">Voice of customer - Exit survey (MVS)</h2>
			<ul class="list list-bullet">
				<li><a href="PROD_VOC_exit-routes-survey_BAU_v3.html">Banner for BAU</a></li>
				<li><a href="PROD_VOC_exit-routes-survey_v3.html">Banner for BETA</a></li>
			</ul>
		</div>
	</div>
</main>

{% endblock %}


