{% extends "../layout.html" %}

{% block page_title %}
  Service Green
{% endblock %}

{% block content %}

<main id="content" role="main">
		<div class="breadcrumbs">
			<ol>
				<li><a href="../index.html">Home</a></li>
				<li><a href="#1">Page</a></li>
				<li>TV presenter</li>
			</ol>
		</div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">TV presenter
                <span class="heading-secondary">Television presenter</span>
                </h1>

                <div class="govuk-box-grey">
                    <p>TV presenters work in television, introducing and hosting programmes, interviewing people and reporting on issues and events.</p>
                </div>
                <div class="profile">
                    <div class="sixty">
                        <span class="salary-icon">
                        	<img alt="Salary, a pound sign" src="/public/images/salary.png">
                        </span> 
                        <span class="visually-hidden">Salary:</span> 
                        <span class="bold">Variable</span> 
                        per year
                    </div>
                    <div class="forty">
                        <span class="hours-icon">
                        	<img alt="Hours, a clock face" src="/public/images/hours.png">
                        </span> 
                        <span class="visually-hidden">Hours:</span>
                        <span class="bold">Variable</span> 
                        per week
                    </div>
                </div>
                <nav aria-label="skip to your documents" class="jump-links" role="navigation">
                    <div class="grid-row">
                        <div class="column-one-half">
                            <ol class="list list-number">
                                <li>
                                    <a href="#how-to-become">How to become a TV presenter</a>
                                </li>
								<li>
                                    <a href="#skills-required">Skills</a>
                                </li>							   
                                <li>
                                    <a href="#what-youll-do">What you'll do</a>
                                </li>
                                <li>
                                    <a href="#salary">Salary</a>
                                </li>
                            </ol>
                        </div>
                        <div class="column-one-half">
                            <ol class="list list-number" start="5">
                                <li>
                                    <a href="#working-hours-patterns-and-environment">Working hours, patterns and environment</a>
                                </li>
                                <li>
                                    <a href="#career-path-and-progression">Career path and progression</a>
                                </li>
                                <li>
                                	<a href="#current-opportunities">Current opportunities</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </nav>

                <!--section 1-->
                <section  id="how-to-become">
                    <h2 class="heading-large">1. How to become a TV presenter</h2>
					<p>To become a TV presenter you may not need formal qualifications. Competition for jobs is strong so you will need determination, persistence and the ability to network and promote yourself.</p>

					<p>Some presenters move into TV from other areas of the media like journalism or media research.</p>

					<p>It's important that you build up a network of contacts and understand the way the industry works.</p>

					<p>You could start working in TV in another role like runner to gain experience and build up your network of contacts. Some broadcasters hold competitions to find new presenters.</p>
					 
					<p>You’ll usually need a showreel, featuring clips of yourself on camera to show to broadcasters, producers and agents.</p>
					 
					<p>You may need a science, history or economics degree or detailed knowledge of a subject if you want to work as a presenter for specialist programmes.</p>

					<p>To get onto a degree you’ll usually need at least 5 GCSEs at grades 9 to 4 (A* to C), including maths and English, and 2 A levels.</p>
					 
					<p>UCAS has information on <a href="https://www.ucas.com">degree courses and entry requirements</a>.</p>

					<p>You could gain presenting experience through:</p>
					<ul class="list list-bullet">
						<li><a href="http://www.commedia.org.uk/get-involved">community</a>, <a href="http://www.hbauk.com/">hospital</a>,<a href="http://www.radiocentre.org">commercial</a> or student radio</li>
						<li>work placements</li>
					</ul>

					<p>Broadcasters like the <a href="http://www.bbc.co.uk/careers/work-experience">BBC</a>,  <a href="http://www.itvjobs.com/working-here">ITV</a> and <a href="http://4talent.channel4.com/about-us">Channel 4</a> offer work experience placements, insight and talent days, which can give you a better understanding of the industry.</p>
					 
					<p>Drama school, acting lessons and short courses in presenting can be helpful for learning some of the skills you’ll need.</p>
					 
					<p><a href="http://creativeskillset.org/creative_industries/tv/job_roles/305_tv_presenter">Creative Skillset</a> and the <a href="http://www.bjtc.org.uk/careers">Broadcast Journalism Training Council</a> have more information on working as a TV presenter.</p>
                </section>

				<!--section 2-->
				<section  id="skills-required">
					<h2 class="heading-large">2. Skills</h2>
					<p>You’ll need:</p>
					<ul class="list list-bullet">
						<li>excellent communication and presentation skills </li>
						<li>the ability to improvise when necessary </li>
						<li>research and interviewing skills </li>
						<li>calmness under pressure </li>
						<li>a good memory, for recalling scripts and facts</li>
						<li>the ability to work on more than one task at a time</li>
					</ul>
				</section>

				<!--section 3-->
				<section  id="what-youll-do">
					<h2 class="heading-large">3. What you'll do</h2>
					<p>You could work on different kinds of live or pre-recorded programmes, including:</p>
					<ul class="list list-bullet">
						<li>news and current affairs</li>
						<li>sport</li>
						<li>music shows</li>
						<li>talk shows</li>
						<li>children's entertainment</li>
						<li>game shows</li>
						<li>special interest programmes like travel or history</li>
					</ul>
					<p>Your day-to-day tasks would depend on the type of show you present, but may include:</p>
					<ul class="list list-bullet">
						<li>meeting with the production team to go through the running order</li>
						<li>being briefed by researchers, or preparing your own scripts, links and interview questions</li>
						<li>rehearsing</li>
						<li>presenting, which may include reading from an autocue, interviewing guests and working with studio audiences</li>
						<li>reacting to instructions given to you through an earpiece by the director or floor manager</li>
						<li>going through several 'takes' if necessary</li>
					</ul>
					<p>You’ll usually follow a script, but you may sometimes have to use your initiative, like in an interview or live report.</p>
				</section>

				<!--section 4 -->  
				<section  id="salary">
					<h2 class="heading-large">4. Salary</h2>
					<p>You’ll usually work on a freelance basis and be paid a fee for each contract.</p>
					
					<p>Rates will depend on the type of production you’re working on and what you or your agent can negotiate.</p>
					
					<p><a href="http://www.equity.org.uk/home/">Equity</a> and the <a href="http://www.bectu.org.uk/home">Broadcasting Entertainment Cinematograph and Theatre Union</a> (BECTU) have information on pay guidelines.</p>
				</section>

                <!--section 5 -->               
				<section  id="working-hours-patterns-and-environment">
					<h2 class="heading-large">5. Working hours, patterns and environment</h2>
					
					<p>Your hours will depend on the schedule of the programme you’re working on. Hours may be long and irregular, and include early mornings, late nights and weekends.</p>
					
					<p>You could work in air-conditioned TV studios, or outdoors in all weather conditions on outside broadcasts (OB).</p>
				</section>

                <!--section 6-->
				<section  id="career-path-and-progression">
					<h2 class="heading-large">6. Career path and progression</h2>
					<p>With an established TV career, you could branch out into radio work, acting, or writing for newspapers and magazines.</p>
					<p>With experience you could also choose to move into other areas within the media industry like production.</p>

					<h3 class="heading-medium">Related careers</h3>
					<p>You may be interested in:</p>
					<ul class="list list-bullet">
						<li><a href="/job-profiles/actor">Actor</a></li>
						<li><a href="/job-profiles/broadcast-journalist">Broadcast journalist</a></li>
						<li><a href="/job-profiles/dj">DJ</a></li>
						<li><a href="/job-profiles/magazine-journalist">Magazine journalist</a></li>
						<li><a href="/job-profiles/radio-broadcast-assistant">Radio broadcast assistant</a></li>
					</ul>
				</section>

				<!--section 7-->
				<section  id="current-opportunities" style="margin-bottom:30px">
					<h2 class="heading-large">7. Current opportunities</h2>
					<!-- <p>Find the latest opportunities</p> -->

					<h3 class="heading-medium">Apprenticeships</h3>
            		<p>There are no apprenticeships for TV presenter available at the moment.</p>
            		<a href="https://www.gov.uk/apply-apprenticeship">Explore other apprenticeships</a>

					<h3 class="heading-medium">Training courses</h3>
	         		<p>There no courses for TV presenter available at the moment.</p>
            		<a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Explore other courses</a>
				</section>


				<p class="grey font-xsmallw100">Last updated: 23 March 2016</p>
            </div>
            <div class="column-one-third">
				<aside class="govuk-related-items" role="complementary">
				    <h2 class="heading-medium" id="related-gov-links">
				    Useful links</h2>
				    <nav aria-labelledby="related-gov-links" role="navigation">
				        <ul class="font-xsmall">
				            <li>
				                <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find a course</a>
				            </li>
							<li>
				                <a href="https://www.gov.uk/apply-apprenticeship">Apprenticeships</a>
				            </li>
				            <li>
				                <a href="https://www.ucas.com/">Thinking about university</a>
				            </li>
				            <li>
				                <a href="https://www.gov.uk/further-education-courses">Help with funding</a>
				            </li>
				            <li>
				                <a href="https://www.gov.uk/volunteering">Become a volunteer</a>
				            </li>
							<li>
				                <a href="#">Find a job</a>
				            </li>
				        </ul>
				    </nav>
				</aside>
            </div>
        </div>
    </main>

    <script src="/public/_sprint5/javascripts/jquery-1.11.3.js"></script>
    <script src="/public/_sprint5/javascripts/paralegal-dynamic-panels.js"></script>


{% endblock %}
