{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Training routes' %}

{% include "../includes/survey.html" %}

    {% include "../includes/global_header_bar.html" %}

<main id="content" role="main">
    {% include "../includes/breadcrumb_filters.html" %}
    <div class="grid-row">
        <div class="column-two-thirds explore-top">
            <h4 class="heading-small grey">Question 2 of 10</h4>
            <h1 class="heading-medium top0">Relating & Networking 2</h1>
            <p id="answer-1" class="js-hidden">Excellent! Having the confidence to speak up and communicate with your Supervisor and any other people you are working with will allow you to get the job done well. Communicating openly to ask questions or check anything that you do not know is likely to help you to be a good Plumbing Apprentice.</p>
            <p id="answer-2" class="js-hidden">While it is good that you are willing to get on with the task, it would be helpful in this situation to communicate with your Supervisor to ask any questions you have. A Plumbing Apprentice may need to have the confidence to communicate with people to do the best job they can.</p>
            <p id="answer-3" class="js-hidden">A Plumbing Apprentice is not expected to know everything, your Supervisor would rather you communicate, ask questions and speak up so that you can be confident about what you are doing, rather than worrying and holding back. You may wish to consider whether you will be comfortable with this aspect of the role before applying.</p>
        </div>
    </div>


    <div class="grid-row">
        <div class="column-full"><a href="question3" id="cc-nextq" class="explore-button">Next</a></div>
    </div>

</main>



{% endblock %}
