{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Training routes' %}

{% include "../includes/survey.html" %}

    {% include "../includes/global_header_bar.html" %}

<main id="content" role="main">
    {% include "../includes/breadcrumb_filters.html" %}
    <div class="grid-row">
        <div class="column-two-thirds explore-top">
            <h1 class="heading-xlarge">Do your skills match this career?</h1>
            <p>You will be asked 10 questions to see if your current skills are matched to this career and will take you roughly 10 to 15 minutes to complete.</p>
            <p>These question are here to help you understand what it's like to be in this career and will give you a good understanding if this career is suited to you.</p>
            <p>8 out of 10 people who completed this questionnaire find the explanation helpful to plan their future career path and goals.</p>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full"><a href="/_sprint11/e2e/competency-checker/question1" class="explore-button">Start</a></div>
    </div>

</main>



{% endblock %}
