{% extends "../jobprofilenew.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Police Officer" %}
{% set profileSecondaryName = "Policeman, policewoman, police constable" %}
{% set profileDescription = "A police officer keeps law and order, investigates crime and supports crime prevention." %}

{% set salaryLow = "19,000" %}
{% set salaryHigh = "43,000" %}

{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "Shift/rota" %}

{% set patternValue = "Evenings, weekends & public holidays" %}
{% set patternDescription = "" %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large">1. How to become a {{ profileName }}</h2>
    <p>You'll need to:</p>
    <ul class="list list-bullet">
        <li>be aged 18 or over</li>
        <li>be a British or Commonwealth citizen, a European Union (EU) or European Economic Area (EEA) citizen, or a foreign national with the right to stay and work in the UK for an indefinite period</li>
        <li>pass background and security checks and give details of any previous convictions</li>
    </ul>

    <p>Each police force has its own recruitment rules, so you'll need to contact your <a href="https://www.police.uk/contact/force-websites/">local police force</a> to apply.</p>

    <p>Normally, you'll apply to one police force at a time.</p>

    <p>If your application is successful, you'll be invited to an assessment centre where you'll:</p>

    <ul class="list list-bullet">
        <li>have an interview</li>
        <li>take written tests</li>
        <li>take a physical fitness test</li>
        <li>take a medical and eyesight test</li>
    </ul>

    <p>If you're unsuccessful, you may have to wait a minimum of 6 months before you can re-apply.</p>

    <p>A good way to prepare before you apply is to do the <a href="http://www.college.police.uk/What-we-do/Learning/Certificate/Pages/Information-for-Students.aspx">Certificate in Knowledge of Policing</a>, although it doesn't guarantee entry.</p>

    <p>You could also prepare by applying for a Level 2 or 3 college course in Public Services.</p>

    <p>If you have a 2:1 degree, you could apply for the <a href="https://www.policenow.org.uk/the-programme/apply/are-you-the-right-fit/">Police Now Graduate Leadership Development Programme</a>.</p>

    <p>If you've got management experience you could <a href="http://www.leadbeyond.police.uk/">apply for direct entry as an inspector or superintendent</a>.</p>

    <p>You could also get into the job through a <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">level 3 apprenticeship in policing</a>.</p>

    <p>To get an idea of what it's like to be a police officer, you could either:</p>

    <ul class="list list-bullet">
        <li>volunteer as a <a href="http://recruit.college.police.uk/Special">special constable</a></li>
        <li>work as a <a href="http://recruit.college.police.uk/pcso">community support officer</a></li>
    </ul>

    <p>If you're aged 13 to 18 you could become a <a href="http://www.nationalvpc.org/Become-a-Police-Cadet">police cadet</a>.</p>
</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large">2. Skills</h2>
    <p>You'll need:</p>
    <ul class="list list-bullet">
        <li>the ability to communicate well</li>
        <li>confidence, courage and initiative</li>
        <li>
            the ability to learn facts and procedures quickly
        </li>
        <li>to be calm and decisive in challenging situations</li>
        <li>the ability to work in a team</li>
    </ul>
</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large">3. What you'll do</h2>
    <p>You'll work as a uniformed officer on patrol, checking the security of public areas. You'll also work at a police station. </p>
    <p>Your day-to-day tasks may include:</p>
    <ul class="list list-bullet">
        <li>responding to calls for help from the public</li>
        <li>investigating crimes and offences</li>
        <li>interviewing suspects and making arrests</li>
        <li>giving evidence in court</li>
        <li>controlling traffic and crowds at large public events and gatherings</li>
        <li>giving the public advice on personal safety and crime prevention</li>
        <li>promoting respect for people in relation to their race, diversity and human rights</li>
    </ul>
    <p>You'll work with other police officers and staff like police community support officers, and investigators for crime scenes and road traffic accidents.</p>
</section>


<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large">4. Career path and progression</h2>
    <p>You'll spend 2 years as a student officer before becoming a police constable. You'll then decide whether you want to specialise in a particular area of policing. You could consider:</p>
    <ul class="list list-bullet">
        <li>Criminal Investigation Department (CID), anti-fraud or road traffic</li>
        <li>drugs or firearms</li>
        <li>counter-terrorism</li>
        <li>air support or underwater search</li>
        <li>dog-handling or mounted policing</li>
    </ul>
    <p>With experience you may be able to apply for promotion to sergeant, inspector, chief inspector or higher.</p>
    <p>In the CID you'll also have the title of detective added to your rank - for example, detective sergeant or detective chief inspector.</p>

</section>



<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large">5. Current opportunities</h2>
    <!-- <p>Find the latest opportunities</p> -->

    <div class="grid-row" id="appGeneric">
        <div class="column-full">
            <h2 class="heading-medium" style="margin-top:0px;">
                Apprenticeships
                <span class="heading-secondary">In England</span>
            </h2>
        </div>
        <div class="column-half">
            <div class="opportunity-item">
                <h3 class="heading-small"><a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-125152">Administration Apprentice</a></h3>
                <ul class="list">
                    <li><span class="bold-small">Weekly wage:</span> £230</li>
                    <li><span class="bold-small">Weekly hours:</span> 37</li>
                    <li><span class="bold-small">Location:</span> Liverpool</li>
                </ul>
            </div>
        </div>
        <div class="column-half">
            <div class="opportunity-item">
                <h3 class="heading-small"><a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-115429">Policing Level 3 Apprentice - J2698/J2701</a></h3>
                <ul class="list">
                    <li><span class="bold-small">Annual wage:</span> £20,925</li>
                    <li><span class="bold-small">Weekly hours:</span> 37</li>
                    <li><span class="bold-small">Location:</span> Merton</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="opportunity-footer">
        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
    </div>

</section>

<section class="PROD_icon-buttons ">
    {% include "../includes/job-profile_social.html" %}
</section>


<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















