{% extends "../../jobprofile-cad-2.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Security officer" %}
{% set profileSecondaryName = "Security officer" %}
{% set profileDescription = "Security officers make sure that buildings, valuables and people are safe and secure." %}
{% set salaryLow = "27,500" %}
{% set salaryHigh = "32,000" %}

{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "Mon - Fri" %}

{% set patternValue = "Freelance / self employed" %}
{% set patternDescription = "" %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large">1. How to become a {{profileName}}</h2>
    <p>You'll need a Security Industry Authority (SIA) licence for agency and contractor jobs. To get this, you must:</p>
    <ul class="list list-bullet">
        <li>be aged 18 or over</li>
        <li>pass identity and <a href="https://www.gov.uk/criminal-record-checks-apply-role">enhanced criminal records checks</a></li>
        <li>complete <a href="https://www.sia.homeoffice.gov.uk/Pages/training-qualifications-sg.aspx">approved SIA training</a></li>
    </ul>
    <p>An employer will carry out checks on your personal and work history (up to 10 years). You need to let them know about any criminal convictions before you apply for a licence<br> <br>

    You won't need an SIA licence for in-house security jobs at your employer's premises.
    If you work as a contractor on a building site, you'll also need a <a href="https://www.cscs.uk.com/">Construction Skills Certification Scheme card </a> (CSCS) <br> <br>

    Previous experience of working in the police or armed forces could help you get into this job.

    <br><br>
    <a href="https://skillsforsecurity.org.uk/">Skills for Security</a> has more information about becoming a security officer.

</p>

</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
    <p>You might need:</p>

    <h3 class="heading-small">Technology Skills</h3>
    <ul class="list list-bullet ">
        <li>Word processing software - Microsoft Word</li>
    </ul>


        <h3 class="heading-small">Knowledge</h3>
    <ul class="list list-bullet ">
        <li>public safety and security — knowledge of the equipment, policies, procedures, and strategies needed to promote security to protect people, data, property, and organisations</li>
    </ul>
    

    <h3 class="heading-small">Skills</h3>
    <ul class="list list-bullet ">
        <li>active listening — giving full attention to what other people are saying</li>
        <li>monitoring - checking your performance against other people, or organisations to help you improve</li>
        <li>speaking - talking to others to give information effectively</li>
        <li>coordination - adjusting your actions in relation to others' actions</li>
        <li>critical thinking - thinking clearly and logically to find a useful solution to a problem</li>
        <li>reading comprehension - understanding written sentences and paragraphs</li>
    </ul>

    <h3 class="heading-small">Abilites</h3>
    <ul class="list list-bullet ">
        <li>spoken expression — the ability to communicate information and ideas in speech so others will understand</li>
        <li>problem sensitivity — the ability to tell when something is wrong or is likely to go wrong</li>
    </ul>
<br>
            <a href="results_skills_so">Find other careers with these skills</a>

</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>
    <p>Your specific day-to-day duties could include:</p>
    <ul class="list list-bullet">
        <li>locking the doors and gates of entrances and exits to secure buildings</li>
        <li>answering alarms and investigating disturbances</li>
        <li>monitoring and authorising the arrival and departure of employees and visitors,to guard against theft and maintain the security of premises</li>
        <li>writing reports on equipment or property damage, theft, the presence of unauthorised people, or unusual activity</li>
        <li>patrolling industrial or commercial premises to detect signs of intrusion and make sure doors, windows, and gates are secure</li>
        <li>calling the police or fire services in the event of emergencies</li>
        <li>responding to medical emergencies by giving basic first aid or by getting help from paramedics</li>
        <li>circulating among visitors and employees to keep order and protect property</li>
        <li>warning people about breaking laws and evicting people from the premises where necessary</li>
        <li>answering telephone calls to take messages, answer questions, and give information during non-business hours</li>
    </ul>

        <br>
            <a href="results_duties_so">Find other careers with these duties</a>
    </ul>

</section>



<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Career path and progression</h2>
    <p>With experience you could move into design team management or expand your skills to become a web content manager.</p>
    <p>You might work towards a move into business management.</p>
    <p>You could also work as a freelance web designer, or set up your own web design business.</p>
</section>

<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large jp-heading">Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>

<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















