{% extends "../../jobprofile-cad-2.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Security officer" %}
{% set profileSecondaryName = "Security officer" %}
{% set profileDescription = "Security officers make sure that buildings, valuables and people are safe and secure." %}
{% set salaryLow = "27,500" %}
{% set salaryHigh = "32,000" %}

{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "Mon - Fri" %}

{% set patternValue = "Freelance / self employed" %}
{% set patternDescription = "" %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large">How to become a {{profileName}}</h2>
    <p>You'll need a Security Industry Authority (SIA) licence for agency and contractor jobs. To get this, you must:</p>
    <ul class="list list-bullet">
        <li>be aged 18 or over</li>
        <li>pass identity and <a href="https://www.gov.uk/criminal-record-checks-apply-role">enhanced criminal records checks</a></li>
        <li>complete <a href="https://www.sia.homeoffice.gov.uk/Pages/training-qualifications-sg.aspx">approved SIA training</a></li>
    </ul>
    <p>An employer will carry out checks on your personal and work history (up to 10 years). You need to let them know about any criminal convictions before you apply for a licence<br> <br>

    You won't need an SIA licence for in-house security jobs at your employer's premises.
    If you work as a contractor on a building site, you'll also need a <a href="https://www.cscs.uk.com/">Construction Skills Certification Scheme card </a> (CSCS) <br> <br>

    Previous experience of working in the police or armed forces could help you get into this job.

    <br><br>
    <a href="https://skillsforsecurity.org.uk/">Skills for Security</a> has more information about becoming a security officer.

</p>

</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
    <p>You'll need:</p>

    <ul class="list list-bullet ">
        <li> problem-solving skills </li>
        <li> concentration skills </li>
        <li> customer service skills</li>
        <li> speaking and listening skills</li>
        <li> the ability to use English - reading, writing, spelling and grammar skills</li>
    </ul>


</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>
    <p>Your role will vary depending on the industry you work in, and could include:</p>
    <ul class="list list-bullet">
        <li>patrolling, securing and monitoring premises</li>
        <li>guarding cash or other valuables in a security vehicle</li>
        <li>airport security including searching aircraft, passengers and luggage, and guarding the airport boundaries</li>
        <li>supervising on the door for a large organisation</li>
    </ul>

</section>

<!--section 4-->
<section id="enviroments">
    <h2 class="heading-large jp-heading"> Your working environment </h2>
        <p>For some jobs you'll need a driving licence. If you’re moving or protecting cash or valuables, you’ll spend a lot of your time in a security van.</p>
        <p>In some roles you’ll work mainly outside. You may spend long periods of time standing,  ng or sitting.</p>
        <p>You’ll usually wear a uniform and protective clothing, like a helmet and a high-visibility jacket.</p>

</section>

<!--section 5-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Career path and progression</h2>
    <p>With experience, you could progress to senior or chief security officer, then supervisor. </p> 
    <p> With further qualifications you could go into security management or training, or set up your own security company.</p>
</section>

<!--section 6-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large jp-heading">Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>

<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















