{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Catering manager" %}
{% set profileSecondaryName = "Food service manager" %}
{% set profileDescription = "Catering managers run the food service of organisations or outside suppliers." %}
{% set salaryLow = "20,000" %}
{% set salaryHigh = "24,000" %}
{% set hoursRange = "35 - 40" %}
{% set hoursDetail = "Shift/rota" %}
{% set patternValue = "Evenings, weekends & public holidays" %}
{% set patternDescription = "" %}

<!-- Related Careers -->
{% set RelatedCareerName1 = 'Police officer' %}
{% set RelatedCareerLink1 = 'police-officer' %}
{% set RelatedCareerName2 = 'Catering manager' %}
{% set RelatedCareerLink2 = 'catering-manager' %}
{% set RelatedCareerName3 = 'Chef' %}
{% set RelatedCareerLink3 = 'chef' %}
{% set RelatedCareerName4 = 'Hotel receptionist' %}
{% set RelatedCareerLink4 = 'hotel-receptionist' %}
{% set RelatedCareerName5 = 'Web designer' %}
{% set RelatedCareerLink5 = 'web-designer' %}
{% block content %}


{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large jp-heading">How to become</h2>

    <p>There are a number of ways to become a catering mananger, you could:</p>

    <!-- Work -->
    <section class="job-profile-subsection" id="work">
        <h3>Work your way up</h3>
        <div class="job-profile-subsection-content">
            <p>You could work your way up to a management position by getting a job in a role like a catering assistant. With experience and training, you could take on more responsibility and supervise less experienced colleagues. You could then apply for an assistant manager post and train while you're working. </p>
        </div>
    </section>



    <!-- Apprenticeships -->
    <section class="job-profile-subsection" id="apprenticeships">
        <h3>Apprenticeships</h3>
        <div class="job-profile-subsection-content">
            <p>You could take a higher <a href="https://www.gov.uk/apprenticeships-guide">apprenticeship</a> as a hospitality manager if you've got work experience in catering and have also worked as a supervisor.</p>

            <h4 class="heading-small">Requirements:</h4>
            <p>To take a higher apprenticeship, you will need work experience in catering and have also worked as a supervisor.</p>
            <p>If you don't have any supervisory experience, you could take an advanced apprenticeship as a hospitality supervisor. </p>

            <h4 class="heading-small">Next steps:</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Look for a hospitality apprenticeship near you</a></li>
            </ul>
        </div>
    </section>


    <!-- University Section -->
    <section class="job-profile-subsection" id="university">
        <h3>Collage</h3>
        <div class="job-profile-subsection-content">
            <p>You could do a degree. Useful subjects include:</p>
            <ul class="list list-bullet">
                <li>business and hospitality management</li>
                <li>culinary arts or culinary management</li>
                <li>hotel and catering management</li>
            </ul>
            <p>Some large contract catering companies and hotel chains run graduate training schemes. Entry requirements vary.</p>

            <h4 class="heading-small">Requirements:</h4>
            <p>To get onto a course, you'll usually need at least:</p>
            <ul class="list list-bullet">
                <li>GCSEs in English and maths at grades 4 (C) or equivalent</li>
                <li>96 <a href="https://www.ucas.com/ucas/tariff-calculator">UCAS points</a> or 2 A level passes</li>
            </ul>
            <p>Check with course providers for exact entry requirements. You might be able to use <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent level qualifications </a>to get onto a course.</p>

            <h4 class="heading-small">Next steps:</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.ucas.com">UCAS has information on degree courses and entry requirements.</a></li>
                <li><a class="htb-feature" href="https://www.gov.uk/student-finance">You can apply for student finance to cover fees and living costs.</a></li>
            </ul>
        </div>
    </section>

</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">Skills required</h2>
    <!-- Skills -->
    <section class="job-profile-subsection" id="skills">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul class="list list-bullet">
                <li>excellent communication and negotiation skills</li>
                <li>the ability to motivate and manage staff</li>
                <li>budgeting skills</li>
                <li>the ability to keep calm under pressure</li>
            </ul>
        </div>
    </section>

    <!-- Restrictions -->
    <section class="job-profile-subsection" id="restrictions">
        <h3>Restrictions</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul class="list list-bullet">
                <li>a <a href="https://www.gov.uk/criminal-record-checks-apply-role">background check</a> if you're working around children or vulnerable adults</li>
            </ul>
        </div>
    </section>
</section>

    <!--section 3-->
    <section id="what-youll-do">
        <h2 class="heading-large jp-heading">What you'll do</h2>

        <p>You may work in an organisation like a school, hospital, hotel or pub, or prepare food to be delivered to food outlets, event sites and homes.</p>
        <p>Your day-to-day tasks may include:</p>
        <ul class="list list-bullet">
            <li>planning and developing menus to increase sales</li>
            <li>recruiting and training staff</li>
            <li>organising shifts and rotas</li>
            <li>financial planning, managing budgets and stock control</li>
            <li>meeting suppliers and negotiating contracts</li>
            <li>monitoring the quality of the service to customers</li>
            <li>running the business in line with health and safety and food hygiene regulations</li>
            <li>catering for special diets and meeting nutritional needs</li>
        </ul>
        <p>During food service, you'll supervise the kitchen and waiting staff, ensuring that the food goes out on time and is of a high standard.</p>
    </section>


    <!--section 4-->
    <section id="career-path-and-progression">
        <h2 class="heading-large jp-heading">Career path and progression</h2>
        <p>With experience you could move into larger organisations or those offering more specialised work like event catering.</p>
        <p>You could also study for further&nbsp;<a href="http://www.hospitalityguild.co.uk/Training-Development/Training-solutions/Training.aspx">qualifications in hospitality</a>.</p>
        <p>Another option is to start your own contract catering business.</p>
    </section>

    <!--section 5-->
    <section id="current-opportunities" style="margin-bottom:30px">
        <h2 class="heading-large jp-heading">Current opportunities</h2>
        <div class="opportunity-footer dfc-code-jp-novacancyText">
            <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
        </div>
    </section>



    <p class="grey font-xsmall">Last updated: 23 March 2016</p>



    {% endblock %}
















