{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Chef" %}
{% set profileSecondaryName = "Cook" %}
{% set profileDescription = "Chefs prepare, cook and present food." %}
{% set salaryLow = "18,000" %}
{% set salaryHigh = "22,000" %}
{% set hoursRange = "Long hours" %}
{% set hoursDetail = "Shift/rota" %}
{% set patternValue = "Evenings, weekends & public holidays" %}
{% set patternDescription = "" %}

<!-- Related Careers -->
{% set RelatedCareerName1 = 'Police officer' %}
{% set RelatedCareerLink1 = 'police-officer' %}
{% set RelatedCareerName2 = 'Catering manager' %}
{% set RelatedCareerLink2 = 'catering-manager' %}
{% set RelatedCareerName3 = 'Chef' %}
{% set RelatedCareerLink3 = 'chef' %}
{% set RelatedCareerName4 = 'Hotel receptionist' %}
{% set RelatedCareerLink4 = 'hotel-receptionist' %}
{% set RelatedCareerName5 = 'Web designer' %}
{% set RelatedCareerLink5 = 'web-designer' %}
{% block content %}


{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large jp-heading">How to become</h2>

    <p>There are a number of ways to become a Chef, you could:</p>

    <!-- College Section -->
    <section class="job-profile-subsection" id="apprenticeships">
        <h3>College</h3>
        <div class="job-profile-subsection-content">
            <p>One way into the job is to take a college course, like a Level 2 or 3 Diploma in Professional Cookery.</p>
            <h4 class="heading-small">Next steps:</h4>

            <ul class="list list-arrow">
                <li><a class="htb-feature" href="#">Apply for financial help towards studying</a></li>
                <li><a class="htb-feature" href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Look for Professional Cookery courses near you</a></li>
            </ul>
        </div>
    </section>


    <!-- Work -->
    <section class="job-profile-subsection" id="work">
        <h3>Work your way up</h3>
        <div class="job-profile-subsection-content">
            <p>If you don't want to study full time, you could start work as a kitchen assistant or trainee ('commis') chef and work your way up while learning on the job. You could apply for work to local restaurants or catering companies.</p>
        </div>
    </section>

    <!-- Apprenticeships -->
    <sectiobn class="job-profile-subsection" id="apprenticeships">
        <h3>Apprenticeships</h3>
        <div class="job-profile-subsection-content">
            <p>Another way to learn while you work is to become an <a href="https://www.gov.uk/apprenticeships-guide">apprentice chef</a>.</p>
            <h4 class="heading-small">Next steps:</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Look for a chef apprenticeships near you</a></li>
            </ul>
        </div>
    </sectiobn>


    <!-- Voluntary and work experience -->
    <section class="job-profile-subsection" id="apprenticeships">
        <h3>Voluntary and work experience</h3>
        <div class="job-profile-subsection-content">
            <p>If you have no experience, you could <a href="https://do-it.org">volunteer</a> as a chef or a cook.</p>

        </div>
    </section>



    <p>The <a href="http://www.hospitalityguild.co.uk/">Hospitality Guild</a> has more information about training as a chef and a list of jobs available.</p>



</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">Skills required</h2>
    <!-- Skills -->
    <section class="job-profile-subsection" id="skills">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul class="list list-bullet">
                <li>organisational and time management skills</li>
                <li>excellent communication and number skills</li>
                <li>the ability to stay calm under pressure</li>
            </ul>
        </div>
    </section>
</section>

    <!--section 3-->
    <section id="what-youll-do">
        <h2 class="heading-large jp-heading">What you'll do</h2>

        <p>You could work in hotels, restaurants, pubs, schools, colleges, cruise ships, the NHS or the armed forces.</p>
        <p>In a small kitchen you may be a general chef. In a large kitchen you may be a specialist chef, in charge of one area like pastry, fish or vegetables, working under a head chef.</p>
        <p>Your day-to-day tasks will vary with your role, but may include:</p>
        <ul class="list list-bullet">
            <li>preparing attractive menus to nutritional standards</li>
            <li>controlling and ordering stock and inspecting it on delivery</li>
            <li>gutting and preparing animals and fish for cooking</li>
            <li>scraping and washing large quantities of vegetables and salads</li>
            <li>cooking and presenting food creatively</li>
            <li>monitoring production to maintain quality and consistent portion sizes</li>
            <li>working under pressure to make sure food is served on time</li>
            <li>keeping to hygiene, health and safety and licensing rules</li>
        </ul>
        <p>You'll need knowledge of allergens, nutrition and diets.</p>

    </section>


    <!--section 4-->
    <section id="career-path-and-progression">
        <h2 class="heading-large jp-heading">Career path and progression</h2>

        <p>With experience, you could progress to section chef (station chef) and look after a particular area like desserts. The next step is sous chef, running an entire kitchen when the head chef is busy.</p>
        <p>As head chef (also known as chef de cuisine), you'll run a kitchen, create menus and manage the budget.</p>
        <p>You could move into the business side by taking a foundation degree or degree in hospitality management.</p>
        <p>Very large establishments have executive chefs, usually in charge of multiple outlets. This is a management role and you would do very little cooking.</p>
        <p>Another option is to train as a teacher or assessor working for a college or training provider.</p>

    </section>

    <!--section 5-->
    <section id="current-opportunities" style="margin-bottom:30px">
        <h2 class="heading-large jp-heading">Current opportunities</h2>
        <!-- <p>Find the latest opportunities</p> -->

        <div class="grid-row" id="appGeneric">
            <div class="column-full">
                <h2 class="heading-medium" style="margin-top:0px;">
                    Apprenticeships
                    <span class="heading-secondary">In England</span>
                </h2>
            </div>
            <div class="column-half">
                <div class="opportunity-item">
                    <h3 class="heading-small"><a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-125152">Administration Apprentice</a></h3>
                    <ul class="list">
                        <li><span class="bold-small">Weekly wage:</span> £230</li>
                        <li><span class="bold-small">Weekly hours:</span> 37</li>
                        <li><span class="bold-small">Location:</span> Liverpool</li>
                    </ul>
                </div>
            </div>
            <div class="column-half">
                <div class="opportunity-item">
                    <h3 class="heading-small"><a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-115429">Policing Level 3 Apprentice - J2698/J2701</a></h3>
                    <ul class="list">
                        <li><span class="bold-small">Annual wage:</span> £20,925</li>
                        <li><span class="bold-small">Weekly hours:</span> 37</li>
                        <li><span class="bold-small">Location:</span> Merton</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="opportunity-footer">
            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
        </div>

    </section>



    <p class="grey font-xsmall">Last updated: 23 March 2016</p>



    {% endblock %}
















