{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Job Profile" %}
{% set profileSecondaryName = "Job Profile Secondary Title" %}
{% set profileDescription = "Job profile description goes here." %}
{% set salaryLow = "11,111" %}
{% set salaryHigh = "22,222" %}
{% set hoursRange = "11 - 22" %}
{% set hoursDetail = "A Week" %}
{% set patternValue = "Evenings" %}
{% set patternDescription = "Occasionally" %}

<!-- Related Careers -->
{% set RelatedCareerName1 = 'Police officer' %}
{% set RelatedCareerLink1 = 'police-officer' %}
{% set RelatedCareerName2 = 'Catering manager' %}
{% set RelatedCareerLink2 = 'catering-manager' %}
{% set RelatedCareerName3 = 'Chef' %}
{% set RelatedCareerLink3 = 'chef' %}
{% set RelatedCareerName4 = 'Hotel receptionist' %}
{% set RelatedCareerLink4 = 'hotel-receptionist' %}
{% set RelatedCareerName5 = 'Web designer' %}
{% set RelatedCareerLink5 = 'web-designer' %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large jp-heading jp-heading-first">How to become</h2>

    <!-- Entry Routes -->
    <p>You could develop the skills you need for this role by:</p>
    <ul class="list list-bullet">
        <li>studying at university or college</li>
        <li>doing an apprenticeship</li>
        <li>getting paid or voluntary work experience</li>
    </ul>

    <!-- Uni Section -->
    <section class="job-profile-subsection" id="university">
        <h3>University</h3>

        <div class="job-profile-subsection-content">
            <!-- UniversityRelevantSubjects -->
            <p>You could do a foundation degree, Higher National Diploma (HND) or degree. Relevant subjects include:</p>
            <ul class="list list-bullet">
                <li>web design and development</li>
                <li>computer science</li>
                <li>digital media development</li>
                <li>software engineering</li>
            </ul>

            <!-- UniversityFurtherRouteInfo -->
            <p>You'll study for 3 to 4 years, do a year's practical work experience, then study for another 2 years. You'll follow this with further practical training, an exam, and registration with the ARB.</p>

            <!-- UniversityRequirements -->
            <h4 class="heading-small">Requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list list-bullet">
                <li>2 to 3 A levels for a degree</li>
            </ul>

            <!-- RelatedUniversityLinks -->
            <h4 class="heading-small">More information</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.ucas.com/">UCAS has information on degree courses and entry requirements.</a></li>
                <li><a class="htb-feature" href="https://www.gov.uk/student-finance">You can apply for student finance to cover fees and living costs.</a></li>
            </ul>
        </div>
    </section>


    <!-- College Section -->
    <section class="job-profile-subsection" id="college">
        <h3>College</h3>
        <div class="job-profile-subsection-content">
            <!-- CollegeRelevantSubjects -->
            <p>You could do a level 2, 3 or 4 course in web development. These can last from a few months to a year.</p>

            <!-- CollegeFurtherRouteInfo -->
            <p>Check with colleges and universities for exact entry requirements.</p>

            <!-- CollegeRequirements -->
            <h4 class="heading-small">Requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list list-bullet">
                <li>5 GCSEs at grades 9 to 4 (A* to C) including English and maths</li>
            </ul>
            <!-- RelatedCollegeLinks -->
            <h4 class="heading-small">More information</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help">You may be able to get financial help to do a course.</a></li>
                <li><a class="htb-feature" href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find a web development course near you.</a></li>
            </ul>
        </div>
    </section>


    <!-- Apprenticeships -->
    <section class="job-profile-subsection" id="apprenticeships">
        <h3>Apprenticeship</h3>
        <div class="job-profile-subsection-content">
            <!-- ApprenticeshipRelevantSubjects -->
            <p>There are 3 levels of apprenticeship you could do in IT, software, web and telecoms professionals. These are <a href="https://www.gov.uk/apprenticeships-guide">intermediate, advanced and higher apprenticeship</a>. These could take up to 2 and a half years to complete.</p>

            <!-- ApprenticeshipRelevantSubjects -->
            <p>Alternatively, if you have A levels, you could go straight into a higher apprenticeship lasting 18 months.</p>

            <!-- ApprenticeshipRequirements -->
            <h4 class="heading-small">Requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list list-bullet">
                <li>5 GCSEs at grades 9 to 4 (A* to C) including English and maths</li>
                <li>2 to 3 A levels for a higher apprenticeship</li>
            </ul>

            <!-- RelatedApprenticeshipLinks -->
            <h4 class="heading-small">More information:</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">You may be able to use equivalent level qualifications to get onto a course.</a></li>
            </ul>
        </div>

    </section>



    <!-- Work -->
    <section class="job-profile-subsection" id="workexp">
        <h3>Work</h3>
        <div class="job-profile-subsection-content">

            <p>You could get a job in IT at any level and then work your way up. You could learn on the job, or take part-time qualifications online or at college.</p>
        </div>
    </section>

    <!-- Volunteering -->
    <section class="job-profile-subsection" id="volunteering">
        <h3>Volunteering</h3>
        <div class="job-profile-subsection-content">
            <p>You could also get the skills you need by&nbsp;<a href="https://do-it.org/">volunteering</a> to set up a website for a charity or an event.</p>
        </div>
    </section>

    <!-- DirectApplication -->
    <section class="job-profile-subsection" id="direct">
        <h3>Direct Application</h3>
        <div class="job-profile-subsection-content">
            <p>There are no set requirements, but many beekeepers start out by keeping bees as a hobby. You'll need the right skills and knowledge to successfully set up healthy colonies of honeybees.</p>
        </div>
    </section>

    <!-- OtherRoutes -->
    <section class="job-profile-subsection" id="direct">
        <h3>Other Routes</h3>
        <div class="job-profile-subsection-content">
            <p>You must have a Permission for Commercial Operation (PfCO) certificate, issued by the Civil Aviation Authority (CAA), to fly a drone for commercial purposes. This allows you to operate drones that weigh up to 20kg. You must renew the certificate every 12 months.</p><p>To operate drones for military or security purposes, you'll have to join the armed forces or the police and train as an aerial vehicle pilot.</p>
        </div>
    </section>

    <!-- More information -->
    <section class="job-profile-subsection" id="moreinfo">
        <h3>More information</h3>
        <div class="job-profile-subsection-content">
            <!-- Registration -->
            <h4 class="heading-small">Registration</h4>
            <ul class="list list-bullet">
                <li>CSCS (Construction Skills Certification Scheme) - CSCS cards provide proof that individuals working on construction sites have the required training and qualifications for the type of work they carry out.</li>
            </ul>


            <!-- CareerTips -->
            <h4 class="heading-small">Career tips</h4>
            <p> Being able to speak a second language may also be helpful.</p>

            <!-- ProfessionalAndIndustryBodies -->
            <h4 class="heading-small">Professional and industry bodies</h4>

            <a href="https://www.charteredbanker.com/qualifications">Chartered Banker Institute</a> or the <a href="https://www.libf.ac.uk/study/professional-qualifications/banking">London Institute of Banking and Finance</a>

            <!-- FurtherInformation -->
            <h4 class="heading-small">Further information</h4>

            <p>Further information about becoming a web developer can be found at the links below</p>
            <ul class="list list-arrow">
                <li>
                    <a class="htb-feature" href="https://www.thetechpartnership.com/tech-future-careers/what-is-it-like/">
                        Tech Future Careers has more information on tech roles including web development.
                    </a>
                </li>
                <li>
                    <a class="htb-feature" href="http://www.bubble-jobs.co.uk/career_portal/">
                        Find out more about getting into a digital career from the Bubble Digital Career Portal.
                    </a>
                </li>
            </ul>
        </div>
    </section>


</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>

    <!-- Skills -->
    <section class="job-profile-subsection" id="skills">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul class="list list-bullet">
                <li>excellent knowledge of web technologies and database applications</li>
                <li>programming skills</li>
                <li>knowledge of web design, usability and interactivity</li>
                <li>creative skills to turn clients' ideas into workable plans</li>
                <li>a logical approach and problem-solving skills</li>
                <li>knowledge of <a href="https://en.wikipedia.org/wiki/Agile_software_development#Agile_methods">agile</a> project management tools and techniques</li>
                <li>communication and teamworking skills</li>
            </ul>
            <p>You may need project management skills for more senior roles or freelance work.</p>
        </div>
    </section>

    <!-- Restrictions -->
    <section class="job-profile-subsection" id="skills">
        <h3>Restrictions and Requirements</h3>
        <div class="job-profile-subsection-content">

            <!-- Restrictions -->
            <p>You'll need to:</p>
            <ul class="list list-bullet">
                <li>be aged between 18 and 28 years and 11 months</li>
                <li>
                    meet the British army&nbsp;<a href="http://www.army.mod.uk/join/How-to-join.aspx">nationality and residency rules</a>
                </li>
                <li>get a GP&rsquo;s medical report and pass a full army medical</li>
            </ul>

            <!-- OtherRequirements -->
            <p>You'll also usually need:</p>
            <ul class="list list-bullet">
                <li>7 GCSEs at grades 9 to 4 (A* to C), or <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent</a>,&nbsp;including English, maths and a science or foreign language</li>
                <li>2 A levels (or equivalent) with 72 <a href="https://www.ucas.com/ucas/tariff-calculator">UCAS Tariff points</a></li>
                <li>You&rsquo;ll also need clearance from the&nbsp;<a href="https://www.gov.uk/criminal-record-checks-apply-role">Disclosure and Barring Service (DBS)</a>&nbsp;and a security check.</li>
            </ul>
        </div>
    </section>

</section>


<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>
    <p>Depending on your qualifications, you'll service and repair heating, water and sanitation systems in domestic and commercial premises.</p>


    <section class="job-profile-subsection" id="moreinfo">
        <h3>Day-to-day tasks</h3>
        <div class="job-profile-subsection-content">
            <p>On a daily basis you could be:</p>
            <ul class="list list-bullet">
                <li>measuring and planning to give cost and time estimates</li>
                <li>cutting, bending and joining pipes and fittings</li>
                <li>installing water, drainage and heating systems</li>
                <li>finding and fixing faults</li>
                <li>servicing gas and oil-fired central heating systems and radiators</li>
                <li>installing and fixing domestic appliances like showers and washing machines</li>
                <li>dealing with emergency call-outs like boiler breakdowns or blocked drains</li>
                <li>fitting weather-proof materials, joints and flashings to roofs, chimneys and walls</li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="moreinfo">
        <h3>Working environment</h3>
        <div class="job-profile-subsection-content">
            <p>You'll be working in all weathers. Some of your work will be in confined spaces. You could also work on scaffolding or from ladders to repair roof guttering or leadwork.</p>
            <p>You'll usually wear protective clothing, like overalls and safety shoes.</p>
            <p>You'll travel locally between jobs. You may have to work away from home on some contracts. A driving licence will usually be required.</p>
        </div>
    </section>
</section>



    <!--section 4-->
    <section id="career-path-and-progression">
        <h2 class="heading-large jp-heading">Career path and progression</h2>
        <p>With experience, you could specialise in a particular area, like e-commerce or move up to a more senior role like lead programmer or project leader.</p>
        <p>You could also move into other IT fields, like systems analysis or IT project management.</p>
    </section>

    <!--section 5-->
    <section id="current-opportunities" style="margin-bottom:30px">
        <h2 class="heading-large jp-heading">Current opportunities</h2>
        <div class="opportunity-footer dfc-code-jp-novacancyText">
            <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
        </div>
    </section>

    <p class="grey font-xsmall">Last updated: 23 March 2016</p>



    {% endblock %}















