<div class="main-navigation">
     <div class="inner">
          <div class="grid-row">
               <div class="column-full">
                    <ul class="menu" id="proposition-links">
                         <li class="home">
                              <a href="/index">Home</a>
                         </li>
                         <li>
                              <a href="/explore">Explore</a>
                              <div class="mega-menu">
                                   <div class="wrapper">
                                        <h1>I want to explore my options</h1>
                                        <ul>
                                             <li><a href="#">Sub link 1</a></li>
                                             <li><a href="#">Sub link 2</a></li>
                                             <li><a href="#">Sub link 3</a></li>
                                             <li><a href="#">Sub link 4</a></li>
                                             <li><a href="#">Sub link 5</a></li>
                                             <li><a href="#">Sub link 6</a></li>
                                             <li><a href="#">Sub link 7</a></li>
                                        </ul>
                                   </div>
                              </div>
                         </li>
                         <li>
                              <a href="/research">Job profiles</a>
                              <div class="mega-menu">
                                   <div class="wrapper">
                                        <h1>I know what I want to do</h1>
                                        <ul>
                                             <li><a href="#">Sub link 1</a></li>
                                             <li><a href="#">Sub link 2</a></li>
                                             <li><a href="#">Sub link 3</a></li>
                                             <li><a href="#">Sub link 4</a></li>
                                             <li><a href="#">Sub link 5</a></li>
                                             <li><a href="#">Sub link 6</a></li>
                                             <li><a href="#">Sub link 7</a></li>
                                        </ul>
                                   </div>
                              </div>
                         </li>
                         <li>
                              <a href="/inspire">Inspiration</a>
                              <div class="mega-menu">
                                   <div class="wrapper">
                                        <h1>I don't know what I want to do</h1>
                                        <ul>
                                             <li><a href="#">Sub link 1</a></li>
                                             <li><a href="#">Sub link 2</a></li>
                                             <li><a href="#">Sub link 3</a></li>
                                             <li><a href="#">Sub link 4</a></li>
                                             <li><a href="#">Sub link 5</a></li>
                                             <li><a href="#">Sub link 6</a></li>
                                             <li><a href="#">Sub link 7</a></li>
                                        </ul>
                                   </div>
                              </div>
                         </li>
                         <!--<li>
                              <a href="/how-to-become">How to become</a>
                              <div class="mega-menu">
                                   <div class="wrapper">
                                        <h1>I want to know my career path...</h1>
                                        <ul>
                                             <li><a href="#">Sub link 1</a></li>
                                             <li><a href="#">Sub link 2</a></li>
                                             <li><a href="#">Sub link 3</a></li>
                                             <li><a href="#">Sub link 4</a></li>
                                             <li><a href="#">Sub link 5</a></li>
                                             <li><a href="#">Sub link 6</a></li>
                                             <li><a href="#">Sub link 7</a></li>
                                        </ul>
                                   </div>
                              </div>
                         </li>-->
                         <li>
                              <a href="/resources">Preparation</a>
                              <div class="mega-menu">
                                   <div class="wrapper">
                                        <h1>I want to prepare for a job</h1>
                                        <ul>
                                             <li><a href="#">Sub link 1</a></li>
                                             <li><a href="#">Sub link 2</a></li>
                                             <li><a href="#">Sub link 3</a></li>
                                             <li><a href="#">Sub link 4</a></li>
                                             <li><a href="#">Sub link 5</a></li>
                                             <li><a href="#">Sub link 6</a></li>
                                             <li><a href="#">Sub link 7</a></li>
                                        </ul>
                                   </div>
                              </div>
                         </li>
                         <li>
                              <a href="/contact-an-adviser">Contact</a>
                              <div class="mega-menu">
                                   <div class="wrapper">
                                        <h1>I want to chat to someone</h1>
                                        <ul>
                                             <li><a href="/webchat">Chat online</a></li>
                                             <li><a href="/set-location-appointment">Speak to an adviser</a></li>
                                        </ul>
                                   </div>
                              </div>
                         </li>
                         <!-- <li class="search">
                              <a href="#">Home</a>
                         </li> -->
					<li class="icon">
                              <a href="javascript:void(0);" onclick="myFunction()">Menu</a>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</div>

<script>
function myFunction() {
    var x = document.getElementById("proposition-links");
    if (x.className === "menu") {
        x.className += " responsive";
    } else {
        x.className = "menu";
    }
}
</script>
