<a href="/index" id="proposition-name">Careers Service</a>

<a href="#search" class="search-toggle js-header-toggle">Search</a>

<form id="search" class="site-search" action="/search" method="get" role="search">
     <div class="content">
          <label for="site-search-text" class="visually-hidden">Search</label>
          <input type="search" name="q" id="site-search-text" placeholder="Search" class="js-search-focus">
          <input class="submit" type="submit" value="Search">
     </div>
</form>
