<a href="/index" id="proposition-name">Careers Service</a>
<!-- <div class="header-proposition">
     <div class="content">
          <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
          <nav id="proposition-menu">
               {% include "includes/phase_banner_alpha.html" %}
               <a href="/" id="proposition-name">{% if serviceName %} {{ serviceName }} {% endif %}</a>

               <a href="#search" class="search-toggle js-header-toggle">Search</a>

               <form id="search" class="site-search" action="/search" method="get" role="search">
                    <div class="content">
                         <label for="site-search-text">Search</label>
                         <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
                         <input class="submit" type="submit" value="Search">
                    </div>
               </form>
               <ul id="proposition-links">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/research">Research</a></li>
                    <li><a href="/explore">Explore</a></li>
                    <li><a href="/inspire">Inspire</a></li>
                    <li><a href="/resources">Prepare</a></li>
                    <li><a href="/contact-an-adviser">Contact</a></li>
               </ul>
          </nav>
     </div>
</div> -->
