   <aside class="govuk-related-items" role="complementary">
                    <h2 class="heading-medium" id="related-gov-links">
                    Useful links</h2>
                    <nav aria-labelledby="related-gov-links" role=
                    "navigation">
                        <ul class="font-xsmall">
                            <li>
                                <a href="
                                https://nationalcareersservice.direct.gov.uk/course-directory/home">Find a course</a>
                            </li>
							<li>
                                <a href="https://www.gov.uk/apply-apprenticeship">Apprenticeships</a>
                            </li>
                            <li>
                                <a href="https://www.ucas.com/">Thinking about university</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.gov.uk/further-education-courses">Help with funding</a>
                            </li>
                            <li>
                                <a href="https://www.gov.uk/volunteering">Become a volunteer</a>
                            </li>
							<li>
                                <a href="#">Find a job</a>
                            </li>
                        </ul>
                    </nav>
	    <h2 class="heading-medium" id="not-for-me">
                    Want something different?</h2>
                    <nav aria-labelledby="not-for-me" role=
                    "navigation">
                        <ul class="font-xsmall">
                            <li>
                                <a href="
                                ./index.html">Find inspiration</a>
                            </li>
							 <li>
                                <a href="
                                ./job-profile-index.html">Explore job profiles</a>
                            </li>
							
                        </ul>
                    </nav>
                </aside>