{% extends "../../jobprofile-cad-2.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Software developer" %}
{% set profileSecondaryName = "Programmer" %}
{% set profileDescription = "Software developers design, build and test computer programmes for business, education and leisure activities." %}
{% set salaryLow = "39,000" %}
{% set salaryHigh = "46,000" %}

{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "Mon - Fri" %}

{% set patternValue = "Weekends" %}
{% set patternDescription = "" %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large">How to become a Software developer</h2>

        <p>You could:</p>
        <ul class="last list-bullet">
            <li>do an apprenticeship</li>
            <li>do a degree</li>
            <li>teach yourself</li>
        </ul>
        <p>Whichever way you go, you'll usually need 4 or 5 GCSEs including English and maths at grades 9 to 4 (A* to C) <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">or equivalent qualifications</a>, plus some programming ability or a strong interest in the subject.</p>
        <h3 class="heading-medium">Apprenticeship</h3>
        <p>You could do an <a href="https://www.gov.uk/apprenticeships-guide/overview">advanced apprenticeship as a software development technician</a>. </p>
        <p>It will usually take 12 to 18 months. </p>
        <p>You can then move onto a higher apprenticeship as a <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">software developer</a>. This can take between 1 and 4 years.</p>
        <h3 class="heading-medium">College or university</h3>
        <p>You could do a foundation degree, higher national diploma (HND) or a degree in a subject like:</p>
        <ul class="list list-bullet">
            <li>computer science</li>
            <li>information technology</li>
            <li>software development</li>
            <li>software engineering</li>
            <li>maths</li>
            <li>business information systems</li>
        </ul>
        <p>UCAS has information on <a href="https://www.ucas.com">degree courses and entry requirements</a>.</p>
        <p>You can apply for <a href="https://www.gov.uk/further-education-courses/financial-help">student finance to cover fees and living costs for higher education</a>.</p>
        <p>Full-time courses at university usually take 3 years. College and HND courses take 2 years full time.</p>
        <p>Find a <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">college course near you</a>.</p>
        <p>You may be able to get <a href="https://www.gov.uk/further-education-courses/financial-help">financial help to study at college</a>. </p>
        <h3 class="heading-medium">Home study</h3>
        <p>Many software developers teach themselves and there are many free online learning resources available.</p>
        <p>Particularly if you have taught yourself, companies will look to see if you are someone who understands programming languages and frameworks, project management and software development methods.</p>
        <p>The Chartered Institute for IT (BCS) has <a href="http://www.bcs.org">more information about training and qualifications</a>.</p>

</section>


</section><!--section 2-->

<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
    <p>You'll need:</p>

    <ul class="list list-bullet ">
        <li> knowledge of computer operating systems, hardware and software </li>    
        <li> programming skills – the ability to write computer programs </li>
        <li> maths skills </li>
        <li> knowledge of systems analysis and development </li>
        <li> the ability to use English - reading, writing, spelling and grammar skills </li>
        <li> problem-solving skills </li>   
        <li> decision-making skills</li>
        <li> speaking and listening skills</li>
        <li> critical thinking skills – using logic to find the best way of approaching a problem </li>
    </ul> 
</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>
    <p>You could work in a wide range of businesses and industries, public services, utilities, defence and research. </p>
    <p> You'll work closely with project managers, business analysts and graphic designers, to find out what the client wants and the best way to achieve it.</p>

    <p>Your specific day-to-day duties could include:</p>
    <ul class="list list-bullet">
        <li>talking through requirements with the client and the development team</li>
        <li>taking part in technical design and progress meetings</li>
        <li>writing or amending computer code</li>
        <li>testing software and fixing problems</li>
        <li>keeping accurate records of the development process, changes and results</li>
        <li>carrying out trials and quality checks before release</li>
        <li>maintaining and supporting systems once they're up and running</li>
    </ul>

    <p> You could work on a wide variety of projects, from financial databases to robotics to apps for phones and tablets. You may use a number of programming languages or project management tools. </p>
    <p> As an experienced developer, you may supervise a programming team and provide feedback on coding work. </p>

</section>

<!--section 4-->
<section id="enviroments">
    <h2 class="heading-large jp-heading"> Your working environment </h2>
        <p>You'll usually be based in an open plan office. You may also travel to meet clients.</p>
        <p>For some roles you may need a driving licence.</p>
    </ul>

</section>

<!--section 5-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Career path and progression</h2>
    <p>With experience, you could become a senior developer, with team or project management, planning or research responsibilities. You could move into related areas like systems design, IT architecture and business systems analysis.</p>
    <p>You could also set up your own business or work as a consultant.</p>

</section>

<!--section 6-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large jp-heading">Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>


<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















