{% extends "../../jobprofile-cad-2.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Software developer" %}
{% set profileSecondaryName = "Programmer" %}
{% set profileDescription = "Software developers design, build and test computer programmes for business, education and leisure activities." %}
{% set salaryLow = "39,000" %}
{% set salaryHigh = "46,000" %}

{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "Mon - Fri" %}

{% set patternValue = "Weekends" %}
{% set patternDescription = "" %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large">1. How to become</h2>

        <p>You could:</p>
        <ul class="last list-bullet">
            <li>do an apprenticeship</li>
            <li>do a degree</li>
            <li>teach yourself</li>
        </ul>
        <p>Whichever way you go, you'll usually need 4 or 5 GCSEs including English and maths at grades 9 to 4 (A* to C) <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">or equivalent qualifications</a>, plus some programming ability or a strong interest in the subject.</p>
        <h3 class="heading-medium">Apprenticeship</h3>
        <p>You could do an <a href="https://www.gov.uk/apprenticeships-guide/overview">advanced apprenticeship as a software development technician</a>. </p>
        <p>It will usually take 12 to 18 months. </p>
        <p>You can then move onto a higher apprenticeship as a <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">software developer</a>. This can take between 1 and 4 years.</p>
        <h3 class="heading-medium">College or university</h3>
        <p>You could do a foundation degree, higher national diploma (HND) or a degree in a subject like:</p>
        <ul class="list list-bullet">
            <li>computer science</li>
            <li>information technology</li>
            <li>software development</li>
            <li>software engineering</li>
            <li>maths</li>
            <li>business information systems</li>
        </ul>
        <p>UCAS has information on <a href="https://www.ucas.com">degree courses and entry requirements</a>.</p>
        <p>You can apply for <a href="https://www.gov.uk/further-education-courses/financial-help">student finance to cover fees and living costs for higher education</a>.</p>
        <p>Full-time courses at university usually take 3 years. College and HND courses take 2 years full time.</p>
        <p>Find a <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">college course near you</a>.</p>
        <p>You may be able to get <a href="https://www.gov.uk/further-education-courses/financial-help">financial help to study at college</a>. </p>
        <h3 class="heading-medium">Home study</h3>
        <p>Many software developers teach themselves and there are many free online learning resources available.</p>
        <p>Particularly if you have taught yourself, companies will look to see if you are someone who understands programming languages and frameworks, project management and software development methods.</p>
        <p>The Chartered Institute for IT (BCS) has <a href="http://www.bcs.org">more information about training and qualifications</a>.</p>

</section>


</section><!--section 2-->

<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
    <p>You might need:</p>

    <h3 class="heading-small">Technology Skills</h3>
    <ul class="list list-bullet ">
        <li>configuration management software </li>    
        <li>database management system software </li>
        <li>database user interface and query software</li>
        <li>development environment software</li>
    </ul>


        <h3 class="heading-small">Knowledge</h3>
    <ul class="list list-bullet ">
        <li> computers and electronics — knowledge of circuit boards, processors, chips, electronic equipment, and computer hardware and software</li>   
        <li>engineering and technology — knowledge of engineering and technology to apply principles, techniques, procedures, and equipment to the design and production of goods and services</li>
        <li>English language — knowledge of spelling and grammar, including the rules of putting words and sentences together</li>
        <li>mathematics — knowledge of arithmetic, algebra, geometry, calculus, statistics, and their applications</li>
    </ul>
    

    <h3 class="heading-small">Skills</h3>
    <ul class="list list-bullet ">
        <li>programming — writing computer programs</li>
        <li>systems analysis — deciding how a system should work and looking at how changes in conditions, operations, and the environment may affect it</li>
        <li>systems evaluation — identifying ways to measure system performance and the actions needed to improve or correct performance</li>
        <li>decision making — looking at the risks and benefits of possible actions and choosing the most appropriate one</li>
    </ul>
            

    <h3 class="heading-small">Abilities</h3>
    <ul class="list list-bullet ">
        <li> written comprehension — the ability to read and understand information and ideas presented in writing </li>
        <li> information ordering — the ability to arrange things or actions in a certain order or pattern according to a specific rule or set of rules (this could be patterns of numbers, letters, words or pictures)</li>
            <br>
            <a href="results_skills_sd">Find other careers with these skills</a>
    </ul>
</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>
    <p>Your specific day-to-day duties could include:</p>
    <ul class="list list-bullet">
        <li>adjusting existing software to correct errors, allow it to adapt to new hardware, or to improve its performance</li>
        <li>analysing user needs and software requirements to decide on a design which will keep to time and budget</li>
        <li>working with systems analysts, engineers and programmers to design systems and get information on project limitations and capabilities, performance requirements and interfaces</li>
        <li>storing, retrieving, and using data to analyse system capabilities and requirements</li>
        <li>designing, developing and modifying software systems, using scientific analysis and mathematical models</li>
        <li>developing and directing software system testing, programming, and documentation</li>
        <li>supervising the work of programmers, technologists and technicians</li>
        <li>setting system performance standards</li>
        <li>managing system installations and monitoring equipment to ensure quality</li>
        <li>consulting with customers about system design and maintenance</li>
    </ul>
            <br>
            <a href="results_duties_sd">Find other careers with these duties</a>
    </ul>

</section>



<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Career path and progression</h2>
    <p>With experience, you could become a senior developer, with team or project management, planning or research responsibilities. You could move into related areas like systems design, IT architecture and business systems analysis.</p>
    <p>You could also set up your own business or work as a consultant.</p>

</section>

<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large jp-heading">Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>


<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















