{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h2 class="heading-large">Updated How To Become Profiles</h2>
            <ul class="list list-bullet">
                <li><a href="/_sprint23/e2e/job-profiles-htb/beauty-consultant">Beauty consultant</a></li>
                <li><a href="/_sprint23/e2e/job-profiles-htb/border-force-officer">Border force officer</a></li>
                <li><a href="/_sprint23/e2e/job-profiles-htb/catering-manager">Catering manager</a></li>
                <li><a href="/_sprint23/e2e/job-profiles-htb/chef">Chef</a></li>
                <li><a href="/_sprint23/e2e/job-profiles-htb/hotel-receptionist">Hotel receptionist</a></li>
                <li><a href="/_sprint23/e2e/job-profiles-htb/police-officer">Police officer</a></li>
                <li><a href="/_sprint23/e2e/job-profiles-htb/social-media-manager">Social media manager</a></li>
                <li><a href="/_sprint23/e2e/job-profiles-htb/software-developer">Software developer</a></li>
                <li><a href="/_sprint23/e2e/job-profiles-htb/travel-agent">Travel agent</a></li>
                <li><a href="/_sprint23/e2e/job-profiles-htb/web-designer">Web designer</a></li>
            </ul>

        </div>
    </div>
</main>

{% endblock %}


