{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Entry qualifications' %}

{% include "../includes/survey.html" %}

    {% include "../includes/global_header_bar.html" %}

<main id="content" role="main">
    {% include "../includes/breadcrumb_filters.html" %}
    <div class="grid-row">
        <div class="column-full explore-top">
            <h1 class="heading-xlarge">{{filterName}}</h1>
            <h2 class="heading-medium">Select what you have now or expect to get</h2>
            <div class="explore-step js-hidden"><h4 class="step-4">Step 4 of 5</h4></div>
        </div>

        <div class="column-one-third">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">No formal qualifications</h4>
            </div>
        </div>

        <div class="column-one-third">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">NVQ 1</h4>
            </div>
        </div>

        <div class="column-one-third">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">GCSEs</h4>
            </div>
        </div>
    </div><div class="grid-row">
        <div class="column-one-third">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">A Levels</h4>
            </div>
        </div>

        <div class="column-one-third">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">BTEC HNC</h4>
            </div>
        </div>

        <div class="column-one-third">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">BTEC HND</h4>
            </div>
        </div>
    </div><div class="grid-row">
        <div class="column-one-third">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">Honours degree</h4>
            </div>
        </div>

        <div class="column-one-third">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">Masters degree</h4>
            </div>
        </div>
        <div class="column-one-third">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">Doctorate</h4>
            </div>
        </div>

    </div>
    <div class="grid-row">
        <div class="column-one-third">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">Other</h4>
            </div>
        </div>
        <div class="column-one-third">
            <div class="explore-box-clear explore-box-small">
                <h4 class="heading-small">Not applicable</h4>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full"><a href="apprenticeship.html" class="explore-button">Continue</a></div>
    </div>

</main>



{% endblock %}
