{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Obstacles' %}

{% include "../includes/survey.html" %}

    {% include "../includes/global_header_bar.html" %}

<main id="content" role="main">
    {% include "../includes/breadcrumb_filters.html" %}
    <div class="grid-row">
        <div class="column-full explore-top">
            <h1 class="heading-xlarge" id="currentcategory">{{filterName}}</h1>
            <h2 class="heading-medium">Select the obstacles that apply to you</h2>
            <div class="explore-step js-hidden"><h4 class="step-2">Step 2 of 5</h4></div>
        </div>
        <div class="column-one-third">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">I have a criminal record</h4>
            </div>
        </div>
        <div class="column-one-third">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">I struggle with physical activites</h4>
            </div>
        </div>
        <div class="column-one-third">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">I cannot perform heavy lifting</h4>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-one-third">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">I don't have a drivers license</h4>
            </div>
        </div>

        <div class="column-two-thirds">
            <div class="explore-box explore-box-small">
                <h4 class="heading-small">I'm limited by my age</h4>
                <form><input type="text" placeholder="Please enter your age" /></form>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-one-third">
            <div class="explore-box-clear explore-box-small">
                <h4 class="heading-small">Not applicable</h4>
            </div>
        </div>
        <div class="column-two-thirds"><a href="salary.html" class="explore-button">Continue</a></div>
    </div>

</main>



{% endblock %}
