// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


.prototype {
	width: 100%;
	background-color: $yellow;
	padding-top: 10px;
	padding-bottom: 10px;
}
.prototype p {
	max-width: 960px;
	margin: 0 15px;
}
@media (min-width: 641px) {
	.prototype p {
		margin: 0 30px;
	}
}
@media (min-width: 1020px) {
	.prototype p {
		margin: 0 auto;
	}
}

/**Job profile page**/

.govuk-box-grey {
	padding: 1em 1em .5em;
	background: $panel-colour;
}
.profile {
	padding: 1em 1em .5em;
	background: $panel-colour;
	margin-bottom: 1.875em;
}
.hours-icon, .salary-icon {
	display: none;
}
.grey {
	color: $grey-1;
}
@media (min-width:1020px) {
	.govuk-box-grey {
		border-bottom: 1px solid $page-colour;
	}
	.profile {
		float: left;
		width: 100%;
		padding: 0;
		text-align: center;
		max-height: 70px;
		line-height: 24px;
	}
	.forty {
		width: 40%;
		float: right;
	}
	.sixty {
		float: left;
		width: 60%;
	}
	.hours-icon, .salary-icon {
		float: left;
		display: block;
	}
	.bold {
		font-weight: 700;
		font-size: 24px;
		display: block;
		padding-top: 0.5em;
	}
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin: 0 0 30px 0;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*My account jump links*/

.jump-links ol {
	margin-bottom: 0;
}
.jump-links {
	border-bottom: 1px solid $grey-2;
	margin-bottom: 1em;
	padding-bottom: 1em;
	clear: both;
}
//Tinder

/* Design of a job */

.tinder .job {
	width: 66%;
	height: 330px;
	display: block;
	-webkit-transform-origin: 50% 99%;
	transform-origin: 50% 99%;
}
@media all and (min-width:859px) {
	.tinder .job {
		height: 280px;
	}
}
@media all and (max-width: 640px) and (min-width: 320px) {
	.tinder .job {
		height: 260px;
	}
}
.jobcontainer {
	width: 100%;
}

/* List functionality */

.list .joblist {
	margin: 0;
	padding: 0;
}
.tinder .list .job {
	display: none;
}
.tinder .list .current {
	display: block;
}

/* Button designs */

.but-nope, .but-yay, .nopes, .yays {
	display: none;
}
.tinder .but-nope, .tinder .but-yay, .tinder .nopes, .tinder .yays {
	display: inline-block;
}
.tinder .jobcontainer button {
	background-color: $button-colour;
	position: relative;
	display: -moz-inline-stack;
	display: inline-block;
	padding: .526315em .789473em .263157em;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-box-shadow: 0 2px 0 #003618;
	-moz-box-shadow: 0 2px 0 #003618;
	box-shadow: 0 2px 0 #003618;
	font-size: 1em;
	line-height: 1.25;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
	color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
}
.jobcontainer .but-nope {
	margin-right: 30px;
	margin-bottom: 1.0526315789em;
}
.jobcontainer button:focus {
	//outline: 0;
	background: $green;
}
.jobcontainer .but-nope {
	background: $green;
}
.jobcontainer .but-nope:focus {
	//outline: 0;
	background: $green;
}
.tinder .jobcontainer.yes .job {
	-webkit-animation: yay .7s ease-out;
	animation: yay .7s ease-out;
}
.tinder .jobcontainer.nope .job {
	-webkit-animation: nope .7s ease-out;
	animation: nope .7s ease-out;
}
#results, #no-results {
	opacity: 0;
	position: absolute;
	top: -20000px;
	transition: opacity 0s;
	margin: 0;
	padding: 0;
}
#results li {
	margin: 0;
	padding: 0 0 5px 5px;
	list-style: none;
	float: left;
	transform: rotate(0);
	top: 0;
}
#results.live, #no-results.live {
	top: 0;
	position: relative;
	opacity: 1;
}

/*
  Animations, isn't it 'fun' to repeat all of that, just for Safari? :)
*/

@keyframes yay {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		//transform: translate3d(100%,0,0);
	}
}
@-webkit-keyframes yay {
	from {
		opacity: 1;
	}
	to {
		//-webkit-transform: translate3d(100%,0,0);
		opacity: 0;
	}
}
@keyframes nope {
	from {
		opacity: 1;
	}
	to {
		//transform: translate3d(-100%,0,0);
		opacity: 0;
	}
}
@-webkit-keyframes nope {
	from {
		opacity: 1;
	}
	to {
		// -webkit-transform: translate3d(-100%,0,0);
		opacity: 0;
	}
}

/**No JS Tinder fallback**/

//Hide counter
.actions {
	visibility: hidden;
}
.tinder .actions {
	visibility: visible;
}

/**Research portal**/

.card {
	display: -webkit-flex;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
}
.card li {
	float: left;
	margin: 0.25em;
	padding: 1em 1em .5em;
	// border: 1px solid $grey-2;
	max-width: 200px;
}
.purple li {
	border: 4px solid $purple;
}
.orange li {
	border: 4px solid $orange;
}
.blue li {
	border: 4px solid $turquoise;
}
.green li {
	border: 4px solid $green;
}
.mauve li {
	border: 4px solid $mauve;
}
.govuk-box-highlight-purple {
	margin: 1em 0;
	padding: 2em 0 1em;
	color: #fff;
	background: $purple;
	text-align: center;
}
.sprints {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.sprints ul {
	max-width: 960px;
	margin: 0 15px;
}
@media (min-width: 641px) {
	.sprints ul {
		margin: 0 30px;
	}
}
.govuk-box-highlight-border {
	margin: 1em 0;
	padding: 1em 0 0.5em;
	border: 4px solid $yellow;
}
h3.heading-medium.appointment {
	margin-top: 0.1em;
}
.grey-line {
	margin: 1em 0;
	/**padding: 1em 0 0.5em;**/
	padding: 0em 0 1em;
	border: 1px solid $grey-2;
}
.w100 {
	width: 100%;
}
#map {
	height: 200px;
	padding-bottom: 22.25%;
	padding-top: 30px;
	margin-top: 0.2631578947em;
	margin-bottom: 1.0526315789em;
}
.wait li {
	float: left;
	margin: 0.25em;
	padding: 1em 1em .5em;
	border: 1px solid $grey-2;
	width: 100%;
}

/*top nav*/

.main_navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.main_navigation li {
	float: left;
	margin-right: 2%;
    margin-top: 1%;
}
.main_navigation li a {
    display: inline-block;
	text-align: center;
	padding: 14px 3px;
	text-decoration: none;
	transition: 0.3s;
	color: $text-colour;
	border-bottom: 4px solid $black;
}
.main_navigation li a:hover, .main_navigation .active2 a {
	border-bottom: 4px solid $turquoise;
}

/*Pagination*/

.pagination {
	display: block;
	margin: 4em 0 0;
	border-bottom: 1px solid #bfc1c3;
}
@media (max-width: 640px) {
	.pagination {
		margin: 2em 0;
	}
}
.pagination ul {
	margin: 0;
	padding: 0;
}
.pagination li {
	font-size: 14px;
	line-height: 1.14286;
	font-weight: 400;
	text-transform: none;
	font-size-adjust: .5;
	float: left;
	list-style: none;
	text-align: right;
	margin: 0;
	padding: 0;
	width: 49%;
}
@media (min-width: 641px) {
	.pagination li {
		font-size: 16px;
		line-height: 1.25;
	}
}
.pagination li a {
	background-color: transparent;
	display: block;
	color: #005ea5;
	text-decoration: none;
}
.pagination li a:hover, .pagination li a:active {
	background-color: #f8f8f8;
}
.pagination li a .pagination-label {
	font-size: 20px;
	line-height: 1.11111;
	font-weight: 400;
	text-transform: none;
	font-size-adjust: .5;
	margin-bottom: .1em;
	display: block;
}
@media (min-width: 641px) {
	.pagination li a .pagination-label {
		font-size: 27px;
		line-height: 1.25;
	}
}
.pagination li a .pagination-part-title {
	text-decoration: underline;
}
.pagination li.next {
	float: right;
	text-align: right;
}
.pagination li.next a:before {
	background: transparent url(/public/images/arrow-sprite.png) no-repeat -102px -11px;
	margin: -4px -32px 0 0;
	display: block;
	float: right;
	width: 30px;
	height: 38px;
	content: " ";
}
.pagination li.previous a:before {
	background: transparent url(/public/images/arrow-sprite.png) no-repeat -20px -11px;
	margin: -4px 0 0 -32px;
	display: block;
	float: left;
	width: 30px;
	height: 38px;
	content: " ";
}
.pagination li.previous {
	float: left;
	text-align: left;
}
.pagination li.previous a {
	padding: .75em 0 .75em 3em;
}
.pagination li.next a {
	padding: .75em 3em .75em 0;
}
@media (max-width: 640px) {
	.pagination li.previous, .pagination li.next {
		float: none;
		width: 100%;
	}
	.pagination li.next a {
		text-align: right;
	}
}
.pagination .first, .pagination .last {
	min-height: 4.5em;
}
.pagination .first span, .pagination .last span {
	display: block;
	min-height: 4.5em;
	padding: .75em 5%;
	width: 90%;
}
.pagination .first .pagination-label, .pagination .last .pagination-label {
	display: block;
	margin-bottom: .5em;
}

/*autocomplete*/

.ui-autocomplete {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "nta", Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 16px;
	line-height: 1.25;
	width: 75%;
	/*padding: 4px;*/
	background-color: #fff;
	border: 2px solid $black;
	cursor: default;
}
@media (min-width: 641px) {
	.ui-autocomplete {
		font-size: 19px;
		line-height: 1.3157894737;
		width: 50%;
	}
}
.ui-menu-item {
	padding: 4px;
}
.ui-menu-item:hover {
	color: #fff;
	background: $link-hover-colour;
}
.ui-helper-hidden-accessible div {
	display: none;
}
.home_card {
	display: -webkit-flex;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
    padding-top: $gutter;
}

.home_card li {
	border: 1px solid $grey-2;
	margin: 0.25em;
}
.home_card a {
	float: left;
	padding: 1em 1em .5em;
	width: 175px;
}
.grey-hover li:hover {
	background: $highlight-colour;
}

/**search box**/

#search-main, #autocomplete_home {
	float: left;
	width: 76%;
	width: -webkit-calc(100% - 62px);
	width: calc(100% - 62px);
	height: 38px;
     background: $white;
}

/*search button*/

button.search {
	float: right;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	z-index: 4;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	border: none;
	overflow: hidden;
	text-indent: -5000px;
	color: #fff;
	background-color: #2b8cc4;
	background-image: url(/public/images/search-button.png);
	background-repeat: no-repeat;
	background-position: -12.5% 50%;
	cursor: pointer;
}

/**Search boxes in iOS**/

input[type="search"] {
	-webkit-appearance: none;
	border-radius: 0;
}

/**how to become**/

.answer {
    float:left;
    display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    display:none;
}

.visible {
    display:block;
}

/**webchat**/

.webchat {
    float:left;
    border: 1px solid $grey-2;
	margin: 0.25em;
    background-color: $turquoise;

}

.webchat__inner {
    box-sizing: border-box;
    height: 400px;
    overflow-y: auto;
    padding: 1em 1em .5em;
    background-color: #ffffff;
}

.webchat__header {
    border-bottom: 1px solid $grey-2;
}

.webchat__header h2 {
    color: #ffffff;
    margin-top: 0.5555555556em;
    padding-left:3%;
}

.message {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;

}

.message:last-of-type {
  margin-bottom: 0;
}

.message__author {
  font-weight: 700;
  margin-bottom: 0;
}

.message__body {
  max-width: 85%;
}

.message__body p:last-of-type {
  margin-bottom: 0;
}

.message--in-progress {
  opacity: 0.5;
}

.message--agent {
  border-left: 5px solid $grey-1;
  padding-left: 5px;
}

.message--user {
  border-right: 5px solid $turquoise;
  padding-right: 5px;
}

.message--user .message__author {
  text-align: right;
}

.message--user .message__body {
  float: right;
}

.webchat__footer {
    padding: 1em 1em .5em;
    border-top: 1px solid $grey-2;
    background-color: #ffffff;
}

.mb30 {
    margin-bottom:30px;
}

/**new homepage**/

#global-header-bar, .welcome_block {
    background:$turquoise;
}

.welcome_block {
    padding-top:$gutter;
}
.welcome_block h1, .welcome_block h2, .welcome_block p {
    color:#ffffff;
}

.home_content {
  @extend %site-width-container;
  @extend %contain-floats;
  padding-bottom: $gutter;

  @include media(desktop) {
    //padding-bottom: $gutter * 3;
  }
  // Pressing enter when focus is on the skiplink sets focus on the #content area
  // Remove the blue outline
  outline: none;
}

.eggs a {
	padding: 0.75em;
	width: 175px;
	height: 175px;
	float: left;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	text-decoration: none;
	color: $black;
    margin-top:0.5em;
    margin-bottom:0.5em;
    border: 10px solid $turquoise;
    //h3.heading-medium {
         //margin: 1.25em 0 0 0;
    //}
    span {
         background: $panel-colour;
         float: none;
         margin: 0 auto;
         width: 4em;
    }
    p {
         float: left;
    }
}

.eggs {
	position: relative;
}

.eggs a:hover {
	color: #ffffff;
	background: $turquoise;
}
.contact_banner {
	margin-top: 2em;
}
.contact_banner a {
	padding: 0em 1em 1em;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.fc {
	position: relative;
}

.eggs h3 {margin-top:1.25em;}

@media (max-width: 851px) {
	.eggs a {
		width: 150px;
		height: 150px;
		padding: 0em 0.5em 0.5em;
	}
	.eggs h3 {
		margin-top: 1.5em;
	}
}
@media (max-width: 640px) {
	.fl, .fr, fc {
		float: none;
	}
	.eggs a {
		width: 125px;
		height: 125px;
	}
}

.govuk-related-items {
    border-top: 10px solid $turquoise;
}


/**explore*/

.explore h4 {margin-top:0.5em;}
.explore img {max-width:400px;}

/**navi**/

ul.menu li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.menu li:not(:first-child) {display: none;}
  ul.menu li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.menu.responsive {position: relative;}
  ul.menu.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.menu.responsive li {
    float: none;
    display: inline;
  }
  ul.menu.responsive li a {
    display: block;
    text-align: left;
  }
}


/**Chris SASS**/

// ========================================== MAIN NAVIGATION - START ========================================== //
// #proposition-menu {
//      text-align: right;
//      .phase-banner-alpha {
//           padding: 0 0 0.15em 0;
//           border-bottom: none;
//           text-align: right;
//           display: inline-block;
//           p {
//                color: $white;
//                float: right;
//                span a {
//                     color: $white;
//                }
//           }
//      }
// }

.main-navigation {
     background: darken($turquoise,15%);
     // border-bottom: 2px solid $white;
     .inner {
          ul#proposition-links {
               li {
                    float: left;
                    list-style: none;
                    text-align: center;
                    padding: 0;
                    //display: inline-block;
                    &:hover {
                         background: $black;
                         cursor: pointer;
                         // a {
                         //      padding-bottom: 0.5em;
                         //      border-bottom: 0.5em solid $white;
                         // }
                    }
                    &.search {
                         width: 5%;
                         height: 100%;
                         background: url(/public/images/icon-search.png) no-repeat 50% 50%;
                         background-size: 1.35em;
                         a {
                              text-indent: -1000em;
                              height: 100%;
                         }
                         &:hover {
                              background: url(/public/images/icon-search.png) $black no-repeat 50% 50%;
                              background-size: 1.35em;
                         }
                    }
                    // &.home {
                    //      a {
                    //           padding-left: 0;
                    //      }
                    // }
                    a {
                         color: $white;
                         font-weight: bold;
                         text-decoration: none;
                         padding: 1em;
                         display: inline-block;
                         // width: 100%;
                         hr {
                              width: 30%;
                              background: $white;
                              margin: 0 auto;
                              opacity: 0.2;
                         }
                         span {
                              font-weight: normal;
                              font-size: 1.2rem;
                         }
                         &:hover {
                         //      background: $black;
							 text-decoration: underline;
                         }
						&:focus {
                         color: $black;

                         }
                    }
               }
          }
     }
}

.inner {@extend %site-width-container;
     @extend %contain-floats;
     //padding-bottom: $gutter;

     @include media(desktop) {
          //padding-bottom: $gutter * 3;
     }
     // Pressing enter when focus is on the skiplink sets focus on the #content area
     // Remove the blue outline
     outline: none;
}

ul.menu li.icon {
     float: right !important;
}

ul.menu.responsive li {
     float: none !important;
     display: block;
     text-align: left !important;
     padding-left: 0 !important;
}

ul.menu.responsive li a {
     display: block;
}

/**A-z**/

#az-index-wrapper {
    float:left;
    display: block;
    margin-bottom: 1.0526315789em;
}

#az-index-wrapper .largeLetter {
    display: inline;
    float: left;
    background: $turquoise;
    margin: 4px 5px 0px 0px;
    width: 110px;
    height: 119px;
    text-align: center;
    line-height: 130px;
    font-size: 95px;
    color: #fff;
}

#az-index {    
    margin: 0;
    padding: 0;
    display: inline;
}

ul#az-index li {
    float: left;
    height: 28px;
    list-style-type: none;
    margin: 4px 0px 9px 0px;
    padding: 0;
    width: 44px;
}

#az-index a:link, #az-index a:visited {
    background: $grey-3;    
    display: block;
    height: 25px;
    padding: 0.65em 0 0 0;
    text-align: center;    
    width: 40px;
    line-height: 15px;
}

.w70 {
	width:100%;
}

@media (min-width: 1020px) {
.w70 {
	width:75%;
}
	
}

.mt30 {margin-top:1.0526315789em;}

/**search**/

.tag-filter {
    background: $grey-2;
    padding: 1% 2%;
    font-weight: 700;	
	white-space: nowrap;
}

.tags li {
    margin-bottom: 5%;
}

/**search placeholder**/

#site-search-text::-webkit-input-placeholder {
   color: black;
}

#site-search-text:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

#site-search-text::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

#site-search-text:-ms-input-placeholder {  
   color: black;  
}
// ========================================== MAIN NAVIGATION - END ========================================== //

@import 'hybrid';
@import 'new-gov-uk-elements';

header.hero.search p a {color:$link-colour;}

