// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'node_modules/govuk_frontend_toolkit/stylesheets/colours.scss';


/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/

//  FOR ALL

// ========================================== INDEX PAGE - START ========================================== //
header.hero {
     background: $turquoise;
     margin: 0 0 0em 0;
     padding: 1.5em;
     color: $white;
     h1.heading-xlarge {
          margin: 0 0 0.25em 0;
     }
     p {
          a {
               font-weight: bold;
               color: $white;
          }
     }
     .search {
          background: $white;
          form {
               position: relative;
               label {
                    display: block;
                    position: absolute;
                    top: 1px;
                    left: 0;
                    z-index: 1;
                    background: none;
                    color: $grey-1;
                    height: 40px;
                    font-size: 19px;
                    line-height: 40px;
                    text-indent: 15px;
                    // display: none;
               }
               .search__input {
                    float: left;
                    // z-index: 1;
                    width: 100%;
                    padding: 0 40px 0 0;
                    margin: 0 -40px 0 0;
                    box-sizing: border-box;
                    position: relative;
                    #search {
                         border: none;
                         height: 40px;
                         font-size: 19px;
                         padding: 0 6px;
                         width: 98%;
                         &.focus {
                              z-index: 10;
                              background: $white;
                         }
                    }
                    // :-webkit-input-placeholder, :-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder {
                    //    color: red;
                    // }
               }
               .search__submit {
                    text-indent: -1000em;
                    position: relative;
                    z-index: 10;
                    border-radius: 0;
                    background: $black;
                    width: 40px;
                    height: 40px;
                    border: none;
                    background: url(/public/images/search-button.png) $black no-repeat 100% 50%;
                    background-size: 3em;
                    &:hover {
                         cursor: pointer;
                    }
               }
          }
     }
     &.search {
          background: none;
          padding: 0;
          margin: 2em 0 3em 0;
          label {
               color: $black;
               margin: 0 0 0.5em 0;
               display: inline-block;
          }
          p {
               color: $black;
          }
          .search form .search__input #search {
               box-shadow: inset 0 0 0 2px $border-colour;
          }
     }
}
// ========================================== INDEX PAGE - END ========================================== //

// ========================================== HEAD ELEMENTS PAGE - END ========================================== //
.search-toggle {
     display: none;
}

#global-header.with-proposition .header-wrapper .header-global {
     width: 100%;
     float: left;
}

#proposition-name {
     margin: 5px 0 0 0;
     display: inline-block;
     color: $white;
     font-weight: bold;
     font-size: 24px;
     line-height: 1.25;
     text-decoration: none;
     &:hover {
          text-decoration: underline;
     }
}

#search {
     display: inline-block;
     float: right;
     width: 40%;
     .content {
          position: relative;
          background: $white;
          label {
               float: none;
               position: absolute;
               left: 0;
               top: 1px;
               z-index: 1;
               width: 100%;
               margin-right: 0;
               min-height: 36px;
               line-height: 35px;
               text-indent: 15px;
               overflow: hidden;
               display: block;
               // &:hover {
               //      display: none;
               // }
          }
          input {
               &.js-search-focus {
                    border: none;
                    width: calc(100% - 48px);
                    min-height: 36px;
                    padding: 0 6px;
                    position: relative;
                    background: none;
                    z-index: 10;
                    // display: none;
                    &.focus {
                         z-index: 10;
                         background: $white;
                         // display: block;
                    }
               }
          }
          .submit {
               position: absolute;
               z-index: 4;
               right: 0;
               top: 0;
               width: 36px;
               height: 36px;
               border: 1px solid $link-colour;
               border-width: 0 0 0 1px;
               border-left-color: $black;
               -webkit-border-radius: 0;
               -moz-border-radius: 0;
               border-radius: 0;
               overflow: hidden;
               text-indent: -5000px;
               color: $white;
               background: url(/public/images/search-button.png) $link-colour no-repeat 105% 50%;
               background-size: 3.25em;
          }
     }
}


#global-header {
     .header-proposition {
          #proposition-menu {
               margin-top: 0;
          }
     }
     &.with-proposition {
          .header-wrapper {
               .header-proposition {
                    #proposition-menu {
                         .content {
                              margin: 0;
                         }
                    }
               }
          }
     }
}
// ========================================== HEAD ELEMENTS PAGE - START ========================================== //

// ========================================== GENERAL PAGE - START ========================================== //
.panel {
     &.hybrid {
          padding-top: 0;
          img {
               width: 100%;
               margin: 0 0 1em 0;
          }
          a {
               text-decoration: none;
               h3 {
                    text-decoration: underline;
               }
               p {
                    color: $black;
                    text-decoration: none;
               }
          }
          &.job-profile {
               padding-top: 1em;
               padding-bottom: 1em;
          }
     }
}

a {
     &.header-link {
          margin-top: 40px;
          display: inline-block;
          float: right;
     }
}

.page-contents {
     .heading-small {
          margin-top: 0.2631578947em;
          margin-bottom: 0.75em;
     }
     ul {
          li {
               margin-bottom: 10px;
               list-style: none;
               // font-size: 1.5rem;
               padding: 0 0 0 15px;
               &:before {
                    content: "–";
                    float: left;
                    display: block;
                    width: 15px;
                    margin-left: -15px;
               }
          }
     }
}
// ========================================== GENERAL PAGE - END ========================================== //

// ========================================== STICKY NAV - START ========================================== //
.sticky-holder {
     position: relative;
     .column-one-third {
          position: relative;
     }
     .column-two-thirds {
          float: right;
     }
     h1, h2, h3, h4 {
          padding-top: 1em;
     }
     #stopper {
          position: absolute;
          bottom: 0;
     }
}

#sidebar {
     // left: 15px;
     position: relative;
     display: inline-block;
     width: auto;
     float: left;
     padding: 0 0 0 15px;
     margin: 1em 0 0 0;
     &.sticky {
          top: 0;
          position: fixed;
          &.bottom {
               position: absolute;
               bottom: 0;
          }
     }
}

#scroller {
     top: 0;
     position: absolute;
     z-index: 1000;
     padding: 1em 0 0 15px;
     width: 18%;
     display: inline-block;
     h1, h2, h3, h4 {
          padding-top: 0;
     }
     .submit {
          margin: 2em 0 0 0;
     }
     &.stopper {
          position: absolute;
          bottom: 0;
     }
}

// ========================================== STICKY NAV - END ========================================== //

// ========================================== SEARCH RESULTS - START ========================================== //
.search-results-list {
     .search-result {
          margin: 0 0 3em 0;
          h1, h2, h3, h4 {
               margin: 0 0 0.25em 0;
               padding-top: 0;
          }
          p {
               margin: 0 0 0.5em 0;
               &.meta {
                    color: $secondary-text-colour;
                    margin-bottom: 0.5em;
                    font-size: 16px;
               }
          }
     }
     .panel.panel-border-wide.hybrid {
          margin: 3em 0;
          padding-left: 1.5em;
          .title {
               margin: 0 0 2em 0;
               h2 {
                    margin-top: 0;
                    padding: 0;
               }
          }
          .search-result {
               margin: 0 0 2em 0;
          }
          span {
               display: inline-block;
               font-size: 19px;
               color: $secondary-text-colour;
               font-weight: normal;
          }
     }
}
// ========================================== SEARCH RESULTS - END ========================================== //

// ONLY FOR DESKTOP (1020px)
@media (min-width: 1020px) {



}

// LARGE UP (769px and above)
@media (min-width: 769px) {

     #global-header {
          &.with-proposition {
               .header-wrapper .header-global {
                    width: 100%;
                    .header-logo {
                         width: 33.3%;
                    }
                    .site-search {
                         width: 40%;
                         .content {
                              margin: 0 15px;
                         }
                    }
               }
          }
     }

}

// MEDIUM ONLY (641px)
// @media (min-width: 641px) {
//
//
//
// }

// MEDIUM UP (641px and above)
@media (min-width: 641px) {



}

// @media (min-width: 480px) {
//
//
// }

// SMARTPHONE ONLY (Up to 640px)
@media (max-width: 640px) {

     #proposition-name {
          margin: 14px 0 0 15px;
          font-size: 18px;
          float: left;
     }

     #global-header {
          &.with-proposition {
               .header-wrapper .header-global {
                    .site-search {
                         width: 100%;
                         margin: 5px 0;
                         .content {
                              margin: 0 15px;
                         }
                    }
               }
          }
     }

     header.hero {
          .search {
               form {
                    margin-bottom: 1em;
                    .search__input {
                         #search {
                              width: 95.5%;
                         }
                    }
                    .search__submit {
                         background: url(/public/images/search-button.png) $black no-repeat 150% 50%;
                         background-size: 3em;
                    }
               }
               .hero__feedback-link {
                    margin-bottom: 0;
               }
          }
     }

     a {
          &.header-link {
               margin: 0 0 40px 0;
               display: inline-block;
               float: left;
          }
     }

     .scroller {
          margin-bottom: 2em;
          &.fixed {
               position: relative !important;
               width: 100%;
          }
     }



}


// SMARTPHONE ONLY (Up to 379px)
@media screen and (max-width: 379px) {

     #global-header .header-wrapper .header-global .header-logo {
          float: left;
     }

}
