.sass-cache
.DS_Store
.start.pid
.port.tmp
package.json
public
govuk_modules
node_modules/*
.tmuxp.*
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/ProjectSettings.json
/.vs/config/applicationhost.config
/.vs/Citizen Digital - Prototype/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/VSWorkspaceState.json
/.vs/tasks.vs.json
