{% extends "../casestudy.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<div class="grid-row casestudy-content">
    <div class="column-two-thirds">
        <section >
            <h2 class="heading-large">Case study - Border force officer</h2>
            <p class="casestudy-content-question"><span>Interviewer: </span>Seijal, Can you tell me a bit about how long you’ve been a border force officer. And who do you work for?</p>
            <p class="casestudy-content-answer"><span>Seijal:</span>“I’ve been in this role for just over two years and I work for the Home Office. I came in through the Civil Service Fast Stream, which is a pretty amazing way in. Not everyone does it that way of course. My boss is used to be a college lecturer and another of my colleagues joined from the police.” </p>
            
            
            <p class="casestudy-content-question"><span>Interviewer: </span>What things have you got in common though?</p>
            <p class="casestudy-content-answer"><span>Seijal:</span>“One thing we’ve all got in common is that we’re UK nationals. As you’d expect, we’ve all passed in-depth background and security checks, and done a long probation period.” </p>
            
            <p class="casestudy-content-question"><span>Interviewer: </span>Where do you work now?</p>
            <p class="casestudy-content-answer"><span>Seijal:</span>“At the moment I’m based at a regional airport. I did a couple of months at Gatwick though. I did some training there too.” </p>

            <p class="casestudy-content-question"><span>Interviewer: </span>So you’ve had some experience of a few airports then. Anywhere else? </p>
            <p class="casestudy-content-answer"><span>Seijal:</span>“Well, after that I spent three weeks at the Eurotunnel terminal at Dover. I learnt a lot about what border force officers do ‘in the field’ and it’s incredibly varied. It’s also given me some ideas about where I might go in the future.”</p>

            <p class="casestudy-content-question"><span>Interviewer: </span>What are your working hours – and how do you relax?</p>
            <p class="casestudy-content-answer"><span>Seijal:</span>“I’m doing about 40 hours a week – and it’s shift work, but not weekends, not at the moment anyway. It can be stressful. I know I need to exercise and look after my physical and mental health, so I do make an effort like that. I’m really keen on cycling and belong to a club. I believe in seeing my family often, my sister and mother especially. That means I switch off at weekends and forget about the more challenging scenarios I’ve had to deal with at work! </p>

            <p class="casestudy-content-question"><span>Interviewer: </span>Tell us some more about what makes you good at your job: </p>
            <p class="casestudy-content-answer"><span>Seijal:</span>“People say I’m calm in difficult situations, like when we have to search people’s luggage for drugs or firearms, but it’s the excellent training we get that’s prepared me for that kind of thing.” </p>

            <p class="casestudy-content-question"><span>Interviewer: </span>What about the future? How do you see your career developing?</p>
            <p class="casestudy-content-answer"><span>Seijal:</span>“I really like the legal side of my job. I don’t mind the time it takes to write up case notes because I know it’s important. I also enjoy going to investigations and court hearings.” </p>

            <p class="casestudy-content-question"><span>Interviewer: </span>Anything else you’d like to tell someone about the work you do day-to-day as border force officer?</p>
            <p class="casestudy-content-answer"><span>Seijal:</span>“Well it may seem that we’re doing the same thing all the time, but it’s really not like that. I’ve gained some excellent skills, things I never knew existed before. For instance, I’m learning about spotting unusual behaviours and knowing when extra questioning might be necessary. It’s quite tricky to do and easy to get wrong. But I’m getting better at that too.” </p>
            
            <p class="casestudy-content-question"><span>Interviewer: </span>What about skills you had already and brought to the job? </p>
            <p class="casestudy-content-answer"><span>Seijal:</span>“Oh, yes. I’m really glad I learned to drive when I was 24. That was three years ago. Now when I get called at short notice to go to another regional airport, I can just jump in my car and go. It’s usually when another team is short and needs me on their team temporarily.” </p>

            <p class="casestudy-content-question"><span>Interviewer: </span>What would you say to someone thinking of becoming a border force officer? Would you encourage them?</p>
            <p class="casestudy-content-answer"><span>Seijal:</span>“I’d recommend my job to anyone who really wants to feel they’re making a difference. When I’ve finished a day knowing I’ve had a hand in preventing a serious security breach or I’ve confiscated dangerous or illegal goods, it’s really satisfying. You don’t get many jobs like that.”</p>




            <a class="casestudy-content-link" href="../job-profiles-cs/border-force-officer-text">Return to job profile</a>
        </section>
    </div>
    <div class="column-one-third">
        <img alt="Case Study Image" class="casestudy-image" src="/public/_sprint11/images/casestudyborder.jpg">
    </div>
</div>




        {% endblock %}
















