{% extends "../casestudy.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<div class="grid-row casestudy-content">
    <div class="column-two-thirds">
        <section >
            <h2 class="heading-large">Case study - Border force officer</h2>

            <p class="casestudy-content-top">Seijal has been a border force office for just over two years. Employed by the Home Office, she came into the role through the Civil Service Fast Stream. That’s not the case with most of her colleagues though: her supervisor, for instance, used to be a lecturer and another colleague joined from the police.</p>

            <p>Seijal says: “One thing we’ve all got in common is that we’re UK nationals and, as you’d expect, we’ve all passed in-depth background and security checks, and done a long probation period.”</p>

            <p>Seijal is currently based at a regional airport, but she’s had a couple of months working at Gatwick, where she also did some training. After that she spent another three weeks at the Eurotunnel terminal at Dover. She says: “I learnt a lot about what border force officers do ‘in the field’ and it’s incredibly varied. It’s also given me some ideas about where I might go in the future.”</p>

            <p>Doing about 40 hours a week on shifts, Seijal’s work can be demanding and stressful at times, so she’s keen to keep in good shape mentally and physically. Seijal is an active member of her local cycling club and makes sure she sees family often. “That means I switch off at weekends and forget about the more challenging scenarios I’ve had to deal with at work! People say I’m calm in difficult situations, like when we have to search people’s luggage for drugs or firearms, but it’s the excellent training we get that’s prepared me for that kind of thing.”</p>

            <p>Seijal hasn’t lost sight of her personal objectives and is keen to develop her professional interests. “I really like the legal side of my job. I don’t mind the time it takes to write up case notes because I know it’s important. That, and attending investigations and going to court hearings.” She goes on to say: “I’m also learning about what it takes to be good at spotting unusual behaviours and knowing when extra questioning might be necessary. It’s quite tricky to do and easy to get wrong.”</p>

            <p>One of the most useful skills it turns out she has, happens to be one that wasn’t actually on her original job description. Seijel learned to drive and got a car when she was 24. Now 27, she’s finding that her car is essential when she’s on call and has to go at short notice to another regional airport and give support to another team.</p>

            <p>“I’d recommend my job to anyone who really wants to feel they’re making a difference. When I’ve finished a day knowing I’ve had a hand in preventing a serious security breach or I’ve confiscated dangerous or illegal goods, it’s really satisfying. You don’t get many jobs like that.”</p>

            

          
            <a class="casestudy-content-link" href="../job-profiles-cs/border-force-officer-text">Return to job profile</a>

</section>
    </div>
    <div class="column-one-third">
    </div>
</div>




        {% endblock %}
















