{% extends "../casestudy.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<div class="grid-row casestudy-content">
    <div class="column-two-thirds">
        <section >
            <h2 class="heading-large">Case Study - Ewan</h2>

            <p class="casestudy-content-top">Ewan, 19, works as a chef in a traditional-style pub in Warwickshire. Although he'd always enjoyed cooking, he never thought he'd make a career of it. That was until his parents wanted an anniversary party for family and friends. It was then that Ewan had the idea that he should be the one to do all the food for the party, planning what they'd eat and preparing it ahead of time and on the day. It went brilliantly.</p>
            <p>The experience of catering for more than 40 people made Ewan realise that he had a talent for organisation as well as cooking and he began to think about a possible future as a chef. And for the first time, he'd also found out what it was like to work under pressure.</p>
            <p>Today, Ewan's job certainly involves lots of organisation – both in the kitchen and outside of it. He says: “I found out that I've got time management skills too, which is good because I'm forever scheduling and figuring out in what order things have to happen.”</p>
            <p>One of the aspects this young chef enjoys most is negotiating with suppliers to get the best seasonal ingredients. “Although I work in a small kitchen, I am not letting that restrict my ambitions. I know what my customers like and I have a reasonable idea about what new things I can introduce to the menu.” He adds, “It's always interesting to see how people react to even small changes, but bringing those in has been important to me because it's meant I've had to perfect new techniques like fish preparation and fresh pasta making.</p>
            <p>Ewan been on a number of health and safety courses, all of which are enabling him better to keep to the strict rules associated with food preparation. As well as this, he's been on a course for people working in licensed trades and has also gained knowledge about allergens, nutrition and special diets. Although Ewan knows he can't cater for every taste, it's his job to make sure food on the menu is clearly described and labelled.</p>
            <p>Being consistent was one of his early challenges. Making sure that portion sizes are always the same and that quality never varies is something Ewan admits he is still learning about. He has recently gained an assistant who takes some of the more time-consuming tasks off his hands, such as preparing vegetables. “This has freed me up a bit and I feel I can be more creative with things like desserts and puddings – and that's definitely making our menus more popular with existing customers and bringing in new ones.” He adds, “I'm also really pleased when I can offer something that has low food miles involved. My greatest success so far has been with an autumn-in-spired crumble for which the apples came from the orchard behind the pub and the blackberries from the field next door!”</p>
            <a class="casestudy-content-link" href="../job-profiles/chef">Return to job profile</a>
        </section>
    </div>
    <div class="column-one-third">
        <img alt="Case Study Image" class="casestudy-image" src="/public/_sprint11/images/casestudy3.jpg">
    </div>
</div>




        {% endblock %}
















