@import 'node_modules/govuk_frontend_toolkit/stylesheets/colours.scss';

.tools_text-highlight, .key_colour-sample {
	&_red {
		background-color:$red-50;
	}
	&_yellow {
		background-color:$yellow-50;
	}
	&_green {
		background-color:$green-50;
	}
	&_blue {
		background-color:$light-blue-50;
	}
	&_orange {
		background-color:$orange-50;
	}
}

#tools_key {
	left:0px;
	bottom:0px;
	width:120px;
	height:200px;
	position:fixed;
	background: $page-colour;
	padding:10px;
	border: 2px solid $text-colour;
}

.key_colour-sample {
	height:10px;
	width:10px;
	display:inline-block;
	margin-right:0.3em;
}