<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your appointment with a National Careers Service adviser</title>
</head>
<body>
       <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td bgcolor="#0B0C0C" width="100%">
                        <table align="center" border="0" cellpadding="0"
                        cellspacing="0" style="max-width:580px;width:100%;">
                            <tbody>
                                <tr>
                                    <td height="46" style=
                                    "font-family:Helvetica,Arial,sans-serif;font-size:26px;font-weight:bold;color:white;text-decoration:none"
                                    valign="middle">
                                        <a href="http://nationalcareersservice.direct.gov.uk" style=
                                        "font-family:Helvetica,Arial,sans-serif;font-size:26px;color:white;text-decoration:none"
                                        target="_blank">Careers Service</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="5" width="100%">
                        <table align="center" bgcolor="#28A197" border="0"
                        cellpadding="0" cellspacing="0" style=
                        "max-width:580px;width:100%;">
                            <tbody>
                                <tr>
                                    <td style="font-size:10px" valign="middle"
                                    width="100%">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="10" width="100%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="100%">
                        <table align="center" border="0" cellpadding="0"
                        cellspacing="0" style="max-width:580px;width:100%;">
                            <tbody>
                                <tr>
                                    <td style=
                                    "font-family:Helvetica,Arial,sans-serif;color:#0b0c0c; padding-bottom:30px;"
                                    valign="middle" width="100%">
                                       <p>Dear Bob</p>
                                        <p>Your appointment with Joe is on Tuesday 8th November at 14:00.</p>
                                        <p>You can <a href="#">cancel this appointment</a> at any time.</p>
                                        <strong>Where you need to go</strong>
                                        <p>National Careers Service Manchester<br/>7 Fairfax Rd<br/>Manchester<br/>M25 1AS</p>
                                        <p>Telephone: (0161) 773 7835</p>
                                        <p>Textphone: (0161) 773 7836</p>
                                        <strong>What to expect</strong>
                                        <p>During your discussion with the adviser, you'll talk about what your aims are around learning and work. The adviser will help you to consider the different routes to move you towards your goals.</p><p>If relevant, the adviser will also encourage you to talk about your personal circumstances and what your strengths are. These are all factors that can help you make the best career decision.</p>
                                        <p>The discussion is confidential, and you can make further appointments.</p>
                                        <p>Before your interview you could:</p>
                                        <ul>
                                            <li> choose some jobs you'd like to do and think about why they appeal to you</li>
                                            <li>reflect on jobs, volunteering or other tasks you've done before</li>
                                            <li>consider what kind of learning or training you might like to do</li>
                                            <li>think about how confident you feel about taking the next step</li>
                                        </ul>
                                        
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#dee0e2" width="100%" style="border-top: 1px solid #a1acb2; padding-top:10px; padding-bottom:10px;">
                         <table align="center" border="0" cellpadding="0"
                        cellspacing="0" style="max-width:580px;width:100%;height:30px;">
                            <tbody>
                                <tr>
                                    <td> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>   
</body>
</html>