{% extends "../layout_search.html" %}

{% block page_title %}
  Service Green
{% endblock %}

{% block content %}

<main id="content" role="main">
        {% include "../../includes/phase_banner_beta.html" %}
        
		<div class="breadcrumbs">
			<ol>
				<li><a href="../index.html">Home</a></li>
			</ol>
		</div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">Personal assistant
	                <span class="heading-secondary">PA, executive secretary, executive assistant</span>
                </h1>

                <div class="govuk-box-grey">
                    <p>Personal assistants give secretarial and administrative support to managers.</p>
                </div>
                <div class="profile">
                    <div class="sixty">
                        <span class="salary-icon">
                        	<img alt="Salary, a pound sign" src="/public/images/salary.png">
                        </span> 
                        <span class="visually-hidden">Salary:</span> 
                        <span class="bold">£18,000 to £50,000</span> 
                        per year
                    </div>
                    <div class="forty">
                        <span class="hours-icon">
                        	<img alt="Hours, a clock face" src="/public/images/hours.png">
                        </span> 
                        <span class="visually-hidden">Hours:</span>
                        <span class="bold">37 to 40</span> 
                        per week
                    </div>
                </div>
                <nav aria-label="skip to your documents" class="jump-links" role="navigation">
                    <div class="grid-row">
                        <div class="column-one-half">
                            <ol class="list list-number">
                                <li>
                                    <a href="#how-to-become">How to become personal assistant</a>
                                </li>
								<li>
                                    <a href="#skills-required">Skills</a>
                                </li>							   
                                <li>
                                    <a href="#what-youll-do">What you'll do</a>
                                </li>
                                <li>
                                    <a href="#salary">Salary</a>
                                </li>
                            </ol>
                        </div>
                        <div class="column-one-half">
                            <ol class="list list-number" start="5">
                                <li>
                                    <a href="#working-hours-patterns-and-environment">Working hours, patterns and environment</a>
                                </li>
                                <li>
                                    <a href="#career-path-and-progression">Career path and progression</a>
                                </li>
                                <li>
                                	<a href="#current-opportunities">Current opportunities</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </nav>

                <!--section 1-->
                <section  id="how-to-become">
                    <h2 class="heading-large">1. How to become personal assistant</h2>
                    <p>To become a personal assistant you’ll need to show you’ve got administration skills. You could:</p>
                    <ul class="list list-bullet">
                        <li>study at college for a level 2 or 3 qualification in business administration</li>
                        <li>study at university for a business-related foundation degree, higher national diploma (HND) or degree</li>
                        <li>do an apprenticeship in business administration</li>
                        <li>get work experience and train on the job</li>
                    </ul>
                    <p>Foreign language qualifications may also be useful if you plan to work in an organisation that deals with overseas visitors and clients.</p>

                    <p>Having extra skills like shorthand and audio typing can also help you get in.</p>

                    <h3 class="heading-medium">College</h3>

                    <p>You could take a recognised qualification in business administration or office skills. Useful courses include:</p>
                    <ul class="list list-bullet">
                        <li>Level 2 Certificate in Business and Administration</li>
                        <li>Level 2 Certificate in Business Support</li>
                        <li>Level 2 Diploma in Business Administration</li>
                    </ul>

                    <p>Find a <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">course in business administration or support</a> near you</p>

                    <p>You may be able to get <a href="https://www.gov.uk/further-education-courses/financial-help">financial help to do a course</a>.</p>

                    <p>Private training providers also offer short, intensive courses.</p>

                    <p>You’ll usually need to be employed in a junior administration role, or be willing to do voluntary work or a work placement.</p>

                    <h3 class="heading-medium">University</h3>

                    <p>To get onto a business-related foundation degree or HND you’ll usually need 2 A levels and at least 2 <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">GCSEs (or equivalent)</a> at grade 4 (C) or above in English and maths.</p>

                    <p>For a degree, you’ll usually need 2 to 3 A levels and 5 GCSEs (or equivalent) at grade 4 or above.</p>

                    <p>UCAS has information on <a href="https://www.ucas.com">degree courses and entry requirements</a>.</p>

                    <p>You can apply for <a href="https://www.gov.uk/student-finance">student finance to cover fees and living costs</a>.</p>

                    <h3 class="heading-medium">Apprenticeship</h3>

                    <p>You could take an <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">intermediate or advanced level apprenticeship in business administration</a> before working your way up to a PA position.</p>

                    <p>To get onto an apprenticeship, you’ll usually need GCSEs at grades 9 to 4 (A* to C), including maths and English language. Employers may also accept <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent level 2 qualifications</a>.</p>

                    <h3 class="heading-medium">Work<h3> 

                    <p>You could get a temporary job. This can be a good way of getting administration experience and can often lead to a permanent job.</p>

                    <p>If you’re already working as an administrator or secretary, you could work your way up to a personal assistant role.</p>

                    <p>To get work, you’ll usually need <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">GCSEs (or equivalent)</a> at grades 9 to 4 (A* to C) in English and maths.</p>

                </section>

				<!--section 2-->
				<section  id="skills-required">
					<h2 class="heading-large">2. Skills</h2>
                    <p>You’ll need:</p>
                    <ul class="list list-bullet">
                        <li>excellent organisational and time management skills </li>
                        <li>good written and spoken communication skills </li>
                        <li>accuracy and attention to detail </li>
                        <li>a calm and professional manner </li>
                        <li>excellent computer and administration skills </li>
                        <li>a flexible and adaptable approach to work </li>
                        <li>the ability to use your own initiative </li>
                        <li>tact and discretion, for dealing with confidential information</li>
                    </ul>
				</section>

				<!--section 3-->
				<section  id="what-youll-do">
					<h2 class="heading-large">3. What you'll do</h2>
                    <p>Your day-to-day tasks may include:</p>
                    <ul class="list list-bullet">
                        <li>screening telephone calls and handling enquiries </li>
                        <li>organising your manager’s diary and making appointments</li>
                        <li>dealing with letters and emails </li>
                        <li>arranging meetings </li>
                        <li>organising and maintaining office systems </li>
                        <li>taking notes at meetings </li>
                        <li>making travel arrangements </li>
                        <li>looking after visitors</li>
                    </ul>
                    <p>Many managers rely heavily on their PA and give them a high level of responsibility, so in some jobs you may have extra tasks like:</p>
                    <ul class="list list-bullet">
                        <li>standing in for the manager in their absence </li>
                        <li>acting as office manager and supervising other administrative staff </li>
                        <li>dealing with accounts and budgets </li>
                        <li>taking on project work, like research or producing reports and presentations</li>
                    </ul>
				</section>

				<!--section 4 -->
				<section  id="salary">
					<h2 class="heading-large">4. Salary</h2>
                    <p>Starter: £18,000 to £25,000</p>
                    <p>Experienced: £25,000 to £40,000</p>
                    <p>Highly Experienced: £40,000 to £50,000</p>
                    <p>These figures are a guide.</p>
				</section>

                <!--section 5 -->               
				<section  id="working-hours-patterns-and-environment">
					<h2 class="heading-large">5. Working hours, patterns and environment</h2>
                    <p>You’ll usually work 37 to 40 hours a week Monday to Friday, possibly with extra hours to meet deadlines.</p>
                    <p>You’ll be based in an office, but may travel to go to meetings and other events.</p>
				</section>

                <!--section 6-->
				<section  id="career-path-and-progression">
					<h2 class="heading-large">6. Career path and progression</h2>
                    <p>With experience, you could take on more responsibility by moving to a larger company or working for a more senior manager.</p>
                    <p>Promotion to management may also be possible.</p>
                    <h3 class="heading-medium">Related careers</h3>
                    <p>You may be interested in:</p>
                    <ul class="list list-bullet">
                        <li><a href="/job-profiles/admin-assistant">Admin assistant </a></li>
                        <li><a href="/job-profiles/arts-administrator">Arts administrator </a></li>
                        <li><a href="/job-profiles/bilingual-secretary">Bilingual secretary </a></li>
                        <li><a href="/job-profiles/farm-secretary">Farm secretary </a></li>
                    </ul>
				</section>

				<!--section 7-->
				<section  id="current-opportunities" style="margin-bottom:30px">
					<h2 class="heading-large">7. Current opportunities</h2>
					<!-- <p>Find the latest opportunities</p> -->

                    <div class="grid-row" id="appGeneric">
                        <div class="column-full">
                            <h2 class="heading-medium" style="margin-top:0px;">Apprenticeships
                                <span class="heading-secondary">In England</span>
                            </h2>
                        </div>
                        <div class="column-half">
                            <div class="opportunity-item">
                                <h3 class="heading-small"><a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipdetail/-73159/87.1">Personal Assistant Apprenticeship</a></h3>
                                <ul class="list">
                                    <li><span class="bold-small">Weekly wage:</span> £140.00</li>
                                    <li><span class="bold-small">Weekly hours:</span> 40.00</li>
                                    <li><span class="bold-small">Location:</span> Chigwell</li>
                                </ul>
                            </div>
                        </div>
                        <div class="column-half">
                            <div class="opportunity-item">
                                <h3 class="heading-small"><a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-143930">Apprentice Personal Assistant</a></h3>
                                <ul class="list">
                                    <li><span class="bold-small">Annual wage:</span> £16,039.00</li>
                                    <li><span class="bold-small">Weekly hours:</span> 36.50</li>
                                    <li><span class="bold-small">Location:</span> Oxford</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="opportunity-footer">
                        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
                    </div> 
                    <div class="grid-row" id="courseGeneric">
                    	<div class="column-full">
							<h2 class="heading-medium">Training courses
								<span class="heading-secondary">In England</span>
							</h2>
                    	</div>
	                    <div class="column-half">
		                    <div class="opportunity-item">
			                    <h3 class="heading-small"><a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=54100018">PA &amp; Business Professional Studies Level 1/Level 2</a></h3>
			                    <ul class="list">
				                    <li><span class="bold-small">Provider:</span> WKCIC GROUP</li>
			                        <li><span class="bold-small">Start date:</span> 01 September 2017</li>
			                    	<li><span class="bold-small">Location:</span> LONDON</li>
			                    </ul>
		                    </div>
	                    </div>
	                    <div class="column-half">
		                    <div class="opportunity-item">
			                    <h3 class="heading-small"><a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=54707842">EDEXCEL Func Skills Maths L2 CIND (PA)</a></h3>
			                    <ul class="list">
				                    <li><span class="bold-small">Provider:</span> NEWCASTLE COLLEGE</li>
			                        <li><span class="bold-small">Start date:</span> 03 September 2017</li>
			                    	<li><span class="bold-small">Location:</span> Newcastle upon Tyne</li>
			                    </ul>
		                    </div>
	                    </div>
                    </div> 
                    <div class="opportunity-footer">
                    	<a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find courses near you</a>
                    </div>                   
				</section>

				<p class="grey font-xsmall">Last updated: 23 March 2016</p>
            </div>
            <div class="column-one-third">
				<aside class="PROD_govuk-related-items" role="complementary">
				    <h2 class="heading-medium" id="related-gov-links">
				    Useful links</h2>
			        <ul class="list">
			            <li>
			                <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find a course</a>
			            </li>
						<li>
			                <a href="https://www.gov.uk/apply-apprenticeship">Apprenticeships</a>
			            </li>
			            <li>
			                <a href="https://www.ucas.com/">Thinking about university</a>
			            </li>
			            <li>
			                <a href="https://www.gov.uk/further-education-courses">Help with funding</a>
			            </li>
			            <li>
			                <a href="https://www.gov.uk/volunteering">Become a volunteer</a>
			            </li>
			        </ul>
				</aside>
            </div>
        </div>
    </main>

    <script src="/public/_sprint9/javascripts/jquery-1.11.3.js"></script>
    <script src="/public/_sprint9/javascripts/paralegal-dynamic-panels.js"></script>


{% endblock %}
