{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Training routes' %}

{% include "../includes/survey.html" %}

    {% include "../includes/global_header_bar.html" %}

<main id="content" role="main">
    {% include "../includes/breadcrumb_filters.html" %}
    <div class="grid-row">
        <div class="column-full explore-top">
            <h1 class="heading-xlarge">{{filterName}}</h1>
            <h2 class="heading-medium">Select an appropriate training level</h2>
            <div class="explore-step js-hidden"><h4 class="step-5">Step 5 of 5</h4></div>
        </div>

        <div class="column-one-third">
            <div id="explore-box" class="explore-box explore-box-small">
                <h4 class="heading-small">Apprenticeships</h4>
            </div>
        </div>

        <div class="column-one-third">
            <div id="explore-box" class="explore-box explore-box-small">
                <h4 class="heading-small">Other ways of learning <span class="font-small">(example college or university)</span></h4>
            </div>
        </div>

        <div class="column-one-third">
            <div id="explore-box" class="explore-box-small explore-box-clear">
                <h4 class="heading-small">Not applicable</h4>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full"><a href="filters_results" class="explore-button">Continue</a></div>
    </div>

</main>



{% endblock %}
