{% extends "./layout.html" %}

{% block page_title %}
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

{% include "./includes/survey.html" %}


<main id="content" role="main" class="search">
    <div id="global-header-bar"></div>
    {% include "./includes/breadcrumb_ourinfo.html" %}
    </div>
    
    <div class="grid-row">
    <div class="column-two-thirds">
    <main class="filter-results-header nullclass">
        
        <h1 class="filter-results-heading">Information sources</h1>
            <h2 class="heading"> We have three sources of information:</h2>

            <div>
                <h3 class="heading-medium"> Salary information </h2>
                    <p> Supplied by Labour Market Information (LMI) </p>
                    <p> LMI is our source for all salary information. LMI source their data from the Office for National Statistics.  </p>

                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">See more about LMI</span>
                        </summary>
                            <div class="govuk-details__text"> 
                                <p>LMIforall provides (the most recently available) Gross Weekly Pay Data (average, median and decile) for one year based on a combination of data from ASHE (Annual Survey of Hours and Earnings) and the Labour Force Survey (LFS). </p> 
                                <p>The salary data is organised around the Standard Occupational Classification (SOC - 2010 4-digit categories). SOC codes classify all jobs into 369 detailed categories, according to the tasks that are undertaken, and the level and nature of the skills and qualifications required to do the job. For privacy reasons, the actual numbers are not made public, but the estimates are designed to be close enough to the actual data for meaningful statistics.</p>
                                <p>Information on earnings and paid hours worked is obtained from employers and does not cover:</p>
                                    <ul class="list list-bullet">
                                        <li>self-employed</li>
                                        <li>employees not paid during the reference period (exclude payments of arrears from another period made during the survey period; any payments due as a result of a pay settlement but not yet paid at the time of the survey will also be excluded)</li>
                                        <li>earnings of employees not on adult rates of pay, most of whom will be young people</li>
                                        <li>survey and hence salary figures does not fully cover certain types of seasonal work, for example employees taken on for only summer or winter work.</li>
                                        <li>jobs within the armed forces</li>
                                    </ul>
                            </div>
                    </details>
            </div>

            <div>
                <h3 class="heading-medium"> Skills and working environment information </h3>
                    <p>Supplied by Office for National Statistics (ONET)</p>
                    <p style="text-align: left;"><a href="https://www.onetonline.org/"><img src="https://www.onetcenter.org/image/link/onet-in-it.svg" style="width: 130px; height: 60px; border: none" alt="O*NET in-it"></a></p>
                    <p>This website includes information from <a href="https://www.onetonline.org/">O*NET OnLine</a> by the U.S. Department of Labor, Employment and Training Administration (USDOL/ETA). Used under the <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> license. O*NET&reg; is a trademark of USDOL/ETA. The National Careers Service has modified all or some of this information. USDOL/ETA has not approved, endorsed, or tested these modifications.</p> 
            </div>

            <div>
                <h3 class="heading-medium"> Our career adviser subject matter experts </h2>
                    <p></p>
                <p> Our subject matter experts use content from LMI, ONET and their own experence to create our job profiles.</p>
                <p> We constantly try to improve our information. Your feedback is extremly useful so please send us an <a href="https://nationalcareersservice.direct.gov.uk/contact-us/contact-an-adviser">email</a>.</p>
            </div>

    </main>

    </div>

</main>
        </div>

{% endblock %}
