{% set searchTerm = data.searchTerm %}
{% set searchPrompt = data.searchPrompt %}
{% set currentSprint = 'L1' %}

{% extends "govuk_template_no-gov.html" %}

{% block head %}

<script>
  // Making data object accessible in client
  var session = {{ data | dump | safe }};
</script>
  {% include "./includes/head.html" %}
{% endblock %}

{% block body_start %}

{% endblock %}

{% block cookie_message %}
<p>Explore careers uses cookies to make the site simpler. <a href="/_sprint23/cookies.html">Find out more about cookies</a></p>
{% endblock %}

{% block proposition_header %}
  {% include "./includes/title_phase-tag_BAU-dev.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block body_end %}
  {% include "../includes/scripts.html" %}
<!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
