{% extends "../../jobprofile.html" %}

{% block page_title %}
{{profileName}} | Explore Careers
{% endblock %}

{% set preName = "an" %}
{% set profileName = "Admin assistant" %}
{% set profileSecondaryName = "Office administrator, clerical assistant, administrative assistant" %}
{% set profileDescription = "Admin assistants give support to offices by organising meetings, typing documents and updating computer records." %}
{% set salaryLow = "14,000" %}
{% set salaryHigh = "30,000" %}
{% set hoursRange = "38 to 40" %}
{% set hoursDetail = "a week" %}
{% set patternValue = "between 8am and 6pm" %}
{% set patternDescription = "" %}



<!-- Related Careers -->
{% set RelatedCareerName1 = 'Local government administrative assistant' %}
{% set RelatedCareerLink1 = '#' %}
{% set RelatedCareerName2 = 'Data entry clerk' %}
{% set RelatedCareerLink2 = '#' %}
{% set RelatedCareerName3 = 'Hotel receptionist' %}
{% set RelatedCareerLink3 = '#' %}
{% set RelatedCareerName4 = 'Personal assistant' %}
{% set RelatedCareerLink4 = '#' %}
{% set RelatedCareerName5 = 'Health records clerk' %}
{% set RelatedCareerLink5 = '#' %}

{% block jobprofile_nav %}
    {% include "../../includes/job-profile_nav_jobopps.html" %}
{% endblock %}



{% set serviceName = 'Explore careers' %}
{% set bannerStyle = 'BETA-style' %}

{% block content %}

<section id="HowToBecome">
    <h2 class="heading-large job-profile-heading">How to become</h2>
    <p>You can get into this job through:</p>
    <ul>
        <li>an apprenticeship</li>
        <li>working towards this role</li>
        <li> applying directly</li>
    </ul>    <section class="job-profile-subsection" id="Apprenticeship">
        <h3>Apprenticeship</h3>
        <div class="job-profile-subsection-content">

            <p>You could get into this job through an intermediate or advanced apprenticeship in business administration.</p>



            <h4>Entry requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list-reqs">
                <li>some GCSEs, usually including English and maths, for an intermediate apprenticeship</li>
                <li>5 GCSEs at grades 9 to 4 (A* to C), usually including English and maths, for an advanced apprenticeship</li>
            </ul>

            <h4>More information</h4>
            <ul class="list-link">
                <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                <li><a class="htb-feature" href="https://www.gov.uk/apprenticeships-guide">guide to apprenticeships</a></li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="work">
        <h3>Work</h3>
        <div class="job-profile-subsection-content">
            <p>Experience of temping could lead to a permanent job. Qualifications in business administration may also help.</p>
        </div>
    </section>


    <section class="job-profile-subsection" id="directapplication">
        <h3>Direct application</h3>
        <div class="job-profile-subsection-content">
            <p>You could apply directly to become an admin assistant.</p>
            <p>Some employers may expect you to have:</p>
            <ul>
                <li> GCSEs at grades 9 to 4 (A* to C) or <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent</a>, including English and maths</li>
                <li>telephone, typing or IT skills</li>
            </ul>
        </div>
    </section>

</section>


<section class="job-profile-subsection" id="Skills" data-gtm-vis-recent-on-screen-8675592_55="53331" data-gtm-vis-first-on-screen-8675592_55="53331" data-gtm-vis-total-visible-time-8675592_55="100" data-gtm-vis-has-fired-8675592_55="1">
    <h2 class="heading-large">What it takes</h2>
    <section class="job-profile-subsection">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul>
                <li>
                    administration skills
                </li>
                <li>
                    to be thorough and pay attention to detail
                </li>
                <li>
                    the ability to work well with others
                </li>
                <li>
                    the ability to work on your own
                </li>
                <li>
                    sensitivity and understanding
                </li>
                <li>
                    to be flexible and open to change
                </li>
                <li>
                    excellent verbal communication skills
                </li>
                <li>
                    customer service skills
                </li>
                <li>intermediate digital skills for using web-based applications, spreadsheets and analytics tools</li>
            </ul>
        </div>
    </section>
</section>
<section id="WhatYouWillDo" data-gtm-vis-recent-on-screen-8675592_56="53498" data-gtm-vis-first-on-screen-8675592_56="53498" data-gtm-vis-total-visible-time-8675592_56="100" data-gtm-vis-has-fired-8675592_56="1">
    <h2 class="heading-large">What you'll do</h2>
    <section class="job-profile-subsection">
        <h3>Day-to-day tasks</h3>
        <div class="job-profile-subsection-content">
            <p>
                In this role you could be:
            </p>
            <ul>
                <li>
                    dealing with queries on the phone, by email and social media
                </li>
                <li>
                    greeting visitors at reception
                </li>
                <li>
                    typing letters and reports
                </li>
                <li>
                    updating computer records
                </li>
                <li>
                    printing and photocopying
                </li>
                <li>
                    ordering supplies
                </li>
                <li>
                    setting up meetings and taking notes during them
                </li>
                <li>
                    making travel arrangements for staff
                </li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="workingenvironment">
        <h3>Working environment</h3>
        <div class="job-profile-subsection-content">
            <p>You could work in an office.</p>
        </div>
    </section>

</section>
<section id="CareerPathAndProgression" data-gtm-vis-recent-on-screen-8675592_57="53646" data-gtm-vis-first-on-screen-8675592_57="53646" data-gtm-vis-total-visible-time-8675592_57="100" data-gtm-vis-has-fired-8675592_57="1">
    <h2 class="heading-large">Career path and progression</h2>

    <p>
        With experience, you could progress from admin assistant to supervisor or office manager. You could also move into other departments such as IT or accounting.
    </p>
    <p>With further training, you could specialise in an area like legal, financial or medical administration.</p>

</section>

<section id="current-opportunities" data-gtm-vis-recent-on-screen-8675592_58="53816" data-gtm-vis-first-on-screen-8675592_58="53817" data-gtm-vis-total-visible-time-8675592_58="100" data-gtm-vis-has-fired-8675592_58="1">
    <div id="MainContent_C020_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Opportunities Container">
        <h2 class="heading-large">Training opportunities</h2>

        <div class="grid-row" id="appGeneric">
            <div class="column-full">
                <h3 class="heading-medium">
                    Apprenticeships
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h4 class="heading-small">
                        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/91104513">Apprentice Business Administrator</a>
                    </h4>
                    <ul class="list">
                        <li><span class="bold-small">Wage:</span> &pound;138.75</li>
                        <li><span class="bold-small">Location:</span> Strood ME2 2LT</li>
                    </ul>
                </div>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h4 class="heading-small">
                        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/91104516">Purchasing Administrator Apprentice</a>
                    </h4>
                    <ul class="list">
                        <li><span class="bold-small">Wage:</span> &pound;148.00</li>
                        <li><span class="bold-small">Location:</span> Luton LU4 9DT</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dfc-code-jp-vacancyText">
            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
        </div>

        <div class="grid-row dfc-code-jp-trainingCourse">
            <div class="column-full">
                <h3 class="heading-medium">
                    Courses
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h3 class="heading-small">
                        <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=55194526">L2 HABC Diploma In Business Administration</a>
                    </h3>
                    <ul class="list">
                        <li><span class="bold-small">Provider:</span> Lambeth College</li>
                        <li><span class="bold-small">Start date:</span> 18 January 2019</li>
                        <li><span class="bold-small">Location:</span> London</li>
                    </ul>
                </div>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h3 class="heading-small">
                        <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=55023691">L2 Diploma in Business Administration</a>
                    </h3>
                    <ul class="list">
                        <li><span class="bold-small">Provider:</span> TELFORD COLLEGE</li>
                        <li><span class="bold-small">Start date:</span> 31 January 2019</li>
                        <li><span class="bold-small">Location:</span> Telford</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dfc-code-jp-TrainingCoursesText">
            <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find courses near you</a>
        </div>


        <div class="grid-row dfc-code-jp-trainingCourse">
            <div class="column-full">
                <h3 class="heading-medium">
                    Job vacancies
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h3 class="heading-small">
                        <a href="https://findajob.dwp.gov.uk/details/1243341">Admin Assistant</a>
                    </h3>
                    <ul class="list">
                        <li><span class="bold-small">Employer:</span>Lordship Windows Ltd</li>
                        <li><span class="bold-small">Added:</span>27 November 2018</li>
                        <li><span class="bold-small">Location:</span>London N17</li>
                        <li><span class="bold-small">Salary:</span> Min wage</li>
                    </ul>
                </div>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h3 class="heading-small">
                        <a href="https://findajob.dwp.gov.uk/details/1167904">Admin Assistant</a>
                    </h3>
                    <ul class="list">
                        <li><span class="bold-small">Employer:</span>Bogan Skip Hire</li>
                        <li><span class="bold-small">Added:</span>13 November 2018</li>
                        <li><span class="bold-small">Location:</span>Birmingham, West Midlands</li>
                        <li><span class="bold-small">Salary:</span>&pound;8 per hour</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="dfc-code-jp-TrainingCoursesText">
            <a href="https://findajob.dwp.gov.uk/search?q={{profileName}}">Find jobs near you</a>
        </div>


    </div>
</section>






    {% endblock %}
















