<div class="VOC-consume_container {{consumeBannerStyle}}">
	<div class="main">
    	<div class="VOC-consume_banner">
    		<div id="recruit-message">
	    		<h3 class="heading-small">Tell us what you think about this page - <a href="#1" style="font-weight:500;" onclick="showSurvey()">fill in a short survey</a></h3>
    		</div>
    		<div id="survey-header" class="js-hidden">
	    		<h3 class="heading-small on-survey">Tell us what you think of this page</h3>
	    		<a class="VOC-consume_banner--close-btn" href="#1" onclick="hideOrReset()">Close</a>
    		</div>
    		<div id="survey-done" class="js-hidden">
	    		<h3 class="heading-small" style="margin:0px;">Thank you for your feedback</h3>
    		</div>
    	</div>
	</div>

	<!-- <div class="VOC-consume_divider"></div> -->

	<div class="main">
    	<div class="VOC-consume_survey js-hidden" id="consumeSurvey">
			<div class="grid-row">
				<form>
		    		<div class="VOC-consume_survey__page" id="VOC-consume_page0">
		    			<div class="column-two-thirds">
							<div class="form-group">
								<fieldset>
									<legend>
										<h3 class="heading-medium" style="padding-top:15px;">Were you using this page for yourself or someone else?</h3>
									</legend>
									<div class="multiple-choice">
										<input id="role-myself" type="radio" name="role-q-one" value="myself">
										<label for="role-myself">For myself</label>
									</div>
									<div class="multiple-choice" data-target="someone-else">
										<input id="role-someone-else" type="radio" name="role-q-one" value="someone-else">
										<label for="role-someone-else">For someone else</label>
									</div>
								</fieldset>
							</div>
							<div class="form-group js-hidden" id="someone-else">
								<fieldset>
									<legend>
										<h3 class="heading-medium">
											What is your role?
										</h3>
									</legend>
									<div class="multiple-choice">
										<input id="role-adviser" type="radio" name="role-q-two" value="adviser">
										<label for="role-adviser">Careers adviser</label>
									</div>
									<div class="multiple-choice">
										<input id="role-adviser" type="radio" name="role-q-two" value="work coach">
										<label for="role-adviser">Job Centre Plus work coach</label>
									</div>
									<div class="multiple-choice">
										<input id="role-adviser" type="radio" name="role-q-two" value="teacher">
										<label for="role-adviser">Teacher</label>
									</div>
									<div class="multiple-choice">
										<input id="role-adviser" type="radio" name="role-q-two" value="parent">
										<label for="role-adviser">Parent</label>
									</div>						
									<div class="multiple-choice" data-target="other-textfield">
										<input id="role-other" type="radio" name="role-q-two" value="other">
										<label for="role-other">Other</label>
									</div>

									<div class="panel panel-border-narrow js-hidden" id="other-textfield">
										<div class="form-group">
											<label class="form-label" for="role">Describe your role (optional)</label>
											<input class="form-control" id="role" type="text" name="otherRole">
										</div>
									</div>
								</fieldset>
							</div>
							<div class="inline">
								<a href="#1" class="button" onclick="surveyNextQuestion()">Next question</a>
							</div>
						</div>
		    		</div>

		    		<div class="VOC-consume_survey__page" id="VOC-consume_page1">
			    		<div class="column-two-thirds">
				    		<a href="#1" class="link-back" onclick="surveyPrevQuestion()">Back</a>
							<div class="form-group">
								<h3 class="heading-medium">What information were you looking for on this page?</h3>
								<label class="form-label visually-hidden" for="textarea">What information were you looking for on this page?</label>
								<textarea class="form-control form-control-3-4" name="why-have-you-come" id="why-have-you-come" rows="5"></textarea>
							</div>
							<div class="inline">
								<a href="#1" class="button" onclick="surveyNextQuestion()">Next question</a>
							</div>
						</div>
		    		</div>

		    		<div class="VOC-consume_survey__page" id="VOC-consume_page2">
		    			<div class="column-two-thirds">
			    			<a href="#1" class="link-back" onclick="surveyPrevQuestion()">Back</a>
							<div class="form-group">
								<fieldset class="inline">
									<legend>
										<h3 class="heading-medium">Did you find what you were looking for?</h3>
									</legend>
									<div class="multiple-choice">
										<input id="find-yes" type="radio" name="find-what-you-need" value="Yes">
										<label for="find-yes">Yes</label>
									</div>
									<div class="multiple-choice" data-target="someone-else">
										<input id="find-no" type="radio" name="find-what-you-need" value="No">
										<label for="find-no">No</label>
									</div>
								</fieldset>
							</div>
							<div class="inline">
								<a href="#1" class="button" onclick="didYouFind()">Next question</a>
							</div>
						</div>
		    		</div>

					<!-- Option for 'yes' -->
		    		<div class="VOC-consume_survey__page" id="VOC-consume_page3">
			    		<div class="column-two-thirds">
				    		<a href="#1" class="link-back" onclick="surveyPrevQuestion()">Back</a>
							<div class="form-group">
								<h3 class="heading-medium">How useful was the information?</h3>
								<label class="form-label visually-hidden" for="improvement-suggestion">How useful was the information?</label>
								<textarea class="form-control form-control-3-4" name="improvement-suggestion" id="improvement-suggestion" rows="5"></textarea>
							</div>
							<div class="inline">
								<a href="#1" class="button" onclick="surveyNextQuestion()">Next question</a>
							</div>
						</div>
		    		</div>

		    		<!-- Option for 'no' -->
		    		<div class="VOC-consume_survey__page" id="VOC-consume_page3b">
			    		<div class="column-two-thirds">
				    		<a href="#1" class="link-back" onclick="surveyPrevQuestion('b')">Back</a>
							<div class="form-group">
								<h3 class="heading-medium">How could we improve this page?</h3>
								<label class="form-label visually-hidden" for="improvement-suggestion">How could we improve this page?</label>
								<textarea class="form-control form-control-3-4" name="improvement-suggestion" id="improvement-suggestion" rows="5"></textarea>
							</div>
							<div class="inline">
								<a href="#1" class="button" onclick="surveyNextQuestion()">Next question</a>
							</div>
						</div>
		    		</div>

		    		<div class="VOC-consume_survey__page" id="VOC-consume_page4">
			    		<div class="column-two-thirds">
				    		<a href="#1" class="link-back" onclick="surveyPrevQuestion()">Back</a>
							<div class="form-group">
								<fieldset>
									<legend>
										<h3 class="heading-medium">Overall, how satisfied were you with this page?</h3>
									</legend>
									<div class="multiple-choice">
										<input id="find-yes" type="radio" name="find-what-you-need" value="1">
										<label for="find-yes">Very dissatisfied</label>
									</div>
									<div class="multiple-choice" data-target="someone-else">
										<input id="find-no" type="radio" name="find-what-you-need" value="2">
										<label for="find-no">Dissatisfied</label>
									</div>
									<div class="multiple-choice">
										<input id="find-yes" type="radio" name="find-what-you-need" value="3">
										<label for="find-yes">Neither satisfied and dissatisfied</label>
									</div>
									<div class="multiple-choice" data-target="someone-else">
										<input id="find-no" type="radio" name="find-what-you-need" value="4">
										<label for="find-no">Satisfied</label>
									</div>
									<div class="multiple-choice" data-target="someone-else">
										<input id="find-no" type="radio" name="find-what-you-need" value="5">
										<label for="find-no">Very satisfied</label>
									</div>								
								</fieldset>
							</div>
							<div class="inline">
								<a href="#1" class="button" onclick="surveyNextQuestion()">Next question</a>
							</div>
						</div>
		    		</div>

		    		<div class="VOC-consume_survey__page" id="VOC-consume_page5">
		    			<div class="column-full">
		    				<a href="#1" class="link-back" onclick="surveyPrevQuestion()">Back</a>
							<div class="form-group">
								<fieldset>
									<legend>
										<h3 class="heading-medium">How likely is it that you would recommend this service to a friend or colleague?</h3>
									</legend>
									<div class="multiple-choice">
										<input id="find-yes" type="radio" name="find-what-you-need" value="0">
										<label for="find-yes">0 - Not at all likely</label>
									</div>						
									<div class="multiple-choice">
										<input id="find-yes" type="radio" name="find-what-you-need" value="1">
										<label for="find-yes">1</label>
									</div>
									<div class="multiple-choice" data-target="someone-else">
										<input id="find-no" type="radio" name="find-what-you-need" value="2">
										<label for="find-no">2</label>
									</div>
									<div class="multiple-choice">
										<input id="find-yes" type="radio" name="find-what-you-need" value="3">
										<label for="find-yes">3</label>
									</div>
									<div class="multiple-choice" data-target="someone-else">
										<input id="find-no" type="radio" name="find-what-you-need" value="4">
										<label for="find-no">4</label>
									</div>
									<div class="multiple-choice" data-target="someone-else">
										<input id="find-no" type="radio" name="find-what-you-need" value="5">
										<label for="find-no">5</label>
									</div>
									<div class="multiple-choice">
										<input id="find-yes" type="radio" name="find-what-you-need" value="6">
										<label for="find-yes">6</label>
									</div>
									<div class="multiple-choice" data-target="someone-else">
										<input id="find-no" type="radio" name="find-what-you-need" value="7">
										<label for="find-no">7</label>
									</div>
									<div class="multiple-choice">
										<input id="find-yes" type="radio" name="find-what-you-need" value="8">
										<label for="find-yes">8</label>
									</div>
									<div class="multiple-choice" data-target="someone-else">
										<input id="find-no" type="radio" name="find-what-you-need" value="9">
										<label for="find-no">9</label>
									</div>
									<div class="multiple-choice" data-target="someone-else">
										<input id="find-no" type="radio" name="find-what-you-need" value="10">
										<label for="find-no">10 - Extremely likely</label>
									</div>															
								</fieldset>
							</div>
							<div class="inline">
								<a href="#1" class="button" onclick="endSurvey()">Send feedback</a>
							</div>
						</div>
		    		</div>

<!-- 			    		<div class="VOC-consume_survey__page" id="VOC-consume_page6">
			    		<div class="column-two-thirds">
				    		<a href="#1" class="link-back" onclick="surveyPrevQuestion()">Back</a>
							<div class="form-group">
								<h3 class="heading-medium">Anything else?</h3>
								<label class="form-label visually-hidden" for="anything-else">Anything else?</label>
								<textarea class="form-control form-control-3-4" name="anything-else" id="anything-else" rows="5"></textarea>
							</div>
							<div class="inline">
								<a href="#1" class="button" onclick="surveyNextQuestion()">Submit</a>
							</div>
			    		</div>
		    		</div>	 -->		
				</form>
			</div>
    	</div>
	</div>
</div>

<script>
// Variables

var survey = document.getElementById('consumeSurvey');

// Functions

function showSurvey() {
	survey.classList.remove('js-hidden');
	document.getElementById('recruit-message').classList.add('js-hidden');
	document.getElementById('survey-header').classList.remove('js-hidden');
}

function hideSurvey() {
	survey.classList.add('js-hidden');
}

function endSurvey() {
	hideSurvey();
	document.getElementById('survey-done').classList.remove('js-hidden');
	document.getElementById('survey-header').classList.add('js-hidden');
}

function submitFeedback() {
	surveySubmitted = true;
	surveyNextQuestion();
}

function resetSurvey() {
	hideSurvey();
	surveyInit();
	document.getElementById('recruit-message').classList.remove('js-hidden');
	document.getElementById('survey-header').classList.add('js-hidden');
	surveySubmitted = false;
}

function hideOrReset() {
	surveySubmitted ? endSurvey() : resetSurvey();
}


function initPageModel() {
	currentPage = 0;
	nextPage = 1;
	prevPage = -1;
}

function initPageBranchModel(){
	branchModel = {};
}

function updatePageBranchModel(pageNumber, branchLetter){
	branchModel[pageNumber] = branchLetter;
}

function checkForPageBranch(direction){
	var pageBranch = '';
	for (var key in branchModel) {
		if (direction === 'next' && key === nextPage.toString()) {
			pageBranch = branchModel[key];
		}
		if (direction === 'prev' && key === prevPage.toString()) {
			pageBranch = branchModel[key];
		}
		if (direction === 'current' && key === currentPage.toString()) {
			pageBranch = branchModel[key];
		}
	}
	return pageBranch;
}

function surveyInit() {
	surveySubmitted = false;

	var surveyPages = document.getElementsByClassName('VOC-consume_survey__page');

	for(i = 0; i < surveyPages.length; i++) {
		if(i > 0) {
			surveyPages[i].classList.add('js-hidden');
		} else {
			surveyPages[i].classList.remove('js-hidden');
		}
	}
	initPageModel();
	initPageBranchModel();
}
surveyInit();

function surveyNextQuestion() {
	var branch = checkForPageBranch('next');
	var branchCurrent = checkForPageBranch('current');

	var thisPageId = 'VOC-consume_page' + currentPage.toString() + branchCurrent;
	var thisPageElement = document.getElementById(thisPageId);
	thisPageElement.classList.add('js-hidden');

	var nextPageId = 'VOC-consume_page' + nextPage.toString() + branch;
	var nextPageElement = document.getElementById(nextPageId);
	nextPageElement.classList.remove('js-hidden');

	updatePageModel('next');
}

function surveyPrevQuestion() {
	var branch = checkForPageBranch('prev');
	var branchCurrent = checkForPageBranch('current');

	var thisPageId = 'VOC-consume_page' + currentPage.toString() + branchCurrent;
	var thisPageElement = document.getElementById(thisPageId);
	thisPageElement.classList.add('js-hidden');

	var prevPageId = 'VOC-consume_page' + prevPage.toString() + branch;
	var prevPageElement = document.getElementById(prevPageId);
	prevPageElement.classList.remove('js-hidden');

	updatePageModel();
}

function updatePageModel(thisDirection) {
	if (thisDirection === 'next') {
		currentPage = currentPage+1;
		nextPage = nextPage+1;
		prevPage = prevPage+1;
	} else {
		currentPage = currentPage-1;
		nextPage = nextPage-1;
		prevPage = prevPage-1
	}
}

function didYouFind() {
	if(document.getElementById('find-no').checked) {
		updatePageBranchModel(nextPage.toString(), 'b');
		surveyNextQuestion();
	} else {
		updatePageBranchModel(nextPage.toString(), '');
		surveyNextQuestion();
	}
}

</script>