{% extends "../jobprofile.html" %}

{% block page_title %}
{{profileName}} | Explore Careers
{% endblock %}

{% set preName = "a" %}
{% set profileName = "Criminal intelligence analyst" %}
{% set profileSecondaryName = "Intelligence officer, criminologist" %}
{% set profileDescription = "Criminal intelligence analysts use data to detect and prevent crime and protect UK security." %}
{% set salaryLow = "20,000" %}
{% set salaryHigh = "52,000" %}
{% set hoursRange = "37 to 40" %}
{% set hoursDetail = "a week" %}
{% set patternValue = "evenings / weekends / bank holidays" %}
{% set patternDescription = "at short notice" %}






<!-- Related Careers -->
{% set RelatedCareerName1 = 'Police officer' %}
{% set RelatedCareerLink1 = '#' %}
{% set RelatedCareerName2 = 'Forensic computer analyst' %}
{% set RelatedCareerLink2 = '#' %}
{% set RelatedCareerName3 = 'Cyber intelligence officer' %}
{% set RelatedCareerLink3 = '#' %}
{% set RelatedCareerName4 = 'IT security co-ordinator' %}
{% set RelatedCareerLink4 = '#' %}
{% block content %}

{% set serviceName = 'Explore careers' %}
{% set bannerStyle = 'BETA-style' %}


<section id="HowToBecome">
    <h2 class="heading-large job-profile-heading">How to become</h2>
    <p>You can get into this job through:</p>
    <ul>
        <li>a university course</li>
        <li>an apprenticeship</li>
        <li>working towards this role</li>
        <li> applying directly and getting training on the job</li>
    </ul>    <section class="job-profile-subsection" id="University">
        <h3>University</h3>
        <div class="job-profile-subsection-content">

            For some jobs you'll need a degree, usually in any subject.&nbsp;



            <h4>Entry requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list-reqs">
                <li>2 to 3 A levels for a degree</li>
            </ul>

            <h4>More information</h4>
            <ul class="list-link">
                <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                <li><a class="htb-feature" href="https://www.gov.uk/student-finance">student finance for fees and living costs</a></li>
                <li><a class="htb-feature" href="https://www.ucas.com/">university courses and entry requirements</a></li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="Apprenticeship">
        <h3>Apprenticeship</h3>
        <div class="job-profile-subsection-content">

            <p>You could apply through Government Communications Headquarters (GCHQ) for a higher apprenticeship in cyber security or software engineering.</p>



            <h4>Entry requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list-reqs">
                <li>5 GCSEs at grades 9 to 4 (A* to C) and college qualifications like A levels for a higher or a degree apprenticeship</li>
                <li>3 A levels at grade C or above</li>
            </ul>

            <h4>More information</h4>
            <ul class="list-link">
                <li><a class="htb-feature" href="https://www.gchq-careers.co.uk/early-careers/apprenticeships.html">Government Communications Headquarters (GCHQ)</a></li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="work">
        <h3>Work</h3>
        <div class="job-profile-subsection-content">
            If you don't have a degree, in order to work your way up into this job you'll need work experience in research and analysis. You may also find it useful to have foreign language skills.
        </div>
    </section>


    <section class="job-profile-subsection" id="directapplication">
        <h3>Direct application</h3>
        <div class="job-profile-subsection-content">
            <p>You may be able to apply through the <a href="https://www.gov.uk/government/organisations/civil-service-fast-stream">Civil Service Fast Stream</a> if you have a degree.</p>
            <p>Applications can take up to 9 months. As part of the process, you'll need to be prepared to answer questions about your personal life, like relationships, family and finances.</p>
            <p>You can find out more from the 3 main intelligence and security agencies:</p>
            <ul>
                <li><a href="https://www.gchq-careers.co.uk/index.html">GCHQ</a></li>
                <li><a href="https://www.sis.gov.uk/">Secret Intelligence Service MI6</a></li>
                <li><a href="https://www.mi5.gov.uk/">Security Service MI5</a></li>
            </ul>
        </div>
    </section>

    <section class="job-profile-subsection" id="otherroutes">
        <h3>Other routes</h3>
        <div class="job-profile-subsection-content">
            <p>If you have a degree or relevant work experience, you could apply for <a href="https://www.mi5.gov.uk/careers/opportunities/intelligence-and-data-analyst-development-programme-idadp">MI5's Intelligence and Data Analyst Development Programme</a> (I&amp;DADP). </p>
        </div>
    </section>
    <section>
        {% include "./include.html" %}
    </section>
</section>
<section class="job-profile-subsection" id="Skills" data-gtm-vis-recent-on-screen-8675592_55="33977" data-gtm-vis-first-on-screen-8675592_55="33977" data-gtm-vis-total-visible-time-8675592_55="100" data-gtm-vis-has-fired-8675592_55="1">
    <h2 class="heading-large">What it takes</h2>
    <section class="job-profile-subsection">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul>
                <li>
                    analytical thinking skills
                </li>
                <li>
                    to be thorough and pay attention to detail
                </li>
                <li>
                    knowledge of English language
                </li>
                <li>
                    legal knowledge including court procedures and government regulations
                </li>
                <li>
                    the ability to use your initiative
                </li>
                <li>
                    thinking and reasoning skills
                </li>
                <li>
                    the ability to read English
                </li>
                <li>
                    excellent verbal communication skills
                </li>
                <li>intermediate digital skills for using web-based applications, spreadsheets and analytics tools</li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="restrictions">
        <h3>Restrictions and requirements</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need to:</p>
            <ul>
                <li>be over 18 years of age</li>
                <li>pass <a href="https://www.gov.uk/criminal-record-checks-apply-role">enhanced background checks</a></li>
                <li>be a British Citizen</li>
                <li>have lived in the UK for the last 3 years</li>
                <li>have a good level of fitness</li>
                <li>pass a medical check</li>
            </ul>

        </div>
    </section>
</section>
<section id="WhatYouWillDo" data-gtm-vis-recent-on-screen-8675592_56="34466" data-gtm-vis-first-on-screen-8675592_56="34466" data-gtm-vis-total-visible-time-8675592_56="100" data-gtm-vis-has-fired-8675592_56="1">
    <h2 class="heading-large">What you'll do</h2>
    <section class="job-profile-subsection">
        <h3>Day-to-day tasks</h3>
        <div class="job-profile-subsection-content">
            <p>In this role you could be:</p>
            <ul>
                <li>collecting national and international data</li>
                <li>analysing data using specialist software</li>
                <li>building a picture of crime in an area by studying trends in data</li>
                <li>presenting your intelligence to managers and other agencies</li>
                <li>monitoring the behaviour of individuals or groups</li>
                <li>updating intelligence records on databases</li>
                <li>reviewing the effectiveness of your analysis</li>
                <li>acting as an expert witness in court</li>
                <li>keeping up-to-date on security and confidentiality rules</li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="workingenvironment">
        <h3>Working environment</h3>
        <div class="job-profile-subsection-content">
            <p>You could work in an office or in a court.</p>
            <p>Your working environment may be you'll travel often and spend nights away from home and physically and emotionally demanding.</p>
        </div>
    </section>

</section>
<section id="CareerPathAndProgression" data-gtm-vis-recent-on-screen-8675592_57="34546" data-gtm-vis-first-on-screen-8675592_57="34547" data-gtm-vis-total-visible-time-8675592_57="100" data-gtm-vis-has-fired-8675592_57="1">
    <h2 class="heading-large">Career path and progression</h2>

    <p>With experience, you could work as a senior analyst, giving specialist advice and assessing trends to work with managers on future priorities.</p>
    <p>Employers usually offer clear career paths to more senior roles.</p>
    <p>You might also move to related areas of work within your organisation, for example applying to become a police officer.</p>

</section>
<section id="current-opportunities" data-gtm-vis-recent-on-screen-8675592_58="34996" data-gtm-vis-first-on-screen-8675592_58="34996" data-gtm-vis-total-visible-time-8675592_58="100" data-gtm-vis-has-fired-8675592_58="1">
    <div id="MainContent_C020_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Opportunities Container">
        <h2 class="heading-large">Training opportunities</h2>

        <div class="grid-row" id="appGeneric">
            <div class="column-full">
                <h3 class="heading-medium">
                    Apprenticeships
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h4 class="heading-small">
                        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1464632">Higher Apprenticeship - Cyber Security</a>
                    </h4>
                    <ul class="list">
                        <li><span class="bold-small">Wage:</span> Competitive salary</li>
                        <li><span class="bold-small">Location:</span> Bristol BS32 4RZ</li>
                    </ul>
                </div>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h4 class="heading-small">
                        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1472275">1st Line Support Analyst Apprentice</a>
                    </h4>
                    <ul class="list">
                        <li><span class="bold-small">Wage:</span> &pound;15,000.00</li>
                        <li><span class="bold-small">Location:</span> London W2 6JG</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dfc-code-jp-vacancyText">
            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
        </div>

        <div class="grid-row dfc-code-jp-trainingCourse">
            <div class="column-full">
                <h3 class="heading-medium">
                    Courses
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h3 class="heading-small">
                        <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=55171052">Level 3 IT Cyber Security and Security Administration</a>
                    </h3>
                    <ul class="list">
                        <li><span class="bold-small">Provider:</span> WALSALL COLLEGE</li>
                        <li><span class="bold-small">Start date:</span> 09 September 2019</li>
                        <li><span class="bold-small">Location:</span> WALSALL</li>
                    </ul>
                </div>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h3 class="heading-small">
                        <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=55173154">AQA L3 FOUNDATION TECHICAL LEVEL IT: CYBER SECURITY (L3 LE)</a>
                    </h3>
                    <ul class="list">
                        <li><span class="bold-small">Provider:</span> CHESTERFIELD COLLEGE</li>
                        <li><span class="bold-small">Start date:</span> 09 September 2019</li>
                        <li><span class="bold-small">Location:</span> CHESTERFIELD</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dfc-code-jp-TrainingCoursesText">
            <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find courses near you</a>
        </div>

    </div>
</section>






    {% endblock %}
















