{% extends "../jobprofile.html" %}

{% block page_title %}
{{profileName}} | Explore Careers
{% endblock %}

{% set preName = "an" %}
{% set profileName = "Immigration officer" %}
{% set profileDescription = "Immigration officers make decisions on whether people have the right to visit or stay in the UK." %}
{% set salaryLow = "21,500" %}
{% set salaryHigh = "36,000" %}
{% set hoursRange = "41 to 43" %}
{% set hoursDetail = "a week" %}
{% set patternValue = "evenings / weekends / bank holidays" %}
{% set patternDescription = "on shifts" %}


<!-- Related Careers -->
{% set RelatedCareerName1 = 'Assistant immigration officer' %}
{% set RelatedCareerLink1 = '#' %}

{% set RelatedCareerName2 = 'Civil Service executive officer' %}
{% set RelatedCareerLink2 = '#' %}

{% set RelatedCareerName3 = 'Diplomatic service officer' %}
{% set RelatedCareerLink3 = '#' %}

{% set RelatedCareerName4 = 'Customs officer' %}
{% set RelatedCareerLink4 = '#' %}

{% block content %}

{% set serviceName = 'Explore careers' %}
{% set bannerStyle = 'BETA-style' %}

<section id="HowToBecome">
    <h2 class="heading-large job-profile-heading">How to become</h2>
    <p>You can get into this job through:</p>
    <ul>
        <li>
            a college course
        </li>
        <li>working towards this role</li>
        <li>applying directly</li>
    </ul>    <section class="job-profile-subsection" id="College">
        <h3>College</h3>
        <div class="job-profile-subsection-content">

            <p>You could do a college course, if you're 16 to 19 years old.  Relevant courses include:</p>
            <ul>
                <li>Level 2 Diploma Public Services</li>
                <li>Level 3 Diploma Public Services</li>
            </ul>
            <p>Mature learners who are interested in studying a degree, could study an Access to HE course specialising in Social Science with Law. You should check the entry requirements with the college or university.</p>



            <h4>Entry requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list-reqs">
                <li>2 or more GCSEs at grades 9 to 3 (A* to D) for a level 2 course</li>
                <li>4 or 5 GCSEs at grades 9 to 4 (A* to C) for a level 3 course</li>
            </ul>

            <h4>More information</h4>
            <ul class="list-link">
                <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                <li><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help">funding advice</a></li>
                <li><a class="htb-feature" href="https://nationalcareersservice.direct.gov.uk/course-directory/home">search for courses</a></li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="work">
        <h3>Work</h3>
        <div class="job-profile-subsection-content">
            <p>It may be possible to work your way into this role by starting in a role with less responsibility like an immigration assistant or immigration adviser.</p>
            <p>You could apply for a place on a career training programme, and you have the necessary experience and qualifications.</p>
        </div>
    </section>


    <section class="job-profile-subsection" id="directapplication">
        <h3>Direct application</h3>
        <div class="job-profile-subsection-content">
            <p>You can apply directly for immigration officer jobs with the Civil Service. The qualifications you'll need will depend on the exact job you're applying for, but you'll usually find it useful to have:</p>
            <ul>
                <li>2 A levels at grade C or above and for some jobs, a degree</li>
                <li>customer service skills </li>
                <li>the ability to speak another language</li>
            </ul>
        </div>
    </section>

    <section class="job-profile-subsection" id="moreinfo">
        <h3>More information</h3>
        <div class="job-profile-subsection-content">

            <h4>Further information</h4>
            <p>You can find more details about working as an immigration officer from <a href="https://www.gov.uk/government/organisations/uk-visas-and-immigration/about/recruitment">UK Visas and Immigration</a>.</p>
        </div>
    </section>
    <section>
        {% include "./include.html" %}
    </section>
</section>
<section class="job-profile-subsection" id="Skills">
    <h2 class="heading-large">What it takes</h2>
    <section class="job-profile-subsection">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul>
                <li>
                    excellent verbal communication skills
                </li>
                <li>
                    to be thorough and pay attention to detail
                </li>
                <li>
                    customer service skills
                </li>
                <li>
                    legal knowledge including court procedures and government regulations
                </li>
                <li>
                    knowledge of public safety and security
                </li>
                <li>
                    patience and the ability to remain calm in stressful situations
                </li>
                <li>
                    the ability to think clearly using logic and reasoning
                </li>
                <li>
                    excellent written communication skills
                </li>
                <li>basic digital skills for communicating and recording information</li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="restrictions">
        <h3>Restrictions and requirements</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need to:</p>
            <ul>
                <li>be over 18 years of age</li>
                <li>be a British citizen or British subject with no restrictions on your stay in the UK</li>
                <li>have lived in the UK for the last 5 years</li>
                <li>pass a medical check</li>
                <li>pass <a href="https://www.gov.uk/criminal-record-checks-apply-role">enhanced background checks</a></li>
                <li>pass <a href="https://www.gov.uk/government/publications/national-security-vetting-advice-for-people-who-are-being-vetted">security checks</a></li>
            </ul>

        </div>
    </section>
</section>
<section id="WhatYouWillDo">
    <h2 class="heading-large">What you'll do</h2>
    <section class="job-profile-subsection">
        <h3>Day-to-day tasks</h3>
        <div class="job-profile-subsection-content">
            <p>In this role you could be</p>
            <ul>
                <li>interviewing people entering the country</li>
                <li>arranging for people to go back to their point of departure</li>
                <li>organising a place in a holding area (for people who are claiming asylum)</li>
            </ul>
            <p>You may also be involved with:</p>
            <ul>
                <li>surveillance work to gather information or monitor people</li>
                <li>visiting and interviewing people who are suspected of not having the right to remain in the UK</li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="workingenvironment">
        <h3>Working environment</h3>
        <div class="job-profile-subsection-content">
            <p>You could work at an airport building, at a border entry point or at a port.</p>
            <p>Your working environment may be emotionally demanding and you'll travel often.</p>
        </div>
    </section>

</section>
<section id="CareerPathAndProgression">
    <h2 class="heading-large">Career path and progression</h2>

    With experience, you could progress to chief immigration officer or higher executive officer.

</section>
<section id="current-opportunities">
    <div id="MainContent_C020_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Opportunities Container">
        <h2 class="heading-large">Training opportunities</h2>

        <div class="grid-row" id="appGeneric">
            <div class="column-full">
                <h3 class="heading-medium">
                    Apprenticeships
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
        </div>
        <div class="dfc-code-jp-novacancyText">
            <p>We can't find any apprenticeship vacancies in England for immigration officer right now.</p>
            <p>The <a href="https://www.gov.uk/apply-apprenticeship">Find an apprenticeship service</a> can help you with your search, send alerts when new apprenticeships become available and has advice on how to apply.</p>
        </div>

        <div class="grid-row dfc-code-jp-trainingCourse">
            <div class="column-full">
                <h3 class="heading-medium">
                    Courses
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h3 class="heading-small">
                        <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=55119181">Extended Diploma in Public Services (QCF) (Ambulance, Police, Fire, Prison, Customs, Armed Forces, Public Services)</a>
                    </h3>
                    <ul class="list">
                        <li><span class="bold-small">Provider:</span> Barking &amp; Dagenham College</li>
                        <li><span class="bold-small">Start date:</span> 04 September 2019</li>
                        <li><span class="bold-small">Location:</span> Romford</li>
                    </ul>
                </div>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h3 class="heading-small">
                        <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=55149279">Public Services - Diploma In Public Services (Qcf)</a>
                    </h3>
                    <ul class="list">
                        <li><span class="bold-small">Provider:</span> HERTFORD REGIONAL COLLEGE</li>
                        <li><span class="bold-small">Start date:</span> 02 September 2019</li>
                        <li><span class="bold-small">Location:</span> Turnford</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dfc-code-jp-TrainingCoursesText">
            <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find courses near you</a>
        </div>

    </div>
</section>

    {% endblock %}
















