{% extends "../jobprofile.html" %}

{% block page_title %}
{{profileName}} | Explore Careers
{% endblock %}

{% set preName = "a" %}
{% set profileName = "Train driver" %}
{% set profileSecondaryName = "Engine driver, underground driver, Eurostar driver" %}
{% set profileDescription = "Train drivers operate trains on rail networks, making sure that passengers and freight get to where they're going safely and on time." %}
{% set salaryLow = "20,000" %}
{% set salaryHigh = "60,000" %}
{% set hoursRange = "35 to 40" %}
{% set hoursDetail = "a week" %}
{% set patternValue = "evenings / weekends / bank holidays" %}
{% set patternDescription = "on shifts" %}

<!-- Related Careers -->
{% set RelatedCareerName1 = 'Bus or coach driver' %}
{% set RelatedCareerLink1 = '#' %}

{% set RelatedCareerName2 = 'Community transport driver' %}
{% set RelatedCareerLink2 = '#' %}

{% set RelatedCareerName3 = 'Rail engineering technician' %}
{% set RelatedCareerLink3 = '#' %}

{% set RelatedCareerName4 = 'Rail track maintenance worker' %}
{% set RelatedCareerLink4 = '#' %}

{% set RelatedCareerName5 = 'Train conductor' %}
{% set RelatedCareerLink5 = '#' %}




{% block content %}

{% set serviceName = 'Explore careers' %}
{% set bannerStyle = 'BETA-style' %}

<section id="HowToBecome">
    <h2 class="heading-large job-profile-heading">How to become</h2>
    <p>You can get into this job through:</p>
    <ul>
        <li>working towards this role</li>
        <li>applying directly</li>
    </ul>    <section class="job-profile-subsection" id="work">
        <h3>Work</h3>
        <div class="job-profile-subsection-content">
            <p>You could start out by doing another job that shows you have an interest in the industry, like passenger assistant. You can then apply for trainee driver posts.</p>
        </div>
    </section>


    <section class="job-profile-subsection" id="directapplication">
        <h3>Direct application</h3>
        <div class="job-profile-subsection-content">
            <p>Typically you would apply directly to a train operating company to become a train driver.</p>
            <p>Some employers may expect you to have GCSEs at grades 9 to 4 (A* to C) in English and maths or <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent qualifications</a>. </p>
        </div>
    </section>

    <section class="job-profile-subsection" id="moreinfo">
        <h3>More information</h3>
        <div class="job-profile-subsection-content">

            <h4>Career tips</h4>
            <p>You may find it useful to have some mechanical or electrical knowledge.</p>                                        <h4>Further information</h4>
            <p><a href="http://www.careersthatmove.co.uk">Careers that move</a> has more information on how to become a train driver.</p>
        </div>
    </section>
    <section>
        {% include "./include.html" %}
    </section>
</section>
<section class="job-profile-subsection" id="Skills">
    <h2 class="heading-large">What it takes</h2>
    <section class="job-profile-subsection">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul>
                <li>
                    concentration skills
                </li>
                <li>
                    to be thorough and pay attention to detail
                </li>
                <li>
                    patience and the ability to remain calm in stressful situations
                </li>
                <li>
                    the ability to operate and control equipment
                </li>
                <li>
                    knowledge of public safety and security
                </li>
                <li>
                    observation and recording skills
                </li>
                <li>
                    the ability to work well with others
                </li>
                <li>
                    knowledge of transport methods, costs and benefits
                </li>
                <li>basic digital skills for communicating and recording information</li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="restrictions">
        <h3>Restrictions and requirements</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need to:</p>
            <ul>
                <li>to be over 20 years of age</li>
                <li>to live within 1 hour (travel time) of the area you're applying for</li>
                <li>pass <a href="https://www.gov.uk/criminal-record-checks-apply-role">enhanced background checks</a></li>
                <li>pass a medical check</li>
            </ul>

        </div>
    </section>
</section>
<section id="WhatYouWillDo">
    <h2 class="heading-large">What you'll do</h2>
    <section class="job-profile-subsection">
        <h3>Day-to-day tasks</h3>
        <div class="job-profile-subsection-content">
            <p>In this role you could be:</p>
            <ul>
                <li>checking equipment and engines</li>
                <li>contacting control centres for information about routes and any problems</li>
                <li>following signalling instructions during the journey</li>
                <li>making passenger announcements</li>
                <li>controlling automatic doors</li>
                <li>positioning and handing over engines to drivers on the next shift</li>
                <li>recording incidents like equipment problems, dangers and delays</li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="workingenvironment">
        <h3>Working environment</h3>
        <div class="job-profile-subsection-content">
            <p>You could work from a vehicle.</p>
            <p>Your working environment may be noisy and you may spend nights away from home.</p>
            <p>You may need to wear a uniform.</p>
        </div>
    </section>

</section>
<section id="CareerPathAndProgression">
    <h2 class="heading-large">Career path and progression</h2>

    <p>Your train driver training will usually take around 12 months. Once you've completed this, you could also work for a rail engineering company, driving on-track machines used in maintenance work.</p>
    <p>With experience you could take further training to become a train driver trainer, teaching other trainee drivers.</p>
    <p>You could also move into management, making sure there are enough train drivers and trains so that the service can run on time. From there you could move into operations or senior management.</p>

</section>
<section id="current-opportunities">
    <div id="MainContent_C020_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Opportunities Container">
        <h2 class="heading-large">Training opportunities</h2>

        <div class="grid-row" id="appGeneric">
            <div class="column-full">
                <h3 class="heading-medium">
                    Apprenticeships
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
        </div>
        <div class="dfc-code-jp-novacancyText">
            <p>We can't find any apprenticeship vacancies in England for train driver right now.</p>
            <p>The <a href="https://www.gov.uk/apply-apprenticeship">Find an apprenticeship service</a> can help you with your search, send alerts when new apprenticeships become available and has advice on how to apply.</p>
        </div>

        <div class="grid-row dfc-code-jp-trainingCourse">
            <div class="column-full">
                <h3 class="heading-medium">
                    Courses
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
        </div>
        <div class="dfc-code-jp-NoTrainingCoursesText">
            <p>Are you interested in becoming a train driver?</p>
            <p>Search for <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home"></a><a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">training courses near you</a>.</p>
            <div></div>
        </div>

    </div>
</section>
    {% endblock %}
















