$bg-grey: #f4f6f7;
$blue: #285cb5;
$lblue: #eef8fc;
$white: #fff;
$text: #797c7d;
$textdark: #282828;
$textlight: #989b9d;
$line: #e4e4e4;
$linedark: #cccccc;

html {
    height: 100%;
    background-color: $bg-grey;
}
.contentasdata {
    background-color: $bg-grey;
    font-family: 'Open Sans', sans-serif;
    height: 100%;

    main {
        width: 620px;
        margin: 50px auto;
    }

    .contentasdata_header {
        background-color: $blue;
        color: $white;
        padding: 14px 20px;
        font-size: 16px;
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }

        &:after {
            content: "v";
            float: right;
            display: block;
            font-size: 19px;
            font-weight: 400;
            transform: scale(1.4,1.0);
            right: 5px;
            bottom: 2px;
            position: relative;
        }
    }

    .contentasdata_header_final {
        &:after {
            display: none;
        }
    }

    .contentasdata_box {
        background-color: $white;
        color: $text;
        padding: 20px;
        font-size: 12px;
        border: 1px solid darken($bg-grey, 8%);
        margin-top: 5px;
        border-bottom: none;

        h2 {
            border-bottom: 1px solid $line;
            font-size: 16px;
            color: $textdark;
            text-align: right;
            margin-top: 20px;
            padding: 0 0 8px 0;
        }


        form {
            padding: 20px;
            overflow: auto;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0 !important;
            }
        }

        label {
            width: 45%;
            display: block;
            float: left;
            font-weight: 700;
            line-height: 32px;
            font-size: 12px;
            margin-right: 5%;

            &.hashelptext {
                line-height: 17px;
            }

            span {
                font-size: 11px;
                color: $textlight;
                width: 100%;
                display: inline-block;
                font-weight: normal;
                font-style: italic;
            }
        }

        .inputwrapper {
            margin: 20px 0;
            clear: both;
            float: left;
            width: 100%;

            &.disabled {
                opacity: 0.4;
            }
        }

        input[type="text"], select, textarea {
            border: 1px solid $linedark;
            padding: 8px;
            width: 100%;
            font-size: 12px;
            color: $text;
            box-sizing: border-box;
            resize: none;

            &:focus {
                outline: none !important;
            }
        }

        input[type="radio"], input[type="checkbox"] {
            display: none;

            & + label {
                color: $textdark;
                line-height: 36px;
                cursor: pointer;

                &:before {
                    content: "";
                    border: 1px solid $linedark;
                    font-size: 18px;
                    font-weight: bold;
                    color: $white;
                    width: 36px;
                    height: 36px;
                    display: block;
                    float: left;
                    margin-right: 20px;
                    transition: 0.3s ease-in-out;
                }
            }

            &:checked {
                & + label {
                    &:before {
                        content: "\2713";
                        text-align: center;
                        background-color: $blue;
                        border: 1px solid $blue;
                    }
                }
            }
        }

        input[type="checkbox"] {
            & + label {
                line-height: 20px;
                font-weight: normal;

                &:before {
                    font-size: 14px;
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                    margin-bottom: 20px;
                }
            }
        }

        .input-wrapper {
            position: relative;
            width: 50%;
            float: left;
        }

        .input-wrapper-check {
            margin-bottom: -15px;
            margin-top: 10px;

            h4 {
                width: 100%;
                display: inline-block;
                margin: 20px 0 10px 0;
            }

            label:nth-child(4n) {
                margin-right: 0;
                width: 50%;
            }
        }

        .selectwrapper {
            position: relative;
            width: 50%;
            float: left;

            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                &::-ms-expand {
                    display: none;
                }

                option {
                    padding: 5px;
                }
            }

            &:after {
                content: "v";
                float: right;
                color: $blue;
                font-size: 13px;
                font-weight: 600;
                transform: scale(1.7,1.0);
                position: absolute;
                right: 14px;
                top: 6px;
                pointer-events: none;
            }
        }

        .sectionwrapper {
            clear: both;
            float: left;
            width: 100%;
            position: relative;
            margin-top: 40px;

            h3 {
                background-color: $white;
                display: inline-block;
                border-bottom: 1px solid $line;
                width: 100%;
                padding-bottom: 5px;
                z-index: 120;
                font-size: 12px;
                margin-bottom: 20px;
            }

            .inputwrapper {
                width: 95%;
                float: right;
            }

            .outcomewrapper {
                width: 95%;
                float: right;
            }
        }

        .outcomewrapper {
            width: 100%;


            h4 {
                margin-bottom: 10px;
            }

            .bluebox {
                background-color: $lblue;
                color: $blue;
                border: 1px solid darken($lblue, 10%);
                padding: 20px;

                p {
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    font-style: italic;
                }
            }
        }

        .another {
            background-color: $blue;
            color: $white;
            float: right;
            padding: 10px;
            font-weight: bold;
            font-size: 13px;
            margin-top: 20px;

            &:after {
                content: "+";
                margin-left: 10px;
                font-size: 20px;
                line-height: 14px;
                top: 2px;
                position: relative;
            }

            &:hover {
                background-color: darken($blue, 10%);
                cursor: pointer;
            }
        }

        .inputwrapper-additional {
            margin: 20px 0 -20px;

            label {
                width: 100% !important;
                margin-bottom: 10px;
            }

            .input-wrapper {
                width: 100%;
            }
        }
    }

    .contentasdata_box_final {
        background-color: $lblue;
        color: $blue;
        padding: 30px;
        font-size: 16px;
        border: 1px solid darken($lblue, 10%);
        margin-top: 0px;
        border-top: none;

        h3 {
            font-weight: bold;
        }

        p {
            margin: 20px 0 0 0;
        }
    }
}