{% extends "./layout_E2E.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% include "./includes/E2E_VOC_exit-routes_v2.html" %}

<!-- {% include "./includes/phase_banner_beta_full-width.html" %} -->

<header class="PROD_hero">
     <div class="PROD_full-page-width-wrapper">
          <div class="grid-row">
               <div class="column-two-thirds">
                    <h1 class="heading-xlarge">Find a career</h1>
                    <p class="lede">Explore what kind of work is right for you, and take the next steps towards what you want to be</p>
                    <form id="searchForm">
                         <!-- <label>Enter a job title</label> -->
                         <div class="PROD_search">
                              <div id="search-box" class="PROD_search__input-container">
                                   <input id="searchInput" class="PROD_search__input" autocomplete="off" placeholder="Enter a job title" type="text">
                              </div>
                              <input class="PROD_search__submit" onclick="saveSearchTermsAndContinue()" type="button" value="Search">
                         </div>
                    </form>
               </div>
          </div>
     </div>
</header> 
<main id="content" role="main">
     <div class="grid-row">
          <div class="column-full">
               <h2 class="heading-medium">Explore by job category</h2>
          </div>
          <div class="column-one-third">
               <ul class="list category-list">
                     <li><a href="./job-categories/E2E_job-category_administration">Administration</a></li>
                     <li><a href="./job-categories/E2E_job-category_animal-care">Animal care</a></li>
                     <li><a href="./job-categories/E2E_job-category_beauty-wellbeing">Beauty and wellbeing</a></li>
                     <li><a href="./job-categories/E2E_job-category_business-finance">Business and finance</a></li>
                     <li><a href="./job-categories/E2E_job-category_delivery-storage">Delivery and storage</a></li>
                     <li><a href="./job-categories/E2E_job-category_computing-technology-digital">Computing, technology and digital</a></li>
                     <li><a href="./job-categories/E2E_job-category_construction-trades">Construction and trades</a></li>
                     <li><a href="./job-categories/E2E_job-category_creative-media">Creative and media</a></li>
               </ul>
          </div>
          <div class="column-one-third">
               <ul class="list category-list">
                     <li><a href="./job-categories/E2E_job-category_emergency-uniform-services">Emergency and uniform services</a></li>
                     <li><a href="./job-categories/E2E_job-category_engineering-maintenance">Engineering and maintenance</a></li>
                     <li><a href="./job-categories/E2E_job-category_environment-land">Environment and land</a></li>
                     <li><a href="./job-categories/E2E_job-category_government-services">Government services</a></li>
                     <li><a href="./job-categories/E2E_job-category_healthcare">Healthcare</a></li>
                     <li><a href="./job-categories/E2E_job-category_hospitality-food">Hospitality and food</a></li>
                     <li><a href="./job-categories/E2E_job-category_legal">Legal</a></li>
                     <li><a href="./job-categories/E2E_job-category_managerial">Managerial</a></li>
               </ul>
          </div>
          <div class="column-one-third">
               <ul class="list category-list">
                     <li><a href="./job-categories/E2E_job-category_manufacturing">Manufacturing</a></li>
                     <li><a href="./job-categories/E2E_job-category_science-research">Retail and sales</a></li>
                     <li><a href="./job-categories/E2E_job-category_science-research">Science and research</a></li>
                     <li><a href="./job-categories/E2E_job-category_social-care">Social care</a></li>
                     <li><a href="./job-categories/E2E_job-category_sports-leisure">Sports and leisure</a></li>
                     <li><a href="./job-categories/E2E_job-category_teaching-education">Teaching and education</a></li>
                     <li><a href="./job-categories/E2E_job-category_transport">Transport</a></li>
                     <li><a href="./job-categories/E2E_job-category_travel-tourism">Travel and tourism</a></li>
               </ul>
          </div>
     </div>
</main>

<script>
// This function gets the value entered in the search box and saves it to the session data
// Then loads the next page
function saveSearchTermsAndContinue() {
     var searchPrompt = "Enter a job title or keywords";
     window.setSessionData('searchPrompt', searchPrompt);
     var searchTerm = document.getElementById('searchInput').value;
     window.setSessionData('searchTerm', searchTerm, function(){
          setTimeout(changePage, 500);
          function changePage() {
               window.location.href="E2E_search-results_doctor";
          }
     });
}

// This function make sure the form is submitted when search field is in focus and the user presses enter
// This function is overriding one set in the accessible-typeahead.min.js that doesn't allow this behaviour if there are auto-complete options
function searchOnReturn() {
     var searchContainer = document.getElementById("searchInput");
     var e = window.event;
     searchContainer.addEventListener('keydown', function(e) {
          if (e.which === 13 || e.keycode === 13) {
               e.preventDefault();
               saveSearchTermsAndContinue();
          }
     });
} 

function init () {
     searchOnReturn();
}
window.onload = init;

</script>


{% endblock %}
