{% set searchTerm = data.searchTerm %}
{% set searchPrompt = data.searchPrompt %}
{% set VocExitHide = data.VocExitHide %}
{% set VocConsumeHide = data.VocConsumeHide %}

{% extends "govuk_template_no-global-header-bar.html" %}

{% block head %}
  <script>
	  // Making data object accessible in client
	  var session = {{ data | dump | safe }};
  </script>
  {% include "./includes/head.html" %}
{% endblock %}

{% block body_start %}
<!-- {% include "./includes/banner_prototype.html" %} -->
{% endblock %}

{% block cookie_message %}
  <p>Find a career uses cookies to make the site simpler. <a href="/_sprint11/E2E_cookies.html">Find out more about cookies</a></p>
{% endblock %}

{% block proposition_header %}
  {% include "./includes/E2E_header-title_phase-tag.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_support_links %}
    <ul>
      <li><a href="/_sprint10/E2E_cookies.html">Cookies</a></li>
      <li><a href="#1" onclick="resetPrototypeVariables()">Reset prototype</a></li>
    </ul>

    <script>
      function resetPrototypeVariables(){
        window.setSessionData("searchTerm",null);
        window.setSessionData("searchPrompt",null);
        window.setSessionData("VocExitHide",null);
        window.setSessionData("VocConsumeHide",null);
        location.reload();
      }
    </script>
{% endblock %}

{% block body_end %}
  {% include "./includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
