@import 'node_modules/govuk_frontend_toolkit/stylesheets/colours.scss';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/conditionals.scss';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/grid_layout.scss';

/* ----------------------------------------------------
Global
----------------------------------------------------- */
// Replicates the <main> element styles
.main {
	@extend %site-width-container;
}

.service-header--green {
	background: $turquoise;
	.main {
		overflow: hidden;
		padding:10px 0;
		position: relative;
		#search {
			width:100%;
		}
		.site-search{
			display: none !important;
			@include media(tablet) {
				display: block !important;
			}
		}
		.search-button {
			margin-top:10px;
			position: absolute;
			float: right;
			z-index: 4;
			right: 0;
			top: 0;
			width: 36px;
			height: 36px;
			border: 1px solid $link-colour;
			border-width: 0 0 0 1px;
			// border-left-color: $black;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			overflow: hidden;
			text-indent: -5000px;
			color: $white;
			background: url(/public/images/search-button.png) $link-colour no-repeat 105% 50%;
			background-size: 3.25em;
			@include media(tablet) {
				display: none;
			}
		}
		.service-name {
			color:$page-colour;
			font-weight: 700;
			text-decoration: none;
			font-size: 18px;
			@include media(tablet) {
				font-size:24px;
			}
		}
	}
}

#content {
	#global-header-bar {
		margin: 0px;
	}
}

#global-header {
	.header-container {
		float:left;
		clear:both;
		margin-left:15px;
		margin-top:4px;

	    @media screen and (min-width: 500px) {
	        margin-top:14px;
	        clear: none;
	    }

		@include media(tablet) {
			margin-top:8px;
		}

		.header-title {
			margin:0px;
		}
		.phase-tag {
		    font-family: "nta", Arial, sans-serif;
		    font-weight: 700;
		    text-transform: none;
		    font-size: 12px;
		    line-height: 1.25;
		    padding: 2px 5px 0;
		    text-transform: uppercase;
		    letter-spacing: 1px;
		    vertical-align: middle;
		    background: #005EA5;
		    margin:1px 0 0 6px;
		    float:left;

		    // @media screen and (min-width: 500px) {
		    //     margin-top:0px;
		    // }

			@include media(tablet){
				margin:4px 0 0 8px;
			    font-size:14px;
			    line-height: 1.42857;
			}
		}	
	}
}

.BAU-header {
	.content {
	    margin: 0 15px;
	}
	.BAU-header__service-name {
	    font-family: "nta", Arial, sans-serif;
	    font-size: 24px;
	    line-height: 1.25;
	    font-weight: 400;
	    text-transform: none;
	    font-weight: bold;
	    color: $page-colour;
  		text-decoration: none;
  		overflow: none;
  		&:hover {
  			text-decoration: underline;
  		}
	}
	.BAU-header__nav{
		clear: both;
	    margin: 2px 0 0 0;
	    padding: 0;
	    float:left;
	    li {
			display: block;
			width: auto;
			padding: 0 15px 0 0;
			border-bottom: 0;
			display: block;
			float: left;
			a {
				font-family: "nta", Arial, sans-serif;
				font-size: 16px;
				line-height: 1.25;
				font-weight: 700;
				text-transform: none;
				line-height: 23px;
				color: $page-colour;
				text-decoration: none;
		  		&:hover {
		  			text-decoration: underline;
		  		}
				&.active {
					color: #1d8feb;
				}
			}
	    }
	}
}


/* ----------------------------------------------------
Job categories on homepage
----------------------------------------------------- */

.category-list {
	margin-bottom: 5px;
	@include media(tablet){
		margin-bottom: 20px;
	}
	li {
		margin-bottom: 0.526em;
	}
	a {
		font-weight: bold;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&.selected {
			font-weight: bold;
			color: $grey-1 !important;
			cursor: default;

			&:hover {
				text-decoration: none;
			}
		}		
	}	
}

.category-list--style-two {
	li,.heading-small {
		margin-bottom: 0.526em;
		ul {
			font-size: 16px;
			margin-bottom: 0.526em;
		}
	}
	a {
		font-weight: normal;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&.selected {
			font-weight: bold;
			color: $grey-1 !important;
			cursor: default;

			&:hover {
				text-decoration: none;
			}
		}		
	}	
}


.browse-aside {
	display: none;
	border-right:1px solid $grey-2;

	@media (min-width: 641px) {
		display: block;
	    margin-bottom:45px;
	}

	@media (min-width: 641px) {
	    margin-top:45px;
	}

	.browse-aside__header {
		padding-left:15px;
		font-weight: 700;
		font-size: 19px;
		margin-bottom: 10px;
	}
	.browse-aside__list {

	}
	.browse-aside__list-item {
		position: relative;
		a {
			font-size: 16px;
			display: block;
			padding:10px 30px 8px 15px;
			text-decoration: none;
			&::after {
			    position: absolute;
			    top: 50%;
			    margin-top: -10px;
			    right: 10px;
			    float: right;
			    content: "\203A";
			}
			&:hover, &:focus {
				background: $grey-3;
			}
		}

		&--selected {
			a {
				color: $page-colour;
				background: $link-colour;
				&:hover, &:focus {
					color: $page-colour;
					background: $link-colour;
				}
			}
		}
	}
}

/* ----------------------------------------------------
Job categories - individual items
----------------------------------------------------- */

.category-job {
	margin-bottom: 1.5789em;
	.heading-medium {
		margin-bottom: 0px;
	}
	&__title {
		margin-top:0px;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__alt-titles {
		color:$secondary-text-colour;
		font-size: 14px;
		@include media(tablet) {
			font-size: 16px;
		}
	}
	&__overview {
		margin-bottom: 0px;
	}
}

/* ----------------------------------------------------
Back to top button
----------------------------------------------------- */

#back-to-top {
	position: fixed;
	bottom:0px;
	right:0px;
	padding:0.6em;
	margin-right:15px;
	background: $link-colour;
	.js-enabled & {
		@include media(tablet) {
			display: none;
		}		
	}
	a {
		color: $page-colour;
	} 	
}

/* ----------------------------------------------------
Searh results
----------------------------------------------------- */

.search-result, .category-job {
	.heading-medium {
		margin-bottom: 0.1em !important;
		padding-bottom:0px; 
		a {
			text-decoration: none;
		}

	}
	p {
		margin-bottom: 0.3em !important;
		&.meta {
			margin-bottom: 0.4em !important;
		}		
	}
}


/* ----------------------------------------------------
Consume - Voice of customer survey
----------------------------------------------------- */

.VOC-consume_container {
	font-family: "nta", Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 16px;
	line-height: 1.25;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	border-bottom: 10px solid $turquoise;

	@include media(tablet) {
		font-size: 19px;
		line-height: 1.31579; 
	}

	.VOC-consume_banner {
		color: $page-colour;
		background: $turquoise;
		padding: 15px;
		margin-bottom: -10px;
		overflow: hidden;
		.heading-small {
			margin:0px 0px 0px 0px;
			&.on-survey {
				width: 75%;
				@include media(tablet){
					width: 100%;
				}
			}
		}
		a {
			color: $page-colour;
			// font-weight: 700;
		}
		#recruit-message, #survey-header, #survey-done {
			position: relative;
		}
		.VOC-consume_banner--close-btn {
			position: absolute;
			top:0;
			right:0;
			color: $page-colour;
			font-size: 16px;
		}
	}
	.VOC-consume_survey {
		border-left: 5px solid $turquoise;
		border-right: 5px solid $turquoise;
		padding: 25px 15px 30px 15px;

		.VOC-consume_survey__page {
			.link-back {
				margin-top: 0;
				margin-bottom: 1.48em;
			}
			legend {
				overflow: hidden;
			}
			.heading-medium, .heading-large {
				margin-top: 0px;
			}
		}
		&.VOC-consume_survey--iframe {
			padding: 10px 0px 0px 0px;
			overflow: hidden;
		}
	}
	.form-group .panel-border-narrow:last-child {
		margin-top:0px;
	}
}

.BAU-style {
	border-color:$govuk-blue;

	.VOC-consume_banner {
		background:$govuk-blue;
	}

	.VOC-consume_survey {
		border-color:$govuk-blue;
	}
}

/* ----------------------------------------------------
Exit routes - Voice of customer survey
----------------------------------------------------- */

.VOC-exit-routes_container {
	width:100%;
	background: $govuk-blue;
	color: $page-colour;
	font-family: "nta", Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 16px;
	line-height: 1.25;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	padding: 1.2em 0 1.2em 0;
	border-bottom: 1px solid $page-colour;

	@include media(tablet) {
		font-size: 19px;
		line-height: 1.31579; 
	}	

	a {
		color: $page-colour;
	}

	.VOC-exit-routes_banner {
		position: relative;
		.VOC-exit-routes_banner__close-btn {
			font-size: 14px;
			position: absolute;
			right:0px;
			top:0px;
			@include media(tablet){
				font-size: 16px;
			}
		}
		.heading-small {
			width: 75%;
			margin-top: 0;
			margin-bottom: 0.3em;
			@include media(tablet) {
				width: 100%;
			}
		}
		#recruit-message, #survey-done {
			margin-bottom: -3px;
		}
	}

	.VOC-exit-routes_survey {
		.form-label {
			color: $page-colour;
			font-size: 16px;
			@include media(tablet){
				font-size:19px;
			}
		}
		.form-control {
			border-color: $page-colour;
			font-size: 16px;
			margin-bottom: 1em;
			width: 100%;
			@include media(tablet){
				font-size:19px;
			}
		}
		.button {
		    margin-bottom: 4px;
		}
		.VOC-exit-routes_survey__button {
			background-color: $page-colour;
			color: $govuk-blue;
			font-weight: 700;
		    -webkit-box-shadow: 0 2px 0 #d9d9d9;
		    -moz-box-shadow: 0 2px 0 #d9d9d9;
		    box-shadow: 0 2px 0 #d9d9d9; 
		}
		.link-button {
			color: $page-colour;
			font-weight: 500;
			margin-top:1em;
			display: block;
			font-size: 14px;
			@include media(tablet){
				margin-top:0.65em;
				display: inline-block;
				vertical-align: center;
				font-size:16px;
			}
		}
	}
}

.VOC-exit-routes_container.BAU-style {
	background:$yellow;
	color:$text-colour;
	border-bottom: none;
	.VOC-exit-routes_banner a, .VOC-exit-routes_banner__close-btn, .form-label, .link-button{
		color:$text-colour;
	}
}
.phase-banner-BAU {
	overflow: hidden;
	padding:14px 0 10px 0;
	p {
		@include media(tablet){
			float:left;
		}
	}
	ul.account-navigation {
		line-height: 1.25;
		margin-top: 0.3em;
		@include media(tablet){
			float:right;
			margin-top: 0;
		}

		li {
			vertical-align: top;
			display:inline-block;
			font-size:14px;
			margin:0 8px 0 0;
			@include media(tablet) {
				font-size: 16px;
				margin:0 0 0 8px;
			}
		}
	}
}

.VOC-exit-routes_container.BETA-style {
	background:#21827b;
	color:$page-colour;
	border-bottom: 1px solid #0f655f;
	.VOC-exit-routes_banner a, .VOC-exit-routes_banner__close-btn, .form-label, .link-button{
		color:$page-colour;
	}
	.VOC-exit-routes_survey__button {
		color: #21827b;
	}
}

/* ----------------------------------------------------
Top profiles - Heroed
----------------------------------------------------- */

.heroed-job-profile {
	border-left:5px solid $turquoise;
	padding-left:0.8em;
	.heading-medium {
		margin-top: 1em;
		margin-bottom: 1em !important;
		padding-bottom:0px; 
		a {
			// text-decoration: none;
		}

	}
	p {
		margin-bottom: 0.3em !important;
		&.meta {
			margin-bottom: 0.4em !important;
		}		
	}
}

