// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'node_modules/govuk_frontend_toolkit/stylesheets/colours.scss';
$careers-turquoise: #21827b;

/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/

//  FOR ALL

// ========================================== TEXT - START ========================================== //
h1, h2, h3, h4, p {
     &.heading-xlarge, &.heading-large, &.heading-medium {
          span {
               // color: $careers-turquoise;
          }
     }
     &.turquoise-text {
          color: $careers-turquoise;
     }
     &.intro-yes {
          display: none;
          span {
               display: inline-block;
               float: left;
               background: $careers-turquoise;
               font-weight: bold;
               color: $white;
               border-radius: 50%;
               width: 2em;
               height: 1.55em;
               margin: -0.35em 0.5em 0 0;
               text-align: center;
               padding: 0.45em 0 0 0;
          }
     }
}
// ========================================== TEXT - END ========================================== //

// ========================================== GENERAL STYLES - START ========================================== //
.notice {
     &.info {
          margin-bottom: 1.2em;
          padding: 0 0 0 1em;
          border-left: 10px solid $border-colour;
          .icon {
               left: 0.75em;
               top: 50%;
          }
     }
     .icon.icon-important {
          background-image: url(/public/images/icon-info.png);
          background-size: 100%;
     }
}

.border {
     background: $white;
     display: inline-block;
     height: 1px;
     width: 6em;
     float: left;
     clear: both;
     margin: 0 0 1.25em 0;
}

.big-border-box {
     border: 10px solid $border-colour;
     position: relative;

     &.govuk-box-highlight-border {
          p.bold-xxlarge {
               margin: 0;
          }
          .heading-medium {
               margin-top: 1em;
          }
     }
}

.answer {
     .big-border-box.govuk-box-highlight-border {
          padding: 1em;
     }
}

.panel-border-wide {
     &.hybrid {
          border-left: 10px solid $careers-turquoise;
          margin: 1em 0 2em 0;
          padding-top: 0;
          padding-bottom: 0;
          // line-height: 0;
          a {
               text-decoration: none;
               display: inline-block;
               &:focus {
                    border: 3px solid $focus-colour;
               }
               h3 {
                    text-decoration: underline;
                    margin-top: 10px;
               }
               p {
                    text-decoration: none;
                    color: $black;
                    &.bold-xxlarge {
                         margin-bottom: 15px;
                    }
               }
          }
          .column-one-third {
               line-height: 0;
          }
          img {
               line-height: 0;
               // border-radius: 50%;
               width: 100%;
          }
     }
}

.breadcrumbs {
     padding-top: 1.5em;
     ol {
          li {
               margin-bottom: 0;
          }
     }
}

// ========================================== GENERAL STYLES - START ========================================== //

// ========================================== GOOGLE - START ========================================== //
img.google {
     width: 100%;
}
// ========================================== GOOGLE - END ========================================== //

// ========================================== JUMP LINKS - START ========================================== //
.jump-links {
     &.hybrid-links {
          margin: 0 0 2em 0;
          border-bottom: none;
          padding: 0;
          a {
               span {
                    background: $link-colour;
                    color: $white;
                    font-weight: bold;
                    border-radius: 50%;
                    width: 1.5em;
                    height: 1.35em;
                    padding: 0.15em 0 0 0;
                    float: left;
                    text-decoration: none;
                    margin: -0.25em 0.5em 1em 0;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;

                    justify-content: space-around;
                    align-items: center;
               }
          }
          ol {
               color: $careers-turquoise;
               font-weight: bold;
               li {
                    a {
                         font-weight: normal;
                    }
               }
          }
     }
}
// ========================================== SALARY BUBBLES - START ========================================== //
ul.salaries {
     margin: 1em 0 2em 0;
     width: 100%;
     display: inline-block;
     li {
          list-style: none;
          text-align: center;
          float: left;
          p {
               color: rgba($black,0.4);
               margin: 1em 0 0 0;
          }
          strong {
               display: inline-block;
               width: 100%;
               font-weight: bold;
          }
          .value {
               display: inline-block;
               margin: 1em 0 0 0;
               span {
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;

                    -webkit-flex-flow: row wrap;
                    justify-content: space-around;
                    align-items: center;
                    background: $careers-turquoise;
                    color: $white;
                    border-radius: 50%;
                    line-height: 1.2;
                    font-weight: bold;
               }
          }
     }
}
// ========================================== SALARY BUBBLES - END ========================================== //

// ========================================== AUTOCOMPLETE - START ========================================== //
.autocomplete-suggestions {
     width: 100%;
     background: $white;
     border-radius: 5px;
     margin-top: 5px;
     border: 3px solid $careers-turquoise;
     overflow: auto;
     max-height: 300px !important;
     .autocomplete-suggestion {
          padding: 1em;
          &:hover, &:focus, &.autocomplete-selected {
               background: lighten($grey-3,7.5%);
               cursor: pointer;
          }
          strong {
               color: $careers-turquoise;
               font-weight: bold;
          }
     }
}
// ========================================== AUTOCOMPLETE - END ========================================== //

// ONLY FOR DESKTOP (1020px)
@media (min-width: 1020px) {


}

// LARGE UP (769px and above)
@media (min-width: 769px) {


     section, aside {
          font-size: 19px;
     }

}

// MEDIUM ONLY (641px)
@media (min-width: 641px) {

}

// MEDIUM UP (641px and above)
@media (min-width: 641px) {

}

// SMARTPHONE ONLY (Up to 640px)
@media (max-width: 640px) {
    
    .panel-border-wide {
          &.hybrid {
               margin: 1em 0 4em 0;
               img {
                    margin-bottom: 1.5em;
               }
          }
     }

     .salary, .hours {
          margin: 1em 0 0 0;
          display: inline-block;
          .icon {
               display: inline-block;
               width: 6em;
               height: 6em;
               float: left;
               margin: 0 1em 0 0;
          }
     }

     .extra-content {
          .column-one-third {
               hr {
                    margin: 1.5em 0;
               }
          }
     }

     section, aside {
          font-size: 16px;
     }

     form {
          &.explore {
               label {
                    &.block-label {
                         width: 90%;
                         span.heading-medium {
                              &:before {
                                   top: -6px;
                              }
                         }
                    }
               }
          }
     }

     #proposition-menu {
          text-align: left;
     }

}

// SMARTPHONE ONLY (Up to 480px)
    @media screen and (max-width: 480px) {



}
