{% extends "../layout_full-width.html" %}

{% block page_title %}
	Service Green
{% endblock %}

{% block content %}

{% include "../includes/phase_banner_beta_full-width.html" %}

<header class="PROD_hero">
     <div class="PROD_full-page-width-wrapper">
          <div class="grid-row">
               <div class="column-two-thirds">
                    <h1 class="heading-xlarge">Service Green</h1>
                    <p class="lede">Explore what kind of work is right for you, and take the next steps towards what you want to be</p>
                    <form id="searchForm">
                         <!-- <label>Enter a job title</label> -->
                         <div class="PROD_search">
                              <div id="search-box" class="PROD_search__input-container">
                                   <input id="searchInput" class="PROD_search__input" autocomplete="off" placeholder="Enter a job title or keywords" type="text">
                              </div>
                              <input class="PROD_search__submit" onclick="saveSearchTermsAndContinue()" type="button" value="Search">
                         </div>
                    </form>
               </div>
          </div>
     </div>
</header> 
<main id="content" role="main">
     <div class="grid-row">
          <div class="column-full">
               <h2 class="heading-medium">Explore by job category</h2>
          </div>

          <!-- row 1 -->
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="../job-categories/_archived/public-service_v1" class="prototype-link">Public service</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Emergency Services</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Uniformed Services</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>

          <!-- row 2 -->
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Travel</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Sales</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Transport</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>

          <!-- row 3 -->
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Trades</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Professions</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Creative and Media</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>

          <!-- row 4 -->
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Technology</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Caring</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Teaching</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>  
          
          <!-- row 5 -->
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Therapy</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Working with children</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Animal Care</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div> 

          <!-- row 6 -->
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Hair and Beauty</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Health</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Sports</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>

          <!-- row 7 -->
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Business</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Hospitality</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Law and Order</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>  

          <!-- row 8 -->
          <div class="column-one-third">
               <h2 class="heading-small" style="margin-top: 10px;"><a href="#1" class="prototype-link">Construction and engineering</a></h2>
               <p class="font-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
          </div>
     </div>

</main>

<script>
// This function gets the value entered in the search box and saves it to the session data
// Then loads the next page
function saveSearchTermsAndContinue() {
     var searchPrompt = "Enter a job title or keywords";
     window.setSessionData('searchPrompt', searchPrompt);
     var searchTerm = document.getElementById('searchInput').value;
     window.setSessionData('searchTerm', searchTerm, function(){
          setTimeout(changePage, 500);
          function changePage() {
               window.location.href="../search-results_blank_v2";
          }
     });
}

// This function make sure the form is submitted when search field is in focus and the user presses enter
// This function is overriding one set in the accessible-typeahead.min.js that doesn't allow this behaviour if there are auto-complete options
function searchOnReturn() {
     var searchContainer = document.getElementById("searchInput");
     var e = window.event;
     searchContainer.addEventListener('keydown', function(e) {
          if (e.which === 13 || e.keycode === 13) {
               e.preventDefault();
               saveSearchTermsAndContinue();
          }
     });
} 

function init () {
     searchOnReturn();
}
window.onload = init;

</script>


{% endblock %}
