@import 'node_modules/govuk_frontend_toolkit/stylesheets/colours.scss';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/conditionals.scss';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/grid_layout.scss';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/typography.scss';

$site-width:960px;
$careers-turquoise: #21827b;

/* -------------------------------------------------------------
	Global
------------------------------------------------------------- */

.PROD_full-page-width-wrapper {
  max-width: $site-width;

  @include ie-lte(8) {
    width: $site-width;
  }

  margin: 0 $gutter-half;

  @include media(tablet) {
    margin: 0 $gutter;
  }

  @include media($min-width: ($site-width + $gutter * 2)) {
    margin: 0 auto;
  }
}

.PROD_phase-banner-beta_above-colour {
	border-bottom: 0px;
}

/* -------------------------------------------------------------
	Hero
------------------------------------------------------------- */

.PROD_hero {
	background: $careers-turquoise;
	margin: 0 0 0em 0;
	padding: 25px 0px 15px;
	color: $white;
	@include media(tablet) {
		padding: 40px 0px 30px;
	}
	.heading-xlarge {
		margin: 0 0 30px 0;
	}
	p {
		a {
			font-weight: bold;
			color: $white;
		}
	}
}

//Changes to the hero when inside a full width container
.PROD_full-page-width-wrapper { 
	.PROD_hero {
		padding: 25px 0 15px;
		@include media(tablet) {
			padding: 40px 0 30px;
		}
	}
}

.PROD_hero .PROD_search {
	background: $white;
	margin-bottom: 15px;

	&:after { //Clearfix
	    content: "";
	    display: table;
	    clear: both;
	}

	.PROD_search__input-container {
		float: left;
		width: 100%;
		padding: 0 41px 0 0;
		margin: 0 -41px 0 0;
		box-sizing: border-box;
		position: relative;
	}
	.PROD_search__input {
		position: relative;
	    border: none;
	    height: 40px;
	    font-size: 19px;
	    padding: 6px;
	    width: 100%;
	    box-sizing: border-box;
	    z-index: 2;
	    float:left;
	    z-index: 10;
	    font-size:16px;
	    @include media(tablet){
	    	font-size:19px;
	    }
	}
	.PROD_search__submit {
		float:left;
		text-indent: -1000em;
		position: relative;
		float:left;
		z-index: 1;
		border-radius: 0;
		background: $black;
		width: 41px;
		height: 40px; 
		border: none;
		background: url(/public/images/search-button.png) $black no-repeat 4px 50%;
		&:hover {
			cursor: pointer;
		}
		&:focus {
		    z-index: 15;
		    position: relative;
		}
	}
}

/* -------------------------------------------------------------
	Useful links
------------------------------------------------------------- */

.PROD_govuk-related-items {
	border-top: 3px solid $careers-turquoise;
	margin-top: 40px;
	padding-top: 15px;

	@include media(tablet) {
		border-top: 6px solid $careers-turquoise;
		padding-top: 10px;
		margin-top: 34px;
	}

	.heading-medium {
		font-family: "nta", Arial, sans-serif;
	    font-weight: 700;
	    text-transform: none;
	    font-size: 24px;
	    line-height: 1.04167;
	    margin-top: 0.3em;
	    margin-bottom: 0.41667em;

		@include media(tablet) {
			margin-bottom: 0.5em;
			padding:0px;
		}
	}

	ul {
		@include media(tablet) {
			font-size: 16px;
		}
	}
}



/* -------------------------------------------------------------
	Job Profile Search / Related
------------------------------------------------------------- */

.PROD_jobprofile_search {
    background-color: $careers-turquoise;
    color: $white;
    padding: 10px;
    margin-bottom: 30px;

    .heading-small {
        margin: 5px 0 10px 0 !important;
        padding: 0 !important;
    }

    .PROD_search {
        background: $white;

        &:after { //Clearfix
            content: "";
            display: table;
            clear: both;
        }

        .PROD_search__input-container {
            float: left;
            width: 100%;
            padding: 0 41px 0 0;
            margin: 0 -41px 0 0;
            box-sizing: border-box;
            position: relative;
        }

        .PROD_search__input {
            position: relative;
            border: none;
            height: 40px;
            font-size: 19px;
            padding: 6px;
            width: 100%;
            box-sizing: border-box;
            z-index: 2;
            float: left;
            z-index: 10;
            font-size: 16px;

            @include media(tablet) {
                font-size: 19px;
            }
        }

        .PROD_search__submit {
            float: left;
            text-indent: -1000em;
            position: relative;
            float: left;
            z-index: 1;
            border-radius: 0;
            background: $black;
            width: 41px;
            height: 40px;
            border: none;
            background: url(/public/images/search-button.png) $black no-repeat 4px 50%;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                z-index: 15;
                position: relative;
            }
        }
    }
}

.PROD_jobprofile_search2 {
    background-color: $white !important;
    color: $black;
    padding: 0 !important;
    margin: 20px 0 0 0;

    .PROD_search__input {
        border: 1px solid #bbb !important;
    }

    .PROD_search__submit {
        background-color: $light-blue !important;
    }
}

.PROD_related-careers, .PROD_related-items-alt {
    li {

        @include core-19;

        a {
            display: block;
            padding: 5px 0;
            border-bottom: 1px solid #bfc1c3;
            text-decoration: none;

            @include media(tablet) {
                padding: 10px 0;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.PROD_govuk-related-items-search {
    border-top: none;
    margin-top: 30px;
    padding-top: 0px;

    @include media(tablet) {
        border-top: 6px solid $careers-turquoise;
        padding-top: 10px;
        margin-top: 34px;
    }
}

section.PROD_icon-buttons {
    border-top: 1px solid $grey-3;

    h3 {
        margin-top: 30px;
    }
    ul {
        li {
            float: left;
            width: auto;

            a {
                margin-right: 20px;
            }
        }
    }
}

.PROD_jobprofile_categories, .PROD_jobprofile_categoriesV2 {
    list-style: none;
    top: -35px;
    position: relative;

    @include media(mobile) {
        top: -15px;

        li {
            width: 100%;
            margin: 0 0 5px 0;
        }
    }

    li {
        margin: 0 5px 5px 0;
        display: inline-block;
        font-size: 15px;

        a {
            color: $white;
            display: inline-block;
            text-decoration: none;
            background-color: $careers-turquoise;
            padding: 10px 15px 8px 15px;

            &:hover {
                text-decoration: underline;
                background-color: darken($careers-turquoise, 5%);
            }
        }
    }
}

.PROD_jobprofile_categoriesV2 {
    top: 0 !important;

    li {
        width: 100%;
        
        a {
            font-size: 16px;

            &:after {
                content: ">";
                margin-left: 10px;
                font-weight: bold;

            }
        }
    }
}

    .PROD_icon-buttons {
        ul {
            margin: 0;
            padding-left: 0
        }

        li:first-child {
            padding-left: 0;
        }

        li {
            list-style: none;
            margin-right: 10px;
            display: block;
            margin-bottom: 20px;
            width: 50%;

            a {
                padding-left: 25px;
                background-repeat: no-repeat;
                background-size: 21px 21px;
                font-size: 16px;
                line-height: 1.25;

                &.twitter {
                    background-image: url(https://insidegovuk.blog.gov.uk/wp-content/themes/gds-blogs/assets/img/icon-twitter.svg);
                }

                &.facebook {
                    background-image: url(https://insidegovuk.blog.gov.uk/wp-content/themes/gds-blogs/assets/img/icon-facebook.svg);
                }

                &.google {
                    background-image: url(https://insidegovuk.blog.gov.uk/wp-content/themes/gds-blogs/assets/img/icon-google-plus.svg);
                }

                &.linkedin {
                    background-image: url(https://insidegovuk.blog.gov.uk/wp-content/themes/gds-blogs/assets/img/icon-linkedin.svg);
                }

                &.email {
                    background-image: url(https://insidegovuk.blog.gov.uk/wp-content/themes/gds-blogs/assets/img/icon-email.svg);
                }
            }
        }
    }




