{% extends "../jobprofilenew.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Web content manager" %}
{% set profileSecondaryName = "" %}
{% set profileDescription = "Web content managers are responsible for the information that goes on a company's website" %}
{% set salaryLow = "27,500" %}
{% set salaryHigh = "33,000" %}
{% set hoursRange = "35 - 40" %}
{% set hoursDetail = "Mon - Fri" %}

{% set patternValue = "Evenings" %}
{% set patternDescription = "" %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large">1. How to become a {{profileName}}</h2>
    <p>You could:</p>
    <ul class="list list-bullet">
        <li>do a university degree</li>
        <li>get experience as a digital content editor and work your way up</li>
    </ul>
    <h3 class="heading-medium">University</h3>
    <p>You could do a degree in a subject like:</p>
    <ul class="list list-bullet">
        <li>journalism</li>
        <li>English</li>
        <li>marketing</li>
    </ul>
    <p>To do a degree you'll usually need at least:</p>
    <ul class="list list-bullet">
        <li>GCSEs in English and maths at grade 4 (C) or above</li>
        <li>104 <a href="https://www.ucas.com/ucas/tariff-calculator">UCAS points</a> or 2 to 3 A levels</li>
    </ul>
    <p>Check with course providers for exact entry requirements. You might be able to use <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent level qualifications</a> to get onto a course.</p>
    <p>UCAS has information on <a href="https://www.ucas.com">degree courses and entry requirements</a>.</p>
    <p>You can apply for <a href="https://www.gov.uk/student-finance">student finance to cover fees and living costs</a>. </p>
    <h3 class="heading-medium">Work</h3>
    <p>You may be able to work your way up from a digital content editor role. You'll find it easier to get work if you've got examples of your writing like articles, blogs or freelance content work.</p>
    <p>You'll also usually need to show you've got experience of:</p>
    <ul class="list list-bullet">
        <li>managing content team staff</li>
        <li>designing and managing a content strategy</li>
        <li>writing style guides</li>
        <li>evaluating content to make sure it meets user needs</li>
        <li>monitoring marketing campaigns like email and online advertising</li>
        <li>creating guidelines on copyright, privacy and web accessibility</li>
        <li>'Agile' project management</li>
        <li>HTML, markdown, and web content management systems (CMS)</li>
        <li>search engine optimisation (SEO) and web measurement tools like Google Analytics</li>
        <li>building relationships with partners and stakeholders</li>
    </ul>
    <p>TechFuture Careers have information on <a href="https://www.thetechpartnership.com/tech-future-careers/">getting started in a digital content career</a>.</p>
    <p>Find out more about editorial and journalism careers from the:</p>
    <ul class="list list-bullet">
        <li><a href="https://www.sfep.org.uk/">Society of Editors and Proofreaders</a></li>
        <li><a href="http://www.nctj.com/want-to-be-a-journalist/careers">National Council for the Training of Journalists</a></li>
    </ul>
</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large">2. Skills</h2>
    <p>You'll need:</p>
    <ul class="list list-bullet">
        <li>organisational skills and the ability to meet deadlines</li>
        <li>financial management and negotiating skills</li>
        <li>confident presentation skills</li>
        <li>the ability to build relationships with clients and partners</li>
        <li>an excellent grasp of English grammar, punctuation and spelling</li>
        <li>the ability to write for a target audience</li>
        <li>creative skills to find interesting ways to present information and to generate new ideas</li>
        <li>attention to detail, for example when proofreading</li>
    </ul>

</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large">3. What you'll do</h2>
    <p>You'll work on websites or company intranets.</p>
    <p>Your daily duties might include:</p>
    <ul>
        <li>taking a lead role in maintaining and developing a site</li>
        <li>attending meetings to plan and develop site content, style and appearance</li>
        <li>using web content management systems (CMS)</li>
        <li>analysing website usage statistics</li>
        <li>writing reports for senior managers, clients and partnership organisations</li>
        <li>carrying out quality assurance checks on content</li>
        <li>reporting technical problems to IT support staff</li>
    </ul>
    <p>The type of content you might work on could include:</p>
    <ul>
        <li>e-commerce, like online shopping or banking</li>
        <li>product advertising and retail catalogues</li>
        <li>local, national and international news reports</li>
        <li>social media output</li>
        <li>college and university websites</li>
        <li>online public information and government services</li>
    </ul>
    <p>In larger companies, you might manage an editorial team. You'll have a more 'hands on' role in smaller organisations.</p>

</section>

<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large">4. Career path and progression</h2>
    <p>You'll usually work 35 to 40 hours a week, Monday to Friday. You may sometimes need to work overtime to meet deadlines.</p>
    <p>Most of your work will be office-based at a computer. There may be some out-of-office duties, like attending meetings with clients or partners.</p>
</section>

<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large">5. Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>


<section class="PROD_icon-buttons ">
    {% include "../includes/job-profile_social.html" %}
</section>


<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















