{% extends "../layout_E2E.html" %}

{% block page_title %}
     Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% include "../includes/E2E_VOC_exit-routes_v2.html" %}

<main id="content" role="main">
     <div id="global-header-bar"></div>

     <div class="breadcrumbs">
          <ol>
               <li><a href="../E2E_homepage.html">Home</a></li>
          </ol>
     </div>

     <div class="grid-row">
          <div class="column-two-thirds">

               <h1 class="heading-xlarge">Business and finance</h1>
               <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

               <div class="paginated-page" id="page1">
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Bank manager</a></h2>
                         <h3 class="category-job__alt-titles">Building society manager, financial institution manager or director</h3>
                         <p class="category-job__overview">Bank managers oversee the day-to-day operations of their branch, supervise staff and work to attract new customers.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Financial adviser</a></h2>
                         <h3 class="category-job__alt-titles">Independent financial adviser</h3>
                         <p class="category-job__overview">Financial advisers help people and organisations to choose investments, savings, pensions, mortgages or insurance products.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Marketing manager</a></h2>
                         <h3 class="category-job__alt-titles">Brand manager, account manager</h3>
                         <p class="category-job__overview">Marketing managers plan how to promote products, services or brands and oversee all marketing activity.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Stockbroker</a></h2>
                         <!-- <h3 class="category-job__alt-titles">Veterinary surgeon, veterinarian</h3> -->
                         <p class="category-job__overview">Stockbrokers manage their clients' investments by trading stocks, shares and other financial products to get the best return.</p>
                    </div>
               </div>
          </div>
          <div class="column-one-third">
               <div class="PROD_govuk-related-items">
                    <h2 class="heading-medium">Other job categories</h2>
                    <div class="related-gov-links">
                         <ul class="font-xsmall">
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_administration">Administration</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_animal-care">Animal care</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_beauty-wellbeing">Beauty and wellbeing</a></li>
                              <!-- <li style="margin-bottom:0.4em"><a href="./E2E_job-category_business-finance">Business and finance</a></li> -->
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_delivery-storage">Delivery and storage</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_computing-technology-digital">Computing, technology and digital</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_construction-trades">Construction and trades</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_creative-media">Creative and media</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_emergency-uniform-services">Emergency and uniform services</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_engineering-maintenance">Engineering and maintenance</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_environment-land">Environment and land</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_government-services">Government services</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_healthcare">Healthcare</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_hospitality-food">Hospitality and food</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_legal">Legal</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_managerial">Managerial</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_manufacturing">Manufacturing</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_retail-sales">Retail and sales</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_science-research">Science and research</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_social-care">Social care</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_sports-leisure">Sports and leisure</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_teaching-education">Teaching and education</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_transport">Transport</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_travel-tourism">Travel and tourism</a></li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
</main>

{% endblock %}
