{% extends "../layout_E2E.html" %}

{% block page_title %}
     Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% include "../includes/E2E_VOC_exit-routes_v2.html" %}

<main id="content" role="main">
     <div id="global-header-bar"></div>

     <div class="breadcrumbs">
          <ol>
               <li><a href="../E2E_homepage.html">Home</a></li>
          </ol>
     </div>

     <div class="grid-row">
          <div class="column-two-thirds">

               <h1 class="heading-xlarge">Retail and sales</h1>
               <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

               <div class="paginated-page" id="page1">
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Air cabin crew</a></h2>
                         <h3 class="category-job__alt-titles">Flight attendant</h3>
                         <p class="category-job__overview">Air cabin crew look after airline passengers, making sure they have a safe, comfortable and pleasant flight.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Car salesperson</a></h2>
                         <h3 class="category-job__alt-titles">Vehicle sales executive</h3>
                         <p class="category-job__overview">As a car salesperson you'll sell new and used cars, vans or motorbikes.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Estate agent</a></h2>
                         <h3 class="category-job__alt-titles">Property agent</h3>
                         <p class="category-job__overview">Estate agents sell and rent out commercial and residential property, acting as negotiators between buyers and sellers.</p>
                    </div> 
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Events manager</a></h2>
                         <!-- <h3 class="category-job__alt-titles">Oral health practitioner</h3> -->
                         <p class="category-job__overview">Events managers organise and run promotional, business and social events.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Marketing manager</a></h2>
                         <h3 class="category-job__alt-titles">Brand manager, account manager</h3>
                         <p class="category-job__overview">Marketing managers plan how to promote products, services or brands and oversee all marketing activity.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Pharmacist</a></h2>
                         <h3 class="category-job__alt-titles">Dispensing chemist, community pharmacist, hospital pharmacist</h3>
                         <p class="category-job__overview">Pharmacists provide expert advice on the use and supply of medicines and medical appliances.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Sales representative</a></h2>
                         <h3 class="category-job__alt-titles">Salesperson, sales rep, sales executive, field sales executive</h3>
                         <p class="category-job__overview">Sales representatives meet or ring customers to persuade them to buy products or services.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Travel agent</a></h2>
                         <h3 class="category-job__alt-titles">Travel consultant</h3>
                         <p class="category-job__overview">Travel agents book and plan business and leisure travel for customers.</p>
                    </div>
               </div>
          </div>
          <div class="column-one-third">
               <div class="PROD_govuk-related-items">
                    <h2 class="heading-medium">Other job categories</h2>
                    <div class="related-gov-links">
                         <ul class="font-xsmall">
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_administration">Administration</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_animal-care">Animal care</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_beauty-wellbeing">Beauty and wellbeing</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_business-finance">Business and finance</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_delivery-storage">Delivery and storage</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_computing-technology-digital">Computing, technology and digital</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_construction-trades">Construction and trades</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_creative-media">Creative and media</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_emergency-uniform-services">Emergency and uniform services</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_engineering-maintenance">Engineering and maintenance</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_environment-land">Environment and land</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_government-services">Government services</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_healthcare">Healthcare</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_hospitality-food">Hospitality and food</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_legal">Legal</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_managerial">Managerial</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_manufacturing">Manufacturing</a></li>
                              <!-- <li style="margin-bottom:0.4em"><a href="./E2E_job-category_retail-sales">Retail and sales</a></li> -->
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_science-research">Science and research</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_social-care">Social care</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_sports-leisure">Sports and leisure</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_teaching-education">Teaching and education</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_transport">Transport</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_travel-tourism">Travel and tourism</a></li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
</main>

{% endblock %}
