{% extends "../layout_E2E.html" %}

{% block page_title %}
     Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% include "../includes/E2E_VOC_exit-routes_v2.html" %}

<main id="content" role="main">
     <div id="global-header-bar"></div>

     <div class="breadcrumbs">
          <ol>
               <li><a href="../E2E_homepage.html">Home</a></li>
          </ol>
     </div>

     <div class="grid-row">
          <div class="column-two-thirds">

               <h1 class="heading-xlarge">Administration</h1>
               <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

               <div class="paginated-page" id="page1">
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Border force officer</a></h2>
                         <!-- <h3 class="category-job__alt-titles">Veterinary surgeon, veterinarian</h3> -->
                         <p class="category-job__overview">Border force officers secure the UK border by carrying out immigration and customs controls for people and goods entering the UK.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Hotel receptionist</a></h2>
                         <!-- <h3 class="category-job__alt-titles">Alternative titles</h3> -->
                         <p class="category-job__overview">Hotel receptionists make guests feel welcome, manage room bookings (reservations) and deal with requests from guests.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Personal assistant</a></h2>
                         <h3 class="category-job__alt-titles">PA, executive secretary, executive assistant</h3>
                         <p class="category-job__overview">Personal assistants give secretarial and administrative support to managers.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="../job-profiles/E2E_psychologist" class="prototype-link">Registrar of births, deaths, marriages and civil partnerships</a></h2>
                         <!-- <h3 class="category-job__alt-titles">Keeper, animal keeper, zoo keeper</h3> -->
                         <p class="category-job__overview">Registrars collect and record details of all births, deaths, marriages and civil partnerships.</p>
                    </div>
               </div>
          </div>
          <div class="column-one-third">
               <div class="PROD_govuk-related-items">
                    <h2 class="heading-medium">Other job categories</h2>
                    <div class="related-gov-links">
                         <ul class="font-xsmall">
                              <!-- <li style="margin-bottom:0.4em"><a href="./E2E_job-category_administration">Administration</a></li> -->
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_animal-care">Animal care</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_beauty-wellbeing">Beauty and wellbeing</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_business-finance">Business and finance</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_delivery-storage">Delivery and storage</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_computing-technology-digital">Computing, technology and digital</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_construction-trades">Construction and trades</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_creative-media">Creative and media</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_emergency-uniform-services">Emergency and uniform services</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_engineering-maintenance">Engineering and maintenance</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_environment-land">Environment and land</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_government-services">Government services</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_healthcare">Healthcare</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_hospitality-food">Hospitality and food</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_legal">Legal</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_managerial">Managerial</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_manufacturing">Manufacturing</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_retail-sales">Retail and sales</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_science-research">Science and research</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_social-care">Social care</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_sports-leisure">Sports and leisure</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_teaching-education">Teaching and education</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_transport">Transport</a></li>
                              <li style="margin-bottom:0.4em"><a href="./E2E_job-category_travel-tourism">Travel and tourism</a></li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
</main>

{% endblock %}
