{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% set profileName = "Beauty therapist" %}
{% set profileSecondaryName = "Beautician" %}
{% set profileDescription = "Beauty therapists carry out face and body treatments to help clients look and feel better." %}
{% set salaryLow = "15,500" %}
{% set salaryHigh = "18,000" %}
{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "Mon - Sat" %}
{% set patternValue = "Evenings & weekends" %}
{% set patternDescription = "" %}

<!-- Related Careers -->
{% set RelatedCareerName1 = 'Massage therapist' %}
{% set RelatedCareerLink1 = 'police-officer' %}
{% set RelatedCareerName2 = 'Reflexologist' %}
{% set RelatedCareerLink2 = 'catering-manager' %}
{% set RelatedCareerName3 = 'Nail technician' %}
{% set RelatedCareerLink3 = 'chef' %}
{% set RelatedCareerName4 = 'Aromatherapist' %}
{% set RelatedCareerLink4 = 'hotel-receptionist' %}
{% set RelatedCareerName5 = 'Beauty consultant' %}
{% set RelatedCareerLink5 = 'web-designer' %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large jp-heading">How to become a {{profileName}}</h2>
        <p>You could:</p>
            <ul class="list list-bullet">
                <li>study at college</li>
                <li>do an apprenticeship</li>
                <li>start as an unqualified trainee in a salon and train on the job</li>
            </ul>

    <!-- College Section -->
    <section class="job-profile-subsection" id="apprenticeships">

        <h3>College</h3>
        <div class="job-profile-subsection-content">

            <p>You could study for:</p>
            <ul class="list list-bullet">
                <li>a level 2 certificate or diploma in beauty consultancy</li>
                <li>a general qualification in retail, sales or customer service</li>
            </ul>

            <h4 class="heading-small">Requirements:</h4>
            <p>To get onto a level 2 course you may need:</p>
            <ul class="list list-bullet">
                <li>3 GCSEs at grades 9 to 3 (A* to D)</li>
            </ul>
            <p>Check with course providers for exact entry requirements. You might be able to use <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent level qualifications</a> to get onto a course.</p>

            <h4 class="heading-small">More information</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help">You may be able to get financial help to do a course.</a></li>
                <li><a class="htb-feature" href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find a web development course near you.</a></li>
            </ul>
        </div>
    </section>

    <!-- Work -->
    <section class="job-profile-subsection" id="work">

        <h3>Work your way up</h3>
        <div class="job-profile-subsection-content">
            <p>You could get useful experience in any sales role and then apply for a job working for a beauty concession (a commercial operation within a department store). </p>
        </div>
    </section>

    <!-- Apprenticeships -->
    <section class="job-profile-subsection" id="apprenticeships">

        <h3>Apprenticeships</h3>
        <div class="job-profile-subsection-content">

            <p>You could do an intermediate or advanced <a href="https://www.gov.uk/apprenticeships-guide">apprenticeship</a> in beauty therapy make-up. These last 12 to 18 months. You may need a level 2 qualification to get onto the advanced apprenticeship. Check with course providers for exact entry requirements.</p>

            <h4 class="heading-small">Requirements:</h4>

            <ul class="list-bullet list">
                <li>You may need a level 2 qualification to get onto the advanced apprenticeship. Check with course providers for exact entry requirements.</li>
                <li>Get work experience in sales</li>
            </ul>

            <h4 class="heading-small">Next steps:</h4>




            <ul class="list list-arrow">
                <li><a class="htb-feature" href="http://www.habia.org/">The Hairdressing and Beauty Industry Authority (HABIA) has more information about careers in beauty consultancy and therapy.</a></li>
                <li><a class="htb-feature" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Look for a beauty therapist apprenticeship near you.</a> </li>
            </ul>
        </div>
    </section>


</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
    <!-- Skills -->
    <section class="job-profile-subsection" id="skills">
        <h3>Skills, personal qualities and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul class="list list-bullet ">
                <li>customer service skills</li>
                <li>excellent verbal communication skills</li>
                <li>active listening skills</li>
                <li>the ability to sell products and services</li>
                <li>basic digital skills for communicating and recording information</li>
            </ul>
        </div>
    </section>

</section>


<!--section 3-->
<section id="what-youll-do">

    <h2 class="heading-large jp-heading">What you'll do</h2>
    <!-- Day to day -->
    <section class="job-profile-subsection" id="skills">
        <h3>Day to day tasks:</h3>
        <div class="job-profile-subsection-content">
            <p>Your role could include:</p>
            <ul class="list list-bullet">
                <li>recommending products to suit each customer</li>
                <li>meeting sales targets</li>
                <li>keeping up to date with new products</li>
                <li>giving customers a makeover</li>
                <li>monitoring stock levels and re-ordering items</li>
                <li>keeping records</li>
                <li>handling cash and card payments</li>
            </ul>
          

        </div>
    </section>


    <!-- Enviroments -->
    <section class="job-profile-subsection" id="skills">
        <h3> Working Environments: </h3>
        <div class="job-profile-subsection-content">
            <p>You could work at a store, at a health spa, on a cruise ship, at a beauty clinic, or from home.</p>
            <p>Your work may be physically active.</p>
            <p>You may need to wear a uniform.</p>
        </div>
    </section>

</section>

<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Career path and progression</h2>
    <p>You'll usually work 35 to 40 hours a week, Monday to Friday. You may sometimes need to work overtime to meet deadlines.</p>
    <p>Most of your work will be office-based at a computer. There may be some out-of-office duties, like attending meetings with clients or partners.</p>
</section>

<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large jp-heading">Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>



<p class="grey font-xsmall">Last updated: 23 March 2016</p>



    {% endblock %}
















