{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Police officer" %}
{% set profileSecondaryName = "Policeman, policewoman, police constable" %}
{% set profileDescription = "A police officer keeps law and order, investigates crime and supports crime prevention." %}
{% set salaryLow = "19,000" %}
{% set salaryHigh = "43,000" %}
{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "shift/rota" %}
{% set patternValue = "Evenings, weekends & public holidays" %}
{% set patternDescription = "" %}

<!-- Related Careers -->
{% set RelatedCareerName1 = 'Border Force officer' %}
{% set RelatedCareerLink1 = 'police-officer' %}
{% set RelatedCareerName2 = 'Criminal intelligence analyst' %}
{% set RelatedCareerLink2 = 'catering-manager' %}
{% set RelatedCareerName3 = 'Firefighter' %}
{% set RelatedCareerLink3 = 'chef' %}
{% set RelatedCareerName4 = 'Probation officer' %}
{% set RelatedCareerLink4 = 'hotel-receptionist' %}
{% set RelatedCareerName5 = 'Probation services officer' %}
{% set RelatedCareerLink5 = 'web-designer' %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large jp-heading">How to become</h2>
    <p>Each police force has its own recruitment rules, so you'll need to contact your <a href="https://www.police.uk/contact/force-websites/">local police force</a> to apply.</p>
    <p>You can usually get into this job through:</p>
    <ul class="list list-bullet">
        <li>an apprenticeship</li>
        <li>applying directly</li>
    </ul>    <section class="job-profile-subsection" id="Apprenticeship">
        <h3>Apprenticeship</h3>
        <div class="job-profile-subsection-content">

            <p>You could also get into this job through a level 3 apprenticeship in policing. </p>
            <p> You could also get into this job through a police constable degree apprenticeship.</p>

            <h4>Entry requirements</h4>
            <p>You'll usually need:</p>
                <ul class="list list-bullet">
                    <li>5 GCSEs at grades 9 to 4 (A* to C) and college qualifications like A levels for a higher or a degree apprenticeship</li>
                </ul>


            <h4>More information</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.gov.uk/apprenticeships-guide">guide to apprenticeships</a></li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="work">
        <h3>Work</h3>
        <div class="job-profile-subsection-content">
            <p>You could see if you like this type of work by first working as a <a href="http://recruit.college.police.uk/pcso/Pages/default.aspx">community support officer</a>.</p>
        </div>
    </section>

    <section class="job-profile-subsection" id="volunteering">
        <h3>Volunteering and experience</h3>
        <div class="job-profile-subsection-content">
            <p>To get an idea of what it's like to be a police officer, you could volunteer as a <a href="http://recruit.college.police.uk/Special/Pages/default.aspx">special constable</a>.</p>
        </div>
    </section>

    <section class="job-profile-subsection" id="directapplication">
        <h3>Direct application</h3>
        <div class="job-profile-subsection-content">
            <p>You'll usually apply to one police force at a time.</p>
            <p>If your application is successful, you'll be invited to an assessment centre where you'll:</p>
            <ul class="list list-bullet">
                <li>have an interview</li>
                <li>take written tests</li>
                <li>take a physical fitness test</li>
                <li>take a medical and eyesight test</li>
            </ul>
            <p>If you're unsuccessful, you may have to wait a minimum of 6 months before you can re-apply.</p>
            <p>You can prepare for your application by doing the <a href="http://www.college.police.uk/What-we-do/Learning/Certificate/Pages/Information-for-Students.aspx">Certificate in Knowledge of Policing</a> (CKP).</p>
            <p>
                If you've got management experience you could <a href="http://www.leadbeyond.police.uk/">apply for direct entry as an inspector or superintendent</a>.<br>
                <br>
                If you have a 2:1 degree, you could apply for the&nbsp;<a href="https://www.policenow.org.uk/">Police Now Graduate Leadership Development Programme</a>.<br>
                <br>
                You could prepare by applying for a Level 2 or 3 college course in Public Services.
            </p>
        </div>
    </section>

    <section class="job-profile-subsection" id="moreinfo">
        <h3>More information</h3>
        <div class="job-profile-subsection-content">

            <h4>Career tips</h4>
            <p>If you're aged 13 to 18 you could become a <a href="https://vpc.police.uk/be-a-cadet/">police cadet</a>.</p>
        </div>
    </section>
</section>
<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
    <!-- Skills -->
    <section class="job-profile-subsection" id="skills">
        <h3>Skills, personal qualities and knowledge</h3>
        <div class="job-profile-subsection-content">

            <p>You'll need:</p>

            <ul class="list list-bullet ">
                <li>knowledge of public safety and security</li>
                <li>excellent verbal communication skills</li>
                <li>active listening skills</li>
                <li>negotiation skills</li>
                <li>patience and the ability to remain calm in stressful situations</li>
                <li>the ability to accept criticism and work well under pressure</li>
                <li>thinking and reasoning skills</li>
                <li>concentration skills</li>
                <li>basic digital skills for communicating and recording information</li>
            </ul>
        </div>
    </section>

    <!-- Restrictions -->
    <section class="job-profile-subsection" id="restrictions">
        <h3>Other requirements</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need to:</p>
            <ul class="list list-bullet">
                <li>pass <a href="https://www.gov.uk/criminal-record-checks-apply-role">enhanced background checks</a></li>
                <li>be a British or Commonwealth citizen, a European Union (EU) or European Economic Area (EEA) citizen, or a foreign national with the right to stay and work in the UK for an indefinite period</li>
                <li>be over 18 years of age</li>
            </ul>
        </div>
    </section>
</section>



<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>
    <!-- Day to day -->
    <section class="job-profile-subsection" id="skills">
        <h3>Day to day tasks</h3>
        <div class="job-profile-subsection-content">
            <p>Your role could include:</p>
            <ul class="list list-bullet">
                <li>responding to calls for help from the public</li>
                <li>investigating crimes and offences</li>
                <li>interviewing suspects and making arrests</li>
                <li>giving evidence in court</li>
                <li>controlling traffic and crowds at large public events and gatherings</li>
                <li>giving the public advice on personal safety and crime prevention</li>
                <li>promoting respect for people in relation to their race, diversity and human rights</li>
            </ul>
        </div>
    </section>

    <section class="job-profile-subsection" id="moreinfo">
        <h3>Working environment</h3>
        <div class="job-profile-subsection-content">
            <p>You could work at a police station, or on patrol.</p>
            <p>Your work may be physically and emotionally demanding, dangerous, and outdoors in all weathers.</p>
            <p>You may need to wear a uniform.</p>
        </div>
        </section>
    </section>



<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Next steps</h2>
    <p>You'll spend 2 years as a student officer before becoming a police constable. You'll then decide whether you want to specialise in a particular area of policing. You could consider:</p>
    <ul class="list list-bullet">
        <li>Criminal Investigation Department (CID), anti-fraud or road traffic</li>
        <li>drugs or firearms</li>
        <li>counter-terrorism</li>
        <li>air support or underwater search</li>
        <li>dog-handling or mounted policing</li>
    </ul>
    <p>With experience you may be able to apply for promotion to sergeant, inspector, chief inspector or higher.</p>
    <p>In the CID you'll also have the title of detective added to your rank - for example, detective sergeant or detective chief inspector.</p>

</section>



<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large jp-heading">Training opportunities</h2>
    <!-- <p>Find the latest opportunities</p> -->

        <div class="grid-row" id="appGeneric">
            <div class="column-full">
                <h3 class="heading-medium">
                    Apprenticeships
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
        </div>
        <div class="dfc-code-jp-novacancyText">
            <p>
                We can't find any apprenticeship vacancies in England for police officer right now.
                <p> The <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch"> find an apprenticeship service </a> can help you with your search, send alerts when new apprenticeships become available and has advice on how to apply. </p>
            </p>
        </div>

        <div class="grid-row dfc-code-jp-trainingCourse">
            <div class="column-full">
                <h3 class="heading-medium">
                    Courses
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
        </div>
        <div class="dfc-code-jp-NoTrainingCoursesText">
            <p>
                Are you interested in becoming a police officer?
            </p>
            <p>Search for 
                <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">training courses near you</a>
            </p>        
        </div>

</section>


<p class="grey font-xsmall">Last updated: 23 March 2016</p>



    {% endblock %}
















