{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Security officer" %}
{% set profileSecondaryName = "" %}
{% set profileDescription = "Security officers make sure that buildings, valuables and people are safe and secure." %}
{% set salaryLow = "21,320" %}
{% set salaryHigh = "24,960" %}
{% set hoursRange = "37 - 48" %}
{% set hoursDetail = "a week" %}
{% set patternValue = "Evenings / weekends / bank holidays" %}
{% set patternDescription = "On shifts" %}

<!-- Related Careers -->
{% set RelatedCareerName1 = 'Prison officer' %}
{% set RelatedCareerLink1 = 'police-officer' %}
{% set RelatedCareerName2 = 'Border Force officer' %}
{% set RelatedCareerLink2 = 'catering-manager' %}
{% set RelatedCareerName3 = 'Police officer' %}
{% set RelatedCareerLink3 = 'chef' %}
{% block content %}


{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large job-profile-heading">How to become</h2>
    <p>You'll need to complete an <a href="https://www.sia.homeoffice.gov.uk/Pages/training-ApprovedTrainingProviders.aspx">approved SIA training course</a>.&nbsp;</p>


    <section class="job-profile-subsection" id="otherroutes">
        <h3>Other Routes</h3>
        <div class="job-profile-subsection-content">
            Many of these courses are run by private security companies.&nbsp;
        </div>
    </section>
    <section class="job-profile-subsection" id="moreinfo">
        <h3>More information</h3>
        <div class="job-profile-subsection-content">
            <h4>Registration</h4>
            <ul class="list list-bullet">
                <li><p>You'll need a <a href="https://www.sia.homeoffice.gov.uk/Pages/licensing.aspx">Security Industry Authority</a> (SIA) licence for agency and contractor jobs.</p></li>
            </ul>

            <h4>Career tips</h4>
            <p>Previous experience of working in the police or armed forces could help you get into this job.</p>                                        <h4>Further information</h4>
            <p><a href="http://skillsforsecurity.org.uk/">Skills for Security</a> has more information about becoming a security officer.</p>
        </div>
    </section>
</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
    <!-- Skills -->
    <section class="job-profile-subsection" id="skills">
        <h3>Skills, personal qualities and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul class="list list-bullet ">
                <li>knowledge of public safety and security</li>
                <li>customer service skills</li>
                <li>excellent verbal communication skills</li>
                <li>patience and the ability to remain calm in stressful situations</li>
                <li>concentration skills</li>
                <li>thinking and reasoning skills</li>
                <li>the ability to work well with others</li>
                <li>basic digital skills for communicating and recording information</li>
            </ul>
        </div>
    </section>

    <!-- Restrictions -->
    <section class="job-profile-subsection" id="restrictions">
        <h3>Other requirements</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need to:</p>
            <ul class="list list-bullet">
                <li>pass <a href="https://www.gov.uk/criminal-record-checks-apply-role">enhanced background checks</a></li>
                <li>be over 18 years of age</li>
            </ul>
            <p>If you work as a contractor on a building site, you'll also need a <a href="https://www.cscs.uk.com/">Construction Skills Certification Scheme card</a> (CSCS).</p>
            <p>An employer will carry out checks on your personal and work history (up to 10 years). You need to let them know about any criminal convictions before you apply for a licence.</p>
            <p>You won't need an SIA licence for in-house security jobs at your employer's premises.</p>
        </div>
    </section>
</section>


<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>
    <!-- Day to day -->
            <section class="job-profile-subsection" id="skills">
                <h3>Day to day tasks</h3>
                <div class="job-profile-subsection-content">
                    <p>You could be:</p>
                    <ul class="list list-bullet">
                        <li>patrolling, securing and monitoring premises</li>
                        <li>guarding cash or other valuables in a security vehicle</li>
                        <li>supervising on the door for a large organisation</li>
                    </ul>
                    <p>If you work in airport security you could be:</p>
                    <ul>
                        <li>searching aircraft, passengers and luggage</li>
                        <li>guarding the airport boundaries</li>
                    </ul>
                </div>
            </section>

            <section class="job-profile-subsection" id="skills">
                <h3>Working environment</h3>
                <div class="job-profile-subsection-content">
                    <p>You could work at a store or from a vehicle.</p>
                    <p>Your work could be physically demanding and outdoors in all weathers.</p>
                    <p>You may need to wear a uniform.</p>
                </div>
            </section>

            <!--section 4-->
            <section id="career-path-and-progression">
                <h2 class="heading-large jp-heading">Next steps</h2>

                <p>With experience, you could progress to senior or chief security officer, then supervisor.</p>
                <p>With further qualifications you could go into security management or training, or set up your own security company.</p>
            </section>
    </section>

            <!--section 5-->
            <section id="current-opportunities" style="margin-bottom:30px">
                <h2 class="heading-large jp-heading">Training opportunities</h2>
                <div class="grid-row" id="appGeneric">
                    <div class="column-full">
                        <h3 class="heading-medium">
                            Apprenticeships
                            <span class="heading-secondary">In England</span>
                        </h3>
                    </div>
                    <div class="column-half">
                        <div class="panel panel-border-narrow opportunity-item">
                            <h4 class="heading-small">
                                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/633372">Apprentice Private Investigator Administrator</a>
                            </h4>
                            <ul class="list">
                                <li><span class="bold-small">Wage:</span> &pound;12,000.00 - &pound;24,000.00</li>
                                <li><span class="bold-small">Location:</span> Godalming GU8 4PB</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dfc-code-jp-vacancyText">
                    <p>
                        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
                    </p>
                </div>

                <div class="grid-row dfc-code-jp-trainingCourse">
                    <div class="column-full">
                        <h3 class="heading-medium">
                            Courses
                            <span class="heading-secondary">In England</span>
                        </h3>
                    </div>
                </div>
                <div class="dfc-code-jp-NoTrainingCoursesText">
                    <p>
                        Are you interested in becoming a security officer?
                    </p>
                    <p>Search for 
                        <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">training courses near you</a>
                    </p>                
                </div>

            </section>

            <p class="grey font-xsmall">Last updated: 23 March 2016</p>


            {% endblock %}















