{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Software developer" %}
{% set profileSecondaryName = "Programmer" %}
{% set profileDescription = "Software developers design, build and test computer programmes for business, education and leisure activities." %}
{% set salaryLow = "39,000" %}
{% set salaryHigh = "46,000" %}

{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "Mon - Fri" %}

{% set patternValue = "Weekends" %}
{% set patternDescription = "Occasionally" %}

<!-- Related Careers -->
{% set RelatedCareerName1 = 'Solutions architect' %}
{% set RelatedCareerLink1 = 'police-officer' %}
{% set RelatedCareerName2 = 'Computer games developer' %}
{% set RelatedCareerLink2 = 'catering-manager' %}
{% set RelatedCareerName3 = 'IT project manager' %}
{% set RelatedCareerLink3 = 'chef' %}
{% set RelatedCareerName4 = 'Database administrator' %}
{% set RelatedCareerLink4 = 'hotel-receptionist' %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large job-profile-heading">How to become</h2>
    <p>You could get into this work through:</p>
    <ul class="list list-bullet">
        <li>a university degree</li>
        <li>a degree apprenticeship</li>
        <li>a graduate training scheme with a company</li>
    </ul>    <section class="job-profile-subsection" id="University">
        <h3>University</h3>
        <div class="job-profile-subsection-content">

            <p>You could do a foundation degree, higher national diploma or a degree in a subject like:</p>
            <ul class="list list-bullet">
                <li>computer science</li>
                <li>information technology</li>
                <li>software development</li>
                <li>software engineering for business</li>
                <li>maths</li>
            </ul>



            <h4>Entry requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list list-bullet">
                <li>5 GCSEs at grade 4 (C) or above, including English and maths</li>
                <li>2 to 3 A levels to do a degree or higher national diploma</li>
            </ul>

            <h4>More information</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent qualifications</a></li>
                <li><a class="htb-feature" href="https://www.gov.uk/student-finance">student finance for fees and living costs</a></li>
                <li><a class="htb-feature" href="https://www.ucas.com/">university courses and entry requirements</a></li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="Apprenticeship">
        <h3>Apprenticeship</h3>
        <div class="job-profile-subsection-content">

            <p>You could do a degree apprenticeship in software engineering.</p>



            <h4>Entry requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list list-bullet">
                <li>5 GCSEs at grades 9 to 4 (A* to C) and&nbsp;college qualifications like A levels for a higher or a degree apprenticeship</li>
            </ul>

            <h4>More information</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels-mean">equivalent qualifications</a></li>
                <li><a class="htb-feature" href="https://www.gov.uk/apprenticeships-guide">guide to apprenticeships</a></li>
            </ul>
        </div>
    </section>


    <section class="job-profile-subsection" id="directapplication">
        <h3>Direct application</h3>
        <div class="job-profile-subsection-content">
            <p>You may be able to apply directly for a place on a graduate training scheme. These are often open to non-IT graduates as well as those with a computing qualification.</p>
        </div>
    </section>

    <section class="job-profile-subsection" id="moreinfo">
        <h3>More information</h3>
        <div class="job-profile-subsection-content">

            <h4>Career tips</h4>
            <p>You could build up your skills and knowledge using free online learning resources for programming languages, project management and software development methods.</p>                            <h4>Professional and industry bodies</h4>
            <p><a href="http://www.bcs.org">The Chartered Institute for IT</a> and <a href="http://www.tpdegrees.com">TP Degrees</a> have more information about training routes and qualifications.</p>
        </div>
    </section>
</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
    <!-- Skills -->
    <section class="job-profile-subsection" id="skills">
        <h3>Skills, personal qualities and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul class="list list-bullet">
                <li>knowledge of computer operating systems, hardware and software</li>
                <li>the ability to write computer programs</li>
                <li>knowledge of systems analysis and development</li>
                <li>analytical thinking skills</li>
                <li>the ability to come up with new ways of doing things</li>
                <li>excellent verbal communication skills</li>
                <li>the ability to use your judgement and make decisions</li>
                <li>expert digital, data and technology skills for analysing and designing systems</li>
            </ul>
        </div>
    </section>

</section>


<!--section 3-->
<section id="what-youll-do">

    <h2 class="heading-large jp-heading">What you'll do</h2>
    <!-- Day to day -->
    <section class="job-profile-subsection" id="skills">
        <h3>Day to day tasks</h3>
        <div class="job-profile-subsection-content">
            <p>Your role could include:</p>
            <ul class="list list-bullet">
                <li>talking through requirements with the client and the development team</li>
                <li>taking part in technical design and progress meetings</li>
                <li>writing or amending computer code</li>
                <li>testing software and fixing problems</li>
                <li>keeping accurate records of the development process, changes and results</li>
                <li>carrying out trials and quality checks before release</li>
                <li>maintaining and supporting systems once they're up and running</li>
            </ul>
        </div>
    </section>

    <section class="job-profile-subsection" id="moreinfo">
        <h3>Working environment</h3>
        <div class="job-profile-subsection-content">
            <p>You could work at an office or a client's business.</p>
        </div>
    </section>

</section>


<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Next steps</h2>
    <p>With experience, you could become a senior developer, with team or project management, planning or research responsibilities. You could move into related areas like systems design, IT architecture and business systems analysis.</p>
    <p>You could also set up your own business or work as a consultant.</p>

</section>

            <!--section 5-->
            <section id="current-opportunities" style="margin-bottom:30px">
                <h2 class="heading-large jp-heading">Training opportunities</h2>
                <div class="grid-row" id="appGeneric">
                    <div class="column-full">
                        <h3 class="heading-medium">
                            Apprenticeships
                            <span class="heading-secondary">In England</span>
                        </h3>
                    </div>
                    <div class="column-half">
                        <div class="panel panel-border-narrow opportunity-item">
                            <h4 class="heading-small">
                                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/633372">IT School Infrastructure Technician - Advanced Apprenticeship</a>
                            </h4>
                            <ul class="list">
                                <li><span class="bold-small">Wage:</span> &pound;337.00</li>
                                <li><span class="bold-small">Location:</span> Crawley RH11 0DB</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dfc-code-jp-vacancyText">
                    <p>
                        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
                    </p>
                </div>

        <div class="grid-row dfc-code-jp-trainingCourse">
            <div class="column-full">
                <h3 class="heading-medium">
                    Courses
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
        </div>
        
            <div class="dfc-code-jp-NoTrainingCoursesText">
                <p>Are you interested in becoming a software developer?</p>
            </div>
            <div class="dfc-code-jp-TrainingCoursesText">
                <p>Search for <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">training courses near you</a>
                </p>
            </div>

</section>



<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}















