{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Teaching assistant" %}
{% set profileSecondaryName = "Classroom assistant, learning support assistant" %}
{% set profileDescription = "Teaching assistants support teachers and help children develop." %}
{% set salaryLow = "15,600" %}
{% set salaryHigh = "18,200" %}

{% set hoursRange = "32 - 40" %}
{% set hoursDetail = "term time" %}

{% set patternValue = "Evenings" %}
{% set patternDescription = "Occasionally" %}

<!-- Related Careers -->
{% set RelatedCareerName1 = 'Primary school teacher' %}
{% set RelatedCareerLink1 = 'police-officer' %}
{% set RelatedCareerName2 = 'Secondary school teacher' %}
{% set RelatedCareerLink2 = 'catering-manager' %}
{% set RelatedCareerName3 = 'Special educational needs (SEN) teaching assistant' %}
{% set RelatedCareerLink3 = 'chef' %}
{% set RelatedCareerName4 = 'Special educational needs (SEN) teacher' %}
{% set RelatedCareerLink4 = 'hotel-receptionist' %}
{% set RelatedCareerName5 = 'Childminder' %}
{% set RelatedCareerLink5 = 'web-designer' %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large job-profile-heading">How to become</h2>
    <p>You can get into this job through:</p>
    <ul class="list list-bullet">
        <li>a college course</li>
        <li>an apprenticeship</li>
        <li>getting experience on the job</li>
        <li>volunteering</li>
    </ul>    <section class="job-profile-subsection" id="College">
        <h3>College</h3>
        <div class="job-profile-subsection-content">

            <p>
                There is strong competition for jobs, so a qualification in nursery work, childcare, playwork or youth work can give you an advantage.<br>
                <br>
                You could study for qualifications like a level 2 or 3 certificate in support for learning and teaching in schools.
            </p>



            <h4>Entry requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list list-bullet">
                <li>2 or more GCSEs at grade D (3) or above for a level 2 course</li>
                <li>4 GCSEs at grades 9 to 4 (A* to C) for a level 3 course</li>
            </ul>

            <h4>More information</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent qualifications</a></li>
                <li><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help">funding advice</a></li>
                <li><a class="htb-feature" href="https://nationalcareersservice.direct.gov.uk/course-directory/home">search for courses</a></li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="Apprenticeship">
        <h3>Apprenticeship</h3>
        <div class="job-profile-subsection-content">

            <p>You could also get in through an intermediate or advanced apprenticeship in childcare or supporting teaching and learning in schools.</p>



            <h4>Entry requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list list-bullet">
                <li>some GCSEs usually including English and maths for an intermediate apprenticeship</li>
                <li>5 GCSEs at grades 9 to 4 (A* to C) usually including English and maths, for an advanced apprenticeship</li>
            </ul>

            <h4>More information</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels-mean">equivalent qualifications</a></li>
                <li><a class="htb-feature" href="https://www.gov.uk/apprenticeships-guide">guide to apprenticeships</a></li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="work">
        <h3>Work</h3>
        <div class="job-profile-subsection-content">
            <p>
                Each school sets its own entry requirements. Check job vacancies with your&nbsp;<a href="https://www.gov.uk/find-local-council">local education authority</a>&nbsp;to find out what each school wants.<br>
                <br>
                If you don't have any qualifications or experience, you may get into the job if you show you can work well with children, teachers and parents.
            </p>
        </div>
    </section>

    <section class="job-profile-subsection" id="volunteering">
        <h3>Volunteering and experience</h3>
        <div class="job-profile-subsection-content">
            <p>Many teaching assistants <a href="https://do-it.org">volunteer</a> before getting paid work.</p>
        </div>
    </section>


</section>
<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
    <!-- Skills -->
    <section class="job-profile-subsection" id="skills">
        <h3>Skills, personal qualities and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul class="list list-bullet ">
                <li>excellent verbal communication skills</li>
                <li>patience and the ability to remain calm in stressful situations</li>
                <li>sensitivity and understanding</li>
                <li>the ability to teach pupils how to do something</li>
                <li>active listening skills</li>
                <li>the ability to understand people’s reactions</li>
                <li>knowledge of English language</li>
                <li>basic digital skills for communicating and recording information</li>
            </ul>
        </div>
    </section>

    <!-- Restrictions -->
    <section class="job-profile-subsection" id="restrictions">
        <h3>Other requirements</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need to:</p>
            <ul>
                <li>pass <a href="https://www.gov.uk/criminal-record-checks-apply-role">enhanced background checks</a></li>
            </ul>

        </div>    </section>
</section>


<!--section 3-->
<section id="what-youll-do">

    <h2 class="heading-large jp-heading">What you'll do</h2>

    <section class="job-profile-subsection" id="skills">
        <p> Most jobs are in primary, secondary and special schools. You could also work in an independent school. </p>
        <h3>Your role could include:</h3>
        <div class="job-profile-subsection-content">
            <p>You could be:</p>
            <ul class="list list-bullet">
                <li>getting the classroom ready for lessons and clearing away afterwards</li>
                <li>listening to children read or reading to them</li>
                <li>helping children who need extra support</li>
                <li>helping teachers prepare materials that match development needs</li>
                <li>supervising group activities, including outings and sports events</li>
                <li>helping teachers manage class behaviour</li>
                <li>looking after children who are upset or unwell</li>
                <li>leading classes with help from the teacher</li>
            </ul>

           </section>


    <section class="job-profile-subsection" id="skills">
        <h3> Working Environments: </h3>
        <div class="job-profile-subsection-content">
            <p>You could work at a primary school, at a secondary school, or at a special needs school.</p>
            <p>Your work could be physically active and emotionally demanding.</p>
            </div>
        </section>




    <!--section 4-->
    <section id="career-path-and-progression">
        <h2 class="heading-large jp-heading">Next steps</h2>
        <p>With experience, you could become a senior assistant or apply for a <a href="http://www.hlta.org.uk/">Higher Level Teaching Assistant</a> (HLTA) role.</p>

    </section>

            <!--section 5-->
            <section id="current-opportunities" style="margin-bottom:30px">
                <h2 class="heading-large jp-heading">Training opportunities</h2>
                <div class="grid-row" id="appGeneric">
                    <div class="column-full">
                        <h3 class="heading-medium">
                            Apprenticeships
                            <span class="heading-secondary">In England</span>
                        </h3>
                    </div>
                    <div class="column-half">
                        <div class="panel panel-border-narrow opportunity-item">
                            <h4 class="heading-small">
                                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/633372">Apprentice Teaching Assistant: Ref #196</a>
                            </h4>
                            <ul class="list">
                                <li><span class="bold-small">Wage:</span> &pound;£162.43</li>
                                <li><span class="bold-small">Location:</span> Sheffield S6 5HN</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dfc-code-jp-vacancyText">
                    <p>
                        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
                    </p>
                </div>

        <div class="grid-row dfc-code-jp-trainingCourse">
            <div class="column-full">
                <h3 class="heading-medium">
                    Courses
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
        </div>
        
            <div class="dfc-code-jp-NoTrainingCoursesText">
                <p>Are you interested in becoming a teaching assistant?</p>
            </div>
            <div class="dfc-code-jp-TrainingCoursesText">
                <p>Search for <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">training courses near you</a>
                </p>
            </div>

</section>


    <p class="grey font-xsmall">Last updated: 23 March 2016</p>


    {% endblock %}
















