<a href="/_sprint10/index" class="header-title">Service Green</a>

<a href="#search" class="search-toggle js-header-toggle">Search</a>

<form id="search" class="site-search" action="" method="get" role="search">
     <div class="content">
          <label for="site-search-text" class="visually-hidden">Search</label>
          <input type="search" name="q" id="searchInput" placeholder="Search" class="js-search-focus">
          <input class="submit" type="button" value="Search" onclick="saveSearchTermsAndContinue()">
     </div>
</form>

<script>
// This function gets the value entered in the search box and saves it to the session data
// Then loads the next page
function saveSearchTermsAndContinue() {
     var searchPrompt = "Enter a job title or keywords";
     window.setSessionData('searchPrompt', searchPrompt);
     var searchTerm = document.getElementById('searchInput').value;
     window.setSessionData('searchTerm', searchTerm, function(){
          setTimeout(changePage, 500);
          function changePage() {
               window.location.href="/_sprint10/search-results_blank_v2";
          }
     });
}

// This function make sure the form is submitted when search field is in focus and the user presses enter
// This function is overriding one set in the accessible-typeahead.min.js that doesn't allow this behaviour if there are auto-complete options
function searchOnReturn() {
     var searchContainer = document.getElementById("searchInput");
     var e = window.event;
     searchContainer.addEventListener('keydown', function(e) {
          if (e.which === 13 || e.keycode === 13) {
               e.preventDefault();
               saveSearchTermsAndContinue();
          }
     });
} 

function init () {
     searchOnReturn();
}
window.onload = init;

</script>
