{% extends "../../jobprofile.html" %}

{% block page_title %}
{{profileName}} | Explore Careers
{% endblock %}

{% set preName = "an" %}
{% set profileName = "Admin assistant" %}
{% set profileSecondaryName = "Office administrator, clerical assistant, administrative assistant" %}
{% set profileDescription = "Admin assistants give support to offices by organising meetings, typing documents and updating computer records." %}
{% set salaryLow = "14,000" %}
{% set salaryHigh = "30,000" %}
{% set hoursRange = "38 to 40" %}
{% set hoursDetail = "a week" %}
{% set patternValue = "between 8am and 6pm" %}
{% set patternDescription = "" %}



<!-- Related Careers -->
{% set RelatedCareerName1 = 'Local government administrative assistant' %}
{% set RelatedCareerLink1 = '#' %}
{% set RelatedCareerName2 = 'Data entry clerk' %}
{% set RelatedCareerLink2 = '#' %}
{% set RelatedCareerName3 = 'Hotel receptionist' %}
{% set RelatedCareerLink3 = '#' %}
{% set RelatedCareerName4 = 'Personal assistant' %}
{% set RelatedCareerLink4 = '#' %}
{% set RelatedCareerName5 = 'Health records clerk' %}
{% set RelatedCareerLink5 = '#' %}

{% block jobprofile_nav %}
    {% include "../../includes/job-profile_nav_jobopps.html" %}
{% endblock %}



{% set serviceName = 'Explore careers' %}
{% set bannerStyle = 'BETA-style' %}

{% block content %}

<section id="HowToBecome">
    <h2 class="heading-large job-profile-heading">How to become</h2>
    <p>You can get into this job through:</p>
    <ul>
        <li>an apprenticeship</li>
        <li>working towards this role</li>
        <li> applying directly</li>
    </ul>    <section class="job-profile-subsection" id="Apprenticeship">
        <h3>Apprenticeship</h3>
        <div class="job-profile-subsection-content">

            <p>You could get into this job through an intermediate or advanced apprenticeship in business administration.</p>



            <h4>Entry requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list-reqs">
                <li>some GCSEs, usually including English and maths, for an intermediate apprenticeship</li>
                <li>5 GCSEs at grades 9 to 4 (A* to C), usually including English and maths, for an advanced apprenticeship</li>
            </ul>

            <h4>More information</h4>
            <ul class="list-link">
                <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                <li><a class="htb-feature" href="https://www.gov.uk/apprenticeships-guide">guide to apprenticeships</a></li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="work">
        <h3>Work</h3>
        <div class="job-profile-subsection-content">
            <p>Experience of temping could lead to a permanent job. Qualifications in business administration may also help.</p>
        </div>
    </section>


    <section class="job-profile-subsection" id="directapplication">
        <h3>Direct application</h3>
        <div class="job-profile-subsection-content">
            <p>You could apply directly to become an admin assistant.</p>
            <p>Some employers may expect you to have:</p>
            <ul>
                <li> GCSEs at grades 9 to 4 (A* to C) or <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent</a>, including English and maths</li>
                <li>telephone, typing or IT skills</li>
            </ul>
        </div>
    </section>

</section>


<section class="job-profile-subsection" id="Skills" data-gtm-vis-recent-on-screen-8675592_55="53331" data-gtm-vis-first-on-screen-8675592_55="53331" data-gtm-vis-total-visible-time-8675592_55="100" data-gtm-vis-has-fired-8675592_55="1">
    <h2 class="heading-large">What it takes</h2>
    <section class="job-profile-subsection">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul>
                <li>
                    administration skills
                </li>
                <li>
                    to be thorough and pay attention to detail
                </li>
                <li>
                    the ability to work well with others
                </li>
                <li>
                    the ability to work on your own
                </li>
                <li>
                    sensitivity and understanding
                </li>
                <li>
                    to be flexible and open to change
                </li>
                <li>
                    excellent verbal communication skills
                </li>
                <li>
                    customer service skills
                </li>
                <li>intermediate digital skills for using web-based applications, spreadsheets and analytics tools</li>
            </ul>
        </div>
    </section>
</section>
<section id="WhatYouWillDo" data-gtm-vis-recent-on-screen-8675592_56="53498" data-gtm-vis-first-on-screen-8675592_56="53498" data-gtm-vis-total-visible-time-8675592_56="100" data-gtm-vis-has-fired-8675592_56="1">
    <h2 class="heading-large">What you'll do</h2>
    <section class="job-profile-subsection">
        <h3>Day-to-day tasks</h3>
        <div class="job-profile-subsection-content">
            <p>
                In this role you could be:
            </p>
            <ul>
                <li>
                    dealing with queries on the phone, by email and social media
                </li>
                <li>
                    greeting visitors at reception
                </li>
                <li>
                    typing letters and reports
                </li>
                <li>
                    updating computer records
                </li>
                <li>
                    printing and photocopying
                </li>
                <li>
                    ordering supplies
                </li>
                <li>
                    setting up meetings and taking notes during them
                </li>
                <li>
                    making travel arrangements for staff
                </li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="workingenvironment">
        <h3>Working environment</h3>
        <div class="job-profile-subsection-content">
            <p>You could work in an office.</p>
        </div>
    </section>

</section>

    {% include "./include.html" %}






    {% endblock %}
















