{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Plumber" %}
{% set profileSecondaryName = "" %}
{% set profileSalaryLow = "13,000" %}
{% set profileSalaryHigh = "50,000" %}
{% set profileHoursLow = "40" %}
{% set profileHoursHigh = "45" %}
{% set profileDescription = "Plumbers fit and service hot and cold water systems, heating systems and drainage networks." %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large">1. How to become</h2>

        <p>You could either:</p>
        <ul class="list list-bullet">
            <li>study at college for a Level 2 or 3 Diploma in Plumbing and Domestic Heating</li>
            <li>do an apprenticeship in plumbing</li>
        </ul>
        <p>You'll need to have a <a href="https://www.cscs.uk.com">Construction Skills Certification Scheme</a> (CSCS) card or equivalent to train and work on a construction site. </p>
        <h3 class="heading-medium">College</h3>
        <p>To do a Level 2 or 3 Diploma in Plumbing and Domestic Heating, you'll usually need GCSEs at grades 9 to 4 (A* to C) in English, maths and science, or <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent qualifications</a>. </p>
        <p>You can study full time, or 1 day a week while you work for the rest of the week perhaps as a plumber's assistant or 'mate'.</p>
        <p>To work with domestic gas heating systems, you'll need gas-related units at level 3.</p>
        <p>You may be able to get <a href="https://www.gov.uk/further-education-courses/financial-help">financial help</a>.</p>
        <p>Find a <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">plumbing and heating course</a> near you.</p>
        <h3 class="heading-medium">Apprenticeship</h3>
        <p>Some plumbing businesses offer <a href="https://www.gov.uk/apprenticeships-guide">advanced apprenticeships</a> where you can work towards the Level 3 Diploma in Plumbing and Domestic Heating.</p>
        <p>You'll usually need GCSEs at grades 9 to 4 (A* to C), including maths, English and science to get onto the apprenticeship. Employers may also accept <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent level 2 qualifications</a>. </p>
        <p>There's a lot of competition for places. Many plumbing businesses are small and prefer to take on someone who's already trained to do basic plumbing tasks.</p>
        <p>Find out more</p>
        <p><a href="https://www.goconstruct.org">Go Construct</a> has information about careers and qualifications in plumbing.</p>
        <p>Once you're enrolled on an accredited course or apprenticeship, you can apply for trainee membership of the <a href="http://www.ciphe.org.uk">Chartered Institute of Plumbing and Heating Engineering (CIPHE)</a>.</p>

    </section>

<!--section 2-->
<section id="skills-required">
        <h2 class="heading-large">2. Skills required</h2>

        <p>You'll need:</p>
        <ul class="list list-bullet">
            <li>number skills</li>
            <li>the ability to follow technical drawings and plans</li>
            <li>practical skills and the ability to follow safe working practices</li>
            <li>customer care skills</li>
        </ul>
    <a class="button" href="../competency-checker/">Check if your skills match  ></a>
    <p class="grey">It takes 10 to 15 minutes.</p>

</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large">3. What you'll do</h2>
    <p>Depending on your qualifications, you'll service and repair heating, water and sanitation systems in domestic and commercial premises.</p>
    <p>Your day-to-day tasks may include:</p>
    <ul class="list list-bullet">
        <li>measuring and planning to give cost and time estimates</li>
        <li>cutting, bending and joining pipes and fittings</li>
        <li>installing water, drainage and heating systems</li>
        <li>finding and fixing faults</li>
        <li>servicing gas and oil-fired central heating systems and radiators</li>
        <li>installing and fixing domestic appliances like showers and washing machines</li>
        <li>dealing with emergency call-outs like boiler breakdowns or blocked drains</li>
        <li>fitting weather-proof materials, joints and flashings to roofs, chimneys and walls</li>
    </ul>

</section>

<!--section 4 -->
<section id="salary">
    <h2 class="heading-large">4. Salary</h2>
    <p>Starter: £15,000 to £20,000</p>
    <p>Experienced: £20,000 to £28,000</p>
    <p>Highly experienced: £40,000 or more</p>
    <p>Self-employed plumbers set their own rates.</p>
    <p>These figures are a guide.</p>

</section>

<!--section 5 -->
<section id="working-hours-patterns-and-environment">
    <h2 class="heading-large">5. Working hours, patterns and environment</h2>
    <p>As an employee, you'll usually work between 37 and 40 hours a week. You could work evenings, weekends and public holidays, if your firm offers an emergency call-out service.</p>
    <p>Self-employed plumbers can work longer hours.</p>
    <p>You'll be working in all weathers, and some of your work will be in confined spaces. You could also work on scaffolding or from ladders to repair roof guttering or leadwork.</p>
    <p>You'll travel locally between jobs but you may have to work away from home on some contracts. A driving licence will usually be required.</p>

</section>
<!--section 6-->
<section id="career-path-and-progression">
    <h2 class="heading-large">6. Career path and progression</h2>
    <p>You can develop your skills by taking further training in areas such as heating, ventilation and air-conditioning, and renewable energy technologies like solar powered heating.</p>
    <p>You can also join the <a href="http://www.gassaferegister.co.uk/">Gas Safe Register</a> or get certified with the <a href="http://www.oftec.co.uk/">Oil Firing Technical Association (OFTEC)</a>. These would show you're qualified to work on gas or oil-fired appliances.</p>
    <p>You could go on to take an HND or degree and become an engineer. This would give you career options in building services engineering, estimating and contract management.</p>
</section>

<!--section 7-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large">7. Current opportunities</h2>
    <!-- <p>Find the latest opportunities</p> -->

       <div id="MainContent_C020_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Opportunities Container">

            <div class="grid-row" id="appGeneric">
                <div class="column-full">
                    <h3 class="heading-medium">
                        Apprenticeships
                        <span class="heading-secondary">In England</span>
                    </h3>
                </div>
                <div class="column-half">
                    <div class="panel panel-border-narrow opportunity-item">
                        <h4 class="heading-small">
                            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-219654">Plumbing Apprentice</a>
                        </h4>
                        <ul class="list">
                            <li><span class="bold-small">Wage:</span> £140.00</li>
                            <li><span class="bold-small">Location:</span> Retford DN22 7WB</li>
                        </ul>
                    </div>
                </div>
                <div class="column-half">
                    <div class="panel panel-border-narrow opportunity-item">
                        <h4 class="heading-small">
                            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-209898">Apprentice Plumber</a>
                        </h4>
                        <ul class="list">
                            <li><span class="bold-small">Wage:</span> £208.00</li>
                            <li><span class="bold-small">Location:</span> Bury BL9 5BT</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="opportunity-footer">
                <p>
                    <a class="dfc-code-jp-findApprenticeship" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
                </p>
            </div>

        </div>
    </section>

<section class="PROD_icon-buttons ">
    {% include "../includes/job-profile_social.html" %}
</section>


<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















