{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

{% set categoryName = 'Animal care' %}

{% include "../includes/survey.html" %}


<main id="content" role="main">
    {% include "../includes/global_header_bar.html" %}

    {% include "../includes/breadcrumb_categories.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge" id="currentcategory">{{ categoryName}}</h1>
            <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

            <div class="paginated-page" id="page1">
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Veterinary nurse</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Veterinary surgeon, veterinarian</h3> -->
                    <p class="category-job__overview">Veterinary nurses work with vets to provide nursing care for sick and injured animals.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Vet</a></h2>
                    <h3 class="category-job__alt-titles">Veterinary surgeon, veterinarian</h3>
                    <p class="category-job__overview">Vets diagnose and treat sick or injured animals.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Zookeeper</a></h2>
                    <h3 class="category-job__alt-titles">Keeper, animal keeper, zoo keeper</h3>
                    <p class="category-job__overview">Zookeepers look after animals in zoos, safari parks and aquariums.</p>
                </div>

            </div>
            {% include "../includes/signpost.html" %}
        </div>
        <div class="column-one-third">
            {% include "../includes/other_categories.html" %}
        </div>
    </div>
</main>

{% endblock %}
