{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

{% set categoryName = 'Engineering and maintenance' %}

{% include "../includes/survey.html" %}


<main id="content" role="main">
    {% include "../includes/global_header_bar.html" %}

    {% include "../includes/breadcrumb_categories.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge" id="currentcategory">{{ categoryName}}</h1>
            <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

            <div class="paginated-page" id="page1">
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Electrical engineer</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Veterinary surgeon, veterinarian</h3> -->
                    <p class="category-job__overview">Electrical engineers design, build and maintain electrical systems, machinery and equipment.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Electrician</a></h2>
                    <h3 class="category-job__alt-titles">Electrical fitter, electrical engineer, electrical technician, installation electrician</h3>
                    <p class="category-job__overview">Electricians fit, service and fix electrical equipment, circuits, machinery and wiring.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Mechanical engineer</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Ambulance paramedic</h3> -->
                    <p class="category-job__overview">Mechanical engineers develop and design the components and machinery used in manufacturing, construction, water, power, health and transport.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Motor mechanic</a></h2>
                    <h3 class="category-job__alt-titles">Light vehicle service technician, car mechanic</h3>
                    <p class="category-job__overview">Motor mechanics repair and service cars and vans.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Offshore drilling worker</a></h2>
                    <h3 class="category-job__alt-titles">Driller, assistant driller, derrickman</h3>
                    <p class="category-job__overview">Drillers, assistant drillers and derrickmen work on offshore oil or gas rigs.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Plumber</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Programmer</h3> -->
                    <p class="category-job__overview">Plumbers fit and service hot and cold water systems, heating systems and drainage networks.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Quantity surveyor</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Driller, assistant driller, derrickman</h3> -->
                    <p class="category-job__overview">Quantity surveyors oversee construction projects, managing risks and controlling costs.</p>
                </div>
            </div>
            {% include "../includes/signpost.html" %}
        </div>
        <div class="column-one-third">
            {% include "../includes/other_categories.html" %}
        </div>
    </div>
</main>

{% endblock %}
