{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

{% set categoryName = 'Teaching and education' %}

{% include "../includes/survey.html" %}


<main id="content" role="main">
    {% include "../includes/global_header_bar.html" %}

    {% include "../includes/breadcrumb_categories.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge" id="currentcategory">{{ categoryName}}</h1>
            <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

            <div class="paginated-page" id="page1">
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Careers adviser</a></h2>
                    <h3 class="category-job__alt-titles">Career consultant</h3>
                    <p class="category-job__overview">Careers advisers help people make decisions about their education, training and work options.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">EFL teacher</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Career consultant</h3> -->
                    <p class="category-job__overview">EFL (English as a Foreign Language) teachers help students learn or improve their English in the UK and abroad.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Further education lecturer</a></h2>
                    <h3 class="category-job__alt-titles">Further education tutor, Further education teacher</h3>
                    <p class="category-job__overview">Further education (FE) lecturers usually teach adult learners, students over 16, and students aged 14 to 16 on work-related learning.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Primary school teacher</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Veterinary surgeon, veterinarian</h3> -->
                    <p class="category-job__overview">Primary school teachers look after the educational, social, physical and emotional development of children from ages 5 to 11.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Secondary school teacher</a></h2>
                    <h3 class="category-job__alt-titles">High school teacher, Secondary school tutor</h3>
                    <p class="category-job__overview">Secondary school teachers educate young people aged 11 to 16, and up to age 19 in schools with sixth forms.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Special educational needs (SEN) teacher</a></h2>
                    <!-- <h3 class="category-job__alt-titles">High school teacher, Secondary school tutor</h3> -->
                    <p class="category-job__overview">Special educational needs (SEN) teachers work with children and young people who need extra support.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Special educational needs (SEN) teaching assistant</a></h2>
                    <h3 class="category-job__alt-titles">Special needs classroom assistant, Special needs learning support assistant</h3>
                    <p class="category-job__overview">Special educational needs (SEN) teaching assistants support teachers to help children with a wide range of learning, physical or behavioural difficulties.</p>
                </div>

                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Teaching assistant</a></h2>
                    <h3 class="category-job__alt-titles">Classroom assistant, learning support assistant</h3>
                    <p class="category-job__overview">Teaching assistants support teachers and help children develop.</p>
                </div>
            </div>
            {% include "../includes/signpost.html" %}
        </div>
        <div class="column-one-third">
            {% include "../includes/other_categories.html" %}
        </div>
    </div>
</main>

{% endblock %}
