{% extends "../../jobprofile-chatbot.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Border Force Officer" %}
{% set profileSecondaryName = "" %}
{% set profileDescription = "Border Force officers protect UK border entry points like ports and airports, by enforcing immigration and customs regulations." %}
{% set salaryLow = "22,500" %}
{% set salaryHigh = "39,000" %}
{% set hoursRange = "38 - 42" %}
{% set hoursDetail = "Shift/rota" %}
{% set patternValue = "Evenings & weekends" %}
{% set patternDescription = "" %}

{% block chatbot_content %}

<div id="content" class="chatbot-content">

    <h1 class="heading-medium">Talk to Sam about a career as a Border Force Offcer</h1>
    <div class="chatbot_q0">
        <p class="chatbox chatbox-left">Hey, I'm Sam, I'm here to help you find the careers information that you need to help you make your next step.</p>
        <div class="chatbot_q0_answers chatbot_answers">
            <a class="chatbot-link" id="chatbot_0a" href="#">I would like to know more about this career</a>
            <a class="chatbot-link" id="chatbot_0b" href="#">I don't want to speak to you thanks</a>
        </div>
    </div>

    <div class="chatbot_q1 js-hidden">
        <p class="chatbox chatbox-right">I would like to know more about this career</p>
        <p class="chatbox chatbox-left">Okay, so you're interested in becoming a <strong>Border Force Officer</strong>, what would you like to know more about? </p>
        <div class="chatbot_q1_answers chatbot_answers">
            <a class="chatbot-link" id="chatbot_1a" href="#">Which skills does this career need?</a>
            <a class="chatbot-link" id="chatbot_1b" href="#">What qualification do I need to get into this career?</a>
            <a class="chatbot-link" id="chatbot_1c" href="#">What the day to day looks like?</a>
        </div>
    </div>

    <div class="chatbot_q2a js-hidden">
        <p class="chatbox chatbox-right">Which skills does this career need?</p>
        <div class="chatbox chatbox-left">
            <p>Great starting point, you'll usually need:</p>
            <ul class="list list-bullet">               
                <li>the ability to motivate children and build good relationships with them</li>
                <li>patience and a passion for helping children learn</li>
                <li>excellent reading, writing and numeracy skills</li>
                <li>the ability to manage groups of children and cope with challenging behaviour</li>
                <li>excellent team working ability with teachers, other professionals, parents and carers</li>
                <li>organisational and planning skills</li>
                <li>IT skills and creativity to design materials and activities</li>                
            </ul>
        </div>
        <p class="chatbox chatbox-left">Do you think you have the skills to get into this career?</p>
        <div class="chatbot_q2a_answers chatbot_answers">
            <a class="chatbot-link" id="chatbot_2c" href="#">Not sure</a>
            <a class="chatbot-link" id="chatbot_2b" href="#">No</a>
            <a class="chatbot-link" id="chatbot_2a" href="#">Yes</a>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}




{% endblock %}
















