{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

{% set categoryName = 'Creative and media' %}

{% include "../includes/survey.html" %}


<main id="content" role="main">
    {% include "../includes/global_header_bar.html" %}

    {% include "../includes/breadcrumb_categories.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge" id="currentcategory">{{ categoryName}}</h1>
            <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

            <div class="paginated-page" id="page1">
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Architect</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Computer games designer, video games designer</h3> -->
                    <p class="category-job__overview">Architects design new buildings and the spaces around them, and work on the restoration and conservation of existing buildings.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Computer games tester</a></h2>
                    <h3 class="category-job__alt-titles">Games tester, quality assurance tester, video games tester, quality assurance technician</h3>
                    <p class="category-job__overview">Computer games testers play computer games to check they work properly. They find and record problems or bugs.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Graphic designer</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Joiner, bench joiner</h3> -->
                    <p class="category-job__overview">Graphic designers create visual branding, adverts, brochures, magazines, website designs, product packaging and displays.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Interior designer</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Electrical fitter, electrical engineer, electrical technician, installation electrician</h3> -->
                    <p class="category-job__overview">Interior designers plan and supervise the design and decoration of the inside of buildings.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Marketing manager</a></h2>
                    <h3 class="category-job__alt-titles">Brand manager, account manager</h3>
                    <p class="category-job__overview">Marketing managers plan how to promote products, services or brands and oversee all marketing activity.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Photographer</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Programmer</h3> -->
                    <p class="category-job__overview">Photographers take and process pictures of people, places, products and events.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Studio sound engineer</a></h2>
                    <h3 class="category-job__alt-titles">Audio engineer, recording engineer</h3>
                    <p class="category-job__overview">Sound engineers work in studios and make recordings of music, speech and sound effects.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">TV presenter</a></h2>
                    <h3 class="category-job__alt-titles">Television presenter</h3>
                    <p class="category-job__overview">TV presenters work in television, introducing and hosting programmes, interviewing people and reporting on issues and events.</p>
                </div>
            </div>
        </div>
        <div class="column-one-third">
            {% include "../includes/other_categories.html" %}
        </div>
    </div>
</main>

{% endblock %}
