{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set categoryName = 'Healthcare' %}

{% include "../includes/survey.html" %}


<main id="content" role="main">
    {% include "../includes/global_header_bar.html" %}

    {% include "../includes/breadcrumb_categories.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge" id="currentcategory">{{ categoryName}}</h1>
            <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

            <div class="paginated-page" id="page1">
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Adult nurse</a></h2>
                    <h3 class="category-job__alt-titles">Nurse</h3>
                    <p class="category-job__overview">Nurses give care, advice and support to adults who are sick, injured or have physical disabilities.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Dental hygienist</a></h2>
                    <h3 class="category-job__alt-titles">Oral health practitioner</h3>
                    <p class="category-job__overview">Dental hygienists offer advice, information and treatments to prevent and treat tooth decay and gum disease.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Dentist</a></h2>
                    <h3 class="category-job__alt-titles">Dental surgeon, dental practitioner</h3>
                    <p class="category-job__overview">Dentists diagnose and treat teeth and mouth problems, and work to prevent dental disease and promote oral health.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">GP</a></h2>
                    <h3 class="category-job__alt-titles">General practitioner, doctor</h3>
                    <p class="category-job__overview">General practitioners (GPs) are doctors who provide medical services to people in the community.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Healthcare assistant</a></h2>
                    <h3 class="category-job__alt-titles">Support worker, nursing assistant, nursing auxiliary</h3>
                    <p class="category-job__overview">Healthcare assistants help look after patients in hospitals or in patients’ own homes.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Hospital doctor</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Support worker, nursing assistant, nursing auxiliary</h3> -->
                    <p class="category-job__overview">A hospital doctor diagnoses and treats illness and disease in patients admitted to hospital.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Mental health nurse</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Support worker, nursing assistant, nursing auxiliary</h3> -->
                    <p class="category-job__overview">Mental health nurses work in hospitals and the community, to support people with a range of mental health issues. </p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Midwife</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Support worker, nursing assistant, nursing auxiliary</h3> -->
                    <p class="category-job__overview">Midwives give care and support to pregnant women and their babies, before, during and after childbirth.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Occupational therapist</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Support worker, nursing assistant, nursing auxiliary</h3> -->
                    <p class="category-job__overview">Occupational therapists help people overcome difficulties caused by physical or mental illness, accidents or ageing.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Paramedic</a></h2>
                    <h3 class="category-job__alt-titles">Ambulance paramedic</h3>
                    <p class="category-job__overview">Paramedics deal with emergencies, giving people life-saving medical help.</p>
                </div>
            </div>

            <div class="paginated-page" id="page2">
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Pharmacist</a></h2>
                    <h3 class="category-job__alt-titles">Dispensing chemist, community pharmacist, hospital pharmacist</h3>
                    <p class="category-job__overview">Pharmacists provide expert advice on the use and supply of medicines and medical appliances.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Physiotherapist</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Support worker, nursing assistant, nursing auxiliary</h3> -->
                    <p class="category-job__overview">Physiotherapists work with patients to improve their range of movement and promote health and wellbeing.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Psychologist</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Support worker, nursing assistant, nursing auxiliary</h3> -->
                    <p class="category-job__overview">Psychologists study people's behaviour, motivations, thoughts and feelings, to help them overcome or control their problems.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Psychotherapist</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Support worker, nursing assistant, nursing auxiliary</h3> -->
                    <p class="category-job__overview">Psychotherapists use talking techniques and therapies to help people who are distressed, or have mental health problems.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Radiographer</a></h2>
                    <h3 class="category-job__alt-titles">Medical radiographer</h3>
                    <p class="category-job__overview">Radiographers use equipment to diagnose or treat patients who are ill or injured.</p>
                </div>
            </div>

            <!-- <div class="pagination" id="searchResultsPagination">
                 <ul class="previous-next-navigation">
                      <li class="next">
                           <a href="#1" id="nextBtn">
                                <span class="pagination-label">Next</span>
                                <span class="visuallyhidden">page</span>
                                <span class="page-numbers">2 of Number of Pages</span>
                           </a>
                      </li>
                      <li class="previous">
                           <a href="#1" id="prevBtn">
                                <span class="pagination-label">Previous</span>
                                <span class="visuallyhidden">page</span>
                                <span class="page-numbers">1 of Number of pages</span>
                           </a>
                      </li>
                 </ul>
            </div> -->
            {% include "../includes/signpost.html" %}
        </div>
        <div class="column-one-third">
            {% include "../includes/other_categories.html" %}
        </div>

    </div>
</main>

<script>

    function paginationClicked(thisDirection) {
        // A delay has been added to mimic page refresh
        delayLoadOfPage = window.setTimeout(function () {
            updatePage(thisDirection);
            updatePaginationModel(thisDirection);
            updatePaginationView();
            nextBtn.blur();
            prevBtn.blur();
            ;
        }, 700);
    }

    function updatePaginationModel(thisDirection) {
        if (thisDirection === 'next') {
            currentPage = currentPage + 1;
            nextPage = nextPage + 1;
            prevPage = prevPage + 1;
        } else {
            currentPage = currentPage - 1;
            nextPage = nextPage - 1;
            prevPage = prevPage - 1
        }
    }

    function initPaginationModel() {
        currentPage = 1;
        nextPage = 2;
        prevPage = 0;
    }

    function updatePage(thisDirection) {
        if (thisDirection === 'next') {
            thisDirection = nextPage;
        } else {
            thisDirection = prevPage;
        }
        document.getElementById('page' + currentPage).classList.add('js-hidden');
        document.getElementById('page' + thisDirection).classList.remove('js-hidden');
        // Move user to the top of the window as if a new page has loaded
        window.scrollTo(0, 0);
    }

    function updatePaginationView() {
        // Create labels for next and previous UI
        var nextLabel = nextPage + ' of ' + numberOfPages;
        var prevLabel = prevPage + ' of ' + numberOfPages;

        // Set pagination buttons
        for (i = 0; i < nextBtn.childNodes.length; i++) {
            if (nextBtn.childNodes[i].classList && nextBtn.childNodes[i].classList.contains('page-numbers')) {
                nextBtn.childNodes[i].innerHTML = nextLabel;
            }
        }
        for (i = 0; i < prevBtn.childNodes.length; i++) {
            if (prevBtn.childNodes[i].classList && prevBtn.childNodes[i].classList.contains('page-numbers')) {
                prevBtn.childNodes[i].innerHTML = prevLabel;
            }
        }

        // Hide UI if at beginnig or end
        if (prevPage === 0) {
            prevBtn.parentNode.classList.add('js-hidden');
        } else {
            prevBtn.parentNode.classList.remove('js-hidden');
        }
        if (currentPage === numberOfPages || numberOfPages === 1) {
            nextBtn.parentNode.classList.add('js-hidden');
        } else {
            nextBtn.parentNode.classList.remove('js-hidden');
        }
    }

    function showHidePagination() {
        if (numberOfPages === 0) {
            document.getElementById('searchResultsPagination').classList.add('js-hidden');
        }
    }

    function init() {
        // Setup default model
        initPaginationModel();
        showHidePagination();
        // Make sure default button labels are correct
        updatePaginationView();
    }

    var pageNumber = 1;
    var numberOfPages = 2;

    // uploadElement.addEventListener('change', onChange);
    nextBtn.addEventListener('click', function () { paginationClicked('next'); });
    prevBtn.addEventListener('click', function () { paginationClicked('prev'); });

    init();

</script>

{% endblock %}
