{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

{% set categoryName = 'Legal' %}

{% include "../includes/survey.html" %}


<main id="content" role="main">
    {% include "../includes/global_header_bar.html" %}

    {% include "../includes/breadcrumb_categories.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge" id="currentcategory">{{ categoryName}}</h1>
            <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

            <div class="paginated-page" id="page1">
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Bailiff</a></h2>
                    <h3 class="category-job__alt-titles">Enforcement agent, Enforcement officer, High Court enforcement officer</h3>
                    <p class="category-job__overview">Bailiffs visit properties to collect debts, serve a court document or give a notice or summons.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Forensic scientist</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Oral health practitioner</h3> -->
                    <p class="category-job__overview">Forensic scientists prepare traces of physical evidence for use in courts of law.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Paralegal</a></h2>
                    <h3 class="category-job__alt-titles">Legal assistant, Property assistant, Contracts assistant</h3>
                    <p class="category-job__overview">Paralegals carry out research, prepare legal documents and give legal advice to clients.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Probation officer</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Legal assistant, Property assistant, Contracts assistant</h3> -->
                    <p class="category-job__overview">Probation officers supervise people serving community and prison sentences, and help them to stay away from crime.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Solicitor</a></h2>
                    <h3 class="category-job__alt-titles">Lawyer</h3>
                    <p class="category-job__overview">Solicitors advise clients about the law and act on their behalf in legal matters.</p>
                </div>
            </div>
            {% include "../includes/signpost.html" %}
        </div>
        <div class="column-one-third">
            {% include "../includes/other_categories.html" %}
        </div>
    </div>
</main>

{% endblock %}
