{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

{% set categoryName = 'Managerial' %}

{% include "../includes/survey.html" %}


<main id="content" role="main">
    {% include "../includes/global_header_bar.html" %}

    {% include "../includes/breadcrumb_categories.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge" id="currentcategory">{{ categoryName}}</h1>
            <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

            <div class="paginated-page" id="page1">
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Bank manager</a></h2>
                    <h3 class="category-job__alt-titles">Building society manager, financial institution manager or director</h3>
                    <p class="category-job__overview">Bank managers oversee the day-to-day operations of their branch, supervise staff and work to attract new customers.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Events manager</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Oral health practitioner</h3> -->
                    <p class="category-job__overview">Events managers organise and run promotional, business and social events.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Marketing manager</a></h2>
                    <h3 class="category-job__alt-titles">Brand manager, account manager</h3>
                    <p class="category-job__overview">Marketing managers plan how to promote products, services or brands and oversee all marketing activity.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Nursery manager</a></h2>
                    <h3 class="category-job__alt-titles">Nursery assistant, pre-school assistant, playgroup assistant, nanny, childcare worker</h3>
                    <p class="category-job__overview">Nursery workers help babies and children up to 5 years old to develop and learn in a safe and supportive environment.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Quantity surveyor</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Programmer</h3> -->
                    <p class="category-job__overview">Quantity surveyors oversee construction projects, managing risks and controlling costs.</p>
                </div>
            </div>
            {% include "../includes/signpost.html" %}
        </div>
        <div class="column-one-third">
            {% include "../includes/other_categories.html" %}
        </div>
    </div>
</main>

{% endblock %}
