{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

{% set categoryName = 'Sports and leisure' %}

{% include "../includes/survey.html" %}


<main id="content" role="main">
    {% include "../includes/global_header_bar.html" %}

    {% include "../includes/breadcrumb_categories.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge" id="currentcategory">{{ categoryName}}</h1>
            <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

            <div class="paginated-page" id="page1">
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Events manager</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Oral health practitioner</h3> -->
                    <p class="category-job__overview">Events managers organise and run promotional, business and social events.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Personal trainer</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Career consultant</h3> -->
                    <p class="category-job__overview">Personal trainers help their clients reach their personal health and fitness goals.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Sports coach</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Therapist, psychotherapist</h3> -->
                    <p class="category-job__overview">Sports coaches teach sports skills to individuals and teams of all sporting abilities.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Sports professional</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Veterinary surgeon, veterinarian</h3> -->
                    <p class="category-job__overview">Sports professionals are skilled and talented sportsmen and women, who are paid to compete in their chosen sport.</p>
                </div>
            </div>
        </div>
        <div class="column-one-third">
            {% include "../includes/other_categories.html" %}
        </div>
    </div>
</main>

{% endblock %}
