{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 1</span>
				Interaction design
			</h1>

			<p class="lede">A full list of prototypes including those for testing in this sprint, and work in progress</p>

			<h2 class="heading-large">Search</h2>
			<ul class="list list-bullet">
				<li><a href="search-start_job-profiles">Job title - v1</a></li>
				<li><a href="search-start_why-are">Service wide - v1</a></li>
				<li><a href="search-start_typeahead">Job title - typeahead -v1</a></li>
			</ul>

			<h2 class="heading-large">Job profiles</h2>
			<ul class="list list-bullet">
				<li><a href="job-profiles/primary-school-teacher">Primary school teacher - v1</a></li>
				<li><a href="job-profiles/primary-school-teacher_highlighted">Primary school teacher - v2 - highlighted</a></li>
				<li><a href="job-profiles/social-worker">Social worker - v1</a></li>
				<li><a href="job-profiles/social-worker_highlighted">Social worker - v2 - highlighted</a></li>
				<li><a href="job-profiles/social-worker_v2">Social worker - v3 - exit route bridge</a></li>
				<li><a href="job-profiles/police-officer">Police officer - v1</a></li>
				<li><a href="job-profiles/social-worker">Psychologist - v1</a></li>
			</ul>
		</div>
	</div>
</main>

{% endblock %}


