{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 1</span>
				Prototypes
			</h1>
			<h2 class="heading-large">Search</h2>
			<ul class="list list-bullet">
				<li><a href="search-start_job-profiles">Concept 1</a></li>
				<li><a href="search-start_why-are">Concept 2</a></li>
				<li><a href="search-start_typeahead">Concept 3</a></li>
			</ul>

			<h2 class="heading-large">Job profiles</h2>
			<ul class="list list-bullet">
				<li><a href="job-profiles/primary-school-teacher">Primary school teacher</a></li>
				<li><a href="job-profiles/primary-school-teacher_highlighted">Primary school teacher - Highlighted v1</a></li>
				<li><a href="job-profiles/social-worker">Social worker</a></li>
				<li><a href="job-profiles/social-worker_highlighted">Social worker - Highlighted v1</a></li>
				<li><a href="job-profiles/social-worker_v2">Social worker v2</a></li>
				<li><a href="job-profiles/police-officer">Police officer</a></li>
				<li><a href="job-profiles/social-worker">Psychologist</a></li>
			</ul>
		</div>
	</div>
</main>

{% endblock %}


