{% extends "../../../layout_search.html" %}

{% block page_title %}
  Service Green
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="breadcrumbs">
		<ol>
			<li><a href="#1">Home</a></li>
			<li><a href="#1">Page</a></li>
			
			<li><a href="../../social-worker_exit-routes_v1">Social worker</a></li>
			<li>Graduate scheme</li>
		</ol>
	</div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
            	<span class="heading-secondary">Finding a graduate scheme</span>
                Social worker
            </h1>
        </div>
        <div class="column-one-third">
			<aside class="govuk-related-items" role="complementary">
			    <h2 class="heading-medium" id="related-gov-links">
			    Paths to become</h2>
			    <nav aria-labelledby="related-gov-links" role="navigation">
			        <ul class="font-xsmall">
			            <li>
			                <a href="education">Education</a>
			            </li>			    				   
			            <li>
			                <a href="apprenticeship">Apprenticeship</a>
			            </li>
			            <li>
			                <a href="volunteer">Volunteering</a>
			            </li>
			            <li>
			                <a href="job">Job</a>
			            </li>				         
			        </ul>
			    </nav>
			</aside>
        </div>
    </div>
</main>

{% endblock %}
