{% extends "../layout.html" %}

{% block page_title %}
  Service Green
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "../../includes/phase_banner_beta.html" %}
	
	<div class="breadcrumbs">
		<ol>
			<li><a href="../index.html">Home</a></li>
			<li><a href="#1">Page</a></li>
			<li>Social worker</li>
		</ol>
	</div>

    <div class="grid-row">
		<div class="column-third">
			<h1 class="heading-xlarge" style="margin-bottom:15px;">Social worker</h1>
		</div>
	</div>

    <div class="grid-row" data-module="highlight-active-section-heading">
		<div class="column-third">
			<!--  Page contents -->
			<nav aria-label="skip to job profile" class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
				<h2 class="page-contents__title">Page contents:</h2>
				<ul class="page-contents__list">
					<li><a href="#overview" class="active">Overview</a></li>
	                <li><a href="#how-to-become">How to become</a></li>
					<li><a href="#skills-required">Skills</a></li>							   
	                <li><a href="#what-youll-do">What you'll do</a></li>
	                <li><a href="#salary">Salary</a></li>
	                <li><a href="#working-hours-patterns-and-environment">Working hours, patterns and environment</a></li>
		            <li><a href="#career-path-and-progression">Career path and progression</a></li>
		            <li><a href="#related-careers">Related careers</a></li>
				</ul>
			</nav>
		</div>

        <div class="column-two-thirds">
            
            <section  id="overview">
	            <div class="govuk-box-grey" style="margin-top: 2.3684em">
	                <p>Social workers help to protect vulnerable children and adults from harm or abuse, and support people to live independently.</p>
	            </div>
	            <div class="profile">
	                <div class="sixty">
	                    <span class="salary-icon">
	                    	<img alt="Salary, a pound sign" src="/public/images/salary.png">
	                    </span> 
	                    <span class="visually-hidden">Salary:</span> 
	                    <span class="bold">£24,000 to £40,000</span> 
	                    per year
	                </div>
	                <div class="forty">
	                    <span class="hours-icon">
	                    	<img alt="Hours, a clock face" src="/public/images/hours.png">
	                    </span> 
	                    <span class="visually-hidden">Hours:</span>
	                    <span class="bold">37 to 40 hours</span> 
	                    per week
	                </div>
	            </div>
            </section>

            <!--section 1-->
            <section  id="how-to-become">
                <h2 class="heading-large">How to become</h2>
				<p>To be a social worker you’ll need:</p>

				<ul class="list list-bullet">
					<li>a degree</li> 
					<li>background checks by the <a href="https://www.gov.uk/disclosure-barring-service-check/overview">Disclosure and Barring Service</a> (DBS)</li>
				</ul>

				<p>If you don’t have a degree you’ll need to take a <a href="social-worker/path/education/undergraduate">degree in social work</a> approved by the <a href="http://www.hpc-uk.org/education/programmes/">Health and Care Professions Council</a> (HCPC)</p>

				<p>To get on to a <a href="social-worker/path/education/undergraduate">degree course</a>, you'll normally need at least 5 GCSEs at grades 9 to 4 (A* to C), including maths and English, and 2 A levels, or an equivalent qualification like an <a href="social-worker/path/apprenticeship">apprenticeship</a> or <a href="social-worker/path/education/higher-education">Level 3 NVQ in health and social care</a>.</p>

				<p>If you have a degree with a 2:2 grade or higher in another subject, you could do a 2-year <a href="social-worker/path/education/postgraduate">master’s degree in social work</a>. If you have a 2:1 or above you could apply to do an intensive, work-based programme like:</p>

				<ul class="list list-bullet">
					<li><a href="http://www.thefrontline.org.uk/careers/graduate-programme">Frontline</a></li>
					<li><a href="https://thinkahead.org/about-the-programme/how-to-apply/">Think Ahead</a></li>
					<li><a href="https://www.gov.uk/guidance/step-up-to-social-work-information-for-applicants">Step up to Social Work</a></li>
				</ul>

				<p>You may be able to get financial <a href="https://www.gov.uk/student-finance/overview">help to do a degree</a> or get a <a href="http://www.nhsbsa.nhs.uk/825.aspx">bursary</a>.</p>

				<p>Once you qualify, you’ll need to register with the HCPC before you can practise.</p>

				<p>You can find out more about how to become a social worker from the <a href="https://www.basw.co.uk/">British Association of Social Workers</a>.</p>
            </section>

			<!--section 2-->
			<section  id="skills-required">
				<h2 class="heading-large">Skills</h2>
				<p>You'll need:</p>
				<ul class="list list-bullet">
					<li>excellent communication and listening skills</li>
					<li>the ability to build working relationships with families, groups and professionals</li>
					<li>tact and understanding</li>
					<li>the ability to remain calm in stressful situations</li>
					<li>problem solving and report writing skills</li>
					<li>the ability to make decisions and use your professional judgement</li>
					<li>administration and organisational skills</li>
					<li>IT skills</li>
				</ul>
			</section>

			<!--section 3-->
			<section  id="what-youll-do">
				<h2 class="heading-large">What you'll do</h2>
				
				<p>You'll work with a range of people including children, families and vulnerable adults needing protection.</p>
				
				<p>The people you'll support could be homeless children or adults, or people with drug, alcohol or substance misuse problems. In some roles, you might support children and adults with learning disabilities or physical disabilities.</p>
				
				<p>You might also work with:</p>

				<ul class="list list-bullet">
					<li>people of all ages with mental health problems</li>
					<li>looked after children and young people</li>
					<li>carers and adopters</li>
					<li>older people</li>
					<li>people receiving end of life and palliative care</li>
					<li>people in prison with social care needs</li>
					<li>young offenders</li>
					<li>refugees and asylum seekers</li>
					<li>people at risk of abuse and neglect or who have been abused or neglected</li>
					<li>victims of domestic violence</li>
				</ul>

				<p>You'll provide help and support to improve people's lives. You may visit people in their homes to look at their needs and build relationships with them. Your day-to-day tasks may include:</p>

				<ul class="list list-bullet">
					<li>offering information and counselling</li>
					<li>putting together support plans</li>
					<li>keeping records and writing reports</li>
					<li>working with other professionals</li>
					<li>supervising team members</li>
					<li>attending court</li>
					<li>discussing your cases through regular supervision</li>
				</ul>
			</section>

			<!--section 4 -->
			<section  id="salary">
				<h2 class="heading-large">Salary</h2>
				<p>Starter: £24,000 (newly qualified)</p>
				<p>Experienced: up to £40,000</p>
				<p>A newly qualified social worker could expect to earn £24,000 per annum. This could rise  to £40,000 per annum for an experienced social worker depending on their location.<br>
				<br>
				These figures are a guide.</p>
			</section>  

            <!--section 5 -->               
			<section  id="working-hours-patterns-and-environment">
				<h2 class="heading-large">Working hours, patterns and environment</h2>
				<p>You’ll usually work office hours or on a rota. You may work shifts, including nights, or be on call.</p>
				<p>You may work in an office. Most offices operate a hot-desk system where you'll be expected to work flexibly.</p>
				<p>You may visit people in their homes. You could also work in a hospital or in a day, health or residential centre.</p>
			</section>

            <!--section 6-->
			<section  id="career-path-and-progression">
				<h2 class="heading-large">Career path and progression</h2>
				<p>During your first year in work your employer may offer the<a href="http://www.skillsforcare.org.uk/Topics/Social-work/Social-work.aspx"> Assessed and Supported Year in Employment (ASYE)</a>. This includes extra support like:</p>
				<ul class="list list-bullet">
					<li>regular supervision</li>
					<li>a training and development plan</li>
					<li>time to meet your training and development needs</li>
				</ul>
				<p>You'll need to pass your ASYE in the first 12 months of being employed  so that you can get your fitness to practice certificate.</p>
				<p>When you've completed your ASYE, you'll be given a  training pathway to keep your skills current and to help you progress. Each local authority will have a career pathway, with some offering the chance to study for an MA in Advanced Professional Practice.</p>
				<p>With experience, you'll usually find opportunities to progress into management, research or study for a PhD. You could also become a practice educator and train and mentor students from your partner university. </p>
			</section>

			<section  id="related-careers">
				<h2 class="heading-large">Related careers</h2>
				<p>You may be interested in:</p>
				<ul class="list list-bullet">
					<li><a href="/job-profiles/foster-carer">Foster carer </a></li>
					<li><a href="/job-profiles/drug-and-alcohol-worker">Drug and alcohol worker </a></li>
					<li><a href="/job-profiles/family-mediator">Family mediator </a></li>
					<li><a href="/job-profiles/family-support-worker">Family support worker </a></li>
					<li><a href="/job-profiles/probation-officer">Probation officer </a></li>
				</ul>
			</section>

			<p class="grey font-xsmall">Last updated: 23 March 2016</p>
        </div>
    </div>
</main>
{% include "../includes/feedback_footer.html" %}

<script src="/public/_sprint8/javascripts/jquery-1.11.3.js"></script>
<script src="/public/_sprint8/javascripts/service-manaul.js"></script>


{% endblock %}
