{% extends "../layout_BAU.html" %}

{% block page_title %}
	Careers advice
{% endblock %}

{% block content %}

{% set serviceName = 'the National Careers Service' %}
{% set bannerStyle = 'BAU-style' %}
{% include "../includes/VOC_exit-routes_v2.html" %}

<div id="global-header-bar" style="background: #005ea5;"></div>
<main id="content" role="main">
     <div class="phase-banner-beta phase-banner-BAU">
          <!-- <p>
               <span>We're building a new service – your <a href="#1">feedback</a> will help us to improve it.</span>
          </p> -->

          <ul class="account-navigation">
               <li><a href="#1">Sign in</a></li>
               <li><a href="#1">Create account</a></li>
          </ul>
     </div>

     <div class="grid-row">
          <div class="column-two-thirds">
               <h1 class="heading-xlarge">National Careers Service</h1>
               <p class="lede">We provide information, advice and guidance to help you make decisions on learning, training and work.</p>
               <p>We are redesigning this service. If you had a Lifelong Learning Account you can still use your existing details to sign in. You'll be able to view your saved:</p>
               <ul class="list list-bullet">
                   <li>CVs</li>
                   <li>Skills health check reports</li>
                   <li>action plans</li>
                   <li>course searches</li>
               </ul>
               <h2 class="heading-small"><a href="#1">Job profiles</a></h2>
               <p>Find out what a job involves and if it's right for you.</p>
               <h2 class="heading-small"><a href="#1">Skills health check</a></h2>
               <p>Use our assessment to find out what kind of jobs could suit you and save your results.</p>
               <h2 class="heading-small"><a href="#1">Find a course</a></h2>
               <p>Look for courses and learning providers and save information about them.</p>
               <h2 class="heading-small"><a href="#1">Contact an adviser</a></h2>
               <p>Find out about the different ways to get in touch.</p>
               <h2 class="heading-small"><a href="#1">Help to get a job</a></h2>
               <p>Get advice on the different stages of a job hunt, including how to improve your interview technique and write an effective CV. You can get help to search for your first job, get back into work or change career direction.</p>
          </div>
     </div>

</main>

<script>
/* --------------------------------------------------------
     VOC exit routes banner
-------------------------------------------------------- */

// Variables

var survey = document.getElementById('exit-routesSurvey');

// Functions

function showSurvey() {
     survey.classList.remove('js-hidden');
     document.getElementById('recruit-message').classList.add('js-hidden');
     document.getElementById('survey-header').classList.remove('js-hidden');
}

function hideSurvey() {
     survey.classList.add('js-hidden');
}

function endSurvey() {
     hideSurvey();
     document.getElementById('survey-done').classList.remove('js-hidden');
     document.getElementById('survey-header').classList.add('js-hidden');
}

function submitFeedback() {
     surveySubmitted = true;
     surveyNextQuestion();
}

function resetSurvey() {
     hideSurvey();
     surveyInit();
     document.getElementById('recruit-message').classList.remove('js-hidden');
     document.getElementById('survey-header').classList.add('js-hidden');
     surveySubmitted = false;
}

function hideOrReset() {
     document.getElementById('VOC-exit-routes_container').classList.add('js-hidden');
     // surveySubmitted ? endSurvey() : resetSurvey();
}


function initPageModel() {
     currentPage = 0;
     nextPage = 1;
     prevPage = -1;
}

function initPageBranchModel(){
     branchModel = {};
}

function updatePageBranchModel(pageNumber, branchLetter){
     branchModel[pageNumber] = branchLetter;
}

function checkForPageBranch(direction){
     var pageBranch = '';
     for (var key in branchModel) {
          if (direction === 'next' && key === nextPage.toString()) {
               pageBranch = branchModel[key];
          }
          if (direction === 'prev' && key === prevPage.toString()) {
               pageBranch = branchModel[key];
          }
          if (direction === 'current' && key === currentPage.toString()) {
               pageBranch = branchModel[key];
          }
     }
     return pageBranch;
}

function surveyInit() {
     surveySubmitted = false;

     var surveyPages = document.getElementsByClassName('VOC-exit-routes_survey__page');

     for(i = 0; i < surveyPages.length; i++) {
          if(i > 0) {
               surveyPages[i].classList.add('js-hidden');
          } else {
               surveyPages[i].classList.remove('js-hidden');
          }
     }
     initPageModel();
     initPageBranchModel();
}
surveyInit();

function surveyNextQuestion() {
     var branch = checkForPageBranch('next');
     var branchCurrent = checkForPageBranch('current');

     var thisPageId = 'VOC-exit-routes_page' + currentPage.toString() + branchCurrent;
     var thisPageElement = document.getElementById(thisPageId);
     thisPageElement.classList.add('js-hidden');

     var nextPageId = 'VOC-exit-routes_page' + nextPage.toString() + branch;
     var nextPageElement = document.getElementById(nextPageId);
     nextPageElement.classList.remove('js-hidden');

     updatePageModel('next');
}

function surveyPrevQuestion() {
     var branch = checkForPageBranch('prev');
     var branchCurrent = checkForPageBranch('current');

     var thisPageId = 'VOC-exit-routes_page' + currentPage.toString() + branchCurrent;
     var thisPageElement = document.getElementById(thisPageId);
     thisPageElement.classList.add('js-hidden');

     var prevPageId = 'VOC-exit-routes_page' + prevPage.toString() + branch;
     var prevPageElement = document.getElementById(prevPageId);
     prevPageElement.classList.remove('js-hidden');

     updatePageModel();
}

function updatePageModel(thisDirection) {
     if (thisDirection === 'next') {
          currentPage = currentPage+1;
          nextPage = nextPage+1;
          prevPage = prevPage+1;
     } else {
          currentPage = currentPage-1;
          nextPage = nextPage-1;
          prevPage = prevPage-1
     }
}

</script>


{% endblock %}
