{% extends "../layout_full-width_phase-tag.html" %}

{% block page_title %}
	Service Green
{% endblock %}

{% block content %}

{% set serviceName = 'Service Green' %}
{% set bannerStyle = 'BETA-style' %}
{% include "../includes/VOC_exit-routes.html" %}

<!-- {% include "../includes/phase_banner_beta_full-width.html" %} -->

<header class="PROD_hero">
     <div class="PROD_full-page-width-wrapper">
          <div class="grid-row">
               <div class="column-two-thirds">
                    <h1 class="heading-xlarge">Service Green</h1>
                    <p class="lede">Explore what kind of work is right for you, and take the next steps towards what you want to be</p>
                    <form id="searchForm">
                         <!-- <label>Enter a job title</label> -->
                         <div class="PROD_search">
                              <div id="search-box" class="PROD_search__input-container">
                                   <input id="searchInput" class="PROD_search__input" autocomplete="off" placeholder="Enter a job title or keywords" type="text">
                              </div>
                              <input class="PROD_search__submit" onclick="saveSearchTermsAndContinue()" type="button" value="Search">
                         </div>
                    </form>
               </div>
          </div>
     </div>
</header> 
<main id="content" role="main">
     <div class="grid-row">
          <div class="column-full">
               <h2 class="heading-medium">Explore by job category</h2>
          </div>
          <div class="column-one-third">
               <ul class="list category-list">
                    <li><a href="#1" class="prototype-link">Administration</a></li>
                    <li><a href="#1" class="prototype-link">Animal care</a></li>
                    <li><a href="#1" class="prototype-link">Beauty and wellbeing</a></li>
                    <li><a href="#1" class="prototype-link">Business and finance</a></li>
                    <li><a href="#1" class="prototype-link">Delivery and storage</a></li>
                    <li><a href="#1" class="prototype-link">Computing, technology and digital</a></li>
                    <li><a href="#1" class="prototype-link">Construction and trades</a></li>
                    <li><a href="#1" class="prototype-link">Creative and media</a></li>
               </ul>
          </div>
          <div class="column-one-third">
               <ul class="list category-list">
                    <li><a href="#1" class="prototype-link">Emergency and uniform services</a></li>
                    <li><a href="#1" class="prototype-link">Engineering and maintenance</a></li>
                    <li><a href="#1" class="prototype-link">Environment and land</a></li>
                    <li><a href="#1" class="prototype-link">Government services</a></li>
                    <li><a href="#1" class="prototype-link">Healthcare</a></li>
                    <li><a href="#1" class="prototype-link">Hospitality and food</a></li>
                    <li><a href="#1" class="prototype-link">Legal</a></li>
                    <li><a href="#1" class="prototype-link">Managerial</a></li>
               </ul>
          </div>
          <div class="column-one-third">
               <ul class="list category-list">
                    <li><a href="#1" class="prototype-link">Manufacturing</a></li>
                    <li><a href="#1" class="prototype-link">Retail and sales</a></li>
                    <li><a href="#1" class="prototype-link">Science and research</a></li>
                    <li><a href="#1" class="prototype-link">Social care</a></li>
                    <li><a href="#1" class="prototype-link">Sports and leisure</a></li>
                    <li><a href="#1" class="prototype-link">Teaching and education </a></li>
                    <li><a href="#1" class="prototype-link">Transport</a></li>
                    <li><a href="#1" class="prototype-link">Travel and tourism</a></li>
               </ul>
          </div>
     </div>
</main>

<script>
// This function gets the value entered in the search box and saves it to the session data
// Then loads the next page
function saveSearchTermsAndContinue() {
     var searchPrompt = "Enter a job title or keywords";
     window.setSessionData('searchPrompt', searchPrompt);
     var searchTerm = document.getElementById('searchInput').value;
     window.setSessionData('searchTerm', searchTerm, function(){
          setTimeout(changePage, 500);
          function changePage() {
               window.location.href="search-results_blank_v2";
          }
     });
}

// This function make sure the form is submitted when search field is in focus and the user presses enter
// This function is overriding one set in the accessible-typeahead.min.js that doesn't allow this behaviour if there are auto-complete options
function searchOnReturn() {
     var searchContainer = document.getElementById("searchInput");
     var e = window.event;
     searchContainer.addEventListener('keydown', function(e) {
          if (e.which === 13 || e.keycode === 13) {
               e.preventDefault();
               saveSearchTermsAndContinue();
          }
     });
} 

function init () {
     searchOnReturn();
}
window.onload = init;

</script>


{% endblock %}
