{% extends "./layout.html" %}

{% block page_title %}
  Legal - Search Results
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

{% include "./includes/survey.html" %}


<main id="content" role="main" class="search">
    <div id="global-header-bar"></div>
    {% include "./includes/breadcrumb_search.html" %}

    <div class="search-header">
        <div class="searchfield">
            <fieldset class="search-input">
                <label for="search-main">
                    <h1>Search results for <span class="visuallyhidden">“Halth”</span></h1>
                </label>
                <input type="search" name="q" placeholder="Enter a job title" value="Halth" id="search-main">
            </fieldset>

            <fieldset class="search-submit">
                <button type="submit" class="button">Search</button>
            </fieldset>
        </div>

        <fieldset class="spelling-suggestion">
            <p>Did you mean <a href="search_resultsDYM">Health</a></p>
        </fieldset> 
    </div>

    <div id="results" class="js-live-search-results-block">

        <div class="results-block">
            <div class="inner-block js-live-search-results-list">

                <div class="result-count scoped-result-count">4 results found</div>
                <div class="search-results-list" id="searchResultsList" style="padding-top: 30px;">
                    <div class="search-result">
                        <h3 class="heading-medium "><a href="./job-profiles/police-officer" class="prototype-link">Environmental health officer</a></h3>
                        <p class="meta">Environmental health practitioner</p>
                        <p>Environmental health officers make sure people's surroundings are safe, healthy and hygienic.</p>
                        <p class="heading-small">Salary: £25,000 to £60,000 per year</p>
                        <p class="meta">Found in: <a href="job-categories/environment-land">Environment and land</a>, <a href="job-categories/government-services">Government services</a></p>
                    </div>

                    <div class="search-result">
                        <h3 class="heading-medium "><a href="./job-profiles/police-officer" class="prototype-link">Dental-hygienist</a></h3>
                        <p class="meta dfc-code-search-jpAltTitle">Oral health practitioner</p>
                        <p>Dental hygienists offer advice, information and treatments to prevent and treat tooth decay and gum disease.</p>
                        <p class="heading-small">Salary: £22,000 to £41,500 per year</p>
                        <p class="meta">Found in: <a href="job-categories/healthcare">Healthcare</a></p>
                    </div>

                    <div class="search-result">
                        <h3 class="heading-medium "><a href="./job-profiles/police-officer" class="prototype-link">Mental health nurse</a></h3>
                        <p>Mental health nurses work in hospitals and the community, to support people with a range of mental health issues.</p>
                        <p class="heading-small">Salary: £22,000 to £48,000 per year</p>
                        <p class="meta">Found in: <a href="job-categories/healthcare">Healthcare</a></p>
                    </div>

                    <div class="search-result">
                        <h3 class="heading-medium "><a href="job-categories/healthcare" class="prototype-link">Category: Healthcare</a></h3>
                        <p>Organized provision of medical care to individuals or a community.</p>
                        <p class="meta">Contains 16 job profiles</p>
                    </div>
                    <p></p>
                </div>
            </div>
            {% include "./includes/signpost.html" %}
        </div>
        
    </div>

    <!--<div class="grid-row">
        <div class="column-two-thirds js-hidden pagination" id="searchResultsPagination">
            <ul class="previous-next-navigation">
                <li class="next">
                    <a href="#1" id="nextBtn">
                        <span class="pagination-label">Next</span>
                        <span class="visuallyhidden">page</span>
                        <span class="page-numbers">2 of Number of Pages</span>
                    </a>
                </li>
                <li class="previous">
                    <a href="#1" id="prevBtn">
                        <span class="pagination-label">Previous</span>
                        <span class="visuallyhidden">page</span>
                        <span class="page-numbers">1 of Number of pages</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>-->
    
</main>


{% endblock %}
