{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Training routes' %}

{% include "../includes/survey.html" %}

    {% include "../includes/global_header_bar.html" %}

<main id="content" role="main">
    {% include "../includes/breadcrumb_filters.html" %}
    <div class="grid-row">
        <div class="column-two-thirds explore-top">
            <h4 class="heading-small grey">Question 6 of 10</h4>
            <h1 class="heading-medium top0">Delivering &amp; meeting expectations 2</h1>
            <p id="answer-1" class="js-hidden">Well done! A Plumbing Apprentice needs to be committed to getting the job done for the customer, using their own initiative to work out how best to do that.</p>
            <p id="answer-2" class="js-hidden">While it is helpful to ensure you have everything you need to complete a job, it would be more helpful to go ahead yourself and get the work finished if you know what needs to be done.</p>
            <p id="answer-3" class="js-hidden">If you know what needs to be done and the Supervisor has shown you the standard they would like the work at, a Plumbing Apprentice needs to feel comfortable to take the initiative and work away under their own steam to get the work complete. If you think you may find this difficult, you may want to reconsider your fit to the role.</p>
        </div>
    </div>


    <div class="grid-row">
        <div class="column-full"><a href="question7" id="cc-nextq" class="explore-button">Next</a></div>
    </div>

</main>



{% endblock %}
