{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Training routes' %}

{% include "../includes/survey.html" %}

    {% include "../includes/global_header_bar.html" %}

<main id="content" role="main">
    {% include "../includes/breadcrumb_filters.html" %}
    <div class="grid-row">
        <div class="column-two-thirds explore-top">
            <h4 class="heading-small grey">Question 5 of 10</h4>
            <h1 class="heading-medium top0">Delivering &amp; meeting expectations</h1>
            <p>You arrive at a site to install a new drainage system and find that there is a blocked sewage pipe.</p>
            <p>The Supervisor has instructed you to deal with the situation and has gone to another area of the site.</p>
            <p>The sewage needs to be cleared before any work can be done on the new drainage system.</p>
            <p>Your team didn't bring an electric sewage pump to the site as your team hadn't realised it would be needed.</p>
            <p>You have all of your own tools with you, including drain rods.</p>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds explore-top">
            <h1 class="heading-small">Choose your approach</h1>
            <form>
                <div class="form-group">
                    <fieldset class="">
                        <div class="multiple-choice">
                            <input class="shm-radio" id="radio-inline-1" onClick="sessionStorage.SHManswer=1" type="radio" name="radio-inline-group" value="Yes">
                            <label for="radio-inline-1">Take control and use a drain rod to start to clear the blocked pipe for when the Supervisor returns.</label>
                        </div>
                        <div class="multiple-choice">
                            <input class="shm-radio" id="radio-inline-2" onClick="sessionStorage.SHManswer=2" type="radio" name="radio-inline-group" value="No">
                            <label for="radio-inline-2">Work out how much time it would take you to drive and get the electric pump.</label>
                        </div>
                        <div class="multiple-choice">
                            <input class="shm-radio" id="radio-inline-3" onClick="sessionStorage.SHManswer=3" type="radio" name="radio-inline-group" value="Yes">
                            <label for="radio-inline-3">Wait until the Supervisor returns to assess the situation as you have not brought the best tools for the job.</label>
                        </div>
                    </fieldset>
                </div>
            </form>

        </div>
    </div>
    <div class="grid-row">
        <div class="column-full"><a href="answer5" id="cc-next" class="explore-button">Next</a></div>
        <p class="cc-error right js-hidden">Please select an option from the choices above before continuing.</p>
    </div>

</main>



{% endblock %}
