{% extends "../jobprofile.html" %}

{% block page_title %}
{{profileName}} | Explore Careers
{% endblock %}

{% set profileName = "Business development manager" %}
{% set profileDescription = "Business development managers find new customers, and persuade existing ones to buy extra services." %}
{% set salaryLow = "25,000" %}
{% set salaryHigh = "60,000" %}
{% set hoursRange = "38 to 40" %}
{% set hoursDetail = "a week" %}
{% set patternValue = "evenings" %}
{% set patternDescription = "attending events or appointments" %}






<!-- Related Careers -->
{% set RelatedCareerName1 = 'Business adviser' %}
{% set RelatedCareerLink1 = '#' %}

{% set RelatedCareerName2 = 'Marketing manager' %}
{% set RelatedCareerLink2 = '#' %}

{% set RelatedCareerName3 = 'Bid writer' %}
{% set RelatedCareerLink3 = '#' %}

{% set RelatedCareerName4 = 'Business analyst' %}
{% set RelatedCareerLink4 = '#' %}


{% set RelatedCareerName5 = 'Sales manager' %}
{% set RelatedCareerLink5 = '#' %}
{% block content %}

{% set serviceName = 'Explore careers' %}
{% set bannerStyle = 'BETA-style' %}

<section id="HowToBecome" data-gtm-vis-recent-on-screen-8675592_54="4036" data-gtm-vis-first-on-screen-8675592_54="4036" data-gtm-vis-total-visible-time-8675592_54="100" data-gtm-vis-has-fired-8675592_54="1">
        <h2 class="heading-large job-profile-heading">How to become</h2>
        <p>You can get into this job through:</p>
        <ul>
            <li>a university course </li>
            <li>a college course</li>
            <li>working towards this role</li>
            <li>applying directly</li>
        </ul>    <section class="job-profile-subsection" id="University">
            <h3>University</h3>
            <div class="job-profile-subsection-content">



                A business-related degree may give you useful background knowledge and help you get onto a graduate training programme run by some companies.
                Employers will also usually want you to have experience in sales, marketing or business management.


                <h4>More information</h4>
                <ul class="list-link">
                    <li><a class="htb-feature" href="https://www.gov.uk/student-finance">student finance for fees and living costs</a></li>
                    <li><a class="htb-feature" href="https://www.ucas.com/">university courses and entry requirements</a></li>
                </ul>
            </div>
        </section>
        <section class="job-profile-subsection" id="College">
            <h3>College</h3>
            <div class="job-profile-subsection-content">

                <p>You could study a college course in sales or business and if you've started work in a junior role, you could consider taking qualifications like:</p>
                <ul>
                    <li>Level 2 Diploma in Skills for Business: Sales and Marketing</li>
                    <li>Level 3 Award in Business Development Skills</li>
                    <li> Level 3 Certificate in Sales Management</li>
                </ul>



                <h4>Entry requirements</h4>
                <p></p>
                <ul class="list-reqs">
                    <li>2 or more GCSEs at grades 9 to 3 (A* to D) for a level 2 course</li>
                    <li>4 or 5 GCSEs at grades 9 to 4 (A* to C) for a level 3 course</li>
                </ul>

                <h4>More information</h4>
                <ul class="list-link">
                    <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                    <li><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help">funding advice</a></li>
                    <li><a class="htb-feature" href="https://nationalcareersservice.direct.gov.uk/course-directory/home">search for courses</a></li>
                </ul>
            </div>
        </section>
        <section class="job-profile-subsection" id="work">
            <h3>Work</h3>
            <div class="job-profile-subsection-content">
                <p>You could work your way up from a sales or marketing role.</p>
            </div>
        </section>

        <section class="job-profile-subsection" id="volunteering">
            <h3>Volunteering and experience</h3>
            <div class="job-profile-subsection-content">
                <p>You could develop useful customer service and marketing skills by volunteering.</p>
                <p><a href="https://do-it.org/">Do It</a> has more information on voluntary opportunities in your area.</p>
            </div>
        </section>

        <section class="job-profile-subsection" id="directapplication">
            <h3>Direct application</h3>
            <div class="job-profile-subsection-content">
                <p>You could apply directly to become a business development manager, as there are no formal entry requirements, but employers may ask for:</p>
                <ul>
                    <li>GCSEs at grades 9 to 4 (A* to C) in maths, English and IT</li>
                    <li>sales, marketing or business management experience</li>
                    <li>a degree in any subject</li>
                </ul>
            </div>
        </section>

        <section class="job-profile-subsection" id="moreinfo">
            <h3>More information</h3>
            <div class="job-profile-subsection-content">

                <h4>Career tips</h4>
                <p>In some jobs you could travel around the world to meet customers, so it may be helpful to speak a second language.</p>                            <h4>Professional and industry bodies</h4>
                <ul>
                    <li><a href="http://www.mamsasbp.org.uk/mamsa/index.asp">The Managing &amp; Marketing Sales Association</a></li>
                    <li><a href="https://www.ismprofessional.com/qualifications/">Institute of Sales Management</a></li>
                </ul>
            </div>
        </section>
    </section><section class="job-profile-subsection" id="Skills">
        <h2 class="heading-large">What it takes</h2>
        <section class="job-profile-subsection">
            <h3>Skills and knowledge</h3>
            <div class="job-profile-subsection-content">
                <p>You'll need:</p>
                <ul>
                    <li>
                        the ability to sell products and services
                    </li>
                    <li>
                        knowledge of English language
                    </li>
                    <li>
                        the ability to use your initiative
                    </li>
                    <li>
                        leadership skills
                    </li>
                    <li>
                        maths knowledge
                    </li>
                    <li>
                        customer service skills
                    </li>
                    <li>
                        business management skills
                    </li>
                    <li>
                        ambition and a desire to succeed
                    </li>
                    <li>advanced digital skills for programming and using a range of computer languages, hardware and software</li>
                </ul>
            </div>
        </section>
    </section>
    <section id="WhatYouWillDo">
        <h2 class="heading-large">What you'll do</h2>
        <section class="job-profile-subsection">
            <h3>Day-to-day tasks</h3>
            <div class="job-profile-subsection-content">
                <p>Your day-to-day duties could include:</p>
                <ul>
                    <li>researching organisations to find new customers and identify who makes the decisions </li>
                    <li>'cold calling' to arrange meetings at customers' premises </li>
                    <li>finding out what an organisation needs and working with a team to plan proposals and pricing </li>
                    <li>selling products and services to new and existing customers </li>
                    <li>negotiating with customers and building positive relationships </li>
                    <li>attending events and conferences </li>
                    <li>writing reports and making presentations to customers and senior management </li>
                    <li>identifying new methods and opportunities for sales campaigns </li>
                    <li>forecasting sales targets and making sure they're met </li>
                    <li>delivering training to business developers and junior sales teams</li>
                </ul>
            </div>
        </section>
        <section class="job-profile-subsection" id="workingenvironment">
            <h3>Working environment</h3>
            <div class="job-profile-subsection-content">
                <p>You could work at a client's business or in an office.</p>
            </div>
        </section>

    </section>
    <section id="CareerPathAndProgression">
        <h2 class="heading-large">Career path and progression</h2>

        With experience, you could progress to senior development manager, business development executive or marketing director.&nbsp;<br>
        <br>
        You could also use your skills in sales, marketing and project management to move into other areas of business.

    </section><section id="current-opportunities">
        <div id="MainContent_C020_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Opportunities Container">
            <h2 class="heading-large">Training opportunities</h2>

            <div class="grid-row" id="appGeneric">
                <div class="column-full">
                    <h3 class="heading-medium">
                        Apprenticeships
                        <span class="heading-secondary">In England</span>
                    </h3>
                </div>
                <div class="column-half">
                    <div class="panel panel-border-narrow opportunity-item">
                        <h4 class="heading-small">
                            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/91104512">Finance Administration Apprentice</a>
                        </h4>
                        <ul class="list">
                            <li><span class="bold-small">Wage:</span> &pound;111.00</li>
                            <li><span class="bold-small">Location:</span> Batley WF17 8LL</li>
                        </ul>
                    </div>
                </div>
                <div class="column-half">
                    <div class="panel panel-border-narrow opportunity-item">
                        <h4 class="heading-small">
                            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1478653">Apprentice Learning and Development Administrator</a>
                        </h4>
                        <ul class="list">
                            <li><span class="bold-small">Wage:</span> &pound;14,000.00 - &pound;15,400.00</li>
                            <li><span class="bold-small">Location:</span> London SE1 9SG</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dfc-code-jp-vacancyText">
                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
            </div>

            <div class="grid-row dfc-code-jp-trainingCourse">
                <div class="column-full">
                    <h3 class="heading-medium">
                        Courses
                        <span class="heading-secondary">In England</span>
                    </h3>
                </div>
                <div class="column-half">
                    <div class="panel panel-border-narrow opportunity-item">
                        <h3 class="heading-small">
                            <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=54800541">Business Management (Small Business Enterprise) Foundation Degree Level 5</a>
                        </h3>
                        <ul class="list">
                            <li><span class="bold-small">Provider:</span> Nottingham College</li>
                            <li><span class="bold-small">Start date:</span> 01 October 2019</li>
                            <li><span class="bold-small">Location:</span> Nottingham</li>
                        </ul>
                    </div>
                </div>
                <div class="column-half">
                    <div class="panel panel-border-narrow opportunity-item">
                        <h3 class="heading-small">
                            <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=55197703">Business Management - Run Your Own Business - Stage 1</a>
                        </h3>
                        <ul class="list">
                            <li><span class="bold-small">Provider:</span> SURREY COUNTY COUNCIL</li>
                            <li><span class="bold-small">Start date:</span> 13 May 2019</li>
                            <li><span class="bold-small">Location:</span> WOKING</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dfc-code-jp-TrainingCoursesText">
                <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find courses near you</a>
            </div>

        </div>
    </section>
    {% endblock %}
















