{% extends "../jobprofile.html" %}

{% block page_title %}
{{profileName}} | Explore Careers
{% endblock %}

{% set profileName = "Fashion model" %}
{% set profileDescription = "Fashion models promote clothing and accessory brands at fashion events and in magazines and digital media." %}
{% set salaryLow = "Variable" %}
{% set salaryHigh = "Variable" %}
{% set hoursRange = "45 to 47" %}
{% set hoursDetail = "term time" %}
{% set patternValue = "freelance / self-employed" %}
{% set patternDescription = "attending events or appointments" %}

<!-- Related Careers -->
{% set RelatedCareerName1 = 'Make-up artist' %}
{% set RelatedCareerLink1 = '#' %}

{% set RelatedCareerName2 = 'Image consultant' %}
{% set RelatedCareerLink2 = '#' %}

{% set RelatedCareerName3 = 'Actor' %}
{% set RelatedCareerLink3 = '#' %}

{% set RelatedCareerName4 = 'Fashion design assistant' %}
{% set RelatedCareerLink4 = '#' %}

{% set RelatedCareerName5 = 'Beauty consultant' %}
{% set RelatedCareerLink5 = '#' %}
{% block content %}

{% set serviceName = 'Explore careers' %}
{% set bannerStyle = 'BETA-style' %}

<section id="HowToBecome">
    <h2 class="heading-large job-profile-heading">How to become</h2>
    <p>You can get into this job through:</p>
    <ul>
        <li>applying directly</li>
    </ul>

    <section class="job-profile-subsection" id="directapplication">
        <h3>Direct application</h3>
        <div class="job-profile-subsection-content">
            <p>You'll usually start your career by going to a model agency in person or sending photographs and details of your measurements to them.</p>
            <p>You'll need a good appearance and the right 'look' for the area of modelling you want to go into.</p>
            <p>You should usually be well-proportioned for fashion modelling, with regular features and healthy skin, teeth and hair. For other types of modelling you would need to fit in with the look that modelling agencies want.</p>
            <p>You don't need to do a modelling course or have an expensive portfolio of pictures. The <a href="https://www.bfma.fashion/avoiding-frauds-and-scams/">British Fashion Model Agents Association</a> has advice on what to expect from reputable agencies and how to avoid rogue ones.</p>
            <p>An agency can represent you and find work for you. Make sure you do your research to find a reputable agency.</p>
        </div>
    </section>

    <section class="job-profile-subsection" id="moreinfo">
        <h3>More information</h3>
        <div class="job-profile-subsection-content">

            <h4>Career tips</h4>
            <p>There's a lot of competition for modelling jobs. You'll improve your chances of finding work if you build up a good portfolio and get experience and contacts. </p>
            <p>Model agencies are not allowed to charge an up-front fee for you to join them.</p>                                        <h4>Further information</h4>
            <p>You can find out more about becoming a fashion model from the <a href="https://www.bfma.fashion/starting-out-as-a-model/">British Fashion Model Agents Association</a>.</p>
        </div>
    </section>
</section>
<section class="job-profile-subsection" id="Skills">
    <h2 class="heading-large">What it takes</h2>
    <section class="job-profile-subsection">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul>
                <li>
                    the ability to work well with others
                </li>
                <li>
                    active listening skills
                </li>
                <li>
                    to be flexible and open to change
                </li>
                <li>
                    excellent verbal communication skills
                </li>
                <li>
                    patience and the ability to remain calm in stressful situations
                </li>
                <li>
                    the ability to organise your time and workload
                </li>
                <li>
                    concentration skills
                </li>
                <li>
                    physical fitness and endurance
                </li>
                <li>basic digital skills for communicating and recording information</li>
            </ul>
        </div>
    </section>
</section>
<section id="WhatYouWillDo">
    <h2 class="heading-large">What you'll do</h2>
    <section class="job-profile-subsection">
        <h3>Day-to-day tasks</h3>
        <div class="job-profile-subsection-content">
            <p>You'll often have to go to casting sessions with potential clients or agencies. You'll also spend a lot of time looking after your appearance.</p>
            <p>You could specialise in different types of modelling, like:</p>
            <ul>
                <li>high fashion and catwalk</li>
                <li>photographic editorials for magazines</li>
                <li>advertising for magazines, billboards, websites, and social media</li>
                <li>TV commercials</li>
                <li>promotional modelling like music videos, personal appearances, leaflets and brochures</li>
                <li>in-house live modelling for designers and clothing wholesalers</li>
            </ul>
            <p>In fashion show modelling you'll walk along a catwalk, turning to display clothes in front of an audience. You'll work closely with stylists, hair and make-up artists, producers and directors. </p>
            <p>In photographic, advertising and promotional modelling you'll:</p>
            <ul>
                <li>take directions from photographers</li>
                <li>pose for photographers in a studio or on location</li>
                <li>act or deliver lines in TV commercials</li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="workingenvironment">
        <h3>Working environment</h3>
        <div class="job-profile-subsection-content">
            <p>You could work at a tv studio, at a film studio, in a photographic studio or at a store.</p>
            <p>Your working environment may be physically and emotionally demanding and you'll travel often.</p>
        </div>
    </section>

</section>
<section id="CareerPathAndProgression">
    <h2 class="heading-large">Career path and progression</h2>

    <p>With experience, you could become a booker for a model agency or set up your own agency. You could also move into other areas of the fashion industry like styling or fashion journalism. </p>
    <p>You might also find opportunities in areas like TV presenting or acting. </p>

</section>
<section id="current-opportunities">
    <div id="MainContent_C020_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Opportunities Container">
        <h2 class="heading-large">Training opportunities</h2>

        <div class="grid-row" id="appGeneric">
            <div class="column-full">
                <h3 class="heading-medium">
                    Apprenticeships
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
        </div>
        <div class="dfc-code-jp-novacancyText">
            <p>We can't find any apprenticeship vacancies in England for fashion model right now.</p>
            <p>The <a href="https://www.gov.uk/apply-apprenticeship">Find an apprenticeship service</a> can help you with your search, send alerts when new apprenticeships become available and has advice on how to apply.</p>
        </div>

        <div class="grid-row dfc-code-jp-trainingCourse">
            <div class="column-full">
                <h3 class="heading-medium">
                    Courses
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
        </div>
        <div class="dfc-code-jp-NoTrainingCoursesText">
            <p>Are you interested in becoming a fashion model?</p>
            <p>Search for <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home"></a><a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">training courses near you</a>.</p>
            <div></div>
        </div>

    </div>
</section>
    {% endblock %}
















