{% extends "../jobprofile.html" %}

{% block page_title %}
{{profileName}} | Explore Careers
{% endblock %}

{% set profileName = "Firefighter" %}
{% set profileSecondaryName = "Fireman, firewoman" %}
{% set profileDescription = "Firefighters help to protect people from fire and other dangers, and give advice on fire prevention." %}
{% set salaryLow = "22,000" %}
{% set salaryHigh = "42,000" %}
{% set hoursRange = "41 to 43" %}
{% set hoursDetail = "a week" %}
{% set patternValue = "evenings / weekends / bank holidays" %}
{% set patternDescription = "on shifts" %}


<!-- Related Careers -->
{% set RelatedCareerName1 = 'Police officer' %}
{% set RelatedCareerLink1 = '#' %}

{% block content %}

{% set serviceName = 'Explore careers' %}
{% set bannerStyle = 'BETA-style' %}

<section id="HowToBecome" data-gtm-vis-recent-on-screen-8675592_54="4059" data-gtm-vis-first-on-screen-8675592_54="4059" data-gtm-vis-total-visible-time-8675592_54="100" data-gtm-vis-has-fired-8675592_54="1">
    <h2 class="heading-large job-profile-heading">How to become</h2>
    <p>You can get into this job through:</p>
    <ul>
        <li>applying directly and getting training on the job</li>
    </ul>
    <section class="job-profile-subsection" id="volunteering">
        <h3>Volunteering and experience</h3>
        <div class="job-profile-subsection-content">
            <p>Volunteering in a support role will give you an idea of what the job is like, as well as give you access to internal vacancies. </p>
        </div>
    </section>

    <section class="job-profile-subsection" id="directapplication">
        <h3>Direct application</h3>
        <div class="job-profile-subsection-content">
            <p>Every fire service sets its own entry requirements.</p>
            <p>Many ask for GCSEs at grades 9 to 4 (A* to C) in English and maths, or&nbsp;<a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent qualifications</a>.</p>
            <p>You'll need to pass:</p>
            <ul>
                <li>an online test to assess your judgement ability in a realistic work setting</li>
                <li>number tests</li>
            </ul>
            <p>If you're successful, you'll:</p>
            <ul>
                <li>do practical selection tests to find out whether you can do the physical tasks needed for the job</li>
                <li>be interviewed</li>
            </ul>
        </div>
    </section>

    <section class="job-profile-subsection" id="otherroutes">
        <h3>Other routes</h3>
        <div class="job-profile-subsection-content">
            You could prepare to apply to be a firefighter by doing a Level 2 Award, Certificate or Diploma in Fire and Rescue Services in the Community with your&nbsp;<a href="http://www.cfoa.org.uk/10007">local fire and rescue service</a>.
        </div>
    </section>
    <section class="job-profile-subsection" id="moreinfo">
        <h3>More information</h3>
        <div class="job-profile-subsection-content">

            <h4>Career tips</h4>
            <p>Most fire services take on new recruits once every 12 months, so you'll need to find out when they are recruiting next.</p>                                        <h4>Further information</h4>
            <p>You can ask your local fire and rescue service for a firefighter recruitment pack.</p>
        </div>
    </section>
</section>
<section class="job-profile-subsection" id="Skills">
    <h2 class="heading-large">What it takes</h2>
    <section class="job-profile-subsection">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul>
                <li>
                    customer service skills
                </li>
                <li>
                    knowledge of public safety and security
                </li>
                <li>
                    the ability to accept criticism and work well under pressure
                </li>
                <li>
                    patience and the ability to remain calm in stressful situations
                </li>
                <li>
                    to be thorough and pay attention to detail
                </li>
                <li>
                    sensitivity and understanding
                </li>
                <li>
                    knowledge of teaching and the  ability to design courses
                </li>
                <li>
                    the ability to work well with others
                </li>
                <li>basic digital skills for communicating and recording information</li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="restrictions">
        <h3>Restrictions and requirements</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need to:</p>
            <ul>
                <li>pass a fitness test</li>
                <li>pass a medical check</li>
                <li>pass <a href="https://www.gov.uk/criminal-record-checks-apply-role">enhanced background checks</a></li>
                <li>have a full UK or EU driving licence, held for at least 12 months</li>
                <li>be over 18 years of age</li>
            </ul>

        </div>
    </section>
</section>
<section id="WhatYouWillDo">
    <h2 class="heading-large">What you'll do</h2>
    <section class="job-profile-subsection">
        <h3>Day-to-day tasks</h3>
        <div class="job-profile-subsection-content">
            <p>Every day will be different, but you could be:</p>
            <ul>
                <li>inspecting and maintaining equipment</li>
                <li>carrying out practice drills and taking part in training</li>
                <li>rescuing people and animals from burning buildings and accident sites</li>
                <li>controlling and putting out fires</li>
                <li>dealing with bomb alerts and floods</li>
                <li>managing chemical or hazardous substance spills</li>
                <li>giving presentations to schools and community groups</li>
                <li>inspecting buildings to make sure they meet fire safety regulations</li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="workingenvironment">
        <h3>Working environment</h3>
        <div class="job-profile-subsection-content">
            <p>You could work at a fire station, at a client's home or at a client's business.</p>
            <p>Your working environment may be at height, physically and emotionally demanding and cramped.</p>
            <p>You may need to wear safety clothing and a uniform.</p>
        </div>
    </section>

</section>
<section id="CareerPathAndProgression">
    <h2 class="heading-large">Career path and progression</h2>

    <p>All fire services run the <a href="https://www.skillsforjustice-ipds.com/">Integrated Personal Development System (IPDS)</a> which allows you to plan and track your career development.</p>
    <p>You could work your way up to crew manager, watch manager or station manager. If you're prepared to move between services, you could also become an area manager, a brigade manager or a chief fire officer.</p>
    <p>If you're involved in fire safety and prevention work, you can take professional qualifications leading to membership of the <a href="http://www.ife.org.uk/about/">Institution of Fire Engineers (IFE)</a>.</p>
    <p>You could also get a Heavy Goods Vehicle (HGV) licence for driving fire engines.</p>

</section>
<section id="current-opportunities">
    <div id="MainContent_C020_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Opportunities Container">
        <h2 class="heading-large">Training opportunities</h2>

        <div class="grid-row" id="appGeneric">
            <div class="column-full">
                <h3 class="heading-medium">
                    Apprenticeships
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
        </div>
        <div class="dfc-code-jp-novacancyText">
            <p>We can't find any apprenticeship vacancies in England for firefighter right now.</p>
            <p>The <a href="https://www.gov.uk/apply-apprenticeship">Find an apprenticeship service</a> can help you with your search, send alerts when new apprenticeships become available and has advice on how to apply.</p>
        </div>

        <div class="grid-row dfc-code-jp-trainingCourse">
            <div class="column-full">
                <h3 class="heading-medium">
                    Courses
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h3 class="heading-small">
                        <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=55158282">Public Services Level 2 BTEC Diploma</a>
                    </h3>
                    <ul class="list">
                        <li><span class="bold-small">Provider:</span> Wigan &amp; Leigh College</li>
                        <li><span class="bold-small">Start date:</span> 03 September 2019</li>
                        <li><span class="bold-small">Location:</span> Wigan</li>
                    </ul>
                </div>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h3 class="heading-small">
                        <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=55170671">BTEC Level 2 Diploma in Public Services</a>
                    </h3>
                    <ul class="list">
                        <li><span class="bold-small">Provider:</span> Loughborough College</li>
                        <li><span class="bold-small">Start date:</span> 03 September 2019</li>
                        <li><span class="bold-small">Location:</span> Loughborough</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dfc-code-jp-TrainingCoursesText">
            <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find courses near you</a>
        </div>

    </div>
</section>

    {% endblock %}
















