{% extends "../jobprofile.html" %}

{% block page_title %}
{{profileName}} | Explore Careers
{% endblock %}

{% set profileName = "Receptionist" %}
{% set profileSecondaryName = "Medical receptionist, front of house, doctor's receptionist" %}
{% set profileDescription = "Receptionists are the first point of contact for visitors to organisations." %}
{% set salaryLow = "12,000" %}
{% set salaryHigh = "21,000" %}
{% set hoursRange = "38 to 40" %}
{% set hoursDetail = "a week" %}
{% set patternValue = "Evenings / weekends / bank holidays" %}
{% set patternDescription = "on shifts" %}

<!-- Related Careers -->
{% set RelatedCareerName1 = 'Telephonist' %}
{% set RelatedCareerLink1 = '#' %}
{% set RelatedCareerName2 = 'School secretary' %}
{% set RelatedCareerLink2 = '#' %}
{% set RelatedCareerName3 = 'Hotel receptionist' %}
{% set RelatedCareerLink3 = '#' %}
{% set RelatedCareerName4 = 'Health records clerk' %}
{% set RelatedCareerLink4 = '#' %}
{% set RelatedCareerName5 = 'Admin assistant' %}
{% set RelatedCareerLink5 = '#' %}
{% block content %}

{% set serviceName = 'Explore careers' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large job-profile-heading">How to become</h2>
    <p>You can get into this job through:</p>
    <ul>
        <li>a college course</li>
        <li>an apprenticeship</li>
        <li>working towards this role</li>
        <li>applying directly</li>
    </ul>    <section class="job-profile-subsection" id="College">
        <h3>College</h3>
        <div class="job-profile-subsection-content">

            <p>Getting a college qualification may be helpful. Courses are widely available and include:</p>
            <ul>
                <li>Level 1 Award in Salon Reception Duties (beauty and hairdressing)</li>
                <li>Level 1 Certificate in Business and Administration (office administration)</li>
                <li>Level 2 Certificate in Front of House Reception (hospitality and catering)</li>
                <li>Level 2 Diploma in Reception Operation and Services (hospitality and catering)</li>
            </ul>



            <h4>Entry requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list-reqs">
                <li>2 or fewer GCSEs at grades 3 to 1 (D to G) for a level 1 course</li>
                <li>2 or more GCSEs at grades 9 to 3 (A* to D) for a level 2 course</li>
            </ul>

            <h4>More information</h4>
            <ul class="list-link">
                <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                <li><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help">funding advice</a></li>
                <li><a class="htb-feature" href="https://nationalcareersservice.direct.gov.uk/course-directory/home">search for courses</a></li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="Apprenticeship">
        <h3>Apprenticeship</h3>
        <div class="job-profile-subsection-content">

            <p> You could get into this job through a hospitality team member intermediate apprenticeship. </p>



            <h4>Entry requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list-reqs">
                <li>some GCSEs, usually including English and maths, for an intermediate apprenticeship</li>
            </ul>

            <h4>More information</h4>
            <ul class="list-link">
                <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                <li><a class="htb-feature" href="https://www.gov.uk/apprenticeships-guide">guide to apprenticeships</a></li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="work">
        <h3>Work</h3>
        <div class="job-profile-subsection-content">
            <p>Employers value experience, which you could get by doing temporary work.</p>
        </div>
    </section>

    <section class="job-profile-subsection" id="volunteering">
        <h3>Volunteering and experience</h3>
        <div class="job-profile-subsection-content">
            <p>Volunteering is also highly valued if you want to apply for receptionist jobs.</p>
        </div>
    </section>

    <section class="job-profile-subsection" id="directapplication">
        <h3>Direct application</h3>
        <div class="job-profile-subsection-content">
            <p>You may not need any formal qualifications to apply directly for work as a receptionist.</p>
            <p>However, some employers will prefer you to have a good general education and IT skills.</p>
        </div>
    </section>
</section>

</section>

<!--section 2-->
<section class="job-profile-subsection" id="Skills">
    <h2 class="heading-large">What it takes</h2>
    <section class="job-profile-subsection">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul>
                <li>
                    the ability to work well with others
                </li>
                <li>
                    to be thorough and pay attention to detail
                </li>
                <li>
                    administration skills
                </li>
                <li>
                    patience and the ability to remain calm in stressful situations
                </li>
                <li>
                    the ability to accept criticism and work well under pressure
                </li>
                <li>
                    sensitivity and understanding
                </li>
                <li>
                    customer service skills
                </li>
                <li>
                    excellent verbal communication skills
                </li>
                <li>basic digital skills for communicating and recording information</li>
            </ul>
        </div>
    </section>
</section>


<!--section 3-->
<section id="WhatYouWillDo">
    <h2 class="heading-large">What you'll do</h2>
    <section class="job-profile-subsection">
        <h3>Day-to-day tasks</h3>
        <div class="job-profile-subsection-content">
            <p>Your day-to-day tasks may include:</p>
            <ul>
                <li>greeting visitors and directing them to the correct person or department</li>
                <li>managing the visitors book and giving out security passes</li>
                <li>answering enquiries in person, by phone and email</li>
                <li>managing a room booking system and keeping rooms tidy</li>
                <li>dealing with incoming and outgoing post and deliveries</li>
                <li>arranging appointments and updating records on databases</li>
                <li>taking payments and handling invoices</li>
            </ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="workingenvironment">
        <h3>Working environment</h3>
        <div class="job-profile-subsection-content">
            <p>You could work in a reception area, in an NHS or private hospital, at a fitness centre, in an office or in a hotel.</p>
        </div>
    </section>

</section>
<!--section 4-->
<section id="CareerPathAndProgression">
    <h2 class="heading-large">Career path and progression</h2>

    <p>With training and experience, you could move into a senior receptionist or personal assistant (PA) role. </p>
    <p>
        In a GP surgery or health centre, you could train to become a medical secretary or a practice manager.
    </p>

</section>

<!--section 5-->
<section id="current-opportunities">
    <div id="MainContent_C020_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Opportunities Container">
        <h2 class="heading-large">Training opportunities</h2>

        <div class="grid-row" id="appGeneric">
            <div class="column-full">
                <h3 class="heading-medium">
                    Apprenticeships
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h4 class="heading-small">
                        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1479813">Apprentice Chef - Royal Oak - Marlborough</a>
                    </h4>
                    <ul class="list">
                        <li><span class="bold-small">Wage:</span> &pound;177.00</li>
                        <li><span class="bold-small">Location:</span> Marlborough SN8 1LT</li>
                    </ul>
                </div>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h4 class="heading-small">
                        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/91104491">Catering Assistant Apprentice</a>
                    </h4>
                    <ul class="list">
                        <li><span class="bold-small">Wage:</span> &pound;302.25</li>
                        <li><span class="bold-small">Location:</span> Bridgwater TA5 1TP</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dfc-code-jp-vacancyText">
            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
        </div>

        <div class="grid-row dfc-code-jp-trainingCourse">
            <div class="column-full">
                <h3 class="heading-medium">
                    Courses
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h3 class="heading-small">
                        <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=54136308">Front Of House Reception (City &amp; Guilds) (Apprenticeship)</a>
                    </h3>
                    <ul class="list">
                        <li><span class="bold-small">Provider:</span> Solihull College &amp; University Centre</li>
                        <li><span class="bold-small">Start date:</span> 01 September 2019</li>
                        <li><span class="bold-small">Location:</span> Solihull</li>
                    </ul>
                </div>
            </div>
            <div class="column-half">
                <div class="panel panel-border-narrow opportunity-item">
                    <h3 class="heading-small">
                        <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=54589380">diploma in front house reception</a>
                    </h3>
                    <ul class="list">
                        <li><span class="bold-small">Provider:</span> Marson Garages (Wolstanton) Limited</li>
                        <li><span class="bold-small">Start date:</span> 01 December 2018</li>
                        <li><span class="bold-small">Location:</span> Newcastle under Lyme</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dfc-code-jp-TrainingCoursesText">
            <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find courses near you</a>
        </div>

    </div>
</section>



<p class="grey font-xsmall">Last updated: 23 March 2016</p>



    {% endblock %}
















