{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Training routes' %}

{% include "../includes/survey.html" %}

    {% include "../includes/global_header_bar.html" %}

<main id="content" role="main">
    {% include "../includes/breadcrumb_filters.html" %}
    <div class="grid-row">
        <div class="column-two-thirds explore-top">
            <h4 class="heading-small grey">Question 1 of 10</h4>
            <h1 class="heading-medium top0">Relating & Networking 1</h1>
            <p>You are working with other people from different trades on building a new house.</p>
            <p>You have been given the job of hanging a radiator on a wall.</p>
            <p>The carpenter is on site today and is currently still working on the wall that you need to hang your radiator on.</p>
            <p>You have not met this carpenter before or spoken to them, but you may need to work together to get the wall built and the radiator hung on it by the end of the day.</p>

        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds explore-top">
            <h1 class="heading-small">Choose your approach</h1>
            <form>
                <div class="form-group">
                    <fieldset class="">
                        <div class="multiple-choice">
                            <input class="shm-radio" id="radio-inline-1" onClick="sessionStorage.SHManswer=1" type="radio" name="radio-inline-group" value="Yes">
                            <label for="radio-inline-1">Ask the carpenter about their approach to building the wall so you can make sure your radiator will hang effectively on the wall.</label>
                        </div>
                        <div class="multiple-choice">
                            <input class="shm-radio" id="radio-inline-2" onClick="sessionStorage.SHManswer=2" type="radio" name="radio-inline-group" value="No">
                            <label for="radio-inline-2">See if the carpenter talks to any of the other tradesmen before deciding how best to approach them about working together on the wall.</label>
                        </div>
                        <div class="multiple-choice">
                            <input class="shm-radio" id="radio-inline-3" onClick="sessionStorage.SHManswer=3" type="radio" name="radio-inline-group" value="Yes">
                            <label for="radio-inline-3">Leave the carpenter to get on with their own work and independently work out how your radiator can hang effectively on it.</label>
                        </div>
                    </fieldset>
                </div>
            </form>

        </div>
    </div>
    <div class="grid-row">
        <div class="column-full"><a href="answer1" id="cc-next" class="explore-button">Next</a></div>
        <p class="cc-error right js-hidden">Please select an option from the choices above before continuing.</p>
    </div>

</main>



{% endblock %}
