{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Teaching assistant" %}
{% set profileSecondaryName = "Classroom assistant, learning support assistant" %}
{% set profileDescription = "Teaching assistants support teachers and help children develop." %}

{% set salaryLow = "15,500" %}
{% set salaryHigh = "18,000" %}

{% set hoursRange = "32 - 40" %}
{% set hoursDetail = "Term time / school hours" %}

{% set patternValue = "Evenings & weekends" %}
{% set patternDescription = "Attending events or appointments" %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large">1. How to become a {{ profileName }}</h2>
        <p>Each school sets its own entry requirements. Check job vacancies with your <a href="https://www.gov.uk/find-local-council">local education authority</a> to find out what each school wants. </p>
        <p>You could do:</p>
        <ul class="list list-bullet">
            <li>a college course</li>
            <li>an apprenticeship</li>
            <li>training on the job</li>
        </ul>
        <p>You'll usually need:</p>
        <ul class="list list-bullet">
            <li>experience of working with children</li>
            <li>GCSEs at grades 9 to 4 (A* to C) in English and maths, <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">or equivalent qualifications</a> </li>
            <li>to pass the <a href="https://www.gov.uk/criminal-record-checks-apply-role">enhanced background checks</a> your employer or college arrange for you </li>
        </ul>
        <p>There is strong competition for jobs, so a qualification in nursery work, childcare, playwork or youth work can give you an advantage.</p>
        <h3 class="heading-small">College</h3>
        <p>You could study for qualifications like a level 2 or 3 certificate in support for learning and teaching in schools.</p>
        <p>Find a <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">course</a> at a college near you.</p>
        <p>You may be able to get <a href="https://www.gov.uk/further-education-courses/financial-help">financial help to do a course</a>. </p>
        <p>If you're under 19, these courses are free.</p>
        <h3 class="heading-small">Apprenticeship</h3>
        <p>You could also get in through an <a href="https://www.gov.uk/apprenticeships-guide">intermediate or advanced apprenticeship</a> in childcare or supporting teaching and learning in schools.</p>
        <h3 class="heading-small">Work</h3>
        <p>If you don't have any qualifications or experience, you may get into the job if you show you can work well with children, teachers and parents. Many teaching assistants <a href="https://do-it.org">volunteer</a> before getting paid work.</p>

    </section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large">2. Skills</h2>
        <p>You'll need:</p>
        <ul class="list list-bullet">
            <li>the ability to motivate children and build good relationships with them</li>
            <li>patience and a passion for helping children learn</li>
            <li>excellent reading, writing and numeracy skills</li>
            <li>the ability to manage groups of children and cope with challenging behaviour</li>
            <li>excellent team working ability with teachers, other professionals, parents and carers</li>
            <li>organisational and planning skills</li>
            <li>IT skills and creativity to design materials and activities</li>
        </ul>

    </section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large">3. What you'll do</h2>

        <p>Most jobs are in nursery, primary and special schools. You could also work in secondary or independent schools and academies.</p>
        <p>Your day-to-day duties could include:</p>
        <ul class="list list-bullet">
            <li>getting the classroom ready for lessons and clearing away afterwards</li>
            <li>listening to children read or reading to them</li>
            <li>helping children who need extra support</li>
            <li>helping teachers prepare materials that match development needs</li>
            <li>supervising group activities, including outings and sports events</li>
            <li>helping teachers manage class behaviour</li>
            <li>looking after children who are upset or unwell</li>
            <li>leading classes with help from the teacher</li>
        </ul>

    </section>


<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large">4. Career path and progression</h2>
        <p>With experience, you could become a senior assistant or apply for a <a href="http://www.hlta.org.uk/">Higher Level Teaching Assistant</a> (HLTA) role.</p>

    </section>



<!--section 5s-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large">5. Current opportunities</h2>
    <!-- <p>Find the latest opportunities</p> -->

            <div class="grid-row" id="appGeneric">
                <div class="column-full">
                    <h3 class="heading-medium">
                        Apprenticeships
                        <span class="heading-secondary">In England</span>
                    </h3>
                </div>
            </div>
            <div class="dfc-code-jp-novacancyText">
                <p>
                    Right now there aren't any apprenticeships in this field of work. Consider exploring the related careers or <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">find other apprenticeships.</a>
                </p>
            </div>
            <div class="opportunity-footer">
                <p>
                    <a class="dfc-code-jp-findApprenticeship" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
                </p>
            </div>
            <div class="grid-row dfc-code-jp-trainingCourse">
                <div class="column-full">
                    <h3 class="heading-medium">
                        Training courses
                        <span class="heading-secondary">In England</span>
                    </h3>
                </div>
            </div>
            <div class="dfc-code-jp-NoTrainingCoursesText">
                <p>
                    There are no courses for Primary school teacher available at the moment
                </p>
            </div>
            <div class="dfc-code-jp-FindTrainingCoursesLink opportunity-footer">
                <p>
                    <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find courses near you</a>
                </p>
            </div>
    </section>

<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















