{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Web designer" %}
{% set profileSecondaryName = "Digital designer" %}
{% set profileDescription = "Web designers use their creative and technical skills to design new websites and redesign existing ones." %}
{% set salaryLow = "27,500" %}
{% set salaryHigh = "32,000" %}

{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "Mon - Fri" %}

{% set patternValue = "Freelance / self employed" %}
{% set patternDescription = "" %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large">1. How to become</h2>
    <p>You'll need a portfolio that demonstrates your creative design skills and shows employers what website work you've done. </p>
    <p>You'll need skills in:</p>
    <ul class="list list-bullet">
        <li>visual design</li>
        <li>UX (user experience)</li>
        <li>SEO (search engine optimisation), marketing and social media</li>
        <li>coding like HTML and CSS</li>
        <li>design software like Adobe Photoshop and Illustrator</li>
        <li>content management systems (CMS)</li>
    </ul>
    <p>You can develop your skills and build a portfolio of work by:</p>
    <ul class="list list-bullet">
        <li>getting paid or voluntary work experience</li>
        <li>studying at college or university</li>
        <li>doing an apprenticeship</li>
    </ul>
    <h3 class="heading-medium">Work experience</h3>
    <p>You could start out working as a design assistant or web support assistant and train while you work.</p>
    <p>You could also get experience by designing your own websites. You could volunteer for a local community group or charity and create a website for them. Any experience will be helpful in getting a job.</p>
    <p>Make sure that you know the latest trends and techniques in web design. </p>
    <p>You can do this by:</p>
    <ul class="list list-bullet">
        <li>getting involved in free webinars or online tutorials</li>
        <li>signing up to free online magazines</li>
        <li>reading the latest blogs for news and tips</li>
    </ul>
    <h3 class="heading-medium">Studying at college or university </h3>
    <p>You could take a college or higher education course in a web design or multimedia subject. Check with local colleges to see what's on offer and what their entry requirements are. Useful subjects include:</p>
    <ul class="list list-bullet">
        <li>web design and development</li>
        <li>multimedia design</li>
        <li>digital media development</li>
        <li>interactive computing</li>
    </ul>
    <p>To get onto a degree course you'll usually need 5 GCSEs at grade 4 (C) or above and 2 to 3 A levels.</p>
    <p>Check with course providers for exact entry requirements. You might be able to use <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent level qualifications</a> to get onto a course.</p>
    <p>UCAS has information on <a href="https://www.ucas.com/">degree courses and entry requirements</a>.</p>
    <p>You can apply for <a href="https://www.gov.uk/student-finance">student finance</a> to cover fees and living costs. </p>
    <p>There are also lots of free online tutorials.</p>
    <h3 class="heading-medium">Apprenticeship</h3>
    <p>You could take an <a href="https://www.gov.uk/apprenticeships-guide">advanced level apprenticeship</a> in web design. You'll usually need at least 3 GCSEs at grades 9 to 4 (A* to C) or equivalent, to get a place. </p>
    <p><a href="https://www.thetechpartnership.com/tech-future-careers/what-is-it-like/">Tech Future Careers </a>has more information on tech roles including web design. </p>
    <p>Find out more about getting into a digital career from the <a href="http://www.bubble-jobs.co.uk/career_portal/">Bubble Digital Career Portal.</a></p>

</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large">2. Skills required</h2>

        <p>You'll need:</p>
        <ul class="list list-bullet">
            <li>strong creative skills</li>
            <li>the ability to pay attention to detail</li>
            <li>good problem-solving skills and a logical approach to work</li>
            <li>the ability to explain technical matters clearly</li>
            <li>an ability to work to deadlines</li>
        </ul>

    </section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large">3. What you'll do</h2>
    <p>You could work on any kind of website, from education to shopping. You'll often be responsible for managing the design of your client's other online services like mobile applications, social media accounts and digital marketing campaigns.</p>
    <p>Your day-to-day duties might include:</p>
    <ul class="list list-bullet">
        <li>meeting clients to discuss what they want their site to do</li>
        <li>preparing a design plan</li>
        <li>deciding which branding, text, colours and backgrounds to use</li>
        <li>laying out pages and positioning buttons, links and pictures using design software</li>
        <li>adding multimedia features like sound, animation and video</li>
        <li>testing and improving the design and site</li>
        <li>uploading the site to a server</li>
    </ul>
    <p>You'll work closely with web developers and marketing professionals.</p>
</section>



<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large">4. Career path and progression</h2>
    <p>With experience you could move into design team management or expand your skills to become a web content manager.</p>
    <p>You might work towards a move into business management.</p>
    <p>You could also work as a freelance web designer, or set up your own web design business.</p>
</section>

<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large">5. Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>

<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















