{% extends "../layout.html" %}



{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Explore by interests and preferences' %}

{% include "../includes/survey.html" %}




<main id="" role="main">
    <div class="filter_hero">
        <div id="content">
            {% include "../includes/global_header_bar.html" %}
            {% include "../includes/breadcrumb_filters.html" %}

            <div class="grid-row">
                <div class="column-full">
                    <h2>{{filterName}} <span>Question 2 of 4</span></h2>
                    
                </div>

                <div class="column-full">
                    <div class="filter_header-q2">
                        <h1>What are you interested in?</h1>
                        <p>Find a career that makes the most of what you really love doing.</p><p> Choose any interests you'd like to take forward into a job. </p><p>'None' won't filter, so that's fine too.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="content">
        <div class="grid-row">
            <div class="column-full">
                <form class="filter_list filter_list-q2">
                    <input type="checkbox" class="checkbox" id="q2o2" increment="9"></input>
                    <label for="q2o2">
                        <i class="fas fa-utensils"></i>
                        <h3>Food and cookery</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o3" increment="9"></input>
                    <label for="q2o3">
                        <i class="fas fa-car"></i>
                        <h3>Travel</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o4" increment="9"></input>
                    <label for="q2o4">
                        <i class="fas fa-pencil-alt"></i>
                        <h3>Writing and blogging</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o5" increment="9"></input>
                    <label for="q2o5">
                        <i class="fas fa-laptop"></i>
                        <h3>Computing and tech</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o6" increment="9"></input>
                    <label for="q2o6">
                        <i class="fas fa-tree"></i>
                        <h3>Outdoor activities</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o7" increment="9"></input>
                    <label for="q2o7">
                        <i class="fas fa-gamepad"></i>
                        <h3>Gaming</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o8" increment="9"></input>
                    <label for="q2o8">
                        <i class="fas fa-futbol"></i>
                        <h3>Sport - playing or watching</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o9" increment="9"></input>
                    <label for="q2o9">
                        <i class="fas fa-newspaper"></i>
                        <h3>News and current affairs</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o10" increment="9"></input>
                    <label for="q2o10">
                        <i class="fas fa-music"></i>
                        <h3>Music</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o11" increment="9"></input>
                    <label for="q2o11">
                        <i class="fas fa-shopping-bag"></i>
                        <h3>Fashion and beauty</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o12" increment="9"></input>
                    <label for="q2o12">
                        <i class="fas fa-eye"></i>
                        <h3>Visual arts</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o13" increment="9"></input>
                    <label for="q2o13">
                        <i class="fas fa-film"></i>
                        <h3>Broadcasting and performing arts</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o14" increment="9"></input>
                    <label for="q2o14">
                        <i class="fas fa-clock"></i>
                        <h3>History, heritage and culture</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o15" increment="9"></input>
                    <label for="q2o15">
                        <i class="fas fa-paint-brush"></i>
                        <h3>Crafts and making things</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o16" increment="9"></input>
                    <label for="q2o16">
                        <i class="fas fa-wrench"></i>
                        <h3>DIY and home improvements</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o17" increment="9"></input>
                    <label for="q2o17">
                        <i class="fas fa-bug"></i>
                        <h3>Animals or pets</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o18" increment="9"></input>
                    <label for="q2o18">
                        <i class="fas fa-pound-sign"></i>
                        <h3>Making money</h3>

                    </label>

                    <input type="checkbox" class="checkbox" id="q2o19" increment="9"></input>
                    <label for="q2o19">
                        <i class="fas fa-truck"></i>
                        <h3>Transport and driving</h3>

                    </label>

                    <input type="checkbox" class="filter_none" id="q2o1"></input>
                    <label for="q2o1">
                        <i class="fas fa-times"></i>
                        <h3>None</h3>
                    </label>
                    <div class="filter_lower">
                        <p><span id="filter_resultcount">120</span> possible careers based on your choices so far </p>
                        <a class="filter_button_alt" href="#">Show me my results</a>
                    </div>
                    <div class="filter_buttons">
                        <a class="filter_button" href="question3.html">Question 3 - Preferred work tasks</a>
                        <a class="filter_button filter_button_back" href="question1">Back</a>
                    </div>

                </form>
            </div>
        </div>
    </div>



</main>



{% endblock %}
