{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Explore by interests and preferences' %}

{% include "../includes/survey.html" %}



<main id="" role="main">
    <div class="filter_hero">
        <div id="content">
            {% include "../includes/global_header_bar.html" %}
            {% include "../includes/breadcrumb_filters.html" %}

            <div class="grid-row">
                <div class="column-full">
                    <h2>{{filterName}}<span>Question 4 of 4</span></h2>
                </div>

                <div class="column-full">
                    <div class="filter_header-q4">
                        <h1>Your preferred route </h1>
                        <p>Not all learning styles suit everyone. </p><p>Choose the one you prefer. </p><p>If you've no preference, select 'none'.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="content">
        <div class="grid-row">
            <div class="column-full">
                <form class="filter_list filter_list-q4">

                    <input type="checkbox" class="checkbox" id="q4o2" increment="9"></input>
                    <label for="q4o2">
                        <h3>Learn through experience and work your way up</h3>
                        <p>I prefer the idea of using my experience on the job to progress throughout my career.</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q4o3" increment="14"></input>
                    <label for="q4o3">
                        <h3>Full or part-time college or university course</h3>
                        <p>I'm intersted in careers that allow for entry via college or university courses.</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q4o4" increment="20"></input>
                    <label for="q4o4">
                        <h3>Apprenticeship</h3>
                        <p>I'd like to learn on the job via an apprenticeship.</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q4o5" increment="5"></input>
                    <label for="q4o5">
                        <h3>Industry-specific training</h3>
                        <p>I want to learn the skills required for my career via qualifications offered from sector-specific training programmes.</p>
                    </label>

                    <input type="checkbox" class="filter_none" id="q4o1"></input>
                    <label for="q4o1">
                        <h3>None</h3>
                        <p>I want to see careers that allow any learning styles</p>
                    </label>


                    <div class="filter_lower">
                        <p><span id="filter_resultcount">120</span> possible careers based on your choices so far </p>
                    </div>
                    <div class="filter_buttons">
                        <a class="filter_button" href="results.html">Show me my results</a>

                        <a class="filter_button filter_button_back" href="question3">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>



</main>



{% endblock %}
