{% extends "../layout.html" %}



{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Explore by interests and preferences' %}

{% include "../includes/survey.html" %}




<main id="" role="main">
    <div class="filter_hero">
        <div id="content">
            {% include "../includes/global_header_bar.html" %}
            {% include "../includes/breadcrumb_filters.html" %}

            <div class="grid-row">
                <div class="column-full">
                    <h2>{{filterName}} <span>Question 3 of 4</span></h2>
                    
                </div>

                <div class="column-full">
                    <div class="filter_header-q3">
                        <h1>Preferred work tasks</h1>
                        <p>Select what you like doing at work.</p><p> If you've no preference, choose 'none' and we won't filter.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="content">
        <div class="grid-row">
            <div class="column-full">
                <form class="filter_list filter_list-q3">
                    <input type="checkbox" class="checkbox" id="q3o2" increment="9"></input>
                    <label for="q3o2">
                        <h3>Working with children</h3>
                        <p>Teaching, training or supervising children and young people</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o3" increment="9"></input>
                    <label for="q3o3">
                        <h3>Helping or caring for others</h3>
                        <p>Offering health care or social support </p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o4" increment="9"></input>
                    <label for="q3o4">
                        <h3>Working with your hands</h3>
                        <p>Intricate or manual work, fixing, repairing and making</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o5" increment="9"></input>
                    <label for="q3o5">
                        <h3>Problem solving</h3>
                        <p>Improving processes and finding other ways of doing things</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o6" increment="9"></input>
                    <label for="q3o6">
                        <h3>Being creative</h3>
                        <p>Exploring, trying things out and bringing ideas to life</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o7" increment="9"></input>
                    <label for="q3o7">
                        <h3>Customer care</h3>
                        <p>Providing service and information to buyers</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o8" increment="9"></input>
                    <label for="q3o8">
                        <h3>Working with complex and large amounts of information</h3>
                        <p>Translating, sorting or recording data</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o9" increment="9"></input>
                    <label for="q3o9">
                        <h3>Managing and leading</h3>
                        <p>Influencing, motivating, guiding and enabling others</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o10" increment="9"></input>
                    <label for="q3o10">
                        <h3>Listening to people</h3>
                        <p>Giving people space to talk and understanding their feelings </p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o11" increment="9"></input>
                    <label for="q3o11">
                        <h3>Selling</h3>
                        <p>Connecting with customers across every stage of a sale</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o12" increment="9"></input>
                    <label for="q3o12">
                        <h3>Being logical</h3>
                        <p>Reasoning, analysing and ordering information or concepts</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o13" increment="9"></input>
                    <label for="q3o13">
                        <h3>Teaching and coaching</h3>
                        <p>Sharing knowledge and helping people develop or learn new skills</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o14" increment="9"></input>
                    <label for="q3o14">
                        <h3>Protecting people</h3>
                        <p>Working to keep society and communities safe</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o15" increment="9"></input>
                    <label for="q3o15">
                        <h3>Advanced computer or machinery use</h3>
                        <p>Working with sophisticated machine tools, programmes or equipment</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o16" increment="9"></input>
                    <label for="q3o16">
                        <h3>Routine and methodical tasks</h3>
                        <p>Following a procedure precisely with concentration and attention to detail </p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o17" increment="9"></input>
                    <label for="q3o17">
                        <h3>Advising</h3>
                        <p>Giving formal or official guidance, recommendations or directions</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o18" increment="9"></input>
                    <label for="q3o18">
                        <h3>Using languages</h3>
                        <p>Communicating in the language of more than one country</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o19" increment="9"></input>
                    <label for="q3o19">
                        <h3>Negotiating</h3>
                        <p>Finding ways of agreeing the best terms or outcomes</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q3o19" increment="9"></input>
                    <label for="q3o20">
                        <h3>Public speaking and presenting</h3>
                        <p>Being informative or persuasive in front of an audience</p>
                    </label>

                    <input type="checkbox" class="filter_none" id="q3o1"></input>
                    <label for="q3o1">
                        <h3>None</h3>
                    </label>

                    <div class="filter_lower">
                        <p><span id="filter_resultcount">120</span> possible careers based on your choices so far </p>
                        <a class="filter_button_alt" href="#">Show me my results</a>
                    </div>
                    <div class="filter_buttons">
                        <a class="filter_button" href="question4.html">Question 4 - Your preferred route</a>
                        <a class="filter_button filter_button_back" href="question2">Back</a>

                    </div>
                </form>
            </div>
        </div>
    </div>



</main>



{% endblock %}
