{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Explore by interests and preferences' %}

{% include "../includes/survey.html" %}



<main id="" role="main">
    <div class="filter_hero">
        <div id="content">
            {% include "../includes/global_header_bar.html" %}
            {% include "../includes/breadcrumb_filters.html" %}

            <div class="grid-row">
                <div class="column-full">
                    <h2>{{filterName}}<span>Question 1 of 4</span></h2>
                </div>

                <div class="column-full">
                    <div class="filter_header-q1">
                        <h1>Which level of job would you like to see?</h1>
                        <p>Please choose the level of education and experience you want to search.</p><p>You can select more than one. </p><p>Choose 'none' and we won't filter by job level.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="content">
        <div class="grid-row">
            <div class="column-full">
                <form class="filter_list filter_list-q1">
                    <input type="checkbox" class="checkbox" id="q1o2" increment="9"></input>
                    <label for="q1o2">
                        <h3>Entry level (Job level 1)</h3>
                        <p>I'd like to see careers where no formal qualifications are needed</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q1o3" increment="14"></input>
                    <label for="q1o3">
                        <h3>Semi-skilled (Job level 2)</h3>
                        <p>I'm interested in careers that require school level qualifications or equivalent work experience</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q1o4" increment="20"></input>
                    <label for="q1o4">
                        <h3>Skilled (Job level 3)</h3>
                        <p>I'm looking for careers that require college level qualifications and/or equivalent work experience</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q1o5" increment="5"></input>
                    <label for="q1o5">
                        <h3>Professional (Job level 4)</h3>
                        <p>I'd like to see careers that require university level qualifications and/or equivalent work experience</p>
                    </label>
                    <input type="checkbox" class="filter_none" id="q1o1"></input>
                    <label for="q1o1">
                        <h3>None</h3>
                        <p>I want to see careers of any education level</p>
                    </label>

                    <div class="filter_lower">
                        <p><span id="filter_resultcount" class="filter_resultcount_first">120</span> possible careers based on your choices so far </p>
                        <a class="filter_button_alt" href="#">Show me my results</a>
                    </div>
                    <a class="filter_button" href="question2.html">Question 2 - Your interests</a>
                    <a class="filter_button filter_button_back" href="../index3">Back</a>
                </form>
            </div>
        </div>
    </div>



</main>



{% endblock %}
