{% set searchTerm = data.searchTerm %}
{% set searchPrompt = data.searchPrompt %}

{% extends "govuk_template_no-gov.html" %}

{% block head %}
<script>
    // Making data object accessible in client
    var session = {{ data | dump | safe }};
</script>
  {% include "./includes/head.html" %}
{% endblock %}

{% block body_start %}{% endblock %}

{% block cookie_message %}
<p>Service green uses cookies to make the site simpler. <a href="/_sprint10/cookies.html">Find out more about cookies</a></p>
{% endblock %}

{% block proposition_header %}
  {% include "./includes/title_phase-tag.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}



{% block before_content %}
{% include "./includes/survey.html" %}
<header class="PROD_hero_jp">
    <div class="PROD_full-page-width-wrapper">
        {% include "./includes/breadcrumb_jobprofile.html" %}
        <div class="job-profile-top">
            <h1 class="heading-xlarge">
                {{ profileName }}
                <span class="heading-secondary">{{ profileSecondaryName }}</span>
            </h1>
            <div class="grid-row">
                <div class="column-two-thirds">
                    <h3>{{ profileDescription }}</h3>
                </div>
            </div>
            <div class="grid-row">
                <div class="column-one-quarter-jp job-profile-top-section jp-salary">
                    <h4>Average Salary</h4>
                    <div class="job-profile-top-section-content"><p>&pound;32,000<span>Per year</span></p></div>
                </div>
                <div class="column-one-quarter-jp job-profile-top-section jp-hours">
                    <h4>Typical hours</h4>
                    <div class="job-profile-top-section-content"><p>35 - 40<span>Per week</span></p></div>
                </div>
                <div class="column-one-quarter-jp job-profile-top-section jp-pattern">
                    <h4>Working pattern</h4>
                    <div class="job-profile-top-section-content"><p>Mon - Fri<span>9am to 5pm</span></p></div>
                </div>
                <div class="column-one-quarter-jp job-profile-top-section jp-indoor">
                    <h4>Environment</h4>
                    <div class="job-profile-top-section-content"><p>Indoors<span>In an office</span></p></div>
                </div>

            </div>
        </div>
    </div>
</header>
<header class="PROD_hero_jp_secondary">
    <div class="PROD_full-page-width-wrapper">
        <div class="job-profile-top-section-secondary">
            <div class="grid-row">
                <div class="job-profile-top-section-related">
                    <h3 class="heading-small">Related careers</h3>
                    <div class="job-profile-top-section-related-links">
                        <a href="#">Social media manager</a>
                        <a href="#">Web designer</a>
                        <a href="#">Digital marketer</a>
                    </div>
                </div>
                <div class="job-profile-top-section-search PROD_jobprofile_search">
                    <h3 class="heading-small">Explore further careers</h3>
                    <form id="searchForm">
                        <div class="PROD_search">
                            <div id="search-box" class="PROD_search__input-container">
                                <input id="searchInput" class="PROD_search__input" autocomplete="off" placeholder="Enter a job title" type="text">
                            </div>
                            <input class="PROD_search__submit" onclick="saveSearchTermsAndContinue()" type="button" value="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>


        <main id="content" role="main">





            <div class="grid-row">
                <div class="column-two-thirds">

                    {% include "./includes/job-profile_nav_small.html" %}

                    {% endblock %}


                    {% block after_content %}
                </div>
                <div class="column-one-third">

                </div>
            </div>

        </main>
        {% endblock %}
        {% block body_end %}
        {% include "./includes/scripts.html" %}
        <!-- GOV.UK Prototype kit {{releaseVersion}} -->
        {% endblock %}




