{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h2 class="heading-large">Set 1</h2>
            <ul class="list list-bullet">
                <li><a href="http://beta.nationalcareersservice.org.uk/job-profiles/catering-manager">Catering manager</a></li>
                <li><a href="http://beta.nationalcareersservice.org.uk/job-profiles/police-officer">Police officer</a></li>
                <li><a href="http://beta.nationalcareersservice.org.uk/job-profiles/travel-agent">Travel agent</a></li>
                <li><a href="http://beta.nationalcareersservice.org.uk/job-profiles/border-force-officer">Border force officer</a></li>
                <li><a href="http://beta.nationalcareersservice.org.uk/job-profiles/chef">Chef</a></li>
                <li><a href="http://beta.nationalcareersservice.org.uk/job-profiles/hotel-receptionist">Hotel receptionist</a></li>
                <li><a href="http://beta.nationalcareersservice.org.uk/job-profiles/web-designer">Web designer</a></li>
                <li><a href="http://beta.nationalcareersservice.org.uk/job-profiles/software-developer">Software developer</a></li>
                <li><a href="http://beta.nationalcareersservice.org.uk/job-profiles/web-content-manager">Web content manager</a></li>
                <li><a href="http://beta.nationalcareersservice.org.uk/job-profiles/social-media-manager">Social media manager</a></li>
                <li><a href="http://beta.nationalcareersservice.org.uk/job-profiles/massage-therapist">Massage therapist</a></li>
                <li><a href="https://beta.nationalcareersservice.org.uk/job-profiles/beauty-consultant">Beauty consultant</a></li>
            </ul>

            <h2 class="heading-large">Set 2</h2>
            <ul class="list list-bullet">
                <li><a href="/_sprint11/e2e/job-profiles-infog/catering-manager">Catering manager</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-infog/police-officer">Police officer</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-infog/travel-agent">Travel agent</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-infog/software-developer">Software developer</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-infog/web-designer">Website designer</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-infog/social-media-manager">Social media mananger</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-infog/massage-therapist">Massage therapist</a></li>
            </ul>

            <h2 class="heading-large">Set 3</h2>
            <ul class="list list-bullet">
                <li><a href="/_sprint11/e2e/job-profiles-new/beauty-consultant">Beauty consultant</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-new/border-force-officer">Border force officer</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-new/catering-manager">Catering manager</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-new/chef">Chef</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-new/hotel-receptionist">Hotel receptionist</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-new/massage-therapist">Massage therapist</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-new/police-officer">Police officer</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-new/primary-school-teacher">Primary school teacher</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-new/social-media-manager">Social media manager</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-new/software-developer">Software developer</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-new/teaching-assistant">Teaching assistant</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-new/travel-agent">Travel agent</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-new/web-content-manager">Web content mananger</a></li>
                <li><a href="/_sprint11/e2e/job-profiles-new/web-designer">Web designer</a></li>
            </ul>

        </div>
    </div>
</main>

{% endblock %}