{% extends "../jobprofile2.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Catering manager" %}
{% set profileSecondaryName = "Food service manager" %}
{% set profileSalary = "£19,000 - £40,000" %}
{% set profileHours = "Variable" %}
{% set profileDescription = "Catering managers run the food service of organisations or outside suppliers." %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
        <h2 class="heading-large">1. How to become</h2>

        <p>You'll need:</p>
        <ul class="list list-bullet">
            <li>experience of working in a catering environment like a bar, restaurant or hotel</li>
            <li>experience of managing or supervising people</li>
            <li>a <a href="https://www.food.gov.uk/business-industry/food-hygiene/training">food hygiene certificate</a></li>
            <li>a <a href="https://www.gov.uk/criminal-record-checks-apply-role">background check</a> if you're working around children or vulnerable adults</li>
        </ul>
        <p>You could:</p>
        <ul class="list list-bullet">
            <li>start out by working as a catering assistant and train while you work</li>
            <li>do an apprenticeship</li>
            <li>do a university degree</li>
        </ul>
    <h3 class="heading-medium">Work</h3>
        <p>You could work your way up to a management position by getting a job in a role like a catering assistant. With experience and training, you could take on more responsibility and supervise less experienced colleagues. You could then apply for an assistant manager post and train while you're working. </p>
    <h3 class="heading-medium">Apprenticeship</h3>
        <p> </p>
        <p>You could take a higher <a href="https://www.gov.uk/apprenticeships-guide">apprenticeship</a> as a hospitality manager if you've got work experience in catering and have also worked as a supervisor.</p>
        <p>If you don't have any supervisory experience, you could take an advanced apprenticeship as a hospitality supervisor. </p>
        <h3 class="heading-medium">
            University
        </h3>
        <p>You could do a degree. Useful subjects include:</p>
        <ul class="list list-bullet">
            <li>business and hospitality management</li>
            <li>culinary arts or culinary management</li>
            <li>hotel and catering management</li>
        </ul>
        <p>To get onto a course, you'll usually need at least:</p>
        <ul class="list list-bullet">
            <li>GCSEs in English and maths at grades 4 (C) or equivalent</li>
            <li>96 <a href="https://www.ucas.com/ucas/tariff-calculator">UCAS points</a> or 2 A level passes</li>
        </ul>
        <p>Check with course providers for exact entry requirements. You might be able to use <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent level qualifications </a>to get onto a course.</p>
        <p>UCAS has information on <a href="https://www.ucas.com">degree courses and entry requirements</a>.</p>
        <p>You can <a href="https://www.gov.uk/student-finance">apply for student finance to cover fees and living costs</a>. </p>
        <p>Some large contract catering companies and hotel chains run graduate training schemes. Entry requirements vary.</p>
        <p>Find out more about hospitality careers from the <a href="http://www.hospitalityguild.co.uk/A-Career-in-Hospitality">Hospitality Guild</a>. </p>

</section>

<!--section 2-->
<section id="skills-required">
        <h2 class="heading-large">2. Skills required</h2>

        <p>You'll need:</p>
        <ul class="list list-bullet">
            <li>excellent communication and negotiation skills</li>
            <li>the ability to motivate and manage staff</li>
            <li>budgeting skills</li>
            <li>the ability to keep calm under pressure</li>
        </ul>
</section>

<!--section 3-->
<section id="what-youll-do">
        <h2 class="heading-large">3. What you'll do</h2>

        <p>You may work in an organisation like a school, hospital, hotel or pub, or prepare food to be delivered to food outlets, event sites and homes.</p>
        <p>Your day-to-day tasks may include:</p>
        <ul class="list list-bullet">
            <li>planning and developing menus to increase sales</li>
            <li>recruiting and training staff</li>
            <li>organising shifts and rotas</li>
            <li>financial planning, managing budgets and stock control</li>
            <li>meeting suppliers and negotiating contracts</li>
            <li>monitoring the quality of the service to customers</li>
            <li>running the business in line with health and safety and food hygiene regulations</li>
            <li>catering for special diets and meeting nutritional needs</li>
        </ul>
        <p>During food service, you'll supervise the kitchen and waiting staff, ensuring that the food goes out on time and is of a high standard.</p>
</section>


<!--section 4 -->
<section id="salary">
        <h2 class="heading-large">4. Salary</h2>
        <p>Starter: £19,000 to £21,000</p>
        <p>Experienced: £25,000</p>
        <p>Highly experienced: £40,000</p>
        <p>These figures are a guide.</p>
</section>

<!--section 5 -->
<section id="working-hours-patterns-and-environment" class="whpe">
    <h2 class="heading-large">5. Working hours, patterns and environment</h2>
    <div class="whpe-hours">
        <span>Variable</span>
        <h3>Hours per week</h3>
    </div>
    <div class="whpe-list">
        <ul>
            <li class="checked">Nights</li>
            <li class="checked">Weekends</li>
            <li class="checked">Bank Holidays</li>
            <li class="checked">Overtime</li>
        </ul>
    </div>
    <div class="whpe-environment-indoors">
        <h3>Environment</h3>
        <p>Indoors</p>
    </div>
    <div class="whpe-pattern">
        <h3>Working pattern</h3>
        <p>Variable</p>
        <span>Based on environment</span>
    </div>
</section>

<!--section 6-->
<section id="career-path-and-progression">
        <h2 class="heading-large">6. Career path and progression</h2>
        <p>With experience you could move into larger organisations or those offering more specialised work like event catering.</p>
        <p>You could also study for further&nbsp;<a href="http://www.hospitalityguild.co.uk/Training-Development/Training-solutions/Training.aspx">qualifications in hospitality</a>.</p>
        <p>Another option is to start your own contract catering business.</p>
</section>

<!--section 7-->
<section id="current-opportunities" style="margin-bottom:30px">
        <h2 class="heading-large">7. Current opportunities</h2>
        <div class="opportunity-footer dfc-code-jp-novacancyText">
            <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
        </div>
</section>

<section class="PROD_icon-buttons ">
    {% include "../includes/job-profile_social.html" %}
</section>


<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















