{% extends "../jobprofile2.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Massage therapist" %}
{% set profileSecondaryName = "" %}
{% set profileSalary = "Variable" %}
{% set profileHours = "Variable" %}
{% set profileDescription = "Massage therapists manipulate clients' muscles and soft tissues, treat sports injuries, and give relief to people with health issues." %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large">1. How to become</h2>
    <p>There are no set requirements but you could get into this job through:</p>
    <ul class="list list-bullet">
        <li>a college course in massage therapy</li>
        <li>an apprenticeship</li>
    </ul>
    <h3 class="heading-medium">College</h3>
    <p>Most massage therapists have a level 3 qualification in beauty therapy or massage.</p>
    <p>To do a level 3 qualification, you'll usually need:</p>
    <ul class="list list-bullet">
        <li>a level 2 qualification or equivalent experience</li>
        <li>4 GCSEs at grade 3 (D) or above, including English and maths or <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent qualifications</a> </li>
    </ul>
    <p>Any course you take should be at least 6 months full time or 12 months part time. If a course is shorter than that, it won't usually prepare you for professional practice.</p>
    <p>Contact your local college for details of courses and exact entry requirements. </p>
    <p>You may be able to get <a href="https://www.gov.uk/further-education-courses/financial-help">financial help</a> to do a course. </p>
    <h3 class="heading-medium">Apprenticeship</h3>
    <p>You could also start out in this job by taking an <a href="https://www.gov.uk/apprenticeships-guide">intermediate apprenticeship</a> and moving into an advanced apprenticeship. </p>
    <p>To do an apprenticeship, it may help if you have GCSEs in English and maths at grade 3 (D) or above or <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent qualifications</a>.</p>
    <p>See the <a href="https://www.cnhc.org.uk">voluntary register of the Complementary and Natural Healthcare Council</a> (CNHC) for more information, including how to become a member.</p>

</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large">2. Skills required</h2>
    <p>You'll need:</p>
    <ul class="list list-bullet">
        <li>manual and practical skills</li>
        <li>excellent communication and listening skills</li>
        <li>the ability to put your clients at ease</li>
        <li>the ability to show empathy to your clients</li>
        <li>commercial and admin skills to run a business</li>
    </ul>
</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large">3. What you'll do</h2>

    <p>Your work will depend on the type of massage you do and the clients you see. You could offer sports massage, baby and infant massage, or massage therapy for people with medical conditions.</p>
    <p>A typical session will include:</p>
    <ul class="list list-bullet">
        <li>checking the client's medical history, diet and lifestyle</li>
        <li>identifying the client's reasons for wanting massage therapy</li>
        <li>planning a course of treatment</li>
        <li>applying pressure to areas of the body</li>
        <li>giving advice to clients about their wellbeing</li>
        <li>referring clients to medical professionals</li>
    </ul>

</section>


<!--section 4 -->
<section id="salary">
        <h2 class="heading-large">4. Salary</h2>
    <p>Most massage therapists are self-employed, so your pay will depend on how many clients you attract, how many hours you work and how much money you charge.</p>
    <p>You can usually charge between £25 and £60 an hour, depending on the type of massage you offer.</p>

</section>

<!--section 5 -->
<section id="working-hours-patterns-and-environment" class="whpe">
    <h2 class="heading-large">5. Working hours, patterns and environment</h2>
    <div class="whpe-hours">
        <span>Variable</span>
        <h3>Hours per week</h3>
    </div>
    <div class="whpe-list">
        <ul>
            <li class="">Nights</li>
            <li class="checked">Weekends</li>
            <li class="">Bank Holidays</li>
            <li class="">Overtime</li>
        </ul>
    </div>
    <div class="whpe-environment-indoors">
        <h3>Environment</h3>
        <p>Indoors</p>
        <span>At home or a clinic</span>
    </div>
    <div class="whpe-pattern">
        <h3>Working pattern</h3>
        <p>Variable</p>
        <span>Based on environment</span>
    </div>
</section>

<!--section 6-->
<section id="career-path-and-progression">
    <h2 class="heading-large">6. Career path and progression</h2>
    <p>With experience you could build up and maintain a reputation and client base, and set up your own business.</p>
    <p>You could also train in other complementary therapies like aromatherapy, reiki or reflexology.</p>

</section>

<!--section 7-->
<section id="current-opportunities" style="margin-bottom:30px">
        <h2 class="heading-large">7. Current opportunities</h2>
        <div class="opportunity-footer dfc-code-jp-novacancyText">
            <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
        </div>
</section>

<section class="PROD_icon-buttons ">
    {% include "../includes/job-profile_social.html" %}
</section>


<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















