{% extends "../jobprofile2.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Software developer" %}
{% set profileSecondaryName = "Programmer" %}
{% set profileSalary = "£20,000 - £70,000" %}
{% set profileHours = "37 - 40" %}
{% set profileDescription = "Software developers design, build and test computer programmes for business, education and leisure activities." %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large">1. How to become</h2>

        <p>You could:</p>
        <ul class="last list-bullet">
            <li>do an apprenticeship</li>
            <li>do a degree</li>
            <li>teach yourself</li>
        </ul>
        <p>Whichever way you go, you'll usually need 4 or 5 GCSEs including English and maths at grades 9 to 4 (A* to C) <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">or equivalent qualifications</a>, plus some programming ability or a strong interest in the subject.</p>
        <h3 class="heading-medium">Apprenticeship</h3>
        <p>You could do an <a href="https://www.gov.uk/apprenticeships-guide/overview">advanced apprenticeship as a software development technician</a>. </p>
        <p>It will usually take 12 to 18 months. </p>
        <p>You can then move onto a higher apprenticeship as a <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">software developer</a>. This can take between 1 and 4 years.</p>
        <h3 class="heading-medium">College or university</h3>
        <p>You could do a foundation degree, higher national diploma (HND) or a degree in a subject like:</p>
        <ul class="list list-bullet">
            <li>computer science</li>
            <li>information technology</li>
            <li>software development</li>
            <li>software engineering</li>
            <li>maths</li>
            <li>business information systems</li>
        </ul>
        <p>UCAS has information on <a href="https://www.ucas.com">degree courses and entry requirements</a>.</p>
        <p>You can apply for <a href="https://www.gov.uk/further-education-courses/financial-help">student finance to cover fees and living costs for higher education</a>.</p>
        <p>Full-time courses at university usually take 3 years. College and HND courses take 2 years full time.</p>
        <p>Find a <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">college course near you</a>.</p>
        <p>You may be able to get <a href="https://www.gov.uk/further-education-courses/financial-help">financial help to study at college</a>. </p>
        <h3 class="heading-medium">Home study</h3>
        <p>Many software developers teach themselves and there are many free online learning resources available.</p>
        <p>Particularly if you have taught yourself, companies will look to see if you are someone who understands programming languages and frameworks, project management and software development methods.</p>
        <p>The Chartered Institute for IT (BCS) has <a href="http://www.bcs.org">more information about training and qualifications</a>.</p>

    </section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large">2. Skills required</h2>
        <p>You'll need:</p>
        <ul class="list list-bullet">
            <li>the ability to understand the development process</li>
            <li>some programming knowledge</li>
            <li>the ability to work under pressure and to deadlines</li>
            <li>maths skills</li>
        </ul>

    </section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large">3. What you'll do</h2>
        <p>You could work in a wide range of businesses and industries, public services, utilities, defence and research.</p>
        <p>You'll work closely with project managers, business analysts and graphic designers, to find out what the client wants and the best way to achieve it.</p>
        <p>Usually, you'll work in a team.</p>
        <p>You could work on a wide variety of projects, from financial databases to robotics to apps for phones and tablets. You may use a number of programming languages or project management tools.</p>
        <p>Your day-to-day tasks may include:</p>
        <ul class="list list-bullet">
            <li>talking through requirements with the client and the development team</li>
            <li>taking part in technical design and progress meetings</li>
            <li>writing or amending computer code</li>
            <li>testing software and fixing problems</li>
            <li>keeping accurate records of the development process, changes and results</li>
            <li>carrying out trials and quality checks before release</li>
            <li>maintaining and supporting systems once they're up and running</li>
        </ul>
        <p>As an experienced developer, you may supervise a programming team and provide feedback on coding work.</p>

    </section>


<!--section 4 -->
<section id="salary">
    <h2 class="heading-large">4. Salary</h2>
    <p>Starter: £20,000 to £30,000</p>
    <p>Experienced: £30,000 to £40,000</p>
    <p>Highly experienced: £50,000 to £70,000</p>
    <p>These figures are a guide.</p>
</section>

<!--section 5 -->
<section id="working-hours-patterns-and-environment" class="whpe">
    <h2 class="heading-large">5. Working hours, patterns and environment</h2>
    <div class="whpe-hours">
        <span>37 - 40</span>
        <h3>Hours per week</h3>
    </div>
    <div class="whpe-list">
        <ul>
            <li class="">Nights</li>
            <li class="checked">Weekends</li>
            <li class="">Bank Holidays</li>
            <li class="checked">Overtime</li>
        </ul>
    </div>
    <div class="whpe-environment-indoors">
        <h3>Environment</h3>
        <p>Indoors</p>
        <span>In an office</span>
    </div>
    <div class="whpe-pattern">
        <h3>Working pattern</h3>
        <p>Mon - Fri</p>
        <span>9am - 5pm</span>
    </div>
</section>

<!--section 6-->
<section id="career-path-and-progression">
    <h2 class="heading-large">6. Career path and progression</h2>
        <p>With experience, you could become a senior developer, with team or project management, planning or research responsibilities. You could move into related areas like systems design, IT architecture and business systems analysis.</p>
        <p>You could also set up your own business or work as a consultant.</p>

    </section>

<!--section 7-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large">7. Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>

<section class="PROD_icon-buttons ">
    {% include "../includes/job-profile_social.html" %}
</section>


<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















