{% extends "layout_search.html" %}}

{% block page_title %}
  Careers Service - All appointments
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_book.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Book an appointment</h1>
				<p>These are the available online video appointments in the next 7 days. Our advisers have a speciality but they are qualified to give general careers advice.</p>
                <p><a href="#">Find out more about online video appointments</a>.</p>
				<div class="grid-row grey-line big-border-box">
					<!--<div class="column-one-third">
						<p><img alt="Joe, Careers adviser" src="/public/images/worker-2.jpg" width="100%"></p>

					</div>-->
					<div class="column-full">
						<h2 class="heading-medium appointment">Tuesday, 8th February at 15:00</h2>
						<!--<p>Joe has been a careers adviser in the legal sector for 12 years. He worked as a paralegal for 7 years.</p>-->
                         <p>Free online video appointments are also available.</p>
						<p><a href="./book-this-skype.html" role="button">Book this appointment</a>.</p>
					</div>
				</div>
				<div class="grid-row grey-line big-border-box">
					<!--<div class="column-one-third">
						<p><img alt="Julie, Careers adviser" src="/public/images/worker-3.jpg" width="100%"></p>

					</div>-->
					<div class="column-full">
						<h2 class="heading-medium appointment">Tuesday, 8th February at 15:45</h2>
						<!--<p>Julie has been a careers adviser in the healthcare sector for 3 years. She worked as a practice nurse for 12 years.</p>-->
                        <p>Free online video appointments are also available.</p>
						<p><a href="./book-this-skype.html" role="button">Book this appointment</a>.</p>
					</div>
				</div>
				<div class="grid-row grey-line big-border-box">
					<!--<div class="column-one-third">
						<p><img alt="John, Careers adviser" src="/public/images/worker-1.jpg" width="100%"></p>

					</div>-->
					<div class="column-full">
						<h2 class="heading-medium appointment">Wednesday, 9th February at 10:00</h2>
						<!--<p>John has been a careers adviser in the information technology sector for 9 years. He worked as a software developer for 6 years.</p>-->
                        <p>Free online video appointments are also available.</p>
						<p><a href="./book-this-skype.html" role="button">Book this appointment</a>.</p>
					</div>
				</div>
				<div class="grid-row grey-line big-border-box">
					<!--<div class="column-one-third">
						<p><img alt="Hong, Careers adviser" src="/public/images/6.png" width="100%"></p>

					</div>-->
					<div class="column-full">
						<h2 class="heading-medium appointment">Thursday, 9th February at 09:00</h2>
						<!--<p>Hong has been a careers adviser in the finance sector for 2 years. She worked as a payroll administrator for 3 years.</p>-->
                        <p>Free online video appointments are also available.</p>
						<p><a href="./book-this-skype.html" role="button">Book this appointment</a>.</p>
					</div>
				</div>
                <p><a href="./appointment-list.html" class="link-back">Back</a></p>
			</div>
		</div>
	</main>

{% endblock %}
