{% extends "layout_search.html" %}

{% block page_title %}
  Careers Service - Contact an adviser
{% endblock %}

{% block content %}

<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %}	    
		<header class="hero">
			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">Contact an adviser</h1>
					<p class="lede">If you need more help choosing a career that suits you, our careers advisers are available to offer you advice and guidance.</p>
				</div>
			</div>
		</header>	
		<div class="grid-row">
			<div class="column-two-thirds">
				<h2 class="heading-large">We're here to help you</h2>
				<p>We have advisers throughout the UK who can help you match your skills, interests and experience to jobs that you may like.</p>
				<!--<p>We've over 1000 advisers using web chat. This option may suit you if you are confident using this kind of technology or if you find it difficult to attend appointments during the day.</p>-->
				<!--<p>A face-to-face interview with one of our advisers may suit you better if you are free during the day.</p>-->
				<p>If you're age 13 or over you can chat to an adviser online. </p>
				<p>If you're 19 or over you can book an appointment to meet an adviser face to face.</p>
 				<!--<ul class="list list-bullet">
	 				<li>over 19</li>
					<li>not in education, employment or training</li>
	 				<li>facing redundancy</li>
	 				<li>registered disabled</li>
				</ul>-->				
			</div>
		</div>
		<div class="grid-row">
			<div class="column-one-half">
				<h2 class="heading-large">Chat online</h2>
				<p>We've over 1000 advisers using web chat. This option may suit you if you are confident using this kind of technology.</p>
				<!--<p>You’ll need to be 13 or over to use this service.</p>-->
				<p>Usually you'll be able to chat to an adviser immediately but there may be a short wait during busy times.</p><a class="button button-start" href="./webchat.html" role="button">Chat now</a>
			</div>
			<div class="column-one-half">
				<h2 class="heading-large">Speak to an adviser</h2>
				<p>A face-to-face interview with one of our advisers may suit you better.</p>
				<!--<p>You’ll need to be 19 or over to use this service.</p>-->
				<p>Appointments are usually available in a town or city close to you. We will try to organise a time and date that suits you best.</p><a class="button button-start" href="./set-location-appointment.html" role="button">Book an appointment</a>
			</div>
		</div>
	</main>
{% endblock %}
