{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Build a profile
{% endblock %}

{% block content %}

	<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_para_match.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Build a profile based on your skills</h1>				
				<p>You can use it to help you:</p>
				<ul class="list list-bullet">
					<li>build a CV</li>
					<li>write an application for a job or an apprenticeship</li>
					<li>prepare for an interview</li>
					<li>prepare to meet a careers adviser</li>
				</ul>
				<p>A CV or job application will be more valuable if you can provide real-life examples of your experience and achievements rather than listing duties and responsibilities.</p>
				<h2 class="heading-large">Your experience</h2>
				<form>
					<h3 class="heading-medium">Skill 1: Administration </h3>					
					<div class="form-group">
						<label class="form-label" for="textarea-a"><p>Describe how you’ve used this skill in work, either paid or voluntary.</p></label> 
						<textarea class="form-control w100" cols="30" id="textarea-a" rows="3"></textarea>
					</div>					
					<div class="form-group">
						<label class="form-label" for="textarea-b"><p>Give one example of what you’ve achieved using this skill.<span class="form-hint">For example, if you saved your employer money, made them money, simplified a process, had a new idea, hit or exceeded targets or won an award.</span></p></label> 
						<textarea class="form-control w100" cols="30" id="textarea-b" rows="3"></textarea>
					</div>
					<h3 class="heading-medium">Skill 2: Research </h3>
					<div class="form-group">
						<label class="form-label" for="textarea-c"><p>Describe how you’ve used this skill in work, either paid or voluntary.</p></label> 
						<textarea class="form-control w100" cols="30" id="textarea-c" rows="3"></textarea>
					</div>					
					<div class="form-group">
						<label class="form-label" for="textarea-d"><p>Give one example of what you’ve achieved using this skill.</p></label> 
						<textarea class="form-control w100" cols="30" id="textarea-d" rows="3"></textarea>
					</div>
					<h3 class="heading-medium">Skill 3: Ability to read and recall lots of complex information</h3>
					<div class="form-group">
						<label class="form-label" for="textarea-e"><p>Describe how you’ve used this skill in work, either paid or voluntary.</p></label> 
						<textarea class="form-control w100" cols="30" id="textarea-c" rows="3"></textarea>
					</div>
					<div class="form-group">
						<label class="form-label" for="textarea-f"><p>Give one example of what you’ve achieved using this skill.</p></label> 
						<textarea class="form-control w100" cols="30" id="textarea-d" rows="3"></textarea>
					</div>					
				</form>
				<p><a class="button" href="soft-skills.html" role="button">Next</a></p>
			</div>
			<div class="column-one-third">				
				<p>If you need help filling in the profile builder, contact our <a href="./contact-an-adviser.html">careers advisers</a> for guidance.</p>
			</div>
		</div>
	</main>


{% endblock %}
