{% extends "layout.html" %}

{% block page_title %}
	Careers Service
{% endblock %}

{% block content %}

<main id="content" role="main">

     {% include "includes/phase_banner_alpha.html" %}

     <header class="hero">
          <div class="grid-row">
               <div class="column-two-thirds">
                    <h1 class="heading-xlarge">Careers Service</h1>
				   <p class="lede">Find inspiration and get new ideas.</p><!--<p class="lede"><a href="./job-profile-index.html">Explore over 800 job profiles</a>.</p>-->
                    <div class="search">
                         <form action="/search" method="get" role="search">
                              <label for="search" class="search__label visually-hidden">Search</label>
                              <div class="search__input">
                                   <input class="js-search-focus" name="q" id="search" type="search" placeholder="Search">
                              </div>
                              <!--<input type="hidden" name="filter_manual" value="/service-manual">-->
                              <input class="search__submit" type="submit" value="Search">
                         </form>
                    </div>
				   <p class="lede mt30"><a href="./job-profile-index.html">Explore over 800 job profiles</a>.</p>
               </div>
               <div class="column-one-third">
                    <p class="hero__feedback-link lede"><!--If you need more help choosing a career that suits you-->Get advice and guidance from our <a href="/contact-an-adviser">careers advisers</a>.</p>
               </div>
          </div>
     </header>	
     <div class="grid-row">
          <div class="column-full">
<h2 class="heading-large" id="top-jobs">Job profiles of the week</h2>
               <p>These are popular with others – perhaps they will be with you too.</p>
               <div class="grid-row">
                    <div class="column-one-third">
                         <div class="panel panel-border-wide hybrid">
                              <img src="../public/images/profiles/image-5.jpg" alt="Credit controller">
                              <a href="/credit-controller">
                                   <h3 class="heading-medium">Credit controller</h3>
                                   <p>Credit controllers help firms get the money they're owed from businesses and individuals.</p>
                              </a>
                         </div>
                    </div>
                    <div class="column-one-third">
                         <div class="panel panel-border-wide hybrid">
                              <img src="../public/images/profiles/image-2.jpg" alt="Paralegal">
                              <a href="/paralegal">
                                   <h3 class="heading-medium">Paralegal</h3>
                                   <p>Paralegals prepare legal documents, carry out research and give legal advice to clients.</p>
                              </a>
                         </div>
                    </div>
                    <div class="column-one-third">
                         <div class="panel panel-border-wide hybrid">
                              <img src="../public/images/profiles/image-3.jpg" alt="Chef">
                              <a href="/chef">
                                   <h3 class="heading-medium">Chef</h3>
                                   <p>Chefs prepare and cook food.</p>
                              </a>
                         </div>
                    </div>
               </div>
               <div class="grid-row">
                    <div class="column-one-half">
                         <h2 class="heading-large" id="highest">Highest paying jobs</h2>
                         <p>If financial reward is important, these jobs might interest you:</p>
                         <ul class="list list-bullet">
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/stockbroker">Stock brokers – average pay, £133,869</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/chief-executive">Chief executives – average pay, £123,577</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/marketing-director">Marketing directors – average pay, £87,890</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/airline-pilot">Aircraft pilots – average pay, £86.915</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/financial-adviser">Financial directors – average pay, £84,675</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/solicitor">In-house lawyers – average pay, £80,210</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/air-traffic-controller">Air traffic controllers – average pay, £81,132</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/medicine-and-nursing">Medical practitioners – average pay, £78,386</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/head-of-it-(it-director)">IT directors – average pay, £78,071</a>
                              </li>
                              <li>
                                   <a href="./bank-manager.html">Bank managers – average pay, £75,169</a>
                              </li>
                         </ul>
                    </div>
                    <div class="column-one-half">
                         <h2 class="heading-large" id="skill">Jobs most in demand</h2>
                         <p>Skills in these job areas are in high demand:</p>
                         <ul class="list list-bullet">
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/information-technology-and-information-management">IT professionals</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/nurse">Nursing</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/manufacturing-and-engineering">Engineering</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/private-practice-accountant">Accountancy</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/construction">Construction</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/human-resources-officer">Human resources</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/marketing-selling-and-advertising">Marketing</a>
                              </li>
                              <li>
                                   <a href="./plumber.html">Plumbing</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/secondary-school-teacher">Secondary teaching</a>
                              </li>
                              <li>
                                   <a href="./chef.html">Chef</a>
                              </li>
                         </ul>
                    </div>
               </div>
               <h2 class="heading-large" id="top-jobs-no-degree">Highest paying jobs that don't need a degree</h2>
               <p>If you'd rather earn than learn, one of these jobs may be for you.</p>
               <div class="grid-row">
                    <div class="column-one-third">
                         <div class="panel panel-border-wide hybrid">
                              <img src="../public/images/profiles/image-5.jpg" alt="Stockbroker">
                              <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/stockbroker">
                                   <h3 class="heading-medium">Stockbrokers</h3>
                                   <p>Stockbrokers manage their clients' investments, trading stocks, shares and other financial products to get the best return.</p>
                              </a>
                         </div>
                    </div>
                    <div class="column-one-third">
                         <div class="panel panel-border-wide hybrid">
                              <img src="../public/images/airtraffic.jpg" alt="Air traffic controller">
                              <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/air-traffic-controller">
                                   <h3 class="heading-medium">Air traffic controller</h3>
                                   <p>Air traffic controllers give information and advice to airline pilots to help them take off and land safely and on time.</p>
                              </a>
                         </div>
                    </div>
                    <div class="column-one-third">
                         <div class="panel panel-border-wide hybrid">
                              <img src="../public/images/editor.jpg" alt="Newspaper journalist">
                              <a href="#">
                                   <h3 class="heading-medium">Newspaper journalist</h3>
                                   <p>Newspaper journalists investigate and write stories for local, regional and national newspapers.</p>
                              </a>
                         </div>
                    </div>
               </div>
               <div class="grid-row">
                    <div class="column-one-half">
                         <h2 class="heading-large" id="happy">Jobs with the happiest workers</h2>
                         <p>If job satisfaction is important, one of these jobs might appeal to you:</p>
                         <ul class="list list-bullet">
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/religious-leader">Clergy</a>
                              </li>
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/chief-executive">Chief executives and senior officials of companies</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/animals-plants-and-land">Managers of agriculture and horticulture</a>
                              </li>
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/company-secretary">Company secretaries</a>
                              </li>
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/quality-assurance-manager">Quality assurance and regulatory professionals</a>
                              </li>
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/health-service-manager">Health care practice managers</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/medicine-and-nursing">Medical practitioners</a>
                              </li>
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/farmer">Farmers</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/catering-services">Hotel and accommodation managers and proprietors</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/manufacturing-and-engineering">Skilled metal, electrical and electronic trades supervisors</a>
                              </li>
                         </ul>
                    </div>
                    <div class="column-one-half">
                         <h2 class="heading-large" id="lowskill">Popular jobs that don't need experience</h2>
                         <p>You can usually get into these careers with little or no experience:</p>
                         <ul class="list list-bullet">
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/call-centre-operator">Call centre operative</a>
                              </li>
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/waiting-staff">Hotel worker</a>
                              </li>
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/farm-worker">Agricultural labourer</a>
                              </li>
                              <li>
                                   <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/kitchen-assistant">Food preparer</a>
                              </li>
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/retail-manager">Shop worker</a>
                              </li>
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/sales-assistant">Sales assistant</a>
                              </li>
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/admin-assistant">Admin assistant</a>
                              </li>
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/emergency-care-assistant">Care assistant</a>
                              </li>
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/construction-labourer">Construction labourer</a>
                              </li>
                              <li>
                                   <a href="http://nationalcareersservice.direct.gov.uk/job-profiles/bar-person">Bar staff</a>
                              </li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
	<div class="grid-row">
          <div class="column-full">
	<div class="form-group">
					  <h2 class="heading-medium">Use your current location</h2>
		<p>You can update this page to show local information.</p>
                    <label class="form-label-bold" for=
                    "example-form-label-bold">Set your location <span class=
                    "form-hint">Enter your postcode or nearest town or city</span></label> <input class="form-control" id=
                    "example-form-label-bold" type="text" value="" placeholder="For example, Liverpool">
                </div>
			   <div class="form-group">
                    <a class="button" href="#" role=
                    "button">Update page</a>
                </div>
		</div>
	</div>

</main>


{% endblock %}
