{% extends "layout_search.html" %}

{% block page_title %}
  Careers Service - Interview skills
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

     <div class="breadcrumbs">
          <ol>
               <li><a href="/">Home</a></li>
               <li><a href="./job-profile-index">Job preparation</a></li>
               <li>Interview skills</li>
          </ol>
     </div>

     <div class="grid-row">
          <div class="column-two-thirds">
               <h1 class="heading-xlarge">
                    <span class="heading-secondary">Job preparation</span>
                    Interview skills
               </h1>
          </div>
          <div class="column-one-third">
               <a href="/contact-an-adviser" class="header-link">Contact a careers adviser</a>
          </div>
     </div>

	<div class="grid-row">
          <div class="column-one-third page-contents">  
                              <h2 class="heading-small">Page contents:</h2>
                              <ul class="page-contents__list">
                                   <li><a href="#section_1" class="">Interpersonal or soft skills</a></li>
                                   <li><a href="#section_2" class="">Attitude to work</a></li>
                                   <li><a href="#section_3" class="">Positive attitude</a></li>
                                   <li><a href="#section_4" class="">Body language</a></li>
                                   <li><a href="#section_5" class="">Communication skills</a></li>
                                   <li><a href="#section_6" class="">Time management</a></li>
                                   <li><a href="#section_7" class="">Confidence</a></li>
                              </ul>
                        
          </div>

		<div class="column-two-thirds">
			<p class="lede">Even if you have all the right qualifications and experience to do the job, you need to show an employer that you're a good fit for the organisation. This can decide whether or not you get the job.</p>
			<h2 class="heading-medium" id="section_1">Interpersonal or soft skills</h2>
               <p>
                    Employers look for how you interact with the people around you. You will need to demonstrate your
                    'interpersonal' or ‘soft skills’ during your interview. These can include:
               </p>
			<h2 class="heading-medium" id="section_2">Attitude to work</h2>
			<p>
                    You need to show that you are hard-working and that like to complete tasks.
               </p>
			<p>If you have had a job before, give examples of how you have shown positive attitudes to your work.</p>
			<p>If you're new to work give examples of things such as punctuality and meeting your deadlines.</p>
			<h2 class="heading-medium" id="section_3">Positive attitude</h2>
			<p>
                    Be positive in your interview, smile and speak clearly. Don’t be critical of anything or anyone. Give
                    examples of how you have approached difficult tasks and how you resolved them.
               </p>
               <p>
                    Give clear examples without using jargon or embellishing what you did. This will show that you can think a
                    problem through and that you don’t give up easily.
               </p>
               <h3 class="heading-medium" id="section_4">Body language</h3>
               <p>
                    Body language can tell an employer a lot about you, if you slouch, fold your arms or put your hands
                    in your pockets, this gives the impression that you don’t care.
               </p>
               <p>
                    Try to be relaxed but sit upright in the chair, look at your interviewer and smile.
               </p>
			<h2 class="heading-medium" id="section_5">Communication skills</h2>
			<p>
                    Your written communication skills have got you the interview, it's now your chance to show the
                    interviewer that your spoken communication is as strong.
               </p>
               <p>
                    Make sure you practice answers before the day of the interview so you don't end up tongue tied on the day.
                    Don't use slang or street language, make your answers as easy to follow as possible.
               </p>
               <p>
                    Try to give two or three examples when you answer any questions as this will show off your clear spoken English.
               </p>
			<h2 class="heading-medium" id="section_6">Time management</h2>
			<p>Try to show in your answers that you're punctual and that you don't need to be supervised to complete tasks. Give real examples that show this, either from a previous job or from your school, college or university.</p>
			<h2 class="heading-medium" id="section_7">Confidence</h2>
			<p>You must show you're confident throughout your interview. Remember the basics:</p>
			<ul class="list list-bullet">
				<li>shake hands</li>
				<li>make eye contact</li>
				<li>smile</li>
			</ul>
			<p>It's important not to be so confident that you come across as rude: don't make jokes, swear and always wait to be asked to sit down.</p>
			<p>
                    There may be occasions in your interview when it feels as if you're not being interviewed, for example you may
                    be invited to lunch or an informal coffee break.
               </p>
               <p>
                    It's very likely that you're still being interviewed and that people outside of the interview panel such as
                    a receptionist may be asked about how you came across.
               </p>
		</div>
	</div>
</main>

<!--<section class="what-next">
     <div class="home_content">
          <div class="grid-row">
               <div class="column-full">
                    <h1 class="heading-xlarge">So what next?</h1>
               </div>
          </div>
          <div class="grid-row">
               <div class="column-one-third">
                    <ul class="list list-bullet">
                         <li><a href="/top-ten-interview-questions">Top 10 interview questions and answers</a></li>
                         <li><a href="https://www.youtube.com/watch?v=Gs3IJkLgH00">Interview tips video</a></li>
                         <li><a href="/interview-skills">Interview skills</a></li>
                         <li><a href="/interview">What to do in an interview</a></li>
                    </ul>
               </div>
               <div class="column-one-third">
                    <ul class="list list-bullet">
                         <li><a href="/sample-cv">How to write a CV</a></li>
                         <li><a href="http://www.allaboutlaw.co.uk/law-careers/law-cv/law-cv-template">CV template example</a></li>
                         <li><a href="http://www.allaboutlaw.co.uk/law-careers/law-cv/using-linkedin-for-law">Using linkedin</a></li>
                    </ul>
               </div>
               <div class="column-one-third">
                    <ul class="list list-bullet">
                         <li><a href="/sample-application-letters">Completing application forms</a></li>
                         <li><a href="#">Starting a new job</a></li>
                    </ul>
               </div>
          </div>
     </div>
</section>-->


{% endblock %}
