{% extends "./layout_search.html" %}

{% block page_title %}
Careers Service - Browse job profiles
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "./includes/phase_banner_beta.html" %}
	{% include "./includes/breadcrumb_browse.html" %}
	
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Browse job profiles</h1>
				<h2 class="heading-large">A to Z index</h2>
				<p>Choose a letter below to view profiles.</p>
				<div id="az-index-wrapper">
					<p class="largeLetter">A</p>
					<ul id="az-index">
						<li>
							<a href="job-A-Z-lists/a">A</a>
						</li>
						<li>
							<a href="job-A-Z-lists/b">B</a>
						</li>
						<li>
							<a href="job-A-Z-lists/c">C</a>
						</li>
						<li>
							<a href="job-A-Z-lists/d">D</a>
						</li>
						<li>
							<a href="job-A-Z-lists/e">E</a>
						</li>
						<li>
							<a href="job-A-Z-lists/f">F</a>
						</li>
						<li>
							<a href="job-A-Z-lists/g">G</a>
						</li>
						<li>
							<a href="job-A-Z-lists/h">H</a>
						</li>
						<li>
							<a href="job-A-Z-lists/i">I</a>
						</li>
						<li>
							<a href="job-A-Z-lists/j">J</a>
						</li>
						<li>
							<a href="job-A-Z-lists/k">K</a>
						</li>
						<li>
							<a href="job-A-Z-lists/l">L</a>
						</li>
						<li>
							<a href="job-A-Z-lists/m">M</a>
						</li>
						<li>
							<a href="job-A-Z-lists/n">N</a>
						</li>
						<li>
							<a href="job-A-Z-lists/o">O</a>
						</li>
						<li>
							<a href="job-A-Z-lists/p">P</a>
						</li>
						<li>
							<a href="job-A-Z-lists/q">Q</a>
						</li>
						<li>
							<a href="job-A-Z-lists/r">R</a>
						</li>
						<li>
							<a href="job-A-Z-lists/s">S</a>
						</li>
						<li>
							<a href="job-A-Z-lists/t">T</a>
						</li>
						<li>
							<a href="job-A-Z-lists/u">U</a>
						</li>
						<li>
							<a href="job-A-Z-lists/v">V</a>
						</li>
						<li>
							<a href="job-A-Z-lists/w">W</a>
						</li>
						<li>
							<a href="job-A-Z-lists/x">X</a>
						</li>
						<li>
							<a href="job-A-Z-lists/y">Y</a>
						</li>
						<li>
							<a href="job-A-Z-lists/z">Z</a>
						</li>
					</ul>
				</div>
				<h3 class="heading-medium">Alternatively select from the list below</h3>
				<div class="column-one-half">
					<ul class="list job-family">
						<li>
							<a href="job-families/administrative-and-clerical">Administrative and clerical</a>
						</li>
						<li>
							<a href="job-families/alternative-therapies">Alternative therapies</a>
						</li>
						<li>
							<a href="job-families/animals-plants-and-land">Animals, plants and land</a>
						</li>
						<li>
							<a href="job-families/arts-crafts-and-design">Arts, crafts and design</a>
						</li>
						<li>
							<a href="job-families/catering-services">Catering services</a>
						</li>
						<li>
							<a href="job-families/construction">Construction</a>
						</li>
						<li>
							<a href="job-families/education-and-training">Education and training</a>
						</li>
						<li>
							<a href="job-families/environmental-sciences">Environmental sciences</a>
						</li>
						<li>
							<a href="job-families/financial-services">Financial services</a>
						</li>
						<li>
							<a href="job-families/general-and-personal-services">General and personal services</a>
						</li>
						<li>
							<a href="job-families/information-technology-and-information-management">Information technology and information management</a>
						</li>
						<li>
							<a href="job-families/legal-services">Legal services</a>
						</li>
						<li>
							<a href="job-families/maintenance-service-and-repair">Maintenance, service and repair</a>
						</li>
						<li>
							<a href="job-families/management-and-planning">Management and planning</a>
						</li>
					</ul>
				</div>
				<div class="column-one-half">
					<ul class="list">
						<li>
							<a href="job-families/manufacturing-and-engineering">Manufacturing and engineering</a>
						</li>
						<li>
							<a href="job-families/marketing-selling-and-advertising">Marketing, selling and advertising</a>
						</li>
						<li>
							<a href="job-families/medical-technology">Medical technology</a>
						</li>
						<li>
							<a href="job-families/medicine-and-nursing">Medicine and nursing</a>
						</li>
						<li>
							<a href="job-families/performing-arts-broadcast-and-media">Performing arts, broadcast and media</a>
						</li>
						<li>
							<a href="job-families/publishing-and-journalism">Publishing and journalism</a>
						</li>
						<li>
							<a href="job-families/retail-sales-and-customer-service">Retail sales and customer service</a>
						</li>
						<li>
							<a href="job-families/science-and-research">Science and research</a>
						</li>
						<li>
							<a href="job-families/security-and-uniformed-services">Security and uniformed services</a>
						</li>
						<li>
							<a href="job-families/social-services">Social services</a>
						</li>
						<li>
							<a href="job-families/sport-leisure-and-tourism">Sport, leisure and tourism</a>
						</li>
						<li>
							<a href="job-families/storage-dispatching-and-delivery">Storage, dispatching and delivery</a>
						</li>
						<li>
							<a href="job-families/transport">Transport</a>
						</li>
					</ul>
				</div>

  </div>
	</div>
	</main>


{% endblock %}
