{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Browse job profiles
{% endblock %}

{% block content %}

<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %}
	{% include "includes/breadcrumb_browse.html" %}
	
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Browse job profiles</h1>
				<h2 class="heading-large">A to Z index</h2>
				<p>Choose a letter below to view profiles.</p>
				<div id="az-index-wrapper">
					<p class="largeLetter">A</p>
					<ul id="az-index">
						<li>
							<a href="/a">A</a>
						</li>
						<li>
							<a href="/b">B</a>
						</li>
						<li>
							<a href="/c">C</a>
						</li>
						<li>
							<a href="/d">D</a>
						</li>
						<li>
							<a href="/e">E</a>
						</li>
						<li>
							<a href="/f">F</a>
						</li>
						<li>
							<a href="/g">G</a>
						</li>
						<li>
							<a href="/h">H</a>
						</li>
						<li>
							<a href="/i">I</a>
						</li>
						<li>
							<a href="/j">J</a>
						</li>
						<li>
							<a href="/k">K</a>
						</li>
						<li>
							<a href="/l">L</a>
						</li>
						<li>
							<a href="/m">M</a>
						</li>
						<li>
							<a href="/n">N</a>
						</li>
						<li>
							<a href="/o">O</a>
						</li>
						<li>
							<a href="/p">P</a>
						</li>
						<li>
							<a href="/q">Q</a>
						</li>
						<li>
							<a href="/r">R</a>
						</li>
						<li>
							<a href="/s">S</a>
						</li>
						<li>
							<a href="/t">T</a>
						</li>
						<li>
							<a href="/u">U</a>
						</li>
						<li>
							<a href="/v">V</a>
						</li>
						<li>
							<a href="/w">W</a>
						</li>
						<li>
							<a href="/x">X</a>
						</li>
						<li>
							<a href="/y">Y</a>
						</li>
						<li>
							<a href="/z">Z</a>
						</li>
					</ul>
				</div>
				<h3 class="heading-medium">Alternatively select from the list below</h3>
				<div class="column-one-half">
					<ul class="list job-family">
						<li>
							<a href="/administrative-and-clerical">Administrative and clerical</a>
						</li>
						<li>
							<a href="/alternative-therapies">Alternative therapies</a>
						</li>
						<li>
							<a href="/animals-plants-and-land">Animals, plants and land</a>
						</li>
						<li>
							<a href="/arts-crafts-and-design">Arts, crafts and design</a>
						</li>
						<li>
							<a href="/catering-services">Catering services</a>
						</li>
						<li>
							<a href="/construction">Construction</a>
						</li>
						<li>
							<a href="/education-and-training">Education and training</a>
						</li>
						<li>
							<a href="/environmental-sciences">Environmental sciences</a>
						</li>
						<li>
							<a href="/financial-services">Financial services</a>
						</li>
						<li>
							<a href="/general-and-personal-services">General and personal services</a>
						</li>
						<li>
							<a href="/information-technology-and-information-management">Information technology and information management</a>
						</li>
						<li>
							<a href="/legal-services">Legal services</a>
						</li>
						<li>
							<a href="/maintenance-service-and-repair">Maintenance, service and repair</a>
						</li>
						<li>
							<a href="/management-and-planning">Management and planning</a>
						</li>
					</ul>
				</div>
				<div class="column-one-half">
					<ul class="list">
						<li>
							<a href="/manufacturing-and-engineering">Manufacturing and engineering</a>
						</li>
						<li>
							<a href="/marketing-selling-and-advertising">Marketing, selling and advertising</a>
						</li>
						<li>
							<a href="/medical-technology">Medical technology</a>
						</li>
						<li>
							<a href="/medicine-and-nursing">Medicine and nursing</a>
						</li>
						<li>
							<a href="/performing-arts-broadcast-and-media">Performing arts, broadcast and media</a>
						</li>
						<li>
							<a href="/publishing-and-journalism">Publishing and journalism</a>
						</li>
						<li>
							<a href="/retail-sales-and-customer-service">Retail sales and customer service</a>
						</li>
						<li>
							<a href="/science-and-research">Science and research</a>
						</li>
						<li>
							<a href="/security-and-uniformed-services">Security and uniformed services</a>
						</li>
						<li>
							<a href="/social-services">Social services</a>
						</li>
						<li>
							<a href="/sport-leisure-and-tourism">Sport, leisure and tourism</a>
						</li>
						<li>
							<a href="/storage-dispatching-and-delivery">Storage, dispatching and delivery</a>
						</li>
						<li>
							<a href="/transport">Transport</a>
						</li>
					</ul>
				</div>

  </div>
	</div>
	</main>


{% endblock %}
