{% extends "layout_search.html" %}

{% block page_title %}
  Careers Service - Legal Services
{% endblock %}

{% block content %}

<main id="content" role="main">
        {% include "includes/breadcrumb_legal.html" %}
        <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Legal services</h1>
        <p>
            You'll need an investigative mind and the ability to understand large amounts of complex information in many jobs in legal services. If you have these skills, law might be your field.
        </p>
            <div class="column-one-half">
                <ul class="list job-family">
                        <li><a href="/bailiff">Bailiff</a></li>
                        <li><a href="/barrister">Barrister</a></li>
                        <li><a href="/barrister's-clerk">Barrister's clerk</a></li>
                        <li><a href="/company-secretary">Company secretary</a></li>
                        <li><a href="/coroner">Coroner</a></li>
                        <li><a href="/court-administrative-assistant">Court administrative assistant</a></li>
                        <li><a href="/court-legal-adviser">Court legal adviser</a></li>
                        <li><a href="/court-usher">Court usher</a></li>
                        <li><a href="/credit-controller">Credit controller</a></li>
                        <li><a href="/crown-prosecutor">Crown prosecutor</a></li>
                        <li><a href="/equalities-officer">Equalities officer</a></li>
                        <li><a href="/family-mediator">Family mediator</a></li>
                        <li><a href="/forensic-psychologist">Forensic psychologist</a></li>
                        <li><a href="/immigration-adviser-(non-government)">Immigration adviser (non-government)</a></li>
                        <li><a href="/legal-executive">Legal executive</a></li>
                </ul>
            </div>
            <div class="column-one-half">
                <ul class="list">
                        <li><a href="/legal-secretary">Legal secretary</a></li>
                        <li><a href="/licensed-conveyancer">Licensed conveyancer</a></li>
                        <li><a href="/paralegal">Paralegal</a></li>
                        <li><a href="/patent-attorney">Patent attorney</a></li>
                        <li><a href="/private-investigator">Private investigator</a></li>
                        <li><a href="/probation-officer">Probation officer</a></li>
                        <li><a href="/probation-services-officer">Probation services officer</a></li>
                        <li><a href="/registrar-of-births-deaths-marriages-and-civil-partnerships">Registrar of births, deaths, marriages and civil partnerships</a></li>
                        <li><a href="/solicitor">Solicitor</a></li>
                        <li><a href="/tax-inspector">Tax inspector</a></li>
                        <li><a href="/trade-mark-attorney">Trade mark attorney</a></li>
                        <li><a href="/trading-standards-officer">Trading standards officer</a></li>
                        <li><a href="/victim-care-officer">Victim care officer</a></li>
                        <li><a href="/welfare-rights-officer">Welfare rights officer</a></li>
                </ul>
            </div>
        <div class="column-one-third"></div>
    </div>
</div>


    </main>

{% endblock %}
