{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Skills match results
{% endblock %}

{% block content %}

	<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_para_match.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Skills match results: paralegal</h1>
				<!--<h2 class="heading-large">You’re a match!</h2>--><!--<p><progress max="100" value="70"></progress></p>-->
				<!--<h2 class="heading-medium">Your skills</h2>-->
				<p>It looks like you have the skills to become a paralegal.</p>
				<p>You have:</p>
				<ul class="list list-bullet">
					<li>administration skills</li>
					<li>research skills</li>
					<li>ability to read and recall lots of information</li>
					<li>interpersonal skills</li>
				</ul>
				<p>You can now go on to build a skills profile.</p>
				<p>A profile shows the skills you have, how you’ve gained them and gives examples of when you’ve used them to achieve something.</p>
				<p>You can use it to help you:</p>
				<ul class="list list-bullet">
					<li>build a CV</li>
					<li> write an application for a job or an apprenticeship</li>
					<li>prepare for an interview</li>
					<li>prepare to meet a careers adviser</li>
				</ul>		
				<h2 class="heading-large">Skills you nearly have</h2>
				<p>You nearly have:</p>
				<ul class="list list-bullet">
					<li>a high level of accuracy</li>
					<li>time management</li>
					<li>team work</li>
				</ul>
				<p>It's great that you’re already working towards these skills. Gaining these skills may help you to get this job.</p>
				<h2 class="heading-large">Skills you don't have yet</h2>
				<p>You don't have but could get:</p>
				<ul class="list list-bullet">
					<li>IT skills</li>
					<li>record keeping</li>
				</ul>
				<p>Think about how you could learn these skills. You could do:</p>
				<ul class="list list-bullet">
					<li><a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">college courses</a></li>
					<li><a href="http://www.hotcourses.com/">distance or online learning</a></li>
					<li><a href="https://www.gov.uk/volunteering">volunteering</a></li>
					<li><a href="https://www.gov.uk/find-traineeship">traineeship</a></li>
					<li><a href="http://www.greatbusiness.gov.uk/mentoring/">mentoring or job shadowing</a></li>
				</ul>
				<p>Choose the method that suits your preferred learning style the best.</p>
				<p>If you’re employed, ask your employer if there are any learning or training opportunities that could help you.</p>
				<p>If you’re not working, check with the Jobcentre and local learning providers for opportunities.</p>
				<p>You can go back to the job profile for <a href="./paralegal.html">paralegal</a> to find information about courses and training.</p>
				<p><a class="button" href="./experience-paralegal.html" role="button">Create a skills profile</a></p>
				
			</div>
			<div class="column-one-third">
				<p>Now you’ve done the skills check, you can create a <a href="/experience-paralegal">skills profile</a> or contact our <a href="/contact-an-adviser">careers advisers</a> for help.</p>
				<!--<p>If you need more help filling in an application form or writing your CV our <a href="/contact-an-adviser">careers advisers</a> are available to offer you advice and guidance.</p>-->
			</div>
		</div>
	</main>


{% endblock %}
