{% extends "layout.html" %}

{% block page_title %}
Careers Service - Job profiles - P
{% endblock %}

{% block content %}

<main id="content" role="main">
     {% include "includes/phase_banner_alpha.html" %}
			{% include "includes/breadcrumb_p.html" %}

    <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Browse Job profiles</h1>
        <p>Explore the job profiles to find out what a job involves and if it will suit you.</p>
        <p>Choose a letter below to view profiles.</p>
        <div id="az-index-wrapper">
            <p class="largeLetter">P</p>
            <ul id="az-index">
                    <li><a href="/a">A</a></li>
                    <li><a href="/b">B</a></li>
                    <li><a href="/c">C</a></li>
                    <li><a href="/d">D</a></li>
                    <li><a href="/e">E</a></li>
                    <li><a href="/f">F</a></li>
                    <li><a href="/g">G</a></li>
                    <li><a href="/h">H</a></li>
                    <li><a href="/i">I</a></li>
                    <li><a href="/j">J</a></li>
                    <li><a href="/k">K</a></li>
                    <li><a href="/l">L</a></li>
                    <li><a href="/m">M</a></li>
                    <li><a href="/n">N</a></li>
                    <li><a href="/o">O</a></li>
                    <li><a href="/P">P</a></li>
                    <li><a href="/q">Q</a></li>
                    <li><a href="/r">R</a></li>
                    <li><a href="/s">S</a></li>
                    <li><a href="/t">T</a></li>
                    <li><a href="/u">U</a></li>
                    <li><a href="/v">V</a></li>
                    <li><a href="/w">W</a></li>
                    <li><a href="/x">X</a></li>
                    <li><a href="/y">Y</a></li>
                    <li><a href="/z">Z</a></li>
            </ul>
        </div>
            <div class="column-one-half">
                <ul class="list job-family">
                        <li><a href="/packaging-technologist">Packaging technologist</a></li>
                        <li><a href="/packer">Packer</a></li>
                        <li><a href="/paint-sprayer">Paint sprayer</a></li>
                        <li><a href="/painter-and-decorator">Painter and decorator</a></li>
                        <li><a href="/palaeontologist">Palaeontologist</a></li>
                        <li><a href="/palliative-care-assistant">Palliative care assistant</a></li>
                        <li><a href="/paper-maker">Paper maker</a></li>
                        <li><a href="/paper-technologist">Paper technologist</a></li>
                        <li><a href="/paralegal">Paralegal</a></li>
                        <li><a href="/paramedic">Paramedic</a></li>
                        <li><a href="/patent-attorney">Patent attorney</a></li>
                        <li><a href="/pathologist">Pathologist</a></li>
                        <li><a href="/patient-advice-and-liaison-service-officer">Patient advice and liaison service officer</a></li>
                        <li><a href="/patient-transport-service-controller">Patient transport service controller</a></li>
                        <li><a href="/pattern-cutter">Pattern cutter</a></li>
                        <li><a href="/pattern-grader">Pattern grader</a></li>
                        <li><a href="/payroll-administrator">Payroll administrator</a></li>
                        <li><a href="/payroll-manager">Payroll manager</a></li>
                        <li><a href="/pe-teacher">PE teacher</a></li>
                        <li><a href="/pensions-administrator">Pensions administrator</a></li>
                        <li><a href="/pensions-adviser">Pensions adviser</a></li>
                        <li><a href="/pensions-manager">Pensions manager</a></li>
                        <li><a href="/personal-assistant">Personal assistant</a></li>
                        <li><a href="/personal-shopper">Personal shopper</a></li>
                        <li><a href="/personal-trainer">Personal trainer</a></li>
                        <li><a href="/pest-control-technician">Pest control technician</a></li>
                        <li><a href="/pet-behaviour-counsellor">Pet behaviour counsellor</a></li>
                        <li><a href="/pet-shop-assistant">Pet shop assistant</a></li>
                        <li><a href="/petrol-station-sales-assistant">Petrol station sales assistant</a></li>
                        <li><a href="/pharmacist">Pharmacist</a></li>
                        <li><a href="/pharmacologist">Pharmacologist</a></li>
                        <li><a href="/pharmacy-assistant">Pharmacy assistant</a></li>
                        <li><a href="/pharmacy-technician">Pharmacy technician</a></li>
                        <li><a href="/phlebotomist">Phlebotomist</a></li>
                        <li><a href="/photographer">Photographer</a></li>
                        <li><a href="/photographic-stylist">Photographic stylist</a></li>
                        <li><a href="/photographic-technician">Photographic technician</a></li>
                        <li><a href="/physicist">Physicist</a></li>
                        <li><a href="/physiotherapist">Physiotherapist</a></li>
                        <li><a href="/physiotherapy-assistant">Physiotherapy assistant</a></li>
                        <li><a href="/picture-framer">Picture framer</a></li>
                        <li><a href="/pilates-teacher">Pilates teacher</a></li>
                        <li><a href="/pipe-fitter">Pipe fitter</a></li>
                </ul>
            </div>
            <div class="column-one-half">
                <ul class="list">
                        <li><a href="/planning-and-development-surveyor">Planning and development surveyor</a></li>
                        <li><a href="/plasterer">Plasterer</a></li>
                        <li><a href="/plastics-process-worker">Plastics process worker</a></li>
                        <li><a href="/play-therapist">Play therapist</a></li>
                        <li><a href="/playworker">Playworker</a></li>
                        <li><a href="/plumber">Plumber</a></li>
                        <li><a href="/podiatrist">Podiatrist</a></li>
                        <li><a href="/podiatry-assistant">Podiatry assistant</a></li>
                        <li><a href="/police-community-support-officer">Police community support officer</a></li>
                        <li><a href="/police-officer">Police officer</a></li>
                        <li><a href="/pop-musician">Pop musician</a></li>
                        <li><a href="/port-operative">Port operative</a></li>
                        <li><a href="/portage-home-visitor">Portage home visitor</a></li>
                        <li><a href="/post-office-customer-service-assistant">Post office customer service assistant</a></li>
                        <li><a href="/postman-or-postwoman">Postman or postwoman</a></li>
                        <li><a href="/practice-nurse">Practice nurse</a></li>
                        <li><a href="/pre-press-operator">Pre-press operator</a></li>
                        <li><a href="/primary-care-graduate-mental-health-worker">Primary care graduate mental health worker</a></li>
                        <li><a href="/primary-school-teacher">Primary school teacher</a></li>
                        <li><a href="/printing-administrator">Printing administrator</a></li>
                        <li><a href="/printing-assistant">Printing assistant</a></li>
                        <li><a href="/prison-governor">Prison governor</a></li>
                        <li><a href="/prison-instructor">Prison instructor</a></li>
                        <li><a href="/prison-officer">Prison officer</a></li>
                        <li><a href="/private-investigator">Private investigator</a></li>
                        <li><a href="/private-practice-accountant">Private practice accountant</a></li>
                        <li><a href="/probation-officer">Probation officer</a></li>
                        <li><a href="/probation-services-officer">Probation services officer</a></li>
                        <li><a href="/product-designer">Product designer</a></li>
                        <li><a href="/production-manager-manufacturing-">Production manager (manufacturing)</a></li>
                        <li><a href="/production-worker-(manufacturing)">Production worker (manufacturing)</a></li>
                        <li><a href="/proofreader">Proofreader</a></li>
                        <li><a href="/prop-maker">Prop maker</a></li>
                        <li><a href="/prosthetist-orthotist">Prosthetist-orthotist</a></li>
                        <li><a href="/psychiatrist">Psychiatrist</a></li>
                        <li><a href="/psychologist">Psychologist</a></li>
                        <li><a href="/psychotherapist">Psychotherapist</a></li>
                        <li><a href="/public-finance-accountant">Public finance accountant</a></li>
                        <li><a href="/public-relations-director">Public relations director</a></li>
                        <li><a href="/public-relations-officer">Public relations officer</a></li>
                        <li><a href="/publican">Publican</a></li>
                        <li><a href="/purchasing-manager">Purchasing manager</a></li>
                </ul>
            </div>
        <div class="column-one-third"></div>
    </div>
</div>


</main>


{% endblock %}
