{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Profile
{% endblock %}

{% block content %}

	<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %}{% include "includes/breadcrumb_profile.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">				
				<h1 class="heading-xlarge">Your skills profile: paralegal</h1>
				<p>Use your profile to:</p>
				<ul class="list list-bullet">
					<li>build a CV</li>
					<li>write an application for a job or an apprenticeship</li>
					<li>prepare for an interview</li>
					<li>prepare to meet a careers adviser</li>
				</ul>
				<h2 class="heading-large">Skill 1: Administration</h2>
				<h3 class="heading-small">Experience</h3>
				<p>For the past 5 years I’ve been in charge of directing incoming mail to the correct person. </p>
				<h3 class="heading-small">Achievement</h3>
				<p>I noticed that some items of post were going missing. So I set up a tracking system so we could see which post was sent to which members of staff. This led to a 300% reduction in lost mail, and the damage to reputation in having to ask clients to re-send documents. </p>
				<h2 class="heading-large">Skill 2: Research</h2>
				<h3 class="heading-small">Experience</h3>
				<p>I am a highly skilled online researcher and have 3 years’ experience in legal research. </p>
				<h3 class="heading-small">Achievement</h3>
				<p>I am often entrusted with research tasks that need a quick turnaround. For example, a new piece of evidence came to light the day before a court hearing and one of the lawyers gave it to me to research.</p> 
				<p>I was able to get a briefing together within two hours, highlighting the most relevant points that the lawyer could use. This extra information contributed to us winning this case.  </p>
				<h2 class="heading-large">Skill 3: Read and recall lots of complex information</h2>
				<h3 class="heading-small">Experience</h3>
				<p>I am used to reading lengthy and complex legal texts and have an excellent memory. </p>
				<h3 class="heading-small">Achievement</h3>
				<p>Due to a sudden influx of disability discrimination cases I became very familiar with the Equality Act, which is very long. When the firm took on a case on this topic I became the first point of contact for initial views. This has enabled us to build a reputation as a leading firm for clients with cases like this. </p>
				<h2 class="heading-large">Skill 4: Problem solving</h2>
				<h3 class="heading-small">Experience</h3>
				<p>Throughout 5 years with my current employer, I have always looked to streamline processes where possible. I am a frequent contributor to the staff suggestions programme. </p>
				<h3 class="heading-small">Achievement</h3>
				<p>Our client database wasn’t very easy to search. I did some research on using tags so we could bring up similar records in a group. This made case research much quicker, and one of the firm partners put me forward for employee of the year as a result.</p>
				<h2 class="heading-large">Skill 5: Interpersonal skills</h2>
				<h3 class="heading-small">Experience</h3>
				<p>I am a skilled communicator who can get on with all kinds of people, from senior executives to the general public. My very calm and measured approach helps me to deal with conflict and demanding customers in particular. </p>
				<h3 class="heading-small">Achievement</h3>
				<p>I had to get a statement from a witness who was very obstructive and dismissive of the legal profession. I used my interpersonal skills to convince him of his responsibility to present the truth. I used rapport to encourage him to see me as a human being rather than a representative of the law. This resulted in me getting the statement I needed, which had a big influence on winning a challenging case.  </p>
				<h2 class="heading-medium">Sharing options</h2>
				<ul class="list">
  					<!--<li><a href="/public/downloads/sample.pdf">Download as PDF</a></li>--> 
					<li><a href="/public/downloads/sample-paralegal.rtf">Download as document</a></li>
					<li><a href="#">Add to dropbox</a></li>
					<li><a href="#">Share this link</a></li>					
					<li><a href="#">Print this page</a></li>
				</ul>
				<p>You can continue with your profile or <a href="./webchat.html">chat online with a careers adviser</a>.</p>
				<p><a class="button" href="./experience-paralegal.html" role="button">Edit profile</a></p>	
			</div>
			<!--<div class="column-one-third">
				<h2 class="heading-medium">Sharing options</h2>
				<ul class="list">
  					<li><a href="/public/downloads/sample.pdf">Download as PDF</a></li> 
					<li><a href="/public/downloads/sample-paralegal.rtf">Download as document</a></li>
					<li><a href="#">Add to dropbox</a></li>
					<li><a href="#">Share this link</a></li>
					<li><a href="#">Print this page</a></li>
				</ul>
			</div>-->
			<div class="column-one-third">				
				<p>If you need more help filling in an application form or writing your CV our <a href="/contact-an-adviser">careers advisers</a> are available to offer you advice and guidance.</p>
			</div>
		</div>
	</main>


{% endblock %}
