{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Profile
{% endblock %}

{% block content %}

	<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %}{% include "includes/breadcrumb_profile.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">				
				<h1 class="heading-xlarge">Your skills profile: plumber</h1>
				<p>Use your profile to:</p>
				<ul class="list list-bullet">
					<li>build a CV</li>
					<li>write an application for a job or an apprenticeship</li>
					<li>prepare for an interview</li>
					<li>prepare to meet a careers adviser</li>
				</ul>
				<h2 class="heading-large">Skill 1: Customer care</h2>
				<h3 class="heading-small">Experience</h3>
				<p>I work on both domestic and industrial jobs so I have experience of meeting the needs of households and businesses.</p>
				<h3 class="heading-small">Achievement</h3>
				<p>I have got a 95% approval rating on the Rated People website. I achieve this by doing things like: being flexible with the appointment times I offer, consulting the customer on all their work preferences, always working cleanly and returning the house to its previous state, and showing the customers around the work I’ve done to check it meets their needs.</p>
				<h2 class="heading-large">Skill 2: Problem solving</h2>
				<h3 class="heading-small">Experience</h3>
				<p>I have 5 years’ experience of domestic and industrial plumbing and I’m familiar with most of the different brands and ages of systems, which enables me to diagnose common problems. </p>
				<h3 class="heading-small">Achievement</h3>
				<p>We had a supply chain issue where some materials weren’t always available, which was holding up jobs. So I did some research to find a supplier who kept higher stock levels in the materials we need and arranged a new deal with them. </p>				
				<h2 class="heading-large">Skill 3: Practical skills</h2>
				<h3 class="heading-small">Experience</h3>
				<p>I’ve always carried out DIY and practical tasks, and have had a number of jobs in the trades, including painter and decorator. 
				</p>
				<h3 class="heading-small">Achievement</h3>
				<p>Some new materials came out that our bosses wanted us to use on jobs, so we all had to have training on them. It was expected that it would take us longer to complete jobs for a while, whilst we got used to them. Using my strong practical skills I was able to pick things up quickly and was back to my usual productivity rate within two days. 
				</p>
				<h2 class="heading-large">Skill 4: Technical-drawing skills</h2>
				<h3 class="heading-small">Experience</h3>
				<p>I’ve got 5 years’ experience of working with complex building plans on industrial jobs. </p>
				<h3 class="heading-small">Achievement</h3>
				<p>I’ve recently completed a short course on computer aided design so I can better understand technical plans, and even produce my own plans for more straightforward domestic jobs. 
				</p>
				<h2 class="heading-medium">Sharing options</h2>
				<ul class="list">
  					<!--<li><a href="/public/downloads/sample-plumber.pdf">Download as PDF</a></li>--> 
					<li><a href="/public/downloads/sample-plumber.rtf">Download as document</a></li>
					<li><a href="#">Add to dropbox</a></li>
					<li><a href="#">Share this link</a></li>
					<li><a href="#">Print this page</a></li>
				</ul>
				<p>You can continue with your profile or <a href="./webchat.html">chat online with a careers adviser</a>.</p>
				<p><a class="button" href="./experience-plumber.html" role="button">Edit profile</a></p>	
			</div>
			<!--<div class="column-one-third">
				<h2 class="heading-medium">Sharing options</h2>
				<ul class="list">
  					<li><a href="/public/downloads/sample-plumber.pdf">Download as PDF</a></li> 
					<li><a href="/public/downloads/sample-plumber.rtf">Download as document</a></li>
					<li><a href="#">Add to dropbox</a></li>
					<li><a href="#">Share this link</a></li>
					<li><a href="#">Print this page</a></li>
				</ul>
			</div>-->
			<div class="column-one-third">				
				<p>If you need more help filling in an application form or writing your CV our <a href="/contact-an-adviser">careers advisers</a> are available to offer you advice and guidance.</p>
			</div>
		</div>
	</main>


{% endblock %}
