{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Writing your CV
{% endblock %}

{% block content %}

<main id="content" role="main">
     {% include "includes/phase_banner_alpha.html" %}

     <div class="breadcrumbs">
          <ol>
               <li><a href="/">Home</a></li>
               <li><a href="./job-profile-index">Job preparation</a></li>
               <li>Writing your CV</li>
          </ol>
     </div>

     <div class="grid-row">
          <div class="column-two-thirds">
               <h1 class="heading-xlarge">
                    <span class="heading-secondary">Job preparation</span>
                    Writing your CV
               </h1>
          </div>
          <div class="column-one-third">
               <a href="/contact-an-adviser" class="header-link">Contact a careers adviser</a>
          </div>
     </div>

    <div class="grid-row">

          <div class="column-one-third page-contents">  
                        <h2 class="heading-small">Page contents:</h2>
                              <ul class="page-contents__list">
                                   <li><a href="#section_1" class="">Avoid typing errors, poor spelling and grammar</a></li>
                                   <li><a href="#section_2" class="">List achievements, not what you did</a></li>
                                   <li><a href="#section_3" class="">Write a different CV for each job application</a></li>
                                   <li><a href="#section_4" class="">Make it visually appealing and easy to read</a></li>
                                   <li><a href="#section_5" class="">Avoid making your CV too long or too short</a></li>
                                   <li><a href="#section_6" class="">Download an example CV template</a></li>
                              </ul>             
          </div>
          <div class="column-two-thirds">
               <p class="lede">Your CV is often the first thing of yours an employer will see.</p>
               <p>It needs to have the right presentation, and have no mistakes.</p>
               <p>Employers receive lots of CVs and have to decide quickly who they're going to interview.</p>
               <p>Here are some ways to make employers remember your CV for all the right reasons.</p>

               <h2 class="heading-medium" id="section_1">Avoid typing errors, poor spelling and grammar</h2>
               <p>Mistakes can make it seem like you haven't put the time in, or you don't think details are important. A tidy, mistake-free CV creates the impression that you're professional, thorough and care about how you come across.</p>
               <p>It's a good idea to have your CV checked by someone whose English is good, even if yours is good too.</p>

               <h2 class="heading-medium" id="section_2">List achievements, not what you did</h2>
               <p>Your CV should promote everything you have achieved.</p>
               <p>Phrases like 'I was responsible for ordering stock' can make your CV read like a job description. Instead, describe things you did and what the positive result was. For example, 'by closely monitoring sales trends and stock levels, I reduced out of stock instances by 21%'.</p>
               <p>You can change the language you use to make yourself sound more dynamic. Instead of saying 'I was involved in the promotion of the company at industry events.' say 'I promoted the company at industry events.' This makes you sound like someone who does things, rather than someone who was just 'involved'.</p>

               <h2 class="heading-medium" id="section_3">Write a different CV for each job application</h2>
               <p>Avoid sending out the same CV to hundreds of employers. Mass mailshots can sound general and unfocused and employers can spot them.</p>
               <p>Instead, list your most relevant skills for the job you are applying for. Consider what skills the employer might be looking for, and highlight your relevant experience.</p>
               <p>For example, you've got experience in retail and care work, and you're applying for a retail job. Make sure you include more about retail experience than care experience in your CV.</p>

               <h2 class="heading-medium" id="section_4">Make it visually appealing and easy to read</h2>
               <p>Don't include too much information. Avoid long paragraphs with very little white space.</p>
               <p>Lists and short sentences make your CV easier to read and easier for recruiters to find the important points.</p>
               <p>You don’t need to print your CV on bright coloured paper or over a picture. Do not mix up your fonts for visual effect because it can look messy.</p>

               <h2 class="heading-medium" id="section_5">Avoid making your CV too long or too short</h2>
               <p>A CV should be no more than 2 pages long.</p>
               <p>If you've a lot of relevant experience at a high level, you can go over 2 pages.If you're just starting out in your career, 1 page is fine.</p>
               <p>If your CV goes back a long way into your work history, make sure the information is relevant to the job you're applying for. A Saturday job you had 20 years ago probably isn't relevant.</p>

               <h2 class="heading-medium" id="section_6">Download an example CV template</h2>
               <p>All our templates are in hosted in <a href="https://www.google.co.uk/docs/about/">google documents</a> and can be downloaded in various formats.</p>
               <ul class="list">
                    <li>
                         <p><a href="#">Sample CV template (Teaching assistant)</a></p>
                    </li>
                    <li>
                         <p><a href="#">Sample CV template (Paralegal)</a></p>
                    </li>
                    <li>
                         <p><a href="#">Sample CV template (Pharmacy technician)</a></p>
                    </li>
               </ul>
          </div>
     </div>
</main>

{% endblock %}
