{% extends "layout_search.html" %}

{% block page_title %}
  Careers Service - What to do in an interview
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

     <div class="breadcrumbs">
          <ol>
               <li><a href="/">Home</a></li>
               <li><a href="./job-profile-index">Job preparation</a></li>
               <li>Completing application forms</li>
          </ol>
     </div>

     <div class="grid-row">
          <div class="column-two-thirds">
               <h1 class="heading-xlarge">
                    <span class="heading-secondary">Job preparation</span>
                    Completing application forms
               </h1>
          </div>
          <div class="column-one-third">
               <a href="/contact-an-adviser" class="header-link">Contact a careers adviser</a>
          </div>
     </div>

	<div class="grid-row">

          <div class="column-one-third page-contents"> 
			  <h2 class="heading-small">Page contents:</h2>
                              <ul class="page-contents__list">
                                   <li><a href="#section_1" class="">Completing an application form</a></li>
                                   <li><a href="#section_2" class="">Applying online</a></li>
                                   <li><a href="#section_3" class="">Key tips</a></li>
                                   <li><a href="#section_4" class="">Writing a personal statement</a></li>
                              </ul>
				  
          </div>

          <div class="column-two-thirds">
               <p class="lede">For some jobs, employers may ask you to fill in an application form instead of a CV.</p>
               <p>When filling in an application form:</p>
               <ul class="list list-bullet">
                    <li>follow the application instructions – if it's a written application form and it says write in capitals or use black ink, then do so</li>
                    <li>present the information clearly and neatly</li>
                    <li>sell your most relevant skills</li>
                    <li>show how your experience relates to the job and the questions asked</li>
               </ul>
               <h2 class="heading-medium" id="section_1">Completing an application form</h2>
               <p>
                    Completing an application form can take just as much time and effort as writing a CV and covering letter.
                    However, the more forms you fill in, the quicker you'll get and the better you'll become at doing them.
               </p>
               <p>
                    A good way to avoid mistakes and crossings-out on a paper application form is to photocopy the original and
                    practise filling in this copy first. Take care of the original form – don't spill anything on it or crease it.
               </p>
               <h2 class="heading-medium" id="section_2">Applying online</h2>
               <p>
                    Most employers these days will ask you to apply online. Read the instructions very carefully and follow them.
                    Get someone to help you if you're not confident using a computer.
               </p>
               <p>
                    Draft your application using a word processing package like Word and spellcheck it thoroughly before you send it.
                    Saving a draft version on your computer means you'll always have a backup copy that you can refer to or send
                    in again if you need to.
               </p>
               <p>
                    Some websites let you save your information as you fill in your application form, so you don't have to do it all
                    in one go.
               </p>
               <p>
                    Make sure you keep a record of any usernames and passwords you use so you can get back in.
               </p>
               <h2 class="heading-medium" id="section_3">Key tips</h2>
               <p>Whether your fill in your application form online or on paper, make sure you:</p>
               <ul class="list list-bullet">
                    <li>read it over a few times to check for spelling and grammar errors</li>
                    <li>ask someone else to proofread it and check it for you</li>
                    <li>check you've filled in all the boxes that are relevant to you, and put 'N/A' (not applicable) in boxes that aren't relevant to you</li>
                    <li>photocopy or print out the finished application form, so you have a record of what you've written</li>
                    <li>make sure you submit your application to arrive before the closing date</li>
               </ul>
               <h2 class="heading-medium" id="section_4">Writing a personal statement</h2>
               <p>
                    Some application forms ask for a personal statement. Make sure anything you write is specific to the post,
                    rather than making general comments. Show how what you've done or what you can do is relevant to the demands of
                    the role.
               </p>

          </div>
	</div>
</main>

<!--<section class="what-next">
     <div class="home_content">
          <div class="grid-row">
               <div class="column-full">
                    <h1 class="heading-xlarge">So what next?</h1>
               </div>
          </div>
          <div class="grid-row">
               <div class="column-one-third">
                    <ul class="list list-bullet">
                         <li><a href="/top-ten-interview-questions">Top 10 interview questions and answers</a></li>
                         <li><a href="/interview-skills">Interview skills</a></li>
                         <li><a href="/interview">What to do in an interview</a></li>
                    </ul>
               </div>
               <div class="column-one-third">
                    <ul class="list list-bullet">
                         <li><a href="/sample-cv">How to write a CV</a></li>
                         <li><a href="http://www.allaboutlaw.co.uk/law-careers/law-cv/law-cv-template">CV template example</a></li>
                         <li><a href="http://www.allaboutlaw.co.uk/law-careers/law-cv/using-linkedin-for-law">Using linkedin</a></li>
                    </ul>
               </div>
               <div class="column-one-third">
                    <ul class="list list-bullet">
                         <li><a href="https://www.youtube.com/watch?v=Gs3IJkLgH00">Interview tips video</a></li>
                         <li><a href="#">Starting a new job</a></li>
                    </ul>
               </div>
          </div>
     </div>
</section>-->

{% endblock %}
