{% extends "layout.html" %}

{% block page_title %}
Careers Service - Job profiles - P
{% endblock %}

{% block content %}

<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Sitemap</h1>
			</div>
		</div>
		<div class="grid-row">
			<div class="column-one-half">
				<ul class="list">
					<li>
						<a href="./index.html">Home</a>
					</li>
					<li>
						<a href="./search.html">Search page</a>
					</li>
					<li>
						<a href="./job-profile-index.html">Job profile index page</a>
					</li>
					<li>
						<a href="./job-profile-browse.html">Job profile browse page</a>
					</li>
					<li>
						<a href="./maintenance-service-and-repair.html">Maintenance service and repair</a>
					</li>
					<li>
						<a href="./legal-services.html">Legal services</a>
					</li>
					<li>
						<a href="./p.html">P</a>
					</li>
					<li>
						<a href="./paralegal.html">Paralegal</a>
					</li>
					<li>
						<a href="./plumber.html">Plumber</a>
					</li>
					<li>
						<a href="./publican.html">Publican</a>
					</li>
					<li>
						<a href="./diver.html">Diver</a>
					</li>
					<li>
						<a href="./credit-controller.html">Credit controller</a>
					</li>
					<li>
						<a href="./bank-manager.html">Bank manager</a>
					</li>
					<li>
						<a href="./medical-secretary.html">Medical secretary</a>
					</li>
					<li>
						<a href="./chef.html">Chef</a>
					</li>
				</ul>
			</div>
			<div class="column-one-half">
				<ul class="list">
					<li>
						<a href="./contact-an-adviser.html">Contact an adviser</a>
					</li>
					<li>
						<a href="./webchat.html">Webchat request page</a>
					</li>
					<li>
						<a href="./webchatbox.html">Webchat</a>
					</li>
					<li>
						<a href="./set-location-appointment.html">Set location for appointment</a>
					</li>
					<li>
						<a href="./book-an-appointment.html">Book an appointment</a>
					</li>
					<li>
						<a href="./choose-other-joe.html">Choose other Joe</a>
					</li>
					<li>
						<a href="./appointment-list.html">Choose other appointments</a>
					</li>
					<li>
						<a href="./appointment-list-skype.html">Choose other appointments online video</a>
					</li>
					<li>
						<a href="./book-this.html">Book appointment</a>
					</li>
					<li>
						<a href="./book-this-skype.html">Book appointment online video</a>
					</li>
					<li>
						<a href="./while-you-wait.html">While you wait</a>
					</li>
					<li>
						<a href="./conf-email.html">Confirmation email</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="grid-row">
			<div class="column-one-half">
				<h2 class="heading-large">Match your skills (Paralegal)</h2>
				<ul class="list">
					<li>
						<a href="./skills-match-paralegal">Skills match paralegal Q1</a>
					</li>
					<li>
						<a href="./skills-match-paralegal-2">Skills match paralegal Q2</a>
					</li>
					<li>
						<a href="./skills-match-paralegal-3">Skills match paralegal Q3</a>
					</li>
					<li>
						<a href="./skills-match-paralegal-4">Skills match paralegal Q4</a>
					</li>
					<li>
						<a href="./skills-match-paralegal-5">Skills match paralegal Q5</a>
					</li>
					<li>
						<a href="./skills-match-paralegal-6">Skills match paralegal Q6</a>
					</li>
					<li>
						<a href="./skills-match-paralegal-7">Skills match paralegal Q7</a>
					</li>
					<li>
						<a href="./skills-match-paralegal-8">Skills match paralegal Q8</a>
					</li>
					<li>
						<a href="./skills-match-paralegal-9">Skills match paralegal Q9</a>
					</li>
					<li>
						<a href="./match-paralegal">Skills match paralegal results</a>
					</li>
					<li>
						<a href="./experience-paralegal">Experience (Paralegal)</a>
					</li>
					<li>
						<a href="./soft-skills">Soft skills</a>
					</li>
					<li>
						<a href="./sample-paralegal.html">Sample profile</a>
					</li>
					<li>
						<a href="/public/downloads/sample.pdf">Sample PDF</a>
					</li>
					<li>
						<a href="/public/downloads/sample-paralegal.rtf">Sample RTF</a>
					</li>
				</ul>
			</div>
			<div class="column-one-half">
				<h2 class="heading-large">Match your skills (Plumber)</h2>
				<ul class="list">
					<li>
						<a href="./skills-match-plumber">Skills match plumber Q1</a>
					</li>
					<li>
						<a href="./skills-match-plumber-2">Skills match plumber Q2</a>
					</li>
					<li>
						<a href="./skills-match-plumber-3">Skills match plumber Q3</a>
					</li>
					<li>
						<a href="./skills-match-plumber-4">Skills match plumber Q4</a>
					</li>
					<li>
						<a href="./skills-match-plumber-5">Skills match plumber Q5</a>
					</li>
					<li>
						<a href="./skills-match-plumber-6">Skills match plumber Q6</a>
					</li>
					<li>
						<a href="./skills-match-plumber-7">Skills match plumber Q7</a>
					</li>
					<li>
						<a href="./skills-match-plumber-8">Skills match plumber Q8</a>
					</li>
					<!-- <li>
						<a href="./skills-match-plumber-9">Skills match plumber Q9</a>
					</li> -->
					<li>
						<a href="./match-plumber">Skills match plumber results</a>
					</li>
					<li>
						<a href="./experience-plumber">Experience (plumber)</a>
					</li>
					<li>
						<a href="./sample-plumber.html">Sample profile</a>
					</li>
					<li>
						<a href="/public/downloads/sample-plumber.pdf">Sample PDF</a>
					</li>
					<li>
						<a href="/public/downloads/sample-plumber.rtf">Sample RTF</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="grid-row">
			<div class="column-two-thirds">
				<h2 class="heading-large">Content</h2>
				<ul class="list">
					<li>
						<a href="./sample-application-letters.html">Sample application letters</a>
					</li>
					<li>
						<a href="./sample-cv.html">CV Tips</a>
					</li>
					<li>
						<a href="./interview-skills.html">Interview skills</a>
					</li>
				</ul>
			</div>
		</div>
	</main>


{% endblock %}
