{% extends "./layout.html" %}

{% block page_title %}
Careers Service - Job profiles - P
{% endblock %}

{% block content %}

<main id="content" role="main">
		{% include "./includes/phase_banner_alpha.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Sitemap</h1>
			</div>
		</div>
		<div class="grid-row">
			<div class="column-one-half">
				<ul class="list">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="search.html">Search page</a>
					</li>
					<li>
						<a href="job-profile-index.html">Job profile index page</a>
					</li>
					<li>
						<a href="job-profile-browse.html">Job profile browse page</a>
					</li>
					<li>
						<a href="job-families/maintenance-service-and-repair.html">Maintenance service and repair</a>
					</li>
					<li>
						<a href="job-families/legal-services.html">Legal services</a>
					</li>
					<li>
						<a href="job-A-Z-lists/p.html">P</a>
					</li>
					<li>
						<a href="job-profiles/paralegal.html">Paralegal</a>
					</li>
					<li>
						<a href="job-profiles/plumber.html">Plumber</a>
					</li>
					<li>
						<a href="job-profiles/publican.html">Publican</a>
					</li>
					<li>
						<a href="job-profiles/diver.html">Diver</a>
					</li>
					<li>
						<a href="job-profiles/credit-controller.html">Credit controller</a>
					</li>
					<li>
						<a href="job-profiles/bank-manager.html">Bank manager</a>
					</li>
					<li>
						<a href="job-profiles/medical-secretary.html">Medical secretary</a>
					</li>
					<li>
						<a href="job-profiles/chef.html">Chef</a>
					</li>
				</ul>
			</div>
			<div class="column-one-half">
				<ul class="list">
					<li>
						<a href="further-assistance/contact-an-adviser.html">Contact an adviser</a>
					</li>
					<li>
						<a href="further-assistance/webchat.html">Webchat request page</a>
					</li>
					<li>
						<a href="further-assistance/webchatbox.html">Webchat</a>
					</li>
					<li>
						<a href="further-assistance/set-location-appointment.html">Set location for appointment</a>
					</li>
					<li>
						<a href="further-assistance/book-an-appointment.html">Book an appointment</a>
					</li>
					<li>
						<a href="further-assistance/choose-other-joe.html">Choose other Joe</a>
					</li>
					<li>
						<a href="further-assistance/appointment-list.html">Choose other appointments</a>
					</li>
					<li>
						<a href="further-assistance/appointment-list-skype.html">Choose other appointments online video</a>
					</li>
					<li>
						<a href="further-assistance/book-this.html">Book appointment</a>
					</li>
					<li>
						<a href="further-assistance/book-this-skype.html">Book appointment online video</a>
					</li>
					<li>
						<a href="further-assistance/while-you-wait.html">While you wait</a>
					</li>
					<li>
						<a href="further-assistance/conf-email.html">Confirmation email</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="grid-row">
			<div class="column-two-thirds">
				<h2 class="heading-large">Content</h2>
				<ul class="list">
					<li>
						<a href="#1">Sample application letters</a>
					</li>
					<li>
						<a href="#1">CV Tips</a>
					</li>
					<li>
						<a href="#1">Interview skills</a>
					</li>
				</ul>
			</div>
		</div>
	</main>


{% endblock %}
