{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Skills match
{% endblock %}

{% block content %}

	<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_para_match.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge"><span class="heading-secondary">4 out of 10</span>Match your skills to: Paralegal</h1>
				
				<form>
					<div class="form-group">
						<fieldset>
							<legend><span class="form-label-bold">4. Do you have research skills such as finding information and data?</span></legend> <label class="block-label selection-button-radio" for="radio-1"><input id="radio-1" name="radio-group" type="radio" value="Yes"> Got it</label> <label class="block-label selection-button-radio" for="radio-2"><input id="radio-2" name="radio-group" type="radio" value="No"> Working on it</label>
							<p class="form-block">or</p><label class="block-label selection-button-radio" for="radio-3"><input id="radio-3" name="radio-group" type="radio" value="In progress"> Need to develop it</label>
						</fieldset>
					</div>
				</form>
				<p><a class="button" href="./skills-match-paralegal-5.html" role="button">Next</a>
				<p><a href="./skills-match-paralegal-3.html" class="link-back">Back to question 3</a></p>	
			</div>
		</div>
	</main>


{% endblock %}
