{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Skills match
{% endblock %}

{% block content %}

	<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_para_match.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge"><span class="heading-secondary">10 out of 10</span>Match your skills to: Paralegal</h1>
				
				<form>
					<div class="form-group">
						<fieldset>
							<legend><span class="form-label-bold">10. Do you have problem solving skills?</span> <!--<span class="form-hint">This is about identifying problems and thinking of ways to solve them. </span>--></legend> <label class="block-label selection-button-radio" for="radio-1"><input id="radio-1" name="radio-group" type="radio" value="Yes"> Got it</label> <label class="block-label selection-button-radio" for="radio-2"><input id="radio-2" name="radio-group" type="radio" value="No"> Working on it</label>
							<p class="form-block">or</p><label class="block-label selection-button-radio" for="radio-3"><input id="radio-3" name="radio-group" type="radio" value="In progress"> Need to develop it</label>
						</fieldset>
					</div>
				</form>
				<p><a class="button" href="./match-paralegal.html" role="button">View your results</a>
				<p><a href="./skills-match-paralegal-9.html" class="link-back">Back to question 9</a></p>	
			</div>
		</div>
	</main>


{% endblock %}
