{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Skills match
{% endblock %}

{% block content %}

	<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_plum_match.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge"><span class="heading-secondary">9 out of 9</span>Match your skills</h1>
				<p>Bacon ipsum dolor amet ut drumstick short loin et est in nulla pig. Ipsum aliqua nostrud meatloaf, ut fugiat laboris mollit alcatra irure jerky pork turducken. Sint ut boudin id shank, adipisicing cupim qui meatball strip steak tail. </p>
				<form>
					<div class="form-group">
						<fieldset>
							<legend><span class="form-label-bold">9. Bacon ipsum dolor amet ut drumstick?</span> <span class="form-hint">This is hint text</span></legend> <label class="block-label selection-button-radio" for="radio-1"><input id="radio-1" name="radio-group" type="radio" value="Yes"> Got it</label> <label class="block-label selection-button-radio" for="radio-2"><input id="radio-2" name="radio-group" type="radio" value="No"> Working on it</label>
							<p class="form-block">or</p><label class="block-label selection-button-radio" for="radio-3"><input id="radio-3" name="radio-group" type="radio" value="In progress"> Need to develop it</label>
						</fieldset>
					</div>
				</form>
				<p><a class="button" href="./match-plumber.html" role="button">View your match</a>
				<p><a href="./skills-match-plumber-8.html" class="link-back">Back to question 8</a></p>
			</div>
		</div>
	</main>


{% endblock %}
