{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Other skills
{% endblock %}

{% block content %}

<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_para_match.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Build a profile based on your skills</h1>				
				<h2 class="heading-large">Other skills</h2>
				<form>
					<h3 class="heading-medium">Skill 4: Problem solving</h3>
					<div class="form-group">
						<label class="form-label" for="textarea-a"><p>Describe how you’ve used these skills in your work or personal life.</p></label> 
						<textarea class="form-control w100" cols="30" id="textarea-a" rows="3"></textarea>
					</div>					
					<div class="form-group">
						<label class="form-label" for="textarea-b"><p>Give one example of what you’ve achieved using this skill.</p></label> 
						<textarea class="form-control w100" cols="30" id="textarea-b" rows="3"></textarea>
					</div>
					<h3 class="heading-medium">Skill 5: Interpersonal skills</h3>
					<div class="form-group">
						<label class="form-label" for="textarea-c"><p>Describe how you’ve used these skills in your work or personal life.</p></label> 
						<textarea class="form-control w100" cols="30" id="textarea-c" rows="3"></textarea>
					</div>					
					<div class="form-group">
						<label class="form-label" for="textarea-d"><p>Give one example of what you’ve achieved using this skill.</p></label> 
						<textarea class="form-control w100" cols="30" id="textarea-d" rows="3"></textarea>
					</div>					
				</form>
				<p><a class="button" href="/sample-paralegal.html" role="button">View your profile</a></p>
				<p><a href="./experience-paralegal.html" class="link-back">Back</a></p>	
			</div>
			<div class="column-one-third">
					<p>If you need help filling in the profile builder, contact our <a href="./contact-an-adviser.html">careers advisers</a> for guidance.</p>
			</div>
		</div>
	</main>


{% endblock %}
