{% extends "layout_search.html" %}

{% block page_title %}
  Careers Service - Web chat
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
		{% include "includes/breadcrumb_webchat.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Web chat</h1>
				<p>Chat with an adviser using webchat (8am to 10pm, 7 days a week).</p>
				<div class="form-group">
					<label class="form-label" for="full-name-f1">Full name</label> <input class="form-control" id="full-name-f1" type="text">
				</div>
				<div class="form-group">
					<label class="form-label" for="select-box">Age<span class="form-hint">You need to be 13 or over to use this service</span></label> <select class="form-control" id="select-box">
						<option value="13">
							13
						</option>
						<option value="14">
							14
						</option>
						<option value="15">
							15
						</option>
						<option value="16">
							16
						</option>
						<option value="17">
							17
						</option>
						<option value="18">
							18
						</option>
						<option value="19">
							19
						</option>
						<option value="20-24">
							20-24
						</option>
						<option value="25-49">
							25-49
						</option>
						<option value="50+">
							50+
						</option>
					</select>
				</div>
				<div class="form-group">
					<label class="form-label" for="email">Email address <span class="form-hint">To receive a web chat log</span></label> <input class="form-control" id="email" type="text">
				</div>
				<h2 class="heading-medium">Get CV advice</h2>
				<p>An adviser can give you specific CV advice. Your CV doesn't have to be complete.</p>
				<div class="form-group">
					<label class="form-label" for="file-input">Upload documents (for example CV or skills profile)</label> <input id="file-input" type="file">
				</div>
                <div class="form-group">
                    <label class="block-label selection-button-checkbox" for=
                    "marketing-opt-out"><input id="marketing-opt-out" name=
                    "terms-and-conditions" type="checkbox" value=
                    "terms-and-conditions"> I accept the <a href="/about-us/terms-and-conditions">terms and
                    conditions</a> and I am 13 or over</label>
                </div>
                <div class="form-group">
                    <a class="button" href="./webchatbox.html" role=
                    "button">Start web chat</a>
                </div>
			</div>
		</div>
	</main>

{% endblock %}
