{% extends "layout_search.html" %}

{% block page_title %}
  Careers Service - Web chat
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
		{% include "includes/breadcrumb_webchat2.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Careers advice live</h1>
                <p>Your chat session will be ended automatically after 3 minutes of inactivity or if you close your browser.</p>
                <p>You can <a href="#">close this web chat</a> at any time.</p>
				<div class="webchat mb30">
                    <div class="webchat__header">
						<h2 class=" heading-large webchat__title">Anne - Careers adviser</h2>
					</div>
                    <div class="webchat__inner">
					<div class="webchat__content mb30">
						<div class="message message--agent">
							<p class="message__author">Anne</p>
							<div class="message__body">
								<p>Hi, how can I help you?</p>
							</div>
						</div>
						<div class="message message--user">
							<p class="message__author">Edward</p>
							<div class="message__body">
								<p>Hi Anne, I'm looking for an apprenticeship in plumbing?</p>
							</div>
						</div>
						<div class="message message--agent">
							<p class="message__author">Anne</p>
							<div class="message__body">
								<p>That's great, please go here to search for current apprenticeships <a href="https://www.gov.uk/apply-apprenticeship">https://www.gov.uk/apply-apprenticeship</a></p>
							</div>
						</div>
						<div class="message message--user">
							<p class="message__author">Edward</p>
							<div class="message__body">
								<p>Brilliant, thanks!</p>
							</div>
						</div>
						<div class="message message--agent">
							<p class="message__author">Anne</p>
							<div class="message__body">
								<p>Is there anything else I can do for you?</p>
							</div>
						</div>
						<div class="message message--agent message--in-progress">
							<p class="message__author">Anne</p>
							<div class="message__body">
								<p>Typing...</p>
							</div>
						</div>
					</div>
                    </div>
					<div class="webchat__footer">
						<div class="message__text-entry">
							<label class="form-label-bold" for="message">Your message</label>
							<textarea class="textarea w100 mb30" cols="30" id="message" rows="3"></textarea> <a class="button mb30" href="">Send message</a>
						</div>
					</div>

				</div>
			</div>
            <div class="column-one-third">
                {% include "includes/sidebar_webchat.html" %}
            </div>
		</div>
	</main>

{% endblock %}
