{% extends "layout_search.html" %}

{% block page_title %}
  Careers Service - Book this
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_book.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
			<h1 class="heading-xlarge">You have booked your appointment</h1>
                <p>Your appointment with Joe at <a href="#">National Careers Service Manchester</a> on Tuesday, 8th November at 14:00 has been confirmed.</p>
                <p>You can <a href="#">add this appointment</a> to your calendar.</p>
                <p>The address is:</p>
                <p>7 Fairfax Rd<br/>Manchester<br/>M25 1AS</p>
                <p>Telephone: (0161) 773 7835</p>
                <p>Textphone: (0161) 773 7836</p>
                <p>You can <a href="#">cancel this appointment</a> at any time.</p>

     <div id="map"></div>
    <script>
      function initMap() {
        var myLatLng = {lat: 53.483959, lng: -2.244644};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'National Careers Service'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIJrcVXkOncxjSNsZHHdP7wZRLz2xaA50&callback=initMap">
    </script>
                <p>While you wait for your appointment you could look at some of our resources, which include:</p>
                <ul class="list list-bullet">
                    <li><a href="./sample-cv.html">writing your CV</a></li>
                    <li><a href="./interview-skills.html">interview skills</a></li>
                    <li><a href="./sample-application-letters.html">completing application forms</a></li>
                </ul>
                <p>These may help you to think about questions you'd like to ask our advisers.</p>
                <p>(<a href="./conf-email.html">Go to confirmation email</a>)</p>
			</div>
		</div>
	</main>

{% endblock %}
