{% extends "../layout.html" %}

{% block page_title %}
  Service Green
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "../../includes/phase_banner_beta.html" %}
	
	<div class="breadcrumbs">
		<ol>
			<li><a href="../index.html">Home</a></li>
		</ol>
	</div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Police officer
            	<span class="heading-secondary">Policeman, policewoman, police constable</span>
            </h1>

            <div class="govuk-box-grey">
                <p>A police officer keeps law and order, investigates crime and supports crime prevention.</p>
            </div>
            <div class="profile">
                <div class="sixty">
                    <span class="salary-icon">
                    	<img alt="Salary, a pound sign" src="/public/images/salary.png">
                    </span> 
                    <span class="visually-hidden">Salary:</span> 
                    <span class="bold">£20,000 to £60,000</span> 
                    per year
                </div>
                <div class="forty">
                    <span class="hours-icon">
                    	<img alt="Hours, a clock face" src="/public/images/hours.png">
                    </span> 
                    <span class="visually-hidden">Hours:</span>
                    <span class="bold">37 to 40 hours</span> 
                    per week
                </div>
            </div>
            <nav aria-label="skip to your documents" class="jump-links" role="navigation">
                <div class="grid-row">
                    <div class="column-one-half">
                        <ol class="list list-number">
                            <li>
                                <a href="#how-to-become">How to become a police officer</a>
                            </li>
							<li>
                                <a href="#skills-required">Skills</a>
                            </li>							   
                            <li>
                                <a href="#what-youll-do">What you'll do</a>
                            </li>
                            <li>
                                <a href="#salary">Salary</a>
                            </li>
                        </ol>
                    </div>
                    <div class="column-one-half">
                        <ol class="list list-number" start="5">
                            <li>
                                <a href="#working-hours-patterns-and-environment">Working hours, patterns and environment</a>
                            </li>
                            <li>
                                <a href="#career-path-and-progression">Career path and progression</a>
                            </li>
                            <li>
                            	<a href="#current-opportunities">Current opportunities</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>

            <!--section 1-->
            <section  id="how-to-become">
                <h2 class="heading-large">1. How to become a police officer</h2>
				<p>You’ll need to:</p>
				<ul class="list list-bullet">
					<li>be aged 18 or over</li>
					<li>be a British or Commonwealth citizen, a European Union (EU) or European Economic Area (EEA) citizen, or a foreign national with the right to stay and work in the UK for an indefinite period</li>
					<li>pass background and security checks and give details of any previous convictions</li>
				</ul>

				<p>Each police force has its own recruitment rules, so you’ll need to contact your <a href="https://www.police.uk/contact/force-websites/">local police force</a> to apply.</p>

				<p>Normally, you’ll apply to one police force at a time.</p> 

				<p>If your application is successful, you’ll be invited to an assessment centre where you’ll:</p>

				<ul class="list list-bullet">
					<li>have an interview</li>
					<li>take written tests</li>
					<li>take a physical fitness test</li>
					<li>take a medical and eyesight test</li>
				</ul>

				<p>If you’re unsuccessful, you may have to wait a minimum of 6 months before you can re-apply.</p>

				<p>A good way to prepare before you apply is to do the <a href="http://www.college.police.uk/What-we-do/Learning/Certificate/Pages/Information-for-Students.aspx">Certificate in Knowledge of Policing</a>, although it doesn’t guarantee entry.</p>

				<p>You could also prepare by applying for a Level 2 or 3 college course in Public Services.</p>

				<p>If you have a 2:1 degree, you could apply for the <a href="https://www.policenow.org.uk/the-programme/apply/are-you-the-right-fit/">Police Now Graduate Leadership Development Programme</a>.</p>

				<p>If you’ve got management experience you could <a href="http://www.leadbeyond.police.uk/">apply for direct entry as an inspector or superintendent</a>.</p>

				<p>You could also get into the job through a <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">level 3 apprenticeship in policing</a>.</p>

				<p>To get an idea of what it’s like to be a police officer, you could either:</p>

				<ul class="list list-bullet">
					<li>volunteer as a <a href="http://recruit.college.police.uk/Special">special constable</a></li>
					<li>work as a <a href="http://recruit.college.police.uk/pcso">community support officer</a></li>
				</ul>

				<p>If you’re aged 13 to 18 you could become a <a href="http://www.nationalvpc.org/Become-a-Police-Cadet">police cadet</a>.</p>
            </section>

			<!--section 2-->
			<section  id="skills-required">
				<h2 class="heading-large">2. Skills</h2>
				<p>You'll need:</p>
				<ul class="list list-bullet">
					<li>the ability to communicate well</li>
					<li>confidence, courage and initiative</li>
					<li>the ability to learn facts and procedures quickly
					</li>
					<li>to be calm and decisive in challenging situations</li>
					<li>the ability to work in a team</li>
				</ul>
			</section>

			<!--section 3-->
			<section  id="what-youll-do">
				<h2 class="heading-large">3. What you'll do</h2>
				<p>You'll work as a uniformed officer on patrol, checking the security of public areas. You’ll also work at a police station. </p>
				<p>Your day-to-day tasks may include:</p>
				<ul class="list list-bullet">
					<li>responding to calls for help from the public</li>
					<li>investigating crimes and offences</li>
					<li>interviewing suspects and making arrests</li>
					<li>giving evidence in court</li>
					<li>controlling traffic and crowds at large public events and gatherings</li>
					<li>giving the public advice on personal safety and crime prevention</li>
					<li>promoting respect for people in relation to their race, diversity and human rights</li>
				</ul>
				<p>You'll work with other police officers and staff like police community support officers, and investigators for crime scenes and road traffic accidents.</p>
			</section>

			<!--section 4 -->
			<section  id="salary">
				<h2 class="heading-large">4. Salary</h2>
				<p>Starter: £20,000 to £23,000 (constable)</p>
				<p>Experienced: up to £38,000</p>
				<p>Highly Experienced:  up to £43,000 (sergeant)</p>
				<p>Inspectors can earn up to £53,000 and chief inspectors up to £60,000.</p>
				<p>Salaries vary between local police forces.</p>
				<p>These figures are a guide.</p>
			</section>  

            <!--section 5 -->               
			<section  id="working-hours-patterns-and-environment">
				<h2 class="heading-large">5. Working hours, patterns and environment</h2>
				<p>You'll usually work 40 hours a week on a shift system. This could include nights, weekends and public holidays.</p>
				<p>When you're on patrol, you'll usually be in a car or on foot. Depending on your area, you'll also patrol by bicycle, motorbike, horseback or boat. </p>
				<p>The job can be physically demanding, and sometimes dangerous.</p>
			</section>

            <!--section 6-->
			<section  id="career-path-and-progression">
				<h2 class="heading-large">6. Career path and progression</h2>
				<p>You'll spend 2 years as a student officer before becoming a police constable. You'll then decide whether you want to specialise in a particular area of policing. You could consider:</p>
				<ul class="list list-bullet">
					<li>Criminal Investigation Department (CID), anti-fraud or road traffic</li>
					<li>drugs or firearms</li>
					<li>counter-terrorism</li>
					<li>air support or underwater search</li>
					<li>dog-handling or mounted policing</li>
				</ul>
				<p>With experience you may be able to apply for promotion to sergeant, inspector, chief inspector or higher.</p>
				<p>In the CID you'll also have the title of detective added to your rank - for example, detective sergeant or detective chief inspector.</p>

				<h3 class="heading-medium">Related careers</h3>
				<p>You may be interested in:</p>
				<ul class="list list-bullet">
					<li><a href="/job-profiles/police-community-support-officer">Police community support officer </a></li>
					<li><a href="/job-profiles/firefighter">Firefighter </a></li>
					<li><a href="/job-profiles/criminal-intelligence-analyst">Criminal intelligence analyst </a></li>
					<li><a href="/job-profiles/fingerprint-officer">Fingerprint officer </a></li>
					<li><a href="/job-profiles/neighbourhood-warden">Neighbourhood warden </a></li>
				</ul>
			</section>

			<!--section 7-->
			<section  id="current-opportunities" style="margin-bottom:30px">
				<h2 class="heading-large">7. Current opportunities</h2>
				<!-- <p>Find the latest opportunities</p> -->

                <div class="grid-row" id="appGeneric">
                	<div class="column-full">
                    	<h2 class="heading-medium" style="margin-top:0px;">Apprenticeships
	                    	<span class="heading-secondary">In England</span>
                    	</h2>
                	</div>
                    <div class="column-half">
	                    <div class="opportunity-item">
		                    <h3 class="heading-small"><a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-125152">Administration Apprentice</a></h3>
		                    <ul class="list">
			                    <li><span class="bold-small">Weekly wage:</span> £230</li>
		                        <li><span class="bold-small">Weekly hours:</span> 37</li>
		                    	<li><span class="bold-small">Location:</span> Liverpool</li>
		                    </ul>
	                    </div>
                    </div>
                    <div class="column-half">
	                    <div class="opportunity-item">
		                    <h3 class="heading-small"><a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-115429">Policing Level 3 Apprentice - J2698/J2701</a></h3>
		                    <ul class="list">
			                    <li><span class="bold-small">Annual wage:</span> £20,925</li>
		                        <li><span class="bold-small">Weekly hours:</span> 37</li>
		                        <li><span class="bold-small">Location:</span> Merton</li>
		                    </ul>
	                    </div>
                    </div>
                </div> 
                <div class="opportunity-footer">
                	<a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
                </div>

                <div class="grid-row" id="courseGeneric">
                	<div class="column-full">
						<h2 class="heading-medium">Training courses
							<span class="heading-secondary">In England</span>
						</h2>
                	</div>
                    <div class="column-half">
	                    <div class="opportunity-item">
		                    <h3 class="heading-small"><a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=54611713">Knowledge of Policing Certificate Level 3 Evening (Jan)</a></h3>
		                    <ul class="list">
			                    <li><span class="bold-small">Provider:</span> Sunderland College</li>
		                        <li><span class="bold-small">Start date:</span> 10 January 2018</li>
			                    <li><span class="bold-small">Location:</span> Liverpool</li>	
		                    </ul>
	                    </div>
                    </div>
                    <div class="column-half">
	                    <div class="opportunity-item">
		                    <h3 class="heading-small"><a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=54627143">Foundation Degree in Police Studies</a></h3>
		                    <ul class="list">
			                    <li><span class="bold-small">Provider:</span> Duchy College</li>
		                        <li><span class="bold-small">Start date:</span> This course starts in September</li>
		                    	<li><span class="bold-small">Location:</span> Diss</li>
		                    </ul>
	                    </div>
                    </div>
                </div> 
                <div class="opportunity-footer">
                	<a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find courses near you</a>
                </div>                    
			</section>

			<p class="grey font-xsmall">Last updated: 23 March 2016</p>
        </div>
        <div class="column-one-third">
			<aside class="PROD_govuk-related-items" role="complementary">
			    <h2 class="heading-medium" id="related-gov-links">
			    Useful links</h2>
		        <ul class="list">
		            <li>
		                <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find a course</a>
		            </li>
					<li>
		                <a href="https://www.gov.uk/apply-apprenticeship">Apprenticeships</a>
		            </li>
		            <li>
		                <a href="https://www.ucas.com/">Thinking about university</a>
		            </li>
		            <li>
		                <a href="https://www.gov.uk/further-education-courses">Help with funding</a>
		            </li>
		            <li>
		                <a href="https://www.gov.uk/volunteering">Become a volunteer</a>
		            </li>
		        </ul>
			</aside>
        </div>
    </div>
</main>

<div class="VOC-consume_container">
	<div class="main">
    	<div class="VOC-consume_banner">
    		<div id="recruit-message">
	    		<h3 class="heading-small">Tell us what you think of this page</h3>
	    		<a href="#1" onclick="showSurvey()">Take a short survey to give us your feedback</a>
    		</div>
    		<div id="survey-header" class="js-hidden">
	    		<h3 style="float: left" class="heading-small">Tell us what you think of this page</h3>
	    		<a style="float:right;" href="#1" onclick="resetSurvey()">Close</a>
    		</div>
    		<div id="survey-done" class="js-hidden">
	    		<h3 class="heading-small" style="margin:0px;">Thank you for your feedback</h3>
    		</div>
    	</div>
	</div>

	<!-- <div class="VOC-consume_divider"></div> -->

	<div class="main">
    	<div class="VOC-consume_survey VOC-consume_survey--iframe js-hidden" id="consumeSurvey">
			<div class="grid-row">
				<div class="column-full">
		    		<div class="VOC-consume_survey__page">
						<script id="ss-embed-377538">(function(d,w){var s,ss;ss=d.createElement('script');ss.type='text/javascript';ss.async=true;ss.src=('https:'==d.location.protocol?'https://':'http://')+'www.smartsurvey.co.uk/s/r/embed.aspx?i=341674&c=377538';s=d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ss, s);})(document,window);</script></div>		
					</div>
				</div>
			</div>
    	</div>
	</div>
</div>

<script>
// Variables

var survey = document.getElementById('consumeSurvey');

// Functions

function showSurvey() {
	survey.classList.remove('js-hidden');
	document.getElementById('recruit-message').classList.add('js-hidden');
	document.getElementById('survey-header').classList.remove('js-hidden');
}

function hideSurvey() {
	survey.classList.add('js-hidden');
}

// function submitSurvey() {
// 	hideSurvey();
// 	document.getElementById('survey-done').classList.remove('js-hidden');
// 	document.getElementById('survey-header').classList.add('js-hidden');
// }

// function resetSurvey() {
// 	hideSurvey();
// 	surveyInit();
// 	document.getElementById('recruit-message').classList.remove('js-hidden');
// 	document.getElementById('survey-header').classList.add('js-hidden');
// }

// function initPageModel() {
// 	currentPage = 0;
// 	nextPage = 1;
// 	prevPage = -1;
// }

// function surveyInit() {
// 	var surveyPages = document.getElementsByClassName('VOC-consume_survey__page');

// 	for(i = 0; i < surveyPages.length; i++) {
// 		if(i > 0) {
// 			surveyPages[i].classList.add('js-hidden');
// 		} else {
// 			surveyPages[i].classList.remove('js-hidden');
// 		}
// 	}
// 	initPageModel();
// }
// surveyInit();

// function surveyNextQuestion() {
// 	var thisPageId = 'VOC-consume_page' + currentPage.toString();
// 	var thisPageElement = document.getElementById(thisPageId);
// 	thisPageElement.classList.add('js-hidden');

// 	var nextPageId = 'VOC-consume_page' + nextPage.toString();
// 	var nextPageElement = document.getElementById(nextPageId);
// 	nextPageElement.classList.remove('js-hidden');

// 	updatePageModel('next');
// }

// function surveyPrevQuestion() {
// 	var thisPageId = 'VOC-consume_page' + currentPage.toString();
// 	var thisPageElement = document.getElementById(thisPageId);
// 	thisPageElement.classList.add('js-hidden');

// 	var prevPageId = 'VOC-consume_page' + prevPage.toString();
// 	var prevPageElement = document.getElementById(prevPageId);
// 	prevPageElement.classList.remove('js-hidden');

// 	updatePageModel('prev');
// }

// function updatePageModel(thisDirection) {
// 	if (thisDirection === 'next') {
// 		currentPage = currentPage+1;
// 		nextPage = nextPage+1;
// 		prevPage = prevPage+1;
// 	} else {
// 		currentPage = currentPage-1;
// 		nextPage = nextPage-1;
// 		prevPage = prevPage-1
// 	}
// }

</script>

{% endblock %}
