{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
				<h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1" style="margin-bottom:0.08em;">
					Do not be set this page as 'index.html' during testing
				</h1>
			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 2</span>
				Interaction design
			</h1>

			<p class="lede">A full list of prototypes including those for testing in this sprint, and work in progress</p>

			<h2 class="heading-large">Search</h2>
			<ul class="list list-bullet">
				<li><a href="search-start_job-profiles">Job title - v1</a></li>
				<li><a href="search-start_job-profiles_v2">Job title - v2 (WIP)</a></li>
				<li><a href="search-start_why-are">Service wide - v1</a></li>
				<li><a href="search-start_why-are_v2">Service wide - v2 (WIP)</a></li>
				<li><a href="search-start_typeahead">Job title - typeahead - v1</a></li>
			</ul>

			<h2 class="heading-large">Search results</h2>
			<ul class="list list-bullet">
				<li><a href="search-results_blank">Search results - blank</a></li>
				<li><a href="search-results_data">Search results - from file</a></li>
				<li><a href="search-results_data-upload">Search results - from uploaded file</a></li>
			</ul>

			<h2 class="heading-large">Job profiles</h2>

			<h3 class="heading-medium">Air cabin crew</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/air-cabin-crew">Air cabin crew - v1</a></li>
			</ul>

			<h3 class="heading-medium">Chef</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/chef">Chef - v1</a></li>
			</ul>

			<h3 class="heading-medium">Computer games tester</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/computer-games-tester">Computer games tester - v1</a></li>
			</ul>

			<h3 class="heading-medium">Counsellor</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/counsellor">Counsellor - v1</a></li>
			</ul>

			<h3 class="heading-medium">Dental nurse</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/dental-nurse">Dental nurse - v1</a></li>
			</ul>

			<h3 class="heading-medium">Forensic scientist</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/forensic-scientist">Forensic scientist - v1</a></li>
			</ul>

			<h3 class="heading-medium">Hairdresser</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/hairdresser">Hairdresser - v1</a></li>
			</ul>

			<h3 class="heading-medium">Interior designer</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/interior-designer">Interior designer - v1 (WIP)</a></li>
			</ul>

			<h3 class="heading-medium">Paralegal</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/paralegal">Paralegal - v1 (WIP)</a></li>
			</ul>

			<h3 class="heading-medium">Physiotherapist</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/physiotherapist">Physiotherapist - v1</a></li>
			</ul>

			<h3 class="heading-medium">Police officer</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/police-officer">Police officer - v1</a></li>
			</ul>

			<h3 class="heading-medium">Primary school teacher</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/primary-school-teacher">Primary school teacher - v1</a></li>
				<li><a href="job-profiles/primary-school-teacher_v2">Primary school teacher - v2</a></li>
				<li><a href="job-profiles/primary-school-teacher_v2_highlighted">Primary school teacher - v2 - highlighted</a></li>
				<li><a href="job-profiles/primary-school-teacher_v3">Primary school teacher - v3</a></li>
			</ul>

			<h3 class="heading-medium">Psychologist</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/psychologist">Psychologist - v1</a></li>
			</ul>

			<h3 class="heading-medium">Social worker</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/social-worker">Social worker - v1</a></li>
				<li><a href="job-profiles/social-worker_v2">Social worker - v2</a></li>
				<li><a href="job-profiles/social-worker_v2_highlighted">Social worker - v2 - highlighted</a></li>
				<li><a href="job-profiles/social-worker_v3">Social worker - v3</a></li>
				<li><a href="job-profiles/social-worker_exit-routes_v1">Social worker - exit route bridge - v1</a></li>
				<li><a href="job-profiles/social-worker_new-template_v1">Social worker - new templete - v1</a></li>
				<li><a href="job-profiles/social-worker_input-location_v1">Social worker - input location - v1</a></li>
			</ul>

			<h3 class="heading-medium">Studio sound engineer</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/studio-sound-engineer">Studio sound engineer - v1</a></li>
			</ul>

			<h3 class="heading-medium">Teaching assistant</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/teaching-assistant">Teaching assistant - v1</a></li>
			</ul>

			<h3 class="heading-medium">TV presenter</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/tv-presenter">TV presenter - v1 (WIP)</a></li>
			</ul>

			<h3 class="heading-medium">Veterinary nurse</h3>
			<ul class="list list-bullet">
				<li><a href="job-profiles/veterinary-nurse">Veterinary nurse - v1</a></li>
			</ul>
		</div>
	</div>
</main>

{% endblock %}


