{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 2</span>
				Production designs
			</h1>

			<p class="lede">A full list of prototypes to base the production version on</p>

			<h2 class="heading-large">Search</h2>
			<ul class="list list-bullet">
				<li><a href="MVS_search_v1">Home - search</a>
			</ul>

			<h2 class="heading-large">Search results</h2>
			<ul class="list list-bullet">
				<li><a href="MVS_search-results_success_v1">Success</a>
				<li><a href="MVS_search-results_no-results_v1">No results</a>
				<li><a href="MVS_search-results_spelling-suggestion_v1">Spelling suggestion</a>
			</ul>

		</div>
	</div>
</main>

{% endblock %}


