{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 2</span>
				Ready for live
			</h1>

			<p class="lede">Prototypes to guide the creation of the live site. The code <strong>should not</strong> be used directly in the live environment</p>

			<h2 class="heading-large">Search</h2>

			<h3 class="heading-medium" style="margin-top:0px;">Service homepage</h3>
			<ul class="list list-bullet">
				<li><a href="PROD_search">Home</a></li>
				<li><a href="PROD_search_full-width-hero">Home - full with</a></li>
			</ul>

			<h3 class="heading-medium" style="margin-top:0px;">Search results page</h3>
			<ul class="list list-bullet">
				<li><a href="PROD_search-results_success">Success</a></li>
				<li><a href="PROD_search-results_no-results">No results</a></li>
				<li><a href="PROD_search-results_spelling-suggestion">Spelling suggestion</a></li>
				<li><a href="PROD_search-results_empty">Empty search</a></li>
			</ul>

		</div>
	</div>
</main>

{% endblock %}


