{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Explore by interests and preferences' %}

{% include "../includes/survey.html" %}



<main id="" role="main">
    <div class="filter_hero">
        <div id="content">
            {% include "../includes/global_header_bar.html" %}
            {% include "../includes/breadcrumb_filters.html" %}

            <div class="grid-row">
                <div class="column-full">
                    <h2>{{filterName}}<span>Question 1 of 4</span></h2>
                </div>

                <div class="column-full">
                    <div class="filter_header-q1">
                        <h1>Which levels of career do you want to see?</h1>
                        <p>
                            You can choose to see careers that need the level of qualification or experience you're aiming for.
                            <br /><br />
                            We encourage you to be open to all levels of career regardless of your previous experience but if you'd like to focus on one or two levels, please choose them.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="content">
        <div class="grid-row">
            <div class="column-full">
                <form class="filter_list filter_list-q1">
                    <input type="checkbox" class="checkbox" id="q1o2" increment="9"></input>
                    <label for="q1o2">
                        <h3>Entry level (Job level 1)</h3>
                        <p>I'd like to see careers that don't usually need any formal qualifications or work experience</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q1o3" increment="14"></input>
                    <label for="q1o3">
                        <h3>Semi-skilled (Job level 2)</h3>
                        <p>I'd like to see careers that typically need school-level qualifications like GCSEs, or equivalent experience</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q1o4" increment="20"></input>
                    <label for="q1o4">
                        <h3>Skilled (Job level 3)</h3>
                        <p>I'd like to see careers that typically need college-level qualifications like A levels, or equivalent experience</p>
                    </label>

                    <input type="checkbox" class="checkbox" id="q1o5" increment="5"></input>
                    <label for="q1o5">
                        <h3>Professional (Job level 4)</h3>
                        <p>I'd like to see careers that typically need a university-level qualification like a degree, or equivalent experience</p>
                    </label>
                    <input type="checkbox" class="filter_none" id="q1o1"></input>
                    <label for="q1o1">
                        <h3>Show me all levels of career</h3>
                        <p>I'm open to all levels - don't filter out any</p>
                    </label>

                    <div class="filter_lower">
                        <p><span id="filter_resultcount" class="filter_resultcount_first">120</span> possible careers based on your choices so far </p>
                        <a class="filter_button_alt" href="results">Show me my results</a>
                    </div>



                    <div class="filter_buttons">
                        <a class="filter_button" href="question2.html">Question 2 - Your interests</a>
                        <a class="filter_button filter_button_back" href="../index3">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>



</main>



{% endblock %}
