{% extends "./layout-admin.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 5</span>
				Design exploration
			</h1>	

			<p class="lede">All prototypes created so far, including those created for design exploration</p>
		</div>
	</div>
	<div class="grid-row">
		<div class="column-half">
			<h2 class="heading-large ADMIN_archived">Hero styles</h2>
			<ul class="list list-bullet">
				<li class="ADMIN_archived"><a href="PROD_search">Content width</a></li>
				<li class="ADMIN_archived"><a href="PROD_search_full-width-hero">Full screen width</a></li>
			</ul>			

			<h2 class="heading-large">Homepage</h2>
			<ul class="list list-bullet">
				<li class="ADMIN_archived"><a href="search-start_job-profiles">Job title - v1</a></li>
				<li class="ADMIN_archived"><a href="search-start_job-profiles_v2">Job title - v2 (WIP)</a></li>
				<li class="ADMIN_archived"><a href="search-start_why-are">Service wide - v1</a></li>
				<li class="ADMIN_archived"><a href="search-start_why-are_v2">Service wide - v2</a></li>
				<li class="ADMIN_archived"><a href="search-start_typeahead">Job title - typeahead - v1</a></li>
				<li class="ADMIN_archived"><a href="search-start_job-profiles-keywords_v1">Job title and keywords - v1</a></li>
				<li class="ADMIN_archived"><a href="search-start_job-profiles-keywords_job-categories_v1">Job title and keywords, browse by job sectors - v1</a></li>
				<li class="ADMIN_archived"><a href="search-start_job-profiles-keywords_job-categories_v2">Job title and keywords, browse by job sectors - v2</a></li>
				<li class="ADMIN_archived"><a href="search-start_job-profiles-keywords_job-categories_v3">Job title and keywords, browse by job sectors - v3</a></li>
				<li><a href="search-start_job-profiles-keywords_job-categories_v4">Job title and keywords, browse by job sectors - v4</a></li>
				<li class="ADMIN_archived"><a href="search-start_job-categories_job-profiles-keywords_v1">Browse by job sectors, search job title and keywords - v1</a></li>
				<li class="ADMIN_archived"><a href="search-start_job-categories_job-profiles-keywords_v2">Browse by job sectors, search job title and keywords - v2</a></li>
				<li class="ADMIN_archived"><a href="search-start_job-categories_job-profiles-keywords_v3">Browse by job sectors, search job title and keywords - v3</a></li>
			</ul>

			<h2 class="heading-large">Search results page</h2>
			<ul class="list list-bullet">
				<li class="ADMIN_archived"><a href="search-results_blank">Search results - blank</a></li>
				<li class="ADMIN_archived"><a href="search-results_data">Search results - from file</a></li>
				<li><a href="search-results_data-upload">Search results - from uploaded file</a></li>
				<li class="ADMIN_archived"><a href="PROD_search-results_success">Search results - from file - GOV styles</a></li>
				<li class="ADMIN_archived"><a href="PROD_search-results_no-results">Search results - no results - GOV styles</a></li>
				<li class="ADMIN_archived"><a href="PROD_search-results_spelling-suggestion">Search results - spelling suggestion - GOV styles</a></li>
				<li class="ADMIN_archived"><a href="PROD_search-results_empty">Search results - empty search - GOV styles</a></li>
			</ul>

			<h2 class="heading-large ADMIN_archived">Exit routes and feeds</h2>
			<ul class="list list-bullet">
				<li class="ADMIN_archived"><a href="job-profiles/social-worker_exit-routes_v1">Exit routes - bridging content concept - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/social-worker_v3#current-opportunities">Opportunity feeds - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/social-worker_opportunity-feeds_v2#current-opportunities">Opportunity feeds - v2</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/social-worker_input-location_v1#current-opportunities">Opportunity feeds - input location - v1</a></li>
			</ul>

			<h2 class="heading-large">Job profile layout</h2>
			<ul class="list list-bullet">
				<li><a href="job-profiles/social-worker_new-template_v1">GOV service manual layout - v1</a></li>	
			</ul>	

			<h2 class="heading-large">Browse  by job category</h2>
			<ul class="list list-bullet">
				<li><a href="job-categories/index.html">Homepage for browse by job category</a></li>
				<li><a href="job-categories/public-service_v1.html">Single column</a></li>
				<li class="ADMIN_archived"><a href="job-categories/public-service_paginated_v1.html">Single column - Paginated</a></li>
				<li class="ADMIN_archived"><a href="job-categories/public-service_paginated_v2.html">Single column - Paginated - Browse nav</a></li>
				<li><a href="job-categories/public-service_paginated_v3.html">Single column - Paginated - Browse nav - v2</a></li>
				<li class="ADMIN_archived"><a href="job-categories/public-service_list-only_v1.html">Single column - Sub-category - Side nav</a></li>
				<li class="ADMIN_archived"><a href="job-categories/public-service_list-only_v2.html">Single column - Sub-category - Accordian</a></li>
				<li class="ADMIN_archived"><a href="job-categories/public-service_v2.html">Two columns</a></li>
				<li class="ADMIN_archived"><a href="job-categories/public-service_list-only_2col_v1.html">Two columns - Job titles only</a></li>
				<li class="ADMIN_archived"><a href="job-categories/public-service_v3.html">Three columns</a></li>	
				<li class="ADMIN_archived"><a href="job-categories/public-service_list-only_3col_v1.html">Three columns - Job titles only (WIP)</a></li>
			</ul>	
		</div>
		<div class="column-half">
			<h2 class="heading-large">Job categories</h2>

			<h3 class="ADMIN_archived heading-medium">Job titles list</h3>
			<ul class="ADMIN_archived list list-bullet">
				<li><a href="job-categories/animal-care_agriculture_list-only_2col_v1">Animal care and agriculture</a></li>
				<li><a href="job-categories/beauty_wellbeing_list-only_2col_v1">Beauty and wellbeing</a></li>
				<li><a href="job-categories/business_finance_list-only_2col_v1">Business and finance</a></li>
				<li><a href="job-categories/caring_list-only_2col_v1">Caring</a></li>
				<li><a href="job-categories/computing_technology_digital_list-only_2col_v1">Computing, technology and digital</a></li>
				<li><a href="job-categories/construction_manufacturing_list-only_2col_v1">Construction and manufacturing</a></li>
				<li><a href="job-categories/creative_media_list-only_2col_v1">Creative and media</a></li>
				<li><a href="job-categories/distribution_storage_list-only_2col_v1">Distribution and storage</a></li>
				<li><a href="job-categories/emergency_uniform_services_list-only_2col_v1">Emergency and uniform services</a></li>
				<li><a href="job-categories/engineering_list-only_2col_v1">Engineering</a></li>
				<li><a href="job-categories/health_list-only_2col_v1">Health</a></li>
				<li><a href="job-categories/law_administration_list-only_2col_v1">Law and administration</a></li>
				<li><a href="job-categories/retail_sales_list-only_2col_v1">Retail and sales</a></li>
				<li><a href="job-categories/science_research_list-only_2col_v1">Science and research</a></li>
				<li><a href="job-categories/sports_leisure_list-only_2col_v1">Sports and leisure</a></li>
				<li><a href="job-categories/teaching_education_list-only_2col_v1">Teaching and education</a></li>
				<li><a href="job-categories/tourism_hopitality_list-only_2col_v1">Tourism and hopitality</a></li>
				<li><a href="job-categories/trades_maintenance_list-only_2col_v1">Trades and maintenance</a></li>
				<li><a href="job-categories/transport_list-only_2col_v1">Transport</a></li>
			</ul>

			<h3 class="heading-medium">Detailed job descriptions</h3>
			<ul class="list list-bullet">
				<li><a href="job-categories/animal-care_agriculture_paginated_v1">Animal care and agriculture</a></li>
				<!-- <li><a href="job-categories/beauty_wellbeing_paginated_v1">Beauty and wellbeing</a></li>
				<li><a href="job-categories/business_finance_paginated_v1">Business and finance</a></li>
				<li><a href="job-categories/caring_paginated_v1">Caring</a></li>
				<li><a href="job-categories/computing_technology_digital_paginated_v1">Computing, technology and digital</a></li>
				<li><a href="job-categories/construction_manufacturing_paginated_v1">Construction and manufacturing</a></li>
				<li><a href="job-categories/creative_media_paginated_v1">Creative and media</a></li>
				<li><a href="job-categories/distribution_storage_paginated_v1">Distribution and storage</a></li>
				<li><a href="job-categories/emergency_uniform_services_paginated_v1">Emergency and uniform services</a></li>
				<li><a href="job-categories/engineering_paginated_v1">Engineering</a></li>
				<li><a href="job-categories/health_paginated_v1">Health</a></li>
				<li><a href="job-categories/law_administration_paginated_v1">Law and administration</a></li>
				<li><a href="job-categories/retail_sales_paginated_v1">Retail and sales</a></li>
				<li><a href="job-categories/science_research_paginated_v1">Science and research</a></li>
				<li><a href="job-categories/sports_leisure_paginated_v1">Sports and leisure</a></li>
				<li><a href="job-categories/teaching_education_paginated_v1">Teaching and education</a></li>
				<li><a href="job-categories/tourism_hopitality_paginated_v1">Tourism and hopitality</a></li>
				<li><a href="job-categories/trades_maintenance_paginated_v1">Trades and maintenance</a></li>
				<li><a href="job-categories/transport_paginated_v1">Transport</a></li> -->
			</ul>

			<h2 class="heading-large">Job profiles - v2</h2>

			<h3 class="heading-medium">A-Z profiles</h3>

			<ul class="list list-bullet">
				<li><a href="job-profiles/air-cabin-crew_v4">Air cabin crew - v2</a></li>
				<li><a href="job-profiles/chef_v4">Chef - v2</a></li>
				<li><a href="job-profiles/computer-games-tester_v4">Computer games tester - v2</a></li>
				<li><a href="job-profiles/counsellor_v4">Counsellor - v2</a></li>
				<li><a href="job-profiles/dental-nurse_v4">Dental nurse - v2</a></li>
				<li><a href="job-profiles/forensic-scientist_v4">Forensic scientist - v2</a></li>
				<li><a href="job-profiles/hairdresser_v4">Hairdresser - v2</a></li>
				<li><a href="job-profiles/interior-designer_v4">Interior designer - v2</a></li>
				<li><a href="job-profiles/paralegal_v4">Paralegal - v2</a></li>
				<li><a href="job-profiles/physiotherapist_v4">Physiotherapist - v2</a></li>
				<li><a href="job-profiles/police-officer_v4">Police officer - v2</a></li>
				<li><a href="job-profiles/psychologist_v4">Psychologist - v2</a></li>
				<li><a href="job-profiles/studio-sound-engineer_v4">Studio sound engineer - v2</a></li>
				<li><a href="job-profiles/teaching-assistant_v4">Teaching assistant - v2</a></li>
				<li><a href="job-profiles/tv-presenter_v4">TV presenter - v2</a></li>
				<li><a href="job-profiles/veterinary-nurse_v4">Veterinary nurse - v2</a></li>
			</ul>

			<h2 class="heading-large ADMIN_archived">Job profiles - v1</h2>

			<h3 class="heading-small ADMIN_archived">Social worker</h3>
			<ul class="list list-bullet">
				<li class="ADMIN_archived"><a href="job-profiles/social-worker">Social worker - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/social-worker_v2">Social worker - v2</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/social-worker_v2_highlighted">Social worker - v2 - highlighted</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/social-worker_v3">Social worker - v3</a></li>
			</ul>

			<h3 class="heading-small ADMIN_archived">Primary school teacher</h3>
			<ul class="list list-bullet">
				<li class="ADMIN_archived"><a href="job-profiles/primary-school-teacher">Primary school teacher - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/primary-school-teacher_v2">Primary school teacher - v2</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/primary-school-teacher_v2_highlighted">Primary school teacher - v2 - highlighted</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/primary-school-teacher_v3">Primary school teacher - v3</a></li>
			</ul>

			<hr class="ADMIN_archived"/>

			<h3 class="heading-medium ADMIN_archived">A-Z profiles - v1</h3>
			<ul class="list list-bullet">
				<li class="ADMIN_archived"><a href="job-profiles/air-cabin-crew">Air cabin crew - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/chef">Chef - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/computer-games-tester">Computer games tester - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/counsellor">Counsellor - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/dental-nurse">Dental nurse - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/forensic-scientist">Forensic scientist - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/hairdresser">Hairdresser - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/interior-designer">Interior designer - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/paralegal">Paralegal - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/physiotherapist">Physiotherapist - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/police-officer">Police officer - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/psychologist">Psychologist - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/studio-sound-engineer">Studio sound engineer - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/teaching-assistant">Teaching assistant - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/tv-presenter">TV presenter - v1</a></li>
				<li class="ADMIN_archived"><a href="job-profiles/veterinary-nurse">Veterinary nurse - v1</a></li>
			</ul>
		</div>
	</div>
	<div class="grid-row" style="margin-top:60px;">
		<div class="column-two-thirds">
			<button class="button-grey" id="archivedToggleBtn" onclick="toggleArchived()">Show archived</button>
		</div>
	</div>
</main>

<script>

	function initAdmin(){
		archived = document.getElementsByClassName('ADMIN_archived');
		archivedToggleBtn = document.getElementById('archivedToggleBtn');
		archiveShowLabel = "Show archived";
		archiveHideLabel = "Hide archived";
		hideArchived();	
	}

	function hideArchived(){
		for(var i = 0; i < archived.length; i++) {
			archived[i].style.display = "none";
		}
		archivedToggleBtn.innerHTML = archiveShowLabel;
	}

	function showArchived(){
		for(var i = 0; i < archived.length; i++) {
			if (archived[i].nodeName === "LI") {
				archived[i].style.display = "list-item";
			} else {
				archived[i].style.display = "block";
			}
		}
		archivedToggleBtn.innerHTML = archiveHideLabel;
	}

	function toggleArchived(){
		if (archivedToggleBtn.innerHTML === archiveShowLabel) {
			showArchived();
		} else {
			hideArchived();
		}
	}
	initAdmin();
</script>

{% endblock %}


