{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 5</span>
				Prototypes
			</h1>

			<h2 class="heading-large">Categories</h2>

			<ul class="list list-bullet">
				<li><a href="job-categories/list-overview_v1">Category example</a></li>
			</ul>

			<h2 class="heading-large">Job profiles</h2>

			<ul class="list list-bullet">
				<li><a href="job-profiles/air-cabin-crew_v4">Air cabin crew</a></li>
				<li><a href="job-profiles/chef_v4">Chef</a></li>
				<li><a href="job-profiles/computer-games-tester_v4">Computer games tester</a></li>
				<li><a href="job-profiles/counsellor_v4">Counsellor</a></li>
				<li><a href="job-profiles/dental-nurse_v4">Dental nurse</a></li>
				<li><a href="job-profiles/forensic-scientist_v4">Forensic scientist</a></li>
				<li><a href="job-profiles/hairdresser_v4">Hairdresser</a></li>
				<!-- <li><a href="job-profiles/interior-designer_v4">Interior designer</a></li> -->
				<li><a href="job-profiles/paralegal_v4">Paralegal</a></li>
				<li><a href="job-profiles/physiotherapist_v4">Physiotherapist</a></li>
				<li><a href="job-profiles/police-officer_v4">Police officer</a></li>
				<li><a href="job-profiles/primary-school-teacher_v4">Primary school teacher</a></li>
				<li><a href="job-profiles/psychologist_v4">Psychologist</a></li>
				<li><a href="job-profiles/social-worker_v4">Social worker</a></li>
				<li><a href="job-profiles/studio-sound-engineer_v4">Studio sound engineer</a></li>
				<li><a href="job-profiles/teaching-assistant_v4">Teaching assistant</a></li>
				<li><a href="job-profiles/tv-presenter_v4">TV presenter</a></li>
				<li><a href="job-profiles/veterinary-nurse_v4">Veterinary nurse</a></li>
			</ul>

		</div>
	</div>
</main>

{% endblock %}


