{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 6</span>
				Prototypes
			</h1>

			<h2 class="heading-large">Citizens</h2>

			<ul class="list list-bullet">
				<li><a href="job-profiles/personal-assistant_v4">Personal assistant - A</a></li>
				<li><a href="job-profiles/personal-assistant_B_v4">Personal assistant - B</a></li>
				<!-- <li><a href="job-profiles/police-officer_v4">Police officer - A</a></li>
				<li><a href="job-profiles/police-officer_B_v4">Police officer - B</a></li> -->
				<li><a href="job-profiles/events-manager_v4">Event manager - A</a></li>
				<li><a href="job-profiles/events-manager_B_v4">Event manager - B</a></li>
			</ul>

			<h2 class="heading-large">Advisers</h2>

			<ul class="list list-bullet">
				<li><a href="search-start_job-profiles-keywords_job-categories_v4">Homepage</a></li>
			</ul>
			
		</div>
	</div>
</main>

{% endblock %}


