{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 6</span>
				Ready for live
			</h1>
			<p class="lede">Prototypes to guide the creation of the live site. The code <strong>should not</strong> be used directly in the live environment</p>

			<h2 class="heading-large">Useful links</h2>

			<p>This prototype is to be used to define the <b>'Useful links' section only</b></p>

			<ul class="list list-bullet">
				<li><a href="job-profiles/PROD_useful-links.html">Example job profile</a></li>
			</ul>

			<h2 class="heading-large">Job categories</h2>
			<p>From the homepage you are able to follow the job category journey by clicking on <strong>'Engineering and maintenance'</strong></p>

			<ul class="list list-bullet">
				<li><a href="PROD_homepage.html">Homepage</a></li>
				<li><a href="job-categories/PROD_job-category.html">Job category page</a></li>
				<li><a href="job-categories/PROD_job-category_paginated.html">Job category page - Paginated</a></li>
				<li><a href="job-categories/PROD_job-category-with-subcategories.html">Job category page - Subcategories</a></li>
			</ul>

		</div>
	</div>
</main>

{% endblock %}


