{% extends "../jobprofile-htb.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Beauty consultant" %}
{% set profileSecondaryName = "Beautician" %}
{% set profileDescription = "Beauty consultants sell beauty products and help customers choose the right products to buy." %}
{% set salaryLow = "15,500" %}
{% set salaryHigh = "18,000" %}
{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "Mon - Sat" %}
{% set patternValue = "Evenings & weekends" %}
{% set patternDescription = "" %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large jp-heading">How to become a {{profileName}}</h2>
    <p>There are a number of options and routes which could allow you to become a beauty consultant.</p>

    <!-- College Section -->
    <div class="htb-section" id="apprenticeships">
        <h3>College</h3>
        <div class="content">
            <div class="htb-boxes">
                <div class="htb-box">
                    <i class="far fa-clock"></i>
                    <span>Typically takes</span>
                    <p>1 year</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-pound-sign"></i>
                    <span>Cost / pay</span>
                    <p>Course Fees</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Min. Qualifications</span>
                    <p>3 GCSEs</p>
                </div>
            </div>
            <p>You could study for:</p>
            <ul class="list list-bullet">
                <li>a level 2 certificate or diploma in beauty consultancy</li>
                <li>a general qualification in retail, sales or customer service</li>
            </ul>

            <h4 class="heading-small">Requirements:</h4>
            <p>To get onto a level 2 course you may need 3 GCSEs at grades 9 to 3 (A* to D). Check with course providers for exact entry requirements. You might be able to use <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent level qualifications</a> to get onto a course.</p>
            <h4 class="heading-small">Next steps:</h4>
            <div class="htb-feature">
                <a href="#">
                    <i class="fas fa-link"></i>
                    <p>Apply for financial help towards studying</p>
                </a>
            </div>
            <div class="htb-feature">
                <a href="#">
                    <i class="fas fa-link"></i>
                    <p>Look for Beatuy consultant courses near you</p>
                </a>
            </div>
        </div>
    </div>

    <!-- Work -->
    <div class="htb-section" id="work">
        <h3>Work your way up</h3>
        <div class="content">
            <div class="htb-boxes">
                <div class="htb-box">
                    <i class="far fa-clock"></i>
                    <span>Typically takes</span>
                    <p>2 Years</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-pound-sign"></i>
                    <span>Cost / pay</span>
                    <p>Paid</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Min. Qualifications</span>
                    <p>None</p>
                </div>
            </div>
            <p>You could get useful experience in any sales role and then apply for a job working for a beauty concession (a commercial operation within a department store). </p>
        </div>
    </div>

    <!-- Apprenticeships -->
    <div class="htb-section" id="apprenticeships">
        <h3>Apprenticeships</h3>
        <div class="content">
            <div class="htb-boxes">
                <div class="htb-box">
                    <i class="far fa-clock"></i>
                    <span>Typically takes</span>
                    <p>1 to 2 years</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-pound-sign"></i>
                    <span>Cost / pay</span>
                    <p>Paid</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Min. qualifications</span>
                    <p>Level 1</p>
                </div>
            </div>
            <p>You could do an intermediate or advanced <a href="https://www.gov.uk/apprenticeships-guide">apprenticeship</a> in beauty therapy make-up. These last 12 to 18 months. You may need a level 2 qualification to get onto the advanced apprenticeship. Check with course providers for exact entry requirements.</p>

            <h4 class="heading-small">Requirements:</h4>
            
            <ul class="list-bullet list">
            <li>You may need a level 2 qualification to get onto the advanced apprenticeship. Check with course providers for exact entry requirements.</li>
            <li>Get work experience in sales</li>
            </ul>

            <h4 class="heading-small">Next steps:</h4>


            <div class="htb-feature">
                <a href="http://www.habia.org/">
                    <i class="fas fa-link"></i>
                    <p>The Hairdressing and Beauty Industry Authority (HABIA) has more information about careers in beauty consultancy and therapy.</p>
                </a>
            </div>
            <div class="htb-feature">
                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">
                    <i class="fas fa-link"></i>
                    <p>Look for a beauty therapist apprenticeship near you </p>
                </a>
            </div>
        </div>

    </div>


</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
    <p>You might need:</p>
    <h3 class="heading-small">Technology Skills</h3>
    <ul class="list list-bullet ">
        <li>Accounting software</li>    

        <li>Office suite software</li>
        <li>
            Point of sale (POS) software
        </li>
        <li>
            Spreadsheet software
        </li>
        <li>
            Word processing software
        </li>
    </ul>


        <h3 class="heading-small">Knowledge</h3>
    <ul class="list list-bullet ">
        <li> Customer and Personal Service </li>   
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>Knowledge of principles and processes for providing customer and personal services. This includes customer needs assessment, meeting quality standards for services, and evaluation of customer satisfaction.</p>
                </div>
            </details>


        <li>Sales and Marketing</li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>Knowledge of principles and methods for showing, promoting, and selling products or services. This includes marketing strategy and tactics, product demonstration, sales techniques, and sales control systems.</p>
                </div>
            </details>
        <li>Administration and Management</li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>Knowledge of business and management principles involved in strategic planning, resource allocation, human resources modeling, leadership technique, production methods, and coordination of people and resources.</p>
                </div>
            </details>
    </ul>
    

    <h3 class="heading-small">Skills</h3>
    <ul class="list list-bullet ">
        <li>Active Listening</li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>Giving full attention to what other people are saying, taking time to understand the points being made, asking questions as appropriate, and not interrupting at inappropriate times.</p>
                </div>
            </details>
        <li>Speaking</li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>Talking to others to convey information effectively.</p>
                </div>
            </details>
        <li> Service Orientation </li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>Actively looking for ways to help people.</p>
                </div>
            </details>
        <li> Critical Thinking </li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>Using logic and reasoning to identify the strengths and weaknesses of alternative solutions, conclusions or approaches to problems.</p>
                </div>
            </details>
        <li> Active Learning </li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>Understanding the implications of new information for both current and future problem-solving and decision-making.</p>
                </div>
            </details>
    </ul>
            

    <h3 class="heading-small">Abilities</h3>
    <ul class="list list-bullet ">
        <li> Near Vision </li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>The ability to see details at close range (within a few feet of the observer).</p>
                </div>
            </details>
        <li> Arm-Hand Steadiness </li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>The ability to keep your hand and arm steady while moving your arm or while holding your arm and hand in one position.</p>
                </div>
            </details>
        <li> Finger Dexterity </li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>The ability to make precisely coordinated movements of the fingers of one or both hands to grasp, manipulate, or assemble very small objects.</p>
                </div>
            </details>
        <li> Manual Dexterity </li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>The ability to quickly move your hand, your hand together with your arm, or your two hands to grasp, manipulate, or assemble objects.</p>
                </div>
            </details>
        <li> Oral Comprehension </li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>The ability to listen to and understand information and ideas presented through spoken words and sentences.</p>
                </div>
            </details>
            <br>
            <a href="/e2e/job-profiles-cad/results_skills_ba">Find other careers with these skills</a>
    </ul>
</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>
    <p>Your specific day-to-day duties could include:</p>
    <ul class="list list-bullet">
        <li>Keep work stations clean and sanitize tools, such as scissors and combs.</li>
        <li>bleach, dye, or tint hair, using applicator or brush</li>
        <li>cut, trim and shape hair or hairpieces, based on customers' instructions, hair type and facial features, using clippers, scissors, trimmers and razors</li>
        <li>update and maintain customer information records, such as beauty services provided</li>
    </ul>

    <br>

    <p>Other more generalised duites:</p>
    <ul class="list list-bullet ">
        <li> Performing for or Working Directly with the Public </li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>Performing for people or dealing directly with the public. This includes serving customers in restaurants and stores, and receiving clients or guests.</p>
                </div>
            </details>
        <li> Establishing and Maintaining Interpersonal Relationships </li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>Developing constructive and cooperative working relationships with others, and maintaining them over time.</p>
                </div>
            </details>
        <li> Selling or Influencing Others </li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>Convincing others to buy merchandise/goods or to otherwise change their minds or actions.</p>
                </div>
            </details>
        <li> Assisting and Caring for Others </li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>Providing personal assistance, medical attention, emotional support, or other personal care to others such as coworkers, customers, or patients.</p>
                </div>
            </details>
        <li> Updating and Using Relevant Knowledge </li>
            <details class role="group">
                <summary id="rising-16-reveal" role="button" aria-controls="details-content-0" aria-expanded="true">
                     <span class="summary js-gaevent" data-galabel="rising-16-guidance" data-gakey="eligibility">Show description</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>Keeping up-to-date technically and applying new knowledge to your job.</p>
                </div>
            </details>
            <br>
            <a href="/e2e/job-profiles-cad/results_duties_ba">Find other careers with these duties</a>
    </ul>

</section>

<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Career path and progression</h2>
    <p>You'll usually work 35 to 40 hours a week, Monday to Friday. You may sometimes need to work overtime to meet deadlines.</p>
    <p>Most of your work will be office-based at a computer. There may be some out-of-office duties, like attending meetings with clients or partners.</p>
</section>

<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large jp-heading">Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>



<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















