{% extends "./layout_E2E.html" %}

{% block page_title %}
	Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% include "./includes/E2E_VOC_exit-routes_v2.html" %}

<main id="content" role="main">
	<div id="global-header-bar"></div>
	<div class="breadcrumbs">
		<ol>
			<li><a href="./E2E_homepage.html">Home</a></li>
		</ol>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				Cookies
			</h1>
			<p class="lede">Page about what cookies are used and why</p>
		</div>
	</div>
</main>

{% endblock %}


