{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 8</span>
				Ready for live
			</h1>
			<p class="lede">Prototypes to guide the creation of the live site. The code <strong>should not</strong> be used directly in the live environment</p>

			<h2 class="heading-large">Error pages</h2>
			<ul class="list list-bullet">
				<li><a href="PROD_error.html">Standard error page</a></li>
			</ul>

			<h2 class="heading-large">Cookies</h2>
			<p>In the first prototype below the cookie banner is visible to display the content. It does not reflect the behaviour of the banner.</p>
			<p>The cookies information page is a placeholder, as the content will be added in the live CMS</p>

			<ul class="list list-bullet">
				<li><a href="PROD_cookie-banner.html">Cookie banner</a></li>
				<li><a href="cookies.html">Cookie page</a></li>
			</ul>

			<h2 class="heading-large">MVS current opportunities</h2>
			<p>As its currently seen that the apprenticeships feed will be ready before the training course feed, the prototype below shows how this should be handled in the interim.</p>

			<ul class="list list-bullet">
				<li><a href="job-profiles/PROD_MVS-current-opportunities#current-opportunities">Current opportunities - No training course feed</a></li>
				<li><a href="job-profiles/PROD_MVS-current-opportunities_no-results#current-opportunities">Current opportunities - No training course feed - No apprenticeships</a></li>
			</ul>
		</div>
	</div>
</main>

{% endblock %}


