{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 8</span>
				Ready for live
			</h1>
			<p class="lede">Prototypes to guide the creation of the live site. The code <strong>should not</strong> be used directly in the live environment</p>

<!-- 			<h2 class="heading-large">Useful links</h2>
			<ul class="list list-bullet">
				<li><a href="job-profiles/PROD_useful-links.html">Example job profile</a></li>
			</ul> -->

		</div>
	</div>
</main>

{% endblock %}


