{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Beauty consultant" %}
{% set profileSecondaryName = "Beautician" %}
{% set profileDescription = "Beauty consultants sell beauty products and help customers choose the right products to buy." %}
{% set salaryLow = "15,500" %}
{% set salaryHigh = "18,000" %}
{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "Mon - Sat" %}
{% set patternValue = "Evenings & weekends" %}
{% set patternDescription = "" %}

<!-- Related Careers -->
{% set RelatedCareerName1 = 'Police officer' %}
{% set RelatedCareerLink1 = 'police-officer' %}
{% set RelatedCareerName2 = 'Catering manager' %}
{% set RelatedCareerLink2 = 'catering-manager' %}
{% set RelatedCareerName3 = 'Chef' %}
{% set RelatedCareerLink3 = 'chef' %}
{% set RelatedCareerName4 = 'Hotel receptionist' %}
{% set RelatedCareerLink4 = 'hotel-receptionist' %}
{% set RelatedCareerName5 = 'Web designer' %}
{% set RelatedCareerLink5 = 'web-designer' %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large jp-heading">How to become a {{profileName}}</h2>
    <p>There are a number of options and routes which could allow you to become a beauty consultant.</p>


    <!-- College Section -->
    <section class="job-profile-subsection" id="apprenticeships">

        <h3>College</h3>
        <div class="job-profile-subsection-content">

            <p>You could study for:</p>
            <ul class="list list-bullet">
                <li>a level 2 certificate or diploma in beauty consultancy</li>
                <li>a general qualification in retail, sales or customer service</li>
            </ul>

            <h4 class="heading-small">Requirements:</h4>
            <p>To get onto a level 2 course you may need:</p>
            <ul class="list list-bullet">
                <li>3 GCSEs at grades 9 to 3 (A* to D)</li>
            </ul>
            <p>Check with course providers for exact entry requirements. You might be able to use <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent level qualifications</a> to get onto a course.</p>

            <h4 class="heading-small">More information</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help">You may be able to get financial help to do a course.</a></li>
                <li><a class="htb-feature" href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find a web development course near you.</a></li>
            </ul>
        </div>
    </section>

    <!-- Work -->
    <section class="job-profile-subsection" id="work">

        <h3>Work your way up</h3>
        <div class="job-profile-subsection-content">
            <p>You could get useful experience in any sales role and then apply for a job working for a beauty concession (a commercial operation within a department store). </p>
        </div>
    </section>

    <!-- Apprenticeships -->
    <section class="job-profile-subsection" id="apprenticeships">

        <h3>Apprenticeships</h3>
        <div class="job-profile-subsection-content">

            <p>You could do an intermediate or advanced <a href="https://www.gov.uk/apprenticeships-guide">apprenticeship</a> in beauty therapy make-up. These last 12 to 18 months. You may need a level 2 qualification to get onto the advanced apprenticeship. Check with course providers for exact entry requirements.</p>

            <h4 class="heading-small">Requirements:</h4>

            <ul class="list-bullet list">
                <li>You may need a level 2 qualification to get onto the advanced apprenticeship. Check with course providers for exact entry requirements.</li>
                <li>Get work experience in sales</li>
            </ul>

            <h4 class="heading-small">Next steps:</h4>




            <ul class="list list-arrow">
                <li><a class="htb-feature" href="http://www.habia.org/">The Hairdressing and Beauty Industry Authority (HABIA) has more information about careers in beauty consultancy and therapy.</a></li>
                <li><a class="htb-feature" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Look for a beauty therapist apprenticeship near you.</a> </li>
            </ul>
        </div>
    </section>


</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
    <!-- Skills -->
    <section class="job-profile-subsection" id="skills">
        <h3>Skills  and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul class="list list-bullet ">
                <li> a desire to help people </li>
                <li> customer service skills to put clients at ease </li>
                <li> excellent speaking and listening skills to understand clients’ needs </li>
                <li> attention to detail for doing tasks like nail art </li>
                <li> the ability to work well with your hands for giving treatments like massage </li>
                <li> reading, writing, spelling and grammar skills for keeping records </li>
                <li> the ability to sell products and services to earn commission </li>
                <li> digital skills for communicating and recording information </li>
            </ul>
        </div>
    </section>

</section>


<!--section 3-->
<section id="what-youll-do">

    <h2 class="heading-large jp-heading">What you'll do</h2>
    <p>You could work in a high street salon, beauty clinic, health spa or hotel. You might also work on a cruise ship. You could also be self-employed where you’d work from home, or visit clients in their own homes.</p>

    <!-- Day to day -->
    <section class="job-profile-subsection" id="skills">
        <h3>Day to day tasks:</h3>
        <div class="job-profile-subsection-content">
            <p>You could be:</p>
            <ul class="list list-bullet">
                <li>giving a facial by cleansing, massaging and toning a client’s skin</li>
                <li>giving a makeover by applying and advising on make-up</li>
                <li>shaping eyebrows and colouring eyelashes</li>
                <li>giving a manicure, pedicure or other nail treatment like extensions and nail art</li>
                <li>removing unwanted facial and body hair</li>
                <li>giving electro-therapy treatments to improve body tone and shape</li>
                <li>giving non-surgical skin improvement treatments</li>
                <li>offering UV (ultraviolet) and spray tanning</li>
                <li>offering other treatments like massage, aromatherapy, hydrotherapy and reflexology</li>
            </ul>
          
            <p>As well as giving treatments, you may also be:</p>
            <ul class="list list-bullet">
                <li>answering the telephone and greeting clients</li>
                <li>booking appointments</li>
                <li>checking and ordering supplies</li>
                <li>keeping notes of clients’ medical histories and treatment programmes</li>
                <li>referring clients to a doctor if needed </li>
            </ul>
        </div>
    </section>


    <!-- Enviroments -->
    <section class="job-profile-subsection" id="skills">
        <h3> Working Environments: </h3>
        <div class="job-profile-subsection-content">
            <p>In this job:</p>
                <ul class="list list-bullet">
                    <li> you could work in a beauty or hair salon  </li>
                    <li> you could work in a shop, high street store or supermarket </li>
                    <li> you could work in a hotel </li>
                    <li> you could work in a health spa </li>
                    <li> you could work in a prison or remand centre </li>
                    <li> you could work in a child care home or clinic </li>
                    <li> you could work on a cruise ship </li>
                    <li> you could work on a film set </li>
                    <li> you may go to clients at home </li> 
                </ul>
        </div>
    </section>

</section>

<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Career path and progression</h2>
    <p>You'll usually work 35 to 40 hours a week, Monday to Friday. You may sometimes need to work overtime to meet deadlines.</p>
    <p>Most of your work will be office-based at a computer. There may be some out-of-office duties, like attending meetings with clients or partners.</p>
</section>

<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large jp-heading">Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>



<p class="grey font-xsmall">Last updated: 23 March 2016</p>



    {% endblock %}
















