{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Security officer" %}
{% set profileSecondaryName = "" %}
{% set profileDescription = "Security officers make sure that buildings, valuables and people are safe and secure." %}
{% set salaryLow = "21,320" %}
{% set salaryHigh = "24,960" %}
{% set hoursRange = "37 - 48" %}
{% set hoursDetail = "A Week" %}
{% set patternValue = "Evenings / weekends / bank holidays" %}
{% set patternDescription = "On shifts" %}

<!-- Related Careers -->
{% set RelatedCareerName1 = 'Police officer' %}
{% set RelatedCareerLink1 = 'police-officer' %}
{% set RelatedCareerName2 = 'Catering manager' %}
{% set RelatedCareerLink2 = 'catering-manager' %}
{% set RelatedCareerName3 = 'Chef' %}
{% set RelatedCareerLink3 = 'chef' %}
{% set RelatedCareerName4 = 'Hotel receptionist' %}
{% set RelatedCareerLink4 = 'hotel-receptionist' %}
{% set RelatedCareerName5 = 'Web designer' %}
{% set RelatedCareerLink5 = 'web-designer' %}
{% block content %}


{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large jp-heading jp-heading-first">How to become</h2>

    <p>You'll need to complete <a href="https://www.sia.homeoffice.gov.uk/Pages/licensing.aspx">approved SIA training courses </a> </p>

    <!-- More information -->
    <section class="job-profile-subsection" id="More information">
        <h3>More information</h3>
        <div class="job-profile-subsection-content">

            <h4 class="heading-small">Registration</h4>
            <ul class="list list-bullet"> 
                <li>You'll need a <a href="https://www.sia.homeoffice.gov.uk/Pages/licensing.aspx">Security Industry Authority (SIA) licence for agency and contractor jobs.</a> </li>
                </ul>
            
            <h4 class="heading-small">Career tips</h4>

            <p> Previous experience of working in the police or armed forces could help you get into this job. </p>
            <p> An employer will carry out checks on your personal and work history (up to 10 years). You need to let them know about any criminal convictions before you apply for a licence. </p>
            <p> You won't need an SIA licence for in-house security jobs at your employer's premises. </p>

            <h4 class="heading-small">Further information</h4>
            <p> <a href="https://skillsforsecurity.org.uk"> Skills for Security</a> has more information about becoming a security officer.</p>

    </section>

</section>


<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
    <!-- Skills -->
    <section class="job-profile-subsection" id="skills">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul class="list list-bullet ">
                <li> patience and the ability to remain calm in stressful situations </li>
                <li> the ability to work well with others </li>
                <li> problem-solving skills for dealing with emergencies </li>
                <li> concentration skills to stay alert and aware of your surroundings </li>
                <li> customer service skills for challenging people in a polite but firm manner </li>
                <li> excellent speaking and listening skills for negotiating </li>
                <li> reading, writing, spelling and grammar skills for following instructions and writing reports </li>
                <li> digital skills for communicating and recording information </li>
            </ul>
        </div>
    </section>

    <!-- Restrictions -->
    <section class="job-profile-subsection" id="restrictions">
        <h3>Restrictions</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need </p>
            <ul class="list list-bullet">
                <li>
                    to pass identity and <a href="https://www.gov.uk/criminal-record-checks-apply-role">enhanced criminal records checks</a>


                    <p>An employer will carry out checks on your personal and work history (up to 10 years). You need to let them know about any criminal convictions before you apply for a licence.</p>
                </li>
                <li>
                    a <a href="https://www.sia.homeoffice.gov.uk/Pages/licensing.aspx">Security Industry Authority</a> (SIA) licence for agency and contractor jobs.


                    <p>You won't need an SIA licence for in-house security jobs at your employer's premises. </p>

                </li>
                <li><p>If you work as a contractor on a building site, you'll also need a <a href="https://www.cscs.uk.com/">Construction Skills Certification Scheme card</a> (CSCS).</p></li>
                <li>To be aged 18 or over</li>
            </ul>
        </div>
    </section>
</section>


<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>
    <p>You could work in shops, offices, schools, sports and entertainment venues, airports and docks. Your role will depend on the organisation you work for.</p>
    <!-- Day to day -->
            <section class="job-profile-subsection" id="skills">
                <h3>Day to day tasks</h3>
                <div class="job-profile-subsection-content">
                    <p>You could be:</p>
                    <ul class="list list-bullet">
                        <li>patrolling, securing and monitoring premises and grounds</li>
                        <li>searching aircraft, passengers and luggage, and guarding the perimeter of airports</li>
                        <li>supervising on the door for a large organisation</li>
                    </ul>
                </div>
            </section>

            <section class="job-profile-subsection" id="skills">
                <h3>Working environment</h3>
                <div class="job-profile-subsection-content">
                    <p>In this job you may:</p>
                        <ul class="list list-bullet">
                            <li>work in shops, offices, schools, sports and entertainment venues, airports and docks</li>
                            <li>need a driving licence </li>
                            <li>find the work physically demanding</li>
                            <li>face danger</li>
                            <li>wear a uniform</li>
                        </ul>
                </div>
            </section>

            <!--section 4-->
            <section id="career-path-and-progression">
                <h2 class="heading-large jp-heading">Career path and progression</h2>

                <p>With experience, you could progress to senior or chief security officer, then supervisor.</p>
                <p>With further qualifications you could go into security management or training, or set up your own security company.</p>
            </section>
    </section>

            <!--section 5-->
            <section id="current-opportunities" style="margin-bottom:30px">
                <h2 class="heading-large jp-heading">Current opportunities</h2>
                <div class="grid-row" id="appGeneric">
                    <div class="column-full">
                        <h3 class="heading-medium">
                            Apprenticeships
                            <span class="heading-secondary">In England</span>
                        </h3>
                    </div>
                    <div class="column-half">
                        <div class="panel panel-border-narrow opportunity-item">
                            <h4 class="heading-small">
                                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/633372">RAF Police - Intermediate Apprenticeship in Providing Security Services</a>
                            </h4>
                            <ul class="list">
                                <li><span class="bold-small">Wage:</span> &pound;14,931.00 - &pound;18,489.00</li>
                                <li><span class="bold-small">Location:</span> York YO30 2AJ</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dfc-code-jp-vacancyText">
                    <p>
                        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
                    </p>
                </div>

                <div class="grid-row dfc-code-jp-trainingCourse">
                    <div class="column-full">
                        <h3 class="heading-medium">
                            Training courses
                            <span class="heading-secondary">In England</span>
                        </h3>
                    </div>
                    <div class="column-half">
                        <div class="panel panel-border-narrow opportunity-item">
                            <h3 class="heading-small">
                                <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=54987479">Principles of Providing Security Services</a>
                            </h3>
                            <ul class="list">
                                <li><span class="bold-small">Provider:</span> GLOUCESTERSHIRE COLLEGE</li>
                                <li><span class="bold-small">Start date:</span> 04 June 2018</li>
                                <li><span class="bold-small">Location:</span> CHELTENHAM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="column-half">
                        <div class="panel panel-border-narrow opportunity-item">
                            <h3 class="heading-small">
                                <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=54987476">Principles of Providing Security Services</a>
                            </h3>
                            <ul class="list">
                                <li><span class="bold-small">Provider:</span> GLOUCESTERSHIRE COLLEGE</li>
                                <li><span class="bold-small">Start date:</span> 09 July 2018</li>
                                <li><span class="bold-small">Location:</span> Cheltenham</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dfc-code-jp-TrainingCoursesText">
                    <p>
                        <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find courses near you</a>
                    </p>
                </div>
            </section>

            <p class="grey font-xsmall">Last updated: 23 March 2016</p>


            {% endblock %}















