{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Teaching assistant" %}
{% set profileSecondaryName = "Classroom assistant, learning support assistant" %}
{% set profileDescription = "Teaching assistants support teachers and help children develop." %}
{% set salaryLow = "15,600" %}
{% set salaryHigh = "18,200" %}

{% set hoursRange = "32 - 40" %}
{% set hoursDetail = "Term time" %}

{% set patternValue = "Evenings" %}
{% set patternDescription = "Occasionally" %}

<!-- Related Careers -->
{% set RelatedCareerName1 = 'Police officer' %}
{% set RelatedCareerLink1 = 'police-officer' %}
{% set RelatedCareerName2 = 'Catering manager' %}
{% set RelatedCareerLink2 = 'catering-manager' %}
{% set RelatedCareerName3 = 'Chef' %}
{% set RelatedCareerLink3 = 'chef' %}
{% set RelatedCareerName4 = 'Hotel receptionist' %}
{% set RelatedCareerLink4 = 'hotel-receptionist' %}
{% set RelatedCareerName5 = 'Web designer' %}
{% set RelatedCareerLink5 = 'web-designer' %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large jp-heading">How to become</h2>


    <p>You could do:</p>
    <ul class="list list-bullet">
        <li>a college course</li>
        <li>an apprenticeship</li>
        <li>training on the job</li>
    </ul>

    <!-- Apprenticeships -->
    <section class="job-profile-subsection" id="apprenticeships">
        <h3>Apprenticeship</h3>
        <div class="job-profile-subsection-content">
            <p>You could also get in through an <a href="https://www.gov.uk/apprenticeships-guide">intermediate or advanced apprenticeship</a> in childcare or supporting teaching and learning in schools.</p>

            <h4 class="heading-small">Requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list list-bullet">
                <li>GCSEs at grades 9 to 4 (A* to C) in English and maths</li>
            </ul>


            <h4 class="heading-small">More information:</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">You may be able to use equivalent level qualifications to get onto a course.</a></li>
            </ul>
        </div>

    </section>


    <!-- College Section -->
    <section class="job-profile-subsection" id="apprenticeships">
        <h3>College</h3>
        <div class="job-profile-subsection-content">

            <p>You could study for qualifications like a level 2 or 3 certificate in support for learning and teaching in schools.</p>
            <p>If you're under 19, these courses are free.</p>

            <h4 class="heading-small">Requirements:</h4>
            <p>To get onto a level 2 course you may need:</p>

            <ul class="list list-bullet">
                <li>GCSEs at grades 9 to 4 (A* to C) in English and maths</li>
            </ul>

            <h4 class="heading-small">More information</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help">You may be able to get financial help to do a course.</a></li>
                <li><a class="htb-feature" href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find a course at a college near you.</a></li>
            </ul>
        </div>
    </section>

    <!-- Work -->
    <section class="job-profile-subsection" id="work">
        <h3>Work your way up</h3>
        <div class="job-profile-subsection-content">
            <p>If you don't have any qualifications or experience, you may get into the job if you show you can work well with children, teachers and parents. Many teaching assistants <a href="https://do-it.org">volunteer</a> before getting paid work.</p>
        </div>
    </section>




</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
    <!-- Skills -->
    <section class="job-profile-subsection" id="skills">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul class="list list-bullet ">
                <li> sensitivity and understanding for building relationships with children </li>
                <li> excellent speaking and listening skills for motivating children to learn </li>
                <li> patience and the ability to remain calm in stressful situations, like managing challenging behaviour </li>
                <li> to be flexible and open to change as you’ll be working on different activities from day-to-day </li>
                <li> the ability to work well with others including teachers, parents and carers </li>
                <li> instructing skills for showing pupils how to do something </li>
                <li> attention to detail for organising activities to suit children’s needs </li>
                <li> digital skills for communicating and recording information </li>
            </ul>
        </div>
    </section>

    <!-- Restrictions -->
    <section class="job-profile-subsection" id="restrictions">
        <h3>Restrictions</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul class="list list-bullet">
                <li>to pass the <a href="https://www.gov.uk/criminal-record-checks-apply-role">enhanced background checks</a> your employer or college arrange for you </li>
            </ul>
        </div>
    </section>
</section>


<!--section 3-->
<section id="what-youll-do">

    <h2 class="heading-large jp-heading">What you'll do</h2>

    <section class="job-profile-subsection" id="skills">
        <p> Most jobs are in primary, secondary and special schools. You could also work in an independent school. </p>
        <h3>Day to day tasks:</h3>
        <div class="job-profile-subsection-content">
            <p>You could be:</p>
            <ul class="list list-bullet">
                <li>getting the classroom ready for lessons and clearing away afterwards</li>
                <li>listening to children read or reading to them</li>
                <li>helping children who need extra support</li>
                <li>helping teachers prepare materials that match development needs</li>
                <li>supervising group activities, including outings and sports events</li>
                <li>helping teachers manage class behaviour</li>
                <li>leading classes with help from the teacher</li>
            </ul>

           </section>


    <section class="job-profile-subsection" id="skills">
        <h3> Working Environments: </h3>
        <div class="job-profile-subsection-content">
                <p> You could work in a: beauty or hair salon, shop, high street store, supermarket, hotel, health spa, prison, remand centre, child care home, clinic, cruise ship, film set or a clients home</p>
           </section>

        </div>



    <!--section 4-->
    <section id="career-path-and-progression">
        <h2 class="heading-large jp-heading">Career path and progression</h2>
        <p>With experience, you could become a senior assistant or apply for a <a href="http://www.hlta.org.uk/">Higher Level Teaching Assistant</a> (HLTA) role.</p>

    </section>



    <!--section 5-->
    <section id="current-opportunities" style="margin-bottom:30px">
        <h2 class="heading-large jp-heading">Current opportunities</h2>
        <!-- <p>Find the latest opportunities</p> -->

        <div class="grid-row" id="appGeneric">
            <div class="column-full">
                <h3 class="heading-medium">
                    Apprenticeships
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
        </div>
        <div class="dfc-code-jp-novacancyText">
            <p>
                Right now there aren't any apprenticeships in this field of work. Consider exploring the related careers or <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">find other apprenticeships.</a>
            </p>
        </div>
        <div class="opportunity-footer">
            <p>
                <a class="dfc-code-jp-findApprenticeship" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
            </p>
        </div>
        <div class="grid-row dfc-code-jp-trainingCourse">
            <div class="column-full">
                <h3 class="heading-medium">
                    Training courses
                    <span class="heading-secondary">In England</span>
                </h3>
            </div>
        </div>
        <div class="dfc-code-jp-NoTrainingCoursesText">
            <p>
                There are no courses for Primary school teacher available at the moment
            </p>
        </div>
        <div class="dfc-code-jp-FindTrainingCoursesLink opportunity-footer">
            <p>
                <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find courses near you</a>
            </p>
        </div>
    </section>

    <p class="grey font-xsmall">Last updated: 23 March 2016</p>



    {% endblock %}
















