{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set categoryName = 'Transport' %}

{% include "../includes/survey.html" %}


<main id="content" role="main">
    {% include "../includes/global_header_bar.html" %}

    {% include "../includes/breadcrumb_categories.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge" id="currentcategory">{{ categoryName}}</h1>
            <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

            <div class="paginated-page" id="page1">
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Air cabin crew</a></h2>
                    <h3 class="category-job__alt-titles">Flight attendant</h3>
                    <p class="category-job__overview">Air cabin crew look after airline passengers, making sure they have a safe, comfortable and pleasant flight.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Airline pilot</a></h2>
                    <h3 class="category-job__alt-titles">Aircraft pilot, co-pilot, first officer, captain</h3>
                    <p class="category-job__overview">Airline pilots fly passengers and cargo to destinations around the world.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Driving instructor</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Further education tutor, Further education teacher</h3> -->
                    <p class="category-job__overview">Driving instructors teach people the skills and knowledge they need to drive safely and pass their driving test.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Taxi driver</a></h2>
                    <h3 class="category-job__alt-titles">Cab driver, private hire driver, minicab driver</h3>
                    <p class="category-job__overview">Taxi or private hire drivers pick up passengers and charge fares to take them to their destination by the quickest route.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Train driver</a></h2>
                    <h3 class="category-job__alt-titles">Engine driver, underground driver, Eurostar driver</h3>
                    <p class="category-job__overview">Train drivers operate trains on rail networks, making sure that passengers and freight get to where they're going safely and on time.</p>
                </div>
            </div>
        </div>
        <div class="column-one-third">
            {% include "../includes/other_categories.html" %}
        </div>
    </div>
</main>

{% endblock %}
