{% set searchTerm = data.searchTerm %}
{% set searchPrompt = data.searchPrompt %}
{% set currentSprint = '26' %}
{% extends "./layout.html" %}

{% block head %}
<script>
    // Making data object accessible in client
    var session = {{ data | dump | safe }};
</script>
  {% include "./includes/head.html" %}
{% endblock %}

{% block body_start %}{% endblock %}

{% block cookie_message %}
<p>Service green uses cookies to make the site simpler. <a href="/_sprint10/cookies.html">Find out more about cookies</a></p>
{% endblock %}

{% block proposition_header %}
  {% include "./includes/title_phase-tag_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}



{% block before_content %}
{% include "./includes/survey.html" %}



<header class="job-profile-hero">
    <div class="content-container">
        {% include "./includes/breadcrumb_jobprofile.html" %}

        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">{{ profileName }}</h1>
                <h2 class="heading-secondary">{{ profileSecondaryName }}</h2>
                <p>{{ profileDescription }}</p>

            </div>
        </div>
        <div class="grid-row">
            <div class="column-40 job-profile-heroblock">
                <h4>Average salary<span>(a year)</span></h4>
                <div class="job-profile-salary job-profile-heroblock-content">
                    <h5>{{ salaryLow }} <span>Starter</span></h5><h5>{{ salaryHigh }}<span>Experienced</span></h5>

                </div>
            </div>
            <div class="column-30 job-profile-heroblock">
                <h4>Typical hours <span>(a week)</span></h4>
                <div class="job-profile-hours job-profile-heroblock-content">
                    <h5>{{ hoursRange }}<span>{{ hoursDetail }}</span></h5>

                </div>
            </div>
            <div class="column-30 job-profile-heroblock">
                <h4>You could work</h4>
                <div class="job-profile-pattern job-profile-heroblock-content">
                    <h5>{{ patternValue }}<span>{{ patternDescription }}</span></h5>
                </div>
            </div>
        </div>
    </div>
</header>








<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">

            {% include "./includes/job-profile_nav_htb.html" %}

            {% endblock %}


            {% block after_content %}
        </div>
        <div class="column-one-third">

            <aside class="PROD_govuk-related-items PROD_govuk-related-items-search govuk-related-items-minimal" role="complementary">
                <h2 class="heading-medium" id="job-profile-search">Not what you're looking for?</h2>
                {% include "./includes/job-profile_search.html" %}
                {% include "./includes/job-profile_related.html" %}
                {% include "./includes/job-profile_webchat.html" %}
            </aside>


            
        </div>
    </div>

</main>
        {% endblock %}
        {% block body_end %}
        {% include "./includes/scripts.html" %}
<!-- GOV.UK Prototype kit {{releaseVersion}} -->
 {% endblock %}

