{% set searchTerm = data.searchTerm %}
{% set searchPrompt = data.searchPrompt %}
{% set currentSprint = '26' %}
{% extends "./layout.html" %}

{% block head %}
<script>
    // Making data object accessible in client
    var session = {{ data | dump | safe }};
</script>
  {% include "./includes/head.html" %}
{% endblock %}
{% block proposition_header %}
<div class="header-container">
    <div class="header-title">Webchat <span class="right">Find a career</span></div>

</div>
{% endblock %}

{% block body_classes %}webchat-pop{% endblock %}


{% block before_content %}




<main id="content" role="main">
    <div class="webchat-chat">
        <div class="webchat-chat-top">
            <a class="button webchat-close" href="webchat-finish.html" role="button">End chat</a>
        </div>
        <div class="webchat-chat-convo">
            <p class="message message-received">Hello. Welcome to Find a career webchat.<span class="message-detail">Bill - 9:33am</span></p>
            <p class="message message-sent">Hi, I'm looking for more information on how to become a border force officer.<span class="message-detail">Bob - 9:34am</span></p>
            <p class="message message-received">We have subject matter experts who you can speak to. They will be able to help evaluate your current skills and find the best route towards becoming a border force officer. Would you like me to transfer you?<span class="message-detail">Bill - 9:43am</span></p>
        </div>
        <div class="webchat-chat-input">
            <div class="form-group">
                <textarea class="form-control form-control-3-4" name="textarea" placeholder="Your message..." id="textarea" rows="5"></textarea>
            </div>
            <a class="button" href="#" role="button">Submit</a>


        </div>
    </div>
</main>
        {% endblock %}
        {% block body_end %}
        {% include "./includes/scripts.html" %}
<!-- GOV.UK Prototype kit {{releaseVersion}} -->
 {% endblock %}

