// lessc --strict-math=on

$ur: #ffa71a;
$po: #73dcf9;
$team: #61e496;
$ba: #bce0ee;
$content: #e8577a;
$visual: #3991e5;
$dev: #607487;
$general: #00a2a2;
$ideas: #2ec7d6;
$dc: #198bd5;
$white: #ffffff;
$whitegrey: #fafafa;
$grey: #f1f1f1;
$text: #656565;
$darkgrey: #333333;
$black: #000000;
$meet: #93b1cb;
$da: #ee76b0;

* {
    box-sizing: border-box
}

.clearfix {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }

    &:after {
        clear: both;
    }
}


body {
    font-family: "proxima-nova", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $grey;
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    display: inline;
}

p {
    font-size: 16px;
    color: $text;
    line-height: 26px;
}

main {

}


.container-large {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

.uppercase-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}






header {
    background: $white;
    margin-left: 180px;
    padding: 40px;

    h1 {
        font-size: 20px;
        font-weight: bold;
        color: $darkgrey;

        span {
            color: $general;
            font-weight: normal;
        }
    }
}

main {
    position: relative;
}

section {
    margin-top: 50px;
    background: $whitegrey;
    padding: 0 130px;
    margin-left: 200px;
    margin-top: 0;
    border-left: 10px solid $grey;
    position: relative;

    &:before {
        position: absolute;
        top: 0;
        font-size: 20px;
        left: -210px;
        text-align: right;
        font-weight: bold;
        width: 180px;
    }
}

#ideas {
    -webkit-box-shadow: -8px 0px 0px 0px $ideas;
    -moz-box-shadow: -8px 0px 0px 0px $ideas;
    box-shadow: -8px 0px 0px 0px $ideas;

    &:before {
        content: "IDEAS BOARD";
        color: $ideas;
    }

    .dod {
        h4 {
            background-color: $ideas;
            color: $white;
            border-bottom: 5px solid darken($ideas, 10%);
        }
    }
}

#dc {
    -webkit-box-shadow: -8px 0px 0px 0px $dc;
    -moz-box-shadow: -8px 0px 0px 0px $dc;
    box-shadow: -8px 0px 0px 0px $dc;
    background-color: #fcfcfc;
    
    &:before {
        content: "DC BOARD";
        color: $dc;
    }

    .dod {
        h4 {
            background-color: $dc;
            color: $white;
            border-bottom: 5px solid darken($dc, 10%);
        }
    }
}

#dev {
    -webkit-box-shadow: -8px 0px 0px 0px $dev;
    -moz-box-shadow: -8px 0px 0px 0px $dev;
    box-shadow: -8px 0px 0px 0px $dev;

    &:before {
        content: "DEV BOARD";
        color: $dev;
    }

    .dod {
        h4 {
            background-color: $dev;
            color: $white;
            border-bottom: 5px solid darken($dev, 10%);
        }
    }
}

.spacer {
    background-color: $whitegrey;
    padding: 30px;
    display: block;
    position: relative;
}

.spacersmall {
    background-color: $whitegrey;
    padding: 5px;
    display: block;
    position: relative;
}

.box {
    font-size: 16px;
    color: $white;
    font-weight: bold;
    text-align: center;
    margin-left: 100px;
    min-height: 100px;
    position: relative;
    max-width: 250px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;

    &:before {
        text-transform: uppercase;
        position: absolute;
        text-align: right;
        font-size: 14px;
        padding: 10px;
        top: 100%;
        left: 0;
        width: 100%;
        display: block;
        z-index: 10;
        box-sizing: border-box;
    }

    span {
        font-style: italic;
        font-weight: normal;
        line-height: 14px;
        font-size: 14px;
        box-sizing: border-box;
    }
}

.boxempty {
    height: 0px;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0 0 0 100px !important;
    min-height: 0;
}

.teambox {
    background-color: $team;


    &:before {
        content: "Team";
        background-color: darken($team, 12%);
    }
}

.pobox {
    background-color: $po;


    &:before {
        content: "Product Owner";
        background-color: darken($po, 9%);
    }
}

.urbox {
    background-color: $ur;


    &:before {
        content: "User Research";
        background-color: darken($ur, 8%);
    }
}

.babox {
    background-color: $ba;


    &:before {
        content: "Business Analyst";
        background-color: darken($ba, 5%);
    }
}

.dabox {
    background-color: $da;


    &:before {
        content: "Data Analyst";
        background-color: darken($da, 5%);
    }
}

.contentbox {
    background-color: $content;


    &:before {
        content: "Content Designer";
        background-color: darken($content, 8%);
    }
}

.visualbox {
    background-color: $visual;


    &:before {
        content: "Visual Designer";
        background-color: darken($visual, 8%);
    }
}

.devbox {
    background-color: $dev;


    &:before {
        content: "Developer";
        background-color: darken($dev, 8%);
    }
}

.meetbox {
    background-color: $meet;


    &:before {
        content: "Meeting";
        background-color: darken($meet, 8%);
    }
}

.arrowdown {
    margin-bottom: 80px;

    &:after {
        background-image: url(../images/workflow/arrowdown.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        content: "";
        height: 40px;
        width: 100%;
        left: 0;
        position: absolute;
        top: calc(100% + 40px);
    }
}

.arrowdownvisual {
    margin-bottom: 80px;

    &:after {
        background-image: url(../images/workflow/arrowdown.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        content: "VISUAL FOCUSED";
        height: 840px;
        font-size: 14px;
        font-weight: bold;
        line-height: 840px;
        color: $text;
        width: 130%;
        left: -15%;
        text-align: left;
        position: absolute;
        top: calc(100% + 40px);
    }
}

.arrowdownright {
    margin-bottom: 80px;

    &:after {
        background-image: url(../images/workflow/arrowdown.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        content: "";
        height: 40px;
        width: 100%;
        left: -10%;
        position: absolute;
        top: calc(100% + 40px);
    }
}


.arrowdownleft {
    margin-bottom: 80px;

    &:after {
        background-image: url(../images/workflow/arrowdown.png);
        background-position: left bottom;
        background-repeat: no-repeat;
        content: "";
        height: 40px;
        width: 100%;
        left: 10%;
        position: absolute;
        top: calc(100% + 40px);
    }
}


.arrowexisting {
    margin-bottom: 80px;

    &:after {
        content: "EXISTING PATTERN FOUND";
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        color: $text;
        text-align: center;
    }
}

.arrownoexisting {

    &:after {
        content: "NO EXISTING PATTERN FOUND";
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        color: $text;
        text-align: center;
    }
}

.arrowdownandleft {
    margin-bottom: 80px;

    &:after {
        background-image: url(../images/workflow/arrowdownleft.svg);
        background-position: right bottom;
        background-repeat: no-repeat;
        content: "";
        height: 175px;
        width: 380px;
        left: -100%;
        position: absolute;
        top: calc(100% + 40px);
    }
}

.arrowright {
    margin-bottom: 0px;

    &:after {
        content: "";
        background-image: url(../images/workflow/arrowright.png);
        background-position: right;
        background-repeat: no-repeat;
        font-size: 14px;
        font-weight: bold;
        color: $text;
        height: 58px;
        width: 192px;
        left: 100%;
        position: absolute;
        top: calc(50% - 20px);
        text-transform: uppercase;
    }
}

.arrowdouble {
    margin-bottom: 80px;

    &:after {
        background-image: url(../images/workflow/arrowdouble.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        content: "";
        height: 40px;
        width: 100%;
        left: 0;
        position: absolute;
        top: calc(100% + 40px);
    }
}

.arrownone {
    margin-bottom: 0px;
}

.arrowcontent {
    &:after {
        content: "content focused";
    }
}

.arrowoutput {
    &:after {
        content: "Additional output";
    }
}

.arrowsuccess {
    &:after {
        content: "Success";
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        width: 140%;
        left: -20%;
        color: $text;
        text-align: left;
        text-transform: uppercase;
    }
}

.arrowdoubleyesno {
    bottom: 80px !important;

    &:before {
        content: "No";
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        width: 116%;
        left: -8%;
        color: $text;
        text-align: right;
        padding: 0;
        top: calc(100% + 40px);
    }

    &:after {
        content: "Yes";
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        width: 116%;
        left: -8%;
        color: $text;
        text-align: left;
        text-transform: uppercase;
    }
}

.arrowdoublepatterns {
    bottom: 80px !important;

    &:before {
        content: "No Existing Pattern Found";
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        left: 100%;
        color: $text;
        text-align: left;
        padding: 0;
        top: calc(100% + 40px);
    }

    &:after {
        content: "Existing Pattern Found";
        line-height: 40px;
        top: calc(100% + 40px);
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        left: -100%;
        color: $text;
        text-align: right;
        text-transform: uppercase;
        position: absolute;
    }
}

.pushright {
    position: relative;
    left: 440px;
    top: -100px;
    margin-bottom: -20px;
}

.doubleleft {
    left: -150px;
    float: left;
}

.doubleright {
    left: -100px;
    ;
}

.dod {
    display: none;
    position: absolute;
    z-index: 300;
    color: $text;
    bottom: 0;
    right: 0;
    margin: 0;
    max-width: 500px;
    background-color: $white;
    padding: 0;
    margin: 43px;

    li {
        font-size: 14px;
        padding: 7px 20px;
        display: inline-block;
        width: 100%;

        &:last-child {
            padding: 7px 20px 20px 20px
        }
    }

    h4 {
        font-weight: 600;
        font-size: 1px;
        padding: 20px;
        font-size: 16px;
        background-color: $white;
        width: 100%;
        display: inline-block;
        margin-bottom: 8px;
    }
}
