{% extends "./layout_bau.html" %}

{% block page_title %}
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}



<main id="content" role="main" class="search">
    <div id="global-header-bar" class="global-header-bar-bau"></div>
    {% include "./includes/breadcrumb_contactus.html" %}
    </div>
    
    <div class="grid-row">
    <div class="column-two-thirds">
        <main class="filter-results-header nullclass">

            <h1 class="filter-results-heading">Contact us</h1>

            <div>
                <p> Explore the different ways to get in touch with an adviser. You can also send us feedback about our service. </p>

                <h2 class="heading-medium">Contact an adviser</h2>

                <h3 class="heading-small">Webchat</h3>
                <p>Chat with an adviser using <a href=""> webchat </a> - 8am to 10pm, 7 days a week.</p>

                <h3 class="heading-small">Phone</h3>
                <p>Call 0800 100 900 to speak to an adviser - 8am to 10pm, 7 days a week. Calls are free from landlines and most mobile numbers. Find out more about <a href="">call charges and freephone numbers.</a></p>

                <p>You can speak to an adviser, by choosing option 5 for advice in a different language, using an interpreter.</p>

                <h3 class="heading-small"> Web form </h3>
                <p>Use our <a href="">web form</a> to ask your question or query and we'll get back to you as soon as possible.</p>

                <h3 class="heading-small">Call back</h3>
                <p>Tell us your number and we'll <a href="">call you back.</a></p>

                <h3 class="heading-small">Face-to-face advice</h3>
                <p>Call 0800 100 900 to find out if you're eligible for a face-to-face appointment with an adviser.</p>

                <h3 class="heading-small">Text</h3>
                <p>Text us on 07766 413219 for information like telephone numbers or addresses. We can't open pictures sent by text.</p>

                <h3 class="heading-small">Post</h3>
                <p>Contact us by post at:</p>

                <p>
                    National Careers Service<br>
                    PO Box 1331<br>
                    Newcastle Upon Tyne<br>
                    NE99 5EB
                </p>

                <h2 class="heading-medium">Feedback</h2>
                <p>We welcome feedback. Complete our <a href="">feedback form to make a suggestion or a comment.</a></p>

                <h2 class="heading-medium">Technical support</h2>
                <p>Complete our <a href="">technical support form</a> if you're in England and need technical help to use any of the tools on the website. If you prefer to speak with someone, call 0800 100 900 (8am to 10pm, 7 days a week).</p>
            </div>


        </main>

    </div>
    <div class="column-one-third">
        <div class="PROD_govuk-related-items govuk-related-items-bau">
            <h2 class="heading-small">For careers advice in other parts of the UK visit:</h2>
            <div class="related-gov-links">
                <ul class="font-xsmall">
                    <li style="margin-bottom:0.4em"><a href="">Skills Development Scotland - My World of Work</a></li>
                    <li style="margin-bottom:0.4em"><a href="">Careers Wales</a></li>
                    <li style="margin-bottom:0.4em"><a href="">Careers Service Northern Ireland</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>
        </div>

{% endblock %}
