{% set searchTerm = data.searchTerm %}
{% set searchPrompt = data.searchPrompt %}
{% set currentSprint = '31' %}
{% extends "./layout.html" %}

{% block head %}
<script src="/public/_sprint{{currentSprint}}/javascripts/jquery.min.js"></script>

<script>
    // Making data object accessible in client
    var session = {{ data | dump | safe }};

    localStorage.setItem('webchat', 'chat');
    $(document).ready(function () {
        if (localStorage.getItem('webchat-name') !== null) {
            $('#message-name').text(localStorage.getItem('webchat-name'));
        }
        else { }
        if (localStorage.getItem('webchat-message') !== null) {
            $('#message-content').text(localStorage.getItem('webchat-message'));
        }
        else { }
        if (localStorage.getItem('webchat-email') !== null) {
            $('#message-email').text(localStorage.getItem('webchat-email'));
        }
        else { }
    });

</script>
  {% include "./includes/head.html" %}
{% endblock %}
{% block proposition_header %}
<div class="header-container">
    <div class="header-title">Webchat - Explore careers</div> <div class="header-close"><a href="" class="webchat-end">End chat</a></div>

</div>
{% endblock %}

{% block body_classes %}webchat-pop webchat-pop-chat {% endblock %}


{% block before_content %}




<main id="content" role="main">
    <div class="webchat-chat">
        <div class="webchat-chat-top">
            <p>Size:</p><a class="webchat-chat-button webchat-chat-button-big" href="#">A<span>+</span></a>|<a class="webchat-chat-button webchat-chat-button-small" href="#">A<span>-</span></a>

        </div>
        <div class="webchat-chat-convo">
            <p class="message message-received">Hello. Welcome to Find a career webchat.<span class="message-detail">Bill - 9:33am</span></p>
            <p class="message message-sent"><i id="message-content">Your message content here.</i><span class="message-detail"><i id="message-name">You</i> - 9:34am</span></p>
        </div>
        <div class="webchat-chat-input">
            <div class="form-group">
                <textarea class="form-control" name="textarea" placeholder="Your message..." id="textarea" rows="5"></textarea>
            </div>
            <a class="button" href="#" role="button">Submit</a>


        </div>
    </div>
</main>

<div class="webchat-modal">
    <div class="modal-content">
        <p>Would you like a transcript of this conversation sent to <strong id="message-email">your@email.com</strong>?</p>
        <a href="webchat-finish" class="button">No</a>
        <a href="webchat-finish" class="button">Yes</a>

    </div>
</div>

{% endblock %}
        {% block body_end %}
        {% include "./includes/scripts.html" %}
<script>

</script>
<!-- GOV.UK Prototype kit {{releaseVersion}} -->
 {% endblock %}



