{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

{% set categoryName = 'Emergency and uniform services' %}

{% include "../includes/survey.html" %}


<main id="content" role="main">
    {% include "../includes/global_header_bar.html" %}

    {% include "../includes/breadcrumb_categories.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge" id="currentcategory">{{ categoryName}}</h1>
            <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

            <div class="paginated-page" id="page1">
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Border force officer</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Veterinary surgeon, veterinarian</h3> -->
                    <p class="category-job__overview">Border force officers secure the UK border by carrying out immigration and customs controls for people and goods entering the UK.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Firefighter</a></h2>
                    <h3 class="category-job__alt-titles">Fireman, firewoman</h3>
                    <p class="category-job__overview">Firefighters save people and property from fire and other dangers, and give advice on fire prevention.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Paramedic</a></h2>
                    <h3 class="category-job__alt-titles">Ambulance paramedic</h3>
                    <p class="category-job__overview">Paramedics deal with emergencies, giving people life-saving medical help.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Police officer</a></h2>
                    <h3 class="category-job__alt-titles">Policeman, policewoman, police constable</h3>
                    <p class="category-job__overview">A police officer keeps law and order, investigates crime and supports crime prevention.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Prison officer</a></h2>
                    <h3 class="category-job__alt-titles">Prison guard, prison warder</h3>
                    <p class="category-job__overview">Prison officers supervise and rehabilitate inmates in prisons, remand centres and young offenders' institutions.</p>
                </div>
            </div>
        </div>
        <div class="column-one-third">
            {% include "../includes/other_categories.html" %}
        </div>
    </div>
</main>

{% endblock %}
