{% extends "../../layout.html" %}

{% block page_title %}
	Service Green
{% endblock %}

{% block content %}

<main id="content" role="main">
     {% include "../../includes/phase_banner_beta.html" %}

     <div class="breadcrumbs">
          <ol>
               <li><a href="../../_archived/search-start_job-profiles-keywords_job-categories_v3.html">Home</a></li>
               <li><a href="#1">Browse</a></li>
               <li><a href="#1">Job categories</a></li>
               <li>Business and finance</li>
          </ol>
     </div>

     <div class="grid-row">
          <div class="column-two-thirds">
               <div class="page-header">
                    <h1 class="page-header__title">Business and finance</h1>
                    <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->
               </div>
          </div>
          <div class="column-half">
               <ul class="list list-bullet">
                    <li class="category-job__title"><a href="#1" class="prototype-link">Bank manager</a></li>               
                    <li class="category-job__title"><a href="#1" class="prototype-link">Financial adviser</a></li> 
                    <li class="category-job__title"><a href="#1" class="prototype-link">Personal assistant</a></li>    
                    <li class="category-job__title"><a href="#1" class="prototype-link">Stockbroker</a></li>
               </ul>
          </div>
     </div>

     <div class="grid-row">
          <div class="column-full">
               <hr/>
               <h2 class="heading-large">Job categories</h2>
          </div>
          <div class="column-one-third">
               <ul class="list category-list">
                    <li><a href="animal-care_agriculture_list-only_2col_v1" class="prototype-link">Animal care and agriculture</a></li>
                    <li><a href="beauty_wellbeing_list-only_2col_v1" class="prototype-link">Beauty and wellbeing</a></li>
                    <li><a href="business_finance_list-only_2col_v1" class="prototype-link selected">Business and finance</a></li>
                    <li><a href="caring_list-only_2col_v1" class="prototype-link">Caring</a></li>
                    <li><a href="computing_technology_digital_list-only_2col_v1" class="prototype-link">Computing, technology and digital</a></li>
                    <li><a href="construction_manufacturing_list-only_2col_v1" class="prototype-link">Construction and manufacturing</a></li>
                    <li><a href="creative_media_list-only_2col_v1" class="prototype-link">Creative and media</a></li>
               </ul>
          </div>
          <div class="column-one-third">
               <ul class="list category-list">
                    <li><a href="distribution_storage_list-only_2col_v1" class="prototype-link">Distribution and storage</a></li>
                    <li><a href="emergency_uniform_services_list-only_2col_v1" class="prototype-link">Emergency and uniform services</a></li>
                    <li><a href="engineering_list-only_2col_v1" class="prototype-link">Engineering</a></li>
                    <li><a href="health_list-only_2col_v1" class="prototype-link">Health</a></li>
                    <li><a href="law_administration_list-only_2col_v1" class="prototype-link">Law and administration</a></li>
                    <li><a href="retail_sales_list-only_2col_v1" class="prototype-link">Retail and sales</a></li>
               </ul>
          </div>
          <div class="column-one-third">
               <ul class="list category-list">
                    <li><a href="science_research_list-only_2col_v1" class="prototype-link">Science and research</a></li>
                    <li><a href="sports_leisure_list-only_2col_v1" class="prototype-link">Sports and leisure</a></li>
                    <li><a href="teaching_education_list-only_2col_v1" class="prototype-link">Teaching and education</a></li>
                    <li><a href="tourism_hopitality_list-only_2col_v1" class="prototype-link">Tourism and hopitality</a></li>
                    <li><a href="trades_maintenance_list-only_2col_v1" class="prototype-link">Trades and maintenance</a></li>
                    <li><a href="transport_list-only_2col_v1" class="prototype-link">Transport</a></li>
               </ul>
          </div>
     </div>
</main>


{% endblock %}
