{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Training routes' %}

{% include "../includes/survey.html" %}

    {% include "../includes/global_header_bar.html" %}

<main id="content" role="main">
    {% include "../includes/breadcrumb_filters.html" %}
    <div class="grid-row">
        <div class="column-two-thirds explore-top">
            <h4 class="heading-small grey">Question 7 of 10</h4>
            <h1 class="heading-medium top0">Following instructions &amp; procedures</h1>
            <p id="answer-1" class="js-hidden">Great answer! Plumbing Apprentices need to follow the instructions of their Supervisor and safe working procedures at all times. From your response you are likely to be a good fit for the role.</p>
            <p id="answer-2" class="js-hidden">While it's good that you show some consideration for thinking of ways to improve productivity, you need to put safety first when working on site, and always follow the instructions given to you by your Supervisor.</p>
            <p id="answer-3" class="js-hidden">When working with tools on site as a Plumbing Apprentice you need to ensure that you are following safety procedures and the instructions of your Supervisor. You may wish to consider whether you will be comfortable with this aspect of the role before applying.</p>
        </div>
    </div>


    <div class="grid-row">
        <div class="column-full"><a href="question8" id="cc-nextq" class="explore-button">Next</a></div>
    </div>

</main>



{% endblock %}
