{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Training routes' %}

{% include "../includes/survey.html" %}

    {% include "../includes/global_header_bar.html" %}

<main id="content" role="main">
    {% include "../includes/breadcrumb_filters.html" %}
    <div class="grid-row">
        <div class="column-two-thirds explore-top">
            <h4 class="heading-small grey">Question 6 of 10</h4>
            <h1 class="heading-medium top0">Delivering &amp; meeting expectations 2</h1>
            <p>You are working to fit toilets into many new rooms of a hotel.</p>
            <p>You have been working with the Supervisor on the first room in the hotel, and they have shown you exactly what to do. You have all of the tools you need with you and they explain that you need to finish all of the hotel rooms today.</p>
            <p>They have now gone to another area of the site.</p>
            <p>You have finished this particular task but you know the other rooms of the hotel that need the same work.</p>
            <p>You are not sure if you should wait for the Supervisor to return before you move on to completing the same job in the other hotel rooms.</p>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds explore-top">
            <h1 class="heading-small">Choose your approach</h1>
            <form>
                <div class="form-group">
                    <fieldset class="">
                        <div class="multiple-choice">
                            <input class="shm-radio" id="radio-inline-1" onClick="sessionStorage.SHManswer=1" type="radio" name="radio-inline-group" value="Yes">
                            <label for="radio-inline-1">Move on to the other hotel rooms as you know what needs to be done and you want to complete the work.</label>
                        </div>
                        <div class="multiple-choice">
                            <input class="shm-radio" id="radio-inline-2" onClick="sessionStorage.SHManswer=2" type="radio" name="radio-inline-group" value="No">
                            <label for="radio-inline-2">Check your tools and equipment to ensure you have everything you need to complete the work in the other rooms.</label>
                        </div>
                        <div class="multiple-choice">
                            <input class="shm-radio" id="radio-inline-3" onClick="sessionStorage.SHManswer=3" type="radio" name="radio-inline-group" value="Yes">
                            <label for="radio-inline-3">Stay in the first hotel room as you want to see if the Supervisor is happy for you to continue.</label>
                        </div>
                    </fieldset>
                </div>
            </form>

        </div>
    </div>
    <div class="grid-row">
        <div class="column-full"><a href="answer6" id="cc-next" class="explore-button">Next</a></div>
        <p class="cc-error right js-hidden">Please select an option from the choices above before continuing.</p>
    </div>

</main>



{% endblock %}
