{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}
{% set filterName = 'Training routes' %}

{% include "../includes/survey.html" %}

    {% include "../includes/global_header_bar.html" %}

<main id="content" role="main">
    {% include "../includes/breadcrumb_filters.html" %}
    <div class="grid-row">
        <div class="column-two-thirds explore-top">
            <h4 class="heading-small grey">Question 7 of 10</h4>
            <h1 class="heading-medium top0">Following instructions &amp; procedures</h1>
            <p>You are using a tool that you are unfamiliar with.</p>
            <p>Your Supervisor has shown you how to work with the new tool safely.</p>
            <p>It is nearly the end of your shift and you haven't yet finished all of your work with the new tool.</p>
            <p>You are thinking about trying a new way of using the tool, to try to get the task finished on time.</p>
            <p>Your Supervisor is in a site meeting so you are not able to ask them what to do.</p>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds explore-top">
            <h1 class="heading-small">Choose your approach</h1>
            <form>
                <div class="form-group">
                    <fieldset class="">
                        <div class="multiple-choice">
                            <input class="shm-radio" id="radio-inline-1" onClick="sessionStorage.SHManswer=1" type="radio" name="radio-inline-group" value="Yes">
                            <label for="radio-inline-1">Follow the procedure to use the tool safely until your Supervisor is free.</label>
                        </div>
                        <div class="multiple-choice">
                            <input class="shm-radio" id="radio-inline-2" onClick="sessionStorage.SHManswer=2" type="radio" name="radio-inline-group" value="No">
                            <label for="radio-inline-2">Ask another person what they think about your idea to get the work finished.</label>
                        </div>
                        <div class="multiple-choice">
                            <input class="shm-radio" id="radio-inline-3" onClick="sessionStorage.SHManswer=3" type="radio" name="radio-inline-group" value="Yes">
                            <label for="radio-inline-3">Try your new approach to using the tool while you wait for your Supervisor to return.</label>
                        </div>
                    </fieldset>
                </div>
            </form>

        </div>
    </div>
    <div class="grid-row">
        <div class="column-full"><a href="answer7" id="cc-next" class="explore-button">Next</a></div>
        <p class="cc-error right js-hidden">Please select an option from the choices above before continuing.</p>
    </div>

</main>



{% endblock %}
