{% extends "../../../../../layout_search.html" %}

{% block page_title %}
  Service Green
{% endblock %}

{% block content %}

<main id="content" role="main">
		<div class="breadcrumbs">
			<ol>
				<li><a href="#1">Home</a></li>
				<li><a href="#1">Page</a></li>
				<li><a href="../../../social-worker_exit-routes_v1">Social worker</a></li>
				<li><a href="../education">Education</a></li>
				<li>Postgraduate course</li>
			</ol>
		</div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">
                	<span class="heading-secondary">Finding an postgraduate course</span>
	                Social worker
                </h1>

                <p>Blurb about using this page and generic information about searching for a postgraduate course</p>

            	<a href="https://www.gov.uk/higher-education-courses-find-and-apply">More about postgraduate courses</a>

                <section>
	                <h2 class="heading-large">What to look for</h2>
					<table style="margin-bottom:30px;">
						<tbody>
							<tr>
								<td style="vertical-align: top;">Course title</td>
								<td>
									<ul style="margin-top: 0" class="list list-bullet">
										<li>Social worker course</li>
										<li>Carer course</li>
										<li>Healthcare course</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td style="vertical-align: top;">Course level</td>
								<td>
									Level 3 or higher
									<br/>
									<a href="https://www.gov.uk/what-different-qualification-levels-mean/overview">Find out more</a>
								</td>
							</tr>
							<tr>
								<td style="vertical-align: top;">Qualifications</td>
								<td>
									<ul style="margin-top: 0" class="list list-bullet">
										<li>Maths A level (A*-C)</li>
										<li>Maths A level (A*-C)</li>
										<li>Maths A level (A*-C)</li>
									</ul>	
								</td>
							</tr>
							<tr>
								<td style="vertical-align: top;">Skills/experience</td>
								<td>
									<ul style="margin-top: 0" class="list list-bullet">
										<li>Communication</li>
										<li>Communication</li>
										<li>Communication</li>
									</ul>	
								</td>
							</tr>
						</tbody>
					</table>  
				</section>              

            	<a href="https://nationalcareersservice.direct.gov.uk/course-directory/home" class="button">Find a course</a>
            	<br/>
            	<br/>
				<a href="javascript:window.print()">Print page</a>
            </div>
            <div class="column-one-third">
				<aside class="govuk-related-items" role="complementary">
				    <h2 class="heading-medium" id="related-gov-links">
				    Paths to become</h2>
				    <nav aria-labelledby="related-gov-links" role="navigation">
				        <ul class="font-xsmall">			   
				            <li>
				                <a href="../apprenticeship">Apprenticeship</a>
				            </li>
				            <li>
				                <a href="../graduate">Graduate scheme</a>
				            </li>
				            <li>
				                <a href="../volunteer">Volunteering</a>
				            </li>
				            <li>
				                <a href="../job">Job</a>
				            </li>				         
				        </ul>
				    </nav>
				</aside>
            </div>
        </div>
    </main>

{% endblock %}
