{% extends "../jobprofile-htb.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Border Force officer" %}
{% set profileSecondaryName = "" %}
{% set profileDescription = "Border Force officers protect UK border entry points like ports and airports, by enforcing immigration and customs regulations." %}
{% set salaryLow = "22,500" %}
{% set salaryHigh = "39,000" %}
{% set hoursRange = "38 - 42" %}
{% set hoursDetail = "Shift/rota" %}
{% set patternValue = "Evenings & weekends" %}
{% set patternDescription = "" %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large jp-heading">How to become</h2>
    <p>There are a number of options and routes which could allow you to become a Border Force officer.</p>
    <div class="htb-section" id="apprenticeships">
        <h3>Apprenticeships</h3>
        <div class="content">

            <p>You may be able to become an assistant officer through an advanced apprenticeship in operational delivery.</p>


            <h4 class="heading-small">Requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list list-bullet">
                <li>5 GCSEs at grades 9 to 4 (A* to C)</li>
            </ul>


            <h4 class="heading-small">More information</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.gov.uk/apprenticeships-guide/overview">Find out more about advanced apprenticeships</a></li>
                <li><a class="htb-feature" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Look for an assistant officer apprenticeship near you</a></li>
                <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">You may be able to use equivalent level qualifications to get onto a course.</a></li>
            </ul>
        </div>

    </div>



    <div class="htb-section" id="workup">
        <h3>Work your way up</h3>
        <div class="content">

            <p>You could start out as an assistant officer and work your way up to officer.</p>
            <h4 class="heading-small">Requirements</h4>
            <p>You'll usually need:</p>
            <ul class="list list-bullet">
                <li>5 GCSEs at grades 9 to 4 (A* to C)</li>
            </ul>

            <h4 class="heading-small">More information</h4>
            <ul class="list list-arrow">
                <li><a class="htb-feature" href="https://www.gov.uk/government/organisations/civil-service/about/recruitment">Read more about working for the Civil Service.</a></li>
            </ul>
        </div>
    </div>


</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
        <p>You'll need:</p>
        <ul class="list list-bullet">
            <li>excellent communication skills for working with the public, police and courts</li>
            <li>observational skills and an eye for detail when gathering information</li>
            <li>the ability to make well balanced decisions</li>
            <li>the confidence to manage challenging situations</li>
            <li>a calm and professional manner</li>
            <li>the ability to lead others</li>
            <li>teamworking skills</li>
        </ul>
</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>
        <p>You'll protect UK border entry points like ports, airports, postal depots and the rail network.</p>
        <p>You'll check passengers for immigration control purposes, and you'll enforce customs regulations by making sure the right tax is paid on goods. You'll also be looking for and removing illegal items like drugs, firearms, and counterfeit goods.</p>
        <p>Your duties will depend on which part of the country you're based in. Your day-to-day work could include:</p>
        <ul class="list list-bullet">
            <li>checking travel documents and passports</li>
            <li>questioning passengers about their travel plans, and deciding if they need further questioning</li>
            <li>searching people, luggage and vehicles</li>
            <li>writing case notes</li>
            <li>working with the police on major cases</li>
            <li>attending court as a witness</li>
        </ul>
        <p>You might also take part in counter-terrorism activities or prevention of human trafficking.</p>

    </section>

<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Career path and progression</h2>
        <p>You'll get continuous training during your first 6 to 12 months. Once you've developed your skills and passed your probationary period, you'll have the full responsibilities of a <a href="https://www.gov.uk/government/organisations/border-force">Border Force </a>officer.</p>
        <p>With experience you could then become a team leader, or move into a management position. You could also use your skills in training and working with new staff.</p>
        <p>You may also be able to apply for roles in other departments of the <a href="https://www.gov.uk/government/organisations/home-office">Home Office </a>or <a href="https://www.gov.uk/government/organisations/civil-service/about/recruitment">Civil Service.</a></p>

    </section>

<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large jp-heading">Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>




<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















