{% extends "../jobprofile-htb.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Security officer" %}
{% set profileSecondaryName = "" %}
{% set profileDescription = "Security officers make sure that buildings, valuables and people are safe and secure." %}
{% set salaryLow = "21,320" %}
{% set salaryHigh = "24,960" %}
{% set hoursRange = "37 - 48" %}
{% set hoursDetail = "A Week" %}
{% set patternValue = "Evenings / weekends / bank holidays" %}
{% set patternDescription = "On shifts" %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large jp-heading jp-heading-first">How to become</h2>

    <p>You could develop the skills you need for this role by:</p>
    <ul class="list list-bullet">
        <li>studying at university or college</li>
        <li>doing an apprenticeship</li>
        <li>getting paid or voluntary work experience</li>
    </ul>

    <p>When you're applying for work, you'll need to have evidence of your skills and technical abilities through a portfolio, or online testimonies.</p>


    <!-- Uni Section -->
    <div class="htb-section" id="university">
        <h3>University</h3>
        <p>You could do a foundation degree, Higher National Diploma (HND) or degree. Relevant subjects include:</p>
        <ul class="list list-bullet">
            <li>web design and development</li>
            <li>computer science</li>
            <li>digital media development</li>
            <li>software engineering</li>
        </ul>

        <h4 class="heading-small">Requirements</h4>
        <p>You'll usually need:</p>
        <ul class="list list-bullet">
            <li>2 to 3 A levels for a degree</li>
        </ul>

        <h4 class="heading-small">More information</h4>
        <ul class="list list-arrow">
            <li><a class="htb-feature" href="https://www.ucas.com/">UCAS has information on degree courses and entry requirements.</a></li>
            <li><a class="htb-feature" href="https://www.gov.uk/student-finance">You can apply for student finance to cover fees and living costs.</a></li>
        </ul>

    </div>


    <!-- College Section -->
    <div class="htb-section" id="college">
        <h3>College</h3>
        <p>You could do a level 2, 3 or 4 course in web development. These can last from a few months to a year.</p>


        <h4 class="heading-small">Requirements</h4>
        <p>You'll usually need:</p>
        <ul class="list list-bullet">
            <li>5 GCSEs at grades 9 to 4 (A* to C) including English and maths</li>
        </ul>

        <h4 class="heading-small">More information</h4>
        <ul class="list list-arrow">
            <li><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help">You may be able to get financial help to do a course.</a></li>
            <li><a class="htb-feature" href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find a web development course near you.</a></li>
        </ul>
    </div>


    <!-- Apprenticeships -->
    <div class="htb-section" id="apprenticeships">
        <h3>Apprenticeship</h3>

        <p>There are 3 levels of apprenticeship you could do in IT, software, web and telecoms professionals. These are <a href="https://www.gov.uk/apprenticeships-guide">intermediate, advanced and higher apprenticeship</a>. These could take up to 2 and a half years to complete.</p>
        <p>Alternatively, if you have A levels, you could go straight into a higher apprenticeship lasting 18 months.</p>

        <h4 class="heading-small">Requirements</h4>
        <p>You'll usually need:</p>
        <ul class="list list-bullet">
            <li>5 GCSEs at grades 9 to 4 (A* to C) including English and maths</li>
            <li>2 to 3 A levels for a higher apprenticeship</li>
        </ul>


        <h4 class="heading-small">More information:</h4>
        <ul class="list list-arrow">
            <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">You may be able to use equivalent level qualifications to get onto a course.</a></li>
        </ul>


    </div>



    <!-- Work -->
    <div class="htb-section" id="workexp">
        <h3>Work your way up</h3>

        <p>You could get a job in IT at any level and then work your way up. You could learn on the job, or take part-time qualifications online or at college.</p>
        <p>You could also get the skills you need by&nbsp;<a href="https://do-it.org/">volunteering</a> to set up a website for a charity or an event.</p>

    </div>

    <!-- More info -->
    <div class="htb-section" id="moreinfo">
        <h3>More information</h3>
        <p>Further information about becoming a web developer can be found at the links below</p>
        <ul class="list list-arrow">
            <li>
                <a class="htb-feature" href="https://www.thetechpartnership.com/tech-future-careers/what-is-it-like/">
                    Tech Future Careers has more information on tech roles including web development.
                </a>
            </li>
            <li>
                <a class="htb-feature" href="http://www.bubble-jobs.co.uk/career_portal/">
                    Find out more about getting into a digital career from the Bubble Digital Career Portal.
                </a>
            </li>
        </ul>

    </div>


</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>


    <p>You'll need:</p>
    <ul class="list list-bullet">
        <li>an honest and responsible attitude</li>
        <li>excellent communication and customer care skills</li>
        <li>the confidence to challenge people in a polite but firm manner</li>
        <li>the ability to use your initiative in an emergency</li>
        <li>technical ability to use security equipment like CCTV</li>
        <li>literacy skills for writing short reports and following written instructions</li>
        <li>
            the ability to work alone as well as in a team
        </li>
    </ul>

</section>



<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>
    <p>
        Your role will vary depending on the industry you work in, and could include:
    </p>
    <ul>
        <li>patrolling, securing and monitoring premises</li>
        <li>guarding cash or other valuables in a security vehicle</li>
        <li>airport security including searching aircraft, passengers and luggage, and guarding the airport boundaries</li>
        <li>supervising on the door for a large organisation</li>
    </ul>
    <p>You'll need a driving licence for some jobs. You'll also need a reasonable level of physical fitness.</p>
</section>

<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Career path and progression</h2>

    <p>With experience, you could progress to senior or chief security officer, then supervisor.</p>
    <p>With further qualifications you could go into security management or training, or set up your own security company.</p>
</section>

<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large jp-heading">Current opportunities</h2>
    <div class="grid-row" id="appGeneric">
        <div class="column-full">
            <h3 class="heading-medium">
                Apprenticeships
                <span class="heading-secondary">In England</span>
            </h3>
        </div>
        <div class="column-half">
            <div class="panel panel-border-narrow opportunity-item">
                <h4 class="heading-small">
                    <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/633372">RAF Police - Intermediate Apprenticeship in Providing Security Services</a>
                </h4>
                <ul class="list">
                    <li><span class="bold-small">Wage:</span> &pound;14,931.00 - &pound;18,489.00</li>
                    <li><span class="bold-small">Location:</span> York YO30 2AJ</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="dfc-code-jp-vacancyText">
        <p>
            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
        </p>
    </div>

    <div class="grid-row dfc-code-jp-trainingCourse">
        <div class="column-full">
            <h3 class="heading-medium">
                Training courses
                <span class="heading-secondary">In England</span>
            </h3>
        </div>
        <div class="column-half">
            <div class="panel panel-border-narrow opportunity-item">
                <h3 class="heading-small">
                    <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=54987479">Principles of Providing Security Services</a>
                </h3>
                <ul class="list">
                    <li><span class="bold-small">Provider:</span> GLOUCESTERSHIRE COLLEGE</li>
                    <li><span class="bold-small">Start date:</span> 04 June 2018</li>
                    <li><span class="bold-small">Location:</span> CHELTENHAM</li>
                </ul>
            </div>
        </div>
        <div class="column-half">
            <div class="panel panel-border-narrow opportunity-item">
                <h3 class="heading-small">
                    <a href="https://nationalcareersservice.direct.gov.uk/course-directory/course-details?courseid=54987476">Principles of Providing Security Services</a>
                </h3>
                <ul class="list">
                    <li><span class="bold-small">Provider:</span> GLOUCESTERSHIRE COLLEGE</li>
                    <li><span class="bold-small">Start date:</span> 09 July 2018</li>
                    <li><span class="bold-small">Location:</span> Cheltenham</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="dfc-code-jp-TrainingCoursesText">
        <p>
            <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Find courses near you</a>
        </p>
    </div>
</section>

<p class="grey font-xsmall">Last updated: 23 March 2016</p>


{% endblock %}















