{% extends "../jobprofile-htb.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Software developer" %}
{% set profileSecondaryName = "Programmer" %}
{% set profileDescription = "Software developers design, build and test computer programmes for business, education and leisure activities." %}
{% set salaryLow = "39,000" %}
{% set salaryHigh = "46,000" %}

{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "Mon - Fri" %}

{% set patternValue = "Weekends" %}
{% set patternDescription = "" %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large jp-heading">How to become</h2>
    <p>You could:</p>
    <ul class="last list-bullet">
        <li>do an apprenticeship</li>
        <li>do a degree</li>
        <li>teach yourself</li>
    </ul>
    <p></p>

    <!-- Apprenticeships -->
    <div class="htb-section" id="apprenticeships">
        <h3>Apprenticeships</h3>
        <div class="content">
            <div class="htb-boxes">
                <div class="htb-box">
                    <i class="far fa-clock"></i>
                    <span>Typically takes</span>
                    <p>12-18 months</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-pound-sign"></i>
                    <span>Estimated costs</span>
                    <p>Paid</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Min. qualifications</span>
                    <p>5 GCSEs</p>
                </div>
            </div>
            <p>You could do an <a href="https://www.gov.uk/apprenticeships-guide/overview">advanced apprenticeship as a software development technician</a>. </p>
            <p>It will usually take 12 to 18 months. </p>
            <p>You can then move onto a higher apprenticeship as a <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">software developer</a>. This can take between 1 and 4 years.</p>

            <h4 class="heading-small">Requirements:</h4>
            <p>You'll usually need 4 or 5 GCSEs including English and maths at grades 9 to 4 (A* to C) <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">or equivalent qualifications</a>, plus some programming ability or a strong interest in the subject.</p>


            <h4 class="heading-small">Next steps:</h4>

            <div class="htb-feature">
                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">
                    <i class="fas fa-link"></i>
                    <p>Look for a software development apprenticeships near you </p>
                </a>
            </div>
        </div>
    </div>


    <!-- University Section -->
    <div class="htb-section" id="university">
        <h3>University</h3>
        <div class="content">
            <div class="htb-boxes">
                <div class="htb-box">
                    <i class="far fa-clock"></i>
                    <span>Typically takes</span>
                    <p>2-3 Years</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-pound-sign"></i>
                    <span>Estimated costs</span>
                    <p>Course fees</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Min. Qualifications</span>
                    <p>5 GCSEs</p>
                </div>
            </div>
            <p>You could do a foundation degree, higher national diploma (HND) or a degree in a subject like:</p>
            <ul class="list list-bullet">
                <li>computer science</li>
                <li>information technology</li>
                <li>software development</li>
                <li>software engineering</li>
                <li>maths</li>
                <li>business information systems</li>
            </ul>
            <h4 class="heading-small">Requirements:</h4>
            <p>To do a degree you'll usually need at least:</p>
            <ul class="list list-bullet">
                <li>5 GCSEs at grades 4 (C) or above, including English language</li>
                <li>2 A levels (any subjects)</li>
            </ul>
            <p>Check with course providers for exact entry requirements. You might be able to use <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent level qualifications</a>&nbsp;to get onto a course.</p>

            <h4 class="heading-small">Next steps:</h4>
            <div class="htb-feature">
                <a href="https://www.ucas.com">
                    <i class="fas fa-link"></i>
                    <p>UCAS has information on degree courses and entry requirements.</p>
                </a>
            </div>
            <div class="htb-feature">
                <a href="https://www.gov.uk/student-finance">
                    <i class="fas fa-link"></i>
                    <p>You can apply for student finance to cover fees and living costs.</p>
                </a>
            </div>

            <div class="htb-feature">
                <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">
                    <i class="fas fa-link"></i>
                    <p>Find a college course near you.</p>
                </a>
            </div>

            <div class="htb-feature">
                <a href="https://www.gov.uk/further-education-courses/financial-help">
                    <i class="fas fa-link"></i>
                    <p>You may be able to get financial help to study at college.</p>
                </a>
            </div>
        </div>
    </div>



    <!-- Home study -->
    <div class="htb-section" id="home">
        <h3>Home study</h3>
        <div class="content">
            <div class="htb-boxes">
                <div class="htb-box">
                    <i class="far fa-clock"></i>
                    <span>Typically takes</span>
                    <p>? Years</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-pound-sign"></i>
                    <span>Estimated costs</span>
                    <p>Paid</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Min. Qualifications</span>
                    <p>None</p>
                </div>
            </div>
            <p>Many software developers teach themselves and there are many free online learning resources available.</p>
            <p>Particularly if you have taught yourself, companies will look to see if you are someone who understands programming languages and frameworks, project management and software development methods.</p>

            <div class="htb-feature">
                <a href="http://www.bcs.org">
                    <i class="fas fa-link"></i>
                    <p>The Chartered Institute for IT (BCS) has more information about training and qualifications.</p>
                </a>
            </div>

        </div>
    </div>

</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">Skills required</h2>
    <p>You'll need:</p>
    <ul class="list list-bullet">
        <li>the ability to understand the development process</li>
        <li>some programming knowledge</li>
        <li>the ability to work under pressure and to deadlines</li>
        <li>maths skills</li>
    </ul>

</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>
    <p>You could work in a wide range of businesses and industries, public services, utilities, defence and research.</p>
    <p>You'll work closely with project managers, business analysts and graphic designers, to find out what the client wants and the best way to achieve it.</p>
    <p>Usually, you'll work in a team.</p>
    <p>You could work on a wide variety of projects, from financial databases to robotics to apps for phones and tablets. You may use a number of programming languages or project management tools.</p>
    <p>Your day-to-day tasks may include:</p>
    <ul class="list list-bullet">
        <li>talking through requirements with the client and the development team</li>
        <li>taking part in technical design and progress meetings</li>
        <li>writing or amending computer code</li>
        <li>testing software and fixing problems</li>
        <li>keeping accurate records of the development process, changes and results</li>
        <li>carrying out trials and quality checks before release</li>
        <li>maintaining and supporting systems once they're up and running</li>
    </ul>
    <p>As an experienced developer, you may supervise a programming team and provide feedback on coding work.</p>

</section>



<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Career path and progression</h2>
    <p>With experience, you could become a senior developer, with team or project management, planning or research responsibilities. You could move into related areas like systems design, IT architecture and business systems analysis.</p>
    <p>You could also set up your own business or work as a consultant.</p>

</section>

<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large jp-heading">Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>


<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















