{% extends "../layout.html" %}

{% block page_title %}
	Service Green
{% endblock %}

{% block content %}

<main id="content" role="main">
     {% include "../includes/phase_banner_beta.html" %}

     <div class="breadcrumbs">
          <ol>
               <li><a href="../PROD_homepage.html">Home</a></li>
          </ol>
     </div>

     <div class="grid-row">

          <div class="column-two-thirds">

               <h1 class="heading-xlarge">Engineering and maintenance</h1>
               <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

               <div class="js-hidden" data-module="accordion-with-descriptions">
                    <div class="subsection-wrapper">
                         <div class="subsection js-subsection">
                              <div class="subsection__header">
                                   <h2 class="subsection__title" id="designing-government-services">Sub-category one</h2>
                                   <!-- <p class="subsection__description">5 job profiles</p> -->
                                   <span class="subsection__icon"></span>
                              </div>
                              <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
                                   <ul class="subsection__list">
                                        <li class="category-job subsection__list-item">
                                             <h2 class="heading-small category-job__title"><a href="#1" class="prototype-link">Interpreter</a></h2>
                                             <h3 class="category-job__alt-titles">Alternative titles</h3>
                                             <p class="category-job__overview">Interpreters convert the spoken word from one language into another, either face-to-face or remotely.</p>
                                        </li>
                                        <li class="category-job subsection__list-item">
                                             <h2 class="heading-small category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Police Officer</a></h2>
                                             <h3 class="category-job__alt-titles">Alternative titles</h3>
                                             <p class="category-job__overview">A police officer keeps law and order, investigates crime and supports crime prevention.</p>
                                        </li>
                                        <li class="category-job subsection__list-item">
                                             <h2 class="heading-small category-job__title"><a href="#1" class="prototype-link">Registrar of Births, Deaths, Marriages and Civil Partnerships</a></h2>
                                             <h3 class="category-job__alt-titles">Alternative titles</h3>
                                             <p class="category-job__overview">Registrars collect and record details of all births, deaths, marriages and civil partnerships.</p>
                                        </li>
                                        <li class="category-job subsection__list-item">
                                             <h2 class="heading-small category-job__title"><a href="#1" class="prototype-link">Border Force Officer</a></h2>
                                             <h3 class="category-job__alt-titles">Alternative titles</h3>
                                             <p class="category-job__overview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
                                        </li>
                                        <li class="category-job subsection__list-item">
                                             <h2 class="heading-small category-job__title"><a href="#1" class="prototype-link">Paramedic</a></h2>
                                             <h3 class="category-job__alt-titles">Alternative titles</h3>
                                             <p class="category-job__overview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
                                        </li>
                                   </ul>
                              </div>
                         </div>
                         <div class="subsection js-subsection">
                              <div class="subsection__header">
                                   <h2 class="subsection__title" id="designing-government-services">Sub-category two</h2>
                                   <!-- <p class="subsection__description">7 job profiles</p> -->
                                   <span class="subsection__icon"></span>
                              </div>
                              <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
                                   <ul class="subsection__list">
                                        <li class="subsection__list-item category-job">
                                             <h2 class="heading-small category-job__title"><a href="#1" class="prototype-link">Border Force Officer</a></h2>
                                             <h3 class="category-job__alt-titles">Alternative titles</h3>
                                             <p class="category-job__overview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
                                        </li>
                                        <li class="subsection__list-item category-job">
                                             <h2 class="heading-small category-job__title"><a href="#1" class="prototype-link">Paramedic</a></h2>
                                             <h3 class="category-job__alt-titles">Alternative titles</h3>
                                             <p class="category-job__overview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
                                        </li>
                                        <li class="subsection__list-item category-job">
                                             <h2 class="heading-small category-job__title"><a href="#1" class="prototype-link">Care worker</a></h2>
                                             <h3 class="category-job__alt-titles">Alternative titles</h3>
                                             <p class="category-job__overview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
                                        </li>
                                        <li class="subsection__list-item category-job">
                                             <h2 class="heading-small category-job__title"><a href="#1" class="prototype-link">Refuse Collector</a></h2>
                                             <h3 class="category-job__alt-titles">Alternative titles</h3>
                                             <p class="category-job__overview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
                                        </li>
                                        <li class="subsection__list-item category-job">
                                             <h2 class="heading-small category-job__title"><a href="#1" class="prototype-link">Funeral Director</a></h2>
                                             <h3 class="category-job__alt-titles">Alternative titles</h3>
                                             <p class="category-job__overview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
                                        </li>
                                        <li class="subsection__list-item category-job">
                                             <h2 class="heading-small category-job__title"><a href="#1" class="prototype-link">Firefighter</a></h2>
                                             <h3 class="category-job__alt-titles">Alternative titles</h3>
                                             <p class="category-job__overview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
                                        </li>
                                        <li class="subsection__list-item category-job">
                                             <h2 class="heading-small category-job__title"><a href="#1" class="prototype-link">Midwife</a></h2>
                                             <h3 class="category-job__alt-titles">Alternative titles</h3>
                                             <p class="category-job__overview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut fringilla orci.</p>
                                        </li>
                                   </ul>
                              </div>
                         </div>  
                         <!-- <div class="subsection js-subsection">
                              <div class="subsection__header">
                                   <h2 class="subsection__title" id="designing-government-services">Sub-category one</h2>
                                   <p class="subsection__description">Introduction, scoping, naming and prototyping.</p>
                                   <span class="subsection__icon"></span>
                              </div>
                              <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
                                   <ul class="subsection__list">
                                        <li class="subsection__list-item">
                                             <a href="#1">Introduction: designing government services</a>
                                        </li>
                                   </ul>
                              </div>
                         </div>  -->                         
                   </div>
               </div>
          </div>
          <div class="column-one-third">
               <div class="PROD_govuk-related-items">
                    <h2 class="heading-medium">Other job categories</h2>
                    <div class="related-gov-links">
                         <ul class="font-xsmall">
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Administration</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Animal care</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Beauty and wellbeing</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Business and finance</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Delivery and storage</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Computing, technology and digital</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Construction and trades</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Creative and media</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Emergency and uniform services</a></li>
                              <!-- <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Engineering and maintenance</a></li> -->
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Environment and land</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Government services</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Healthcare</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Hospitality and food</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Legal</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Managerial</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Manufacturing</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Retail and sales</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Science and research</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Social care</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Sports and leisure</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Teaching and education</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Transport</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Travel and tourism</a></li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
</main>

<script src="/public/_sprint6/javascripts/jquery-1.11.3.js"></script>
<script src="/public/_sprint6/javascripts/service-manaul.js"></script>


{% endblock %}
