@import 'node_modules/govuk_frontend_toolkit/stylesheets/colours.scss';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/conditionals.scss';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/grid_layout.scss';

/* ----------------------------------------------------
Job categories on homepage
----------------------------------------------------- */

.category-list {
	li {
		margin-bottom: 0.526em;
	}
	a {
		font-weight: bold;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&.selected {
			font-weight: bold;
			color: $grey-1 !important;
			cursor: default;

			&:hover {
				text-decoration: none;
			}
		}		
	}	
}


.browse-aside {
	display: none;
	border-right:1px solid $grey-2;

	@media (min-width: 641px) {
		display: block;
	    margin-bottom:45px;
	}

	@media (min-width: 641px) {
	    margin-top:45px;
	}

	.browse-aside__header {
		padding-left:15px;
		font-weight: 700;
		font-size: 19px;
		margin-bottom: 10px;
	}
	.browse-aside__list {

	}
	.browse-aside__list-item {
		position: relative;
		a {
			font-size: 16px;
			display: block;
			padding:10px 30px 8px 15px;
			text-decoration: none;
			&::after {
			    position: absolute;
			    top: 50%;
			    margin-top: -10px;
			    right: 10px;
			    float: right;
			    content: "\203A";
			}
			&:hover, &:focus {
				background: $grey-3;
			}
		}

		&--selected {
			a {
				color: $page-colour;
				background: $link-colour;
				&:hover, &:focus {
					color: $page-colour;
					background: $link-colour;
				}
			}
		}
	}
}

/* ----------------------------------------------------
Job categories - individual items
----------------------------------------------------- */

.category-job {
	margin-bottom: 1.5789em;
	.heading-medium {
		margin-bottom: 0px;
	}
	&__title {
		margin-top:0px;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__alt-titles {
		color:$secondary-text-colour;
		font-size: 14px;
		@include media(tablet) {
			font-size: 16px;
		}
	}
	&__overview {
		margin-bottom: 0px;
	}
}

/* ----------------------------------------------------
Back to top button
----------------------------------------------------- */

#back-to-top {
	position: fixed;
	bottom:0px;
	right:0px;
	padding:0.6em;
	margin-right:15px;
	background: $link-colour;
	.js-enabled & {
		@include media(tablet) {
			display: none;
		}		
	}
	a {
		color: $page-colour;
	} 	
}

/* ----------------------------------------------------
Searh results
----------------------------------------------------- */

.search-result, .category-job {
	.heading-medium {
		margin-bottom: 0.1em !important;
		padding-bottom:0px; 
		a {
			text-decoration: none;
		}

	}
	p {
		margin-bottom: 0.3em !important;
		&.meta {
			margin-bottom: 0.4em !important;
		}		
	}

}
