{% extends "../../../layout_search.html" %}

{% block page_title %}
  Service Green
{% endblock %}

{% block content %}

<main id="content" role="main">
		<div class="breadcrumbs">
			<ol>
				<li><a href="#1">Home</a></li>
				<li><a href="#1">Job profiles</a></li>
				
				<li><a href="../../social-worker_v2">Social worker</a></li>
				<li>Education</li>
			</ol>
		</div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">
                	<span class="heading-secondary">Finding education</span>
	                Social worker
                </h1>

                <p>Blurb about using this page and generic information about searching for a education</p>           

                <section>
	                <h2 class="heading-large">Undergraduate level</h2>
	                <p>Blurb about undergraduate level courses</p>
	                <a href="education/undergraduate">Finding a undergraduate course</a>
				</section>  

                <section>
	                <h2 class="heading-large">Postgraduate level</h2>
	                <p>Blurb about postgraduate level courses</p>
	                <a href="education/postgraduate">Finding a postgraduate course</a> 
				</section>    
            </div>
            <div class="column-one-third">
				<aside class="govuk-related-items" role="complementary">
				    <h2 class="heading-medium" id="related-gov-links">
				    Other paths to becoming a Social worker</h2>
				    <nav aria-labelledby="related-gov-links" role="navigation">
				        <ul class="font-xsmall list">				   
				            <li>
				                <a href="apprenticeship">Apprenticeship</a>
				            </li>
				            <li>
				                <a href="graduate">Graduate scheme</a>
				            </li>
				            <li>
				                <a href="volunteer">Volunteering</a>
				            </li>
				            <li>
				                <a href="job">Job</a>
				            </li>				         
				        </ul>
				    </nav>
				</aside>
            </div>
        </div>
    </main>

{% endblock %}
