<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DFCS - Workflow</title>
    <meta name="description" content="MK Health Hub V1">
    <!-- Fonts -->
    <script>
    (function (d) {
        var config = {
            kitId: 'jbt4lqa',
            scriptTimeout: 3000,
            async: true
        },
            h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
    })(document);
    </script>
    <!-- CSS -->
    <link href="/public/_sprint11/stylesheets/workflow.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1>DFCS - <span>Team Workflow</span></h1>
    </header>
    <main>
        <section class="spacer"></section>
        <section id="ideas" class="clearfix">
            <div class="box teambox arrowdown">"How to guide" for idea creation<span>How to guide needs creation</span></div>
            <div class="box urbox arrowdown">User need identified</div>
            <div class="box teambox arrowdown">Add idea to Ideas Board</div>
            <div class="box meetbox arrowdown">Group discussion to fully understand idea / Ideas Backlog Refinement</div>
            <div class="box pobox arrowdown">Selects / prioritises ideas</div>
            <div class="box urbox arrownone">Plan &amp; produce initial research<span>Methodology, resource, cost, time</span></div>
            <div class="box boxempty arrowdown"></div>
            <div class="pushright clearfix">
                <div class="box dabox arrownone">Validation Of Hypothesis</div>
            </div>
            <div class="box pobox arrowright">Product Owner Approval</div>
            <div class="box boxempty arrowdown"></div>
            <div class="pushright clearfix">
                <div class="box urbox arrownone">Get research costs signed off</div>
            </div>
            <div class="box meetbox arrowdown">DC Backlog Refinement</div>
            <ol class="dod">
                <h4>Definition Of Done</h4>
                <li>Written as a design story - <strong>As a Citizen/Advisor/Content Author I can...</strong></li>
                <li>User Need has been verified</li>
                <li>List of ideas/starting points of how the need might be met</li>
                <li>Clear/defined User Acceptance Criteria, i.e. it is done when</li>
                <li>Enough of a scope to "estimate" it, to include Methodology/research pattern</li>
                <li>Expected output/deliverable</li>
                <li>Idea refined and ready to be sized as DC Story</li>
                <li>PO approval for DC</li>
            </ol>
        </section>
        <section id="dc" class="clearfix">
            <div class="box babox arrowdown">Story created in DC backlog</div>
            <div class="box urbox arrowdown">User acceptance criteria &amp; Trello updated</div>
            <div class="box teambox arrowright arrowcontent">Group Discussion <span>Is the story content focused or visual focused?</span></div>
            <div class="box boxempty arrowdownvisual"></div>
            <div class="pushright">
                <div class="box contentbox arrowdown">Define user journey through content design</div>
                <div class="box contentbox arrowdown">Story created in DC backlog</div>
                <div class="box contentbox arrowdouble">Find existing evidence of GDS research</div>
                <div class="box contentbox arrowdownright arrowexisting doubleleft">Use existing pattern / work from existing pattern</div>
                <div class="box contentbox arrowdownleft arrownoexisting doubleright">Propose content driven visuals</div>
                <div class="box contentbox arrowdownandleft">Request content container from visual design team</div>
            </div>
            <div class="box visualbox arrowdown">Define user journey through visual design</div>
            <div class="box visualbox arrowdouble">Find existing evidence of GDS research</div>
            <div class="box boxempty arrowdoublepatterns"></div>
            <div class="box visualbox arrowdown doubleleft">Use existing pattern / work from existing pattern</div>
            <div class="box visualbox arrowdown doubleright">Engage with GDS /Find external research</div>
            <div class="box visualbox arrowdownright doubleleft">Straight into HTML Prototyping</div>
            <div class="box visualbox arrowdownleft doubleright">Begin to evaluate research & sketch/prototype</div>
            <div class="box visualbox arrowdown">Design<br />&amp;<br />Get team feedback</div>
            <div class="box teambox arrowdown">Final version approved by team</div>
            <div class="box urbox arrowdown">Final version approved by team</div>
            <div class="box visualbox arrowdown">Create final prototype for user research / lab testing</div>
            <div class="box urbox arrowright arrowoutput">User research takes place (lab test)</div>
            <div class="box boxempty arrowdouble arrowsuccess"></div>
            <div class="pushright clearfix">
                <div class="box urbox arrownone">New user needs / ideas generated</div>
            </div>
            <div class="box urbox arrowdownright doubleleft">Research written up on Confluence</div>
            <div class="box teambox doubleright">Return to design stage</div>
            <div class="box teambox ">Does it need Dev work?</div>
            <div class="box boxempty arrowdouble arrowdoubleyesno"></div>
            <div class="box babox arrowdownright doubleleft ">Straight into HTML Prototyping</div>
            <div class="box babox doubleright arrowdownleft">Begin to evaluate research & sketch/prototype</div>
            <ol class="dod">
                <h4>Definition Of Done</h4>
                <li>Has met User Acceptance Criteria (validated)</li>
                <li>Finalised Prototype & Content </li>
                <li>Assisted Digital needs considered and met (AD needs cannot be 100% met here but in Dev)</li>
                <li>Ongoing Analytics and User Research plan/spec</li>
                <li>PO approval - Evidence of User Research</li>

</ol>
        </section>
        <section id="dev" class="clearfix">
            <div class="box pobox arrowdown">Product Owner Approval</div>
            <div class="box visualbox arrowdown">Front end HTML/CSS created</div>
            <div class="box devbox arrowdown">Dev space</div>
            <div class="box teambox ">Show &amp; Tell</div>
            <ol class="dod">
                <h4>Definition Of Done</h4>
                <li>Identification to whether the story is architecturally significant or not</li>
                <li>Include examples where necessary</li>
                <li>Screenshots, with relevant sections that are referred to in the story highlighted</li>
                <li>Correct Prototype attached (including Content)</li>
                <li>Understand dependencies if applicable</li>
                <li>Status Updated</li>
                <li>Reviewed and Approved by PO</li>
            </ol>
        </section>


    </main>
    <footer id="footer"></footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>