{% extends "../layout.html" %}

{% block page_title %}
	Service Green
{% endblock %}

{% block content %}

<main id="content" role="main">
     {% include "../../includes/phase_banner_beta.html" %}

     <div class="breadcrumbs">
          <ol>
               <li><a href="#1">Home</a></li>
          </ol>
     </div>

     <div class="grid-row">
          <div class="column-two-thirds">

               <h1 class="heading-xlarge">Engineering and maintenance</h1>
               <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

               <div class="paginated-page" id="page1">
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="#1" class="prototype-link">Vet</a></h2>
                         <h3 class="category-job__alt-titles">Veterinary surgeon, veterinarian</h3>
                         <p class="category-job__overview">Vets diagnose and treat sick or injured animals.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="#1" class="prototype-link">Veterinary nurse</a></h2>
                         <!-- <h3 class="category-job__alt-titles">Alternative titles</h3> -->
                         <p class="category-job__overview">Veterinary nurses work with vets to provide nursing care for sick and injured animals.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="#1" class="prototype-link">Zookeeper</a></h2>
                         <h3 class="category-job__alt-titles">Keeper, animal keeper, zoo keeper</h3>
                         <p class="category-job__overview">Zookeepers look after animals in zoos, safari parks and aquariums.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="#1" class="prototype-link">Vet</a></h2>
                         <h3 class="category-job__alt-titles">Veterinary surgeon, veterinarian</h3>
                         <p class="category-job__overview">Vets diagnose and treat sick or injured animals.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="#1" class="prototype-link">Veterinary nurse</a></h2>
                         <!-- <h3 class="category-job__alt-titles">Alternative titles</h3> -->
                         <p class="category-job__overview">Veterinary nurses work with vets to provide nursing care for sick and injured animals.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="#1" class="prototype-link">Zookeeper</a></h2>
                         <h3 class="category-job__alt-titles">Keeper, animal keeper, zoo keeper</h3>
                         <p class="category-job__overview">Zookeepers look after animals in zoos, safari parks and aquariums.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="#1" class="prototype-link">Vet</a></h2>
                         <h3 class="category-job__alt-titles">Veterinary surgeon, veterinarian</h3>
                         <p class="category-job__overview">Vets diagnose and treat sick or injured animals.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="#1" class="prototype-link">Veterinary nurse</a></h2>
                         <!-- <h3 class="category-job__alt-titles">Alternative titles</h3> -->
                         <p class="category-job__overview">Veterinary nurses work with vets to provide nursing care for sick and injured animals.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="#1" class="prototype-link">Zookeeper</a></h2>
                         <h3 class="category-job__alt-titles">Keeper, animal keeper, zoo keeper</h3>
                         <p class="category-job__overview">Zookeepers look after animals in zoos, safari parks and aquariums.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="#1" class="prototype-link">Zookeeper</a></h2>
                         <h3 class="category-job__alt-titles">Keeper, animal keeper, zoo keeper</h3>
                         <p class="category-job__overview">Zookeepers look after animals in zoos, safari parks and aquariums.</p>
                    </div>
               </div>

               <div class="paginated-page js-hidden" id="page2">
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="#1" class="prototype-link">Veterinary nurse</a></h2>
                         <!-- <h3 class="category-job__alt-titles">Alternative titles</h3> -->
                         <p class="category-job__overview">Veterinary nurses work with vets to provide nursing care for sick and injured animals.</p>
                    </div>
                    <div class="category-job">
                         <h2 class="heading-medium category-job__title"><a href="#1" class="prototype-link">Vet</a></h2>
                         <h3 class="category-job__alt-titles">Veterinary surgeon, veterinarian</h3>
                         <p class="category-job__overview">Vets diagnose and treat sick or injured animals.</p>
                    </div>
               </div>

               <div class="pagination" id="searchResultsPagination">
                    <ul class="previous-next-navigation">
                         <li class="next">
                              <a href="#1" id="nextBtn">
                                   <span class="pagination-label">Next</span>
                                   <span class="visuallyhidden">page</span>
                                   <span class="page-numbers">2 of Number of Pages</span>
                              </a>
                         </li>
                         <li class="previous">
                              <a href="#1" id="prevBtn">
                                   <span class="pagination-label">Previous</span>
                                   <span class="visuallyhidden">page</span>
                                   <span class="page-numbers">1 of Number of pages</span>
                              </a>
                         </li>
                    </ul>
               </div>
          </div>
          <div class="column-one-third">
               <div class="PROD_govuk-related-items">
                    <h2 class="heading-medium">Other job categories</h2>
                    <div class="related-gov-links">
                         <ul class="font-xsmall">
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Administration</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Animal care</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Beauty and wellbeing</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Business and finance</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Delivery and storage</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Computing, technology and digital</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Construction and trades</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Creative and media</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Emergency and uniform services</a></li>
                              <!-- <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Engineering and maintenance</a></li> -->
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Environment and land</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Government services</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Healthcare</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Hospitality and food</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Legal</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Managerial</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Manufacturing</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Retail and sales</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Science and research</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Social care</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Sports and leisure</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Teaching and education</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Transport</a></li>
                              <li style="margin-bottom:0.4em"><a href="#1" class="prototype-link">Travel and tourism</a></li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
</main>

<script>

     function paginationClicked(thisDirection) {
          // A delay has been added to mimic page refresh
          delayLoadOfPage = window.setTimeout(function() {
               updatePage(thisDirection);
               updatePaginationModel(thisDirection);
               updatePaginationView();
               nextBtn.blur();
               prevBtn.blur();
          ;}, 700);
     }

     function updatePaginationModel(thisDirection) {
          if (thisDirection === 'next') {
               currentPage = currentPage+1;
               nextPage = nextPage+1;
               prevPage = prevPage+1;
          } else {
               currentPage = currentPage-1;
               nextPage = nextPage-1;
               prevPage = prevPage-1
          }
     }

     function initPaginationModel() {
          currentPage = 1;
          nextPage = 2;
          prevPage = 0;
     }

     function updatePage(thisDirection) {
          if (thisDirection === 'next') {
               thisDirection = nextPage;
          } else {
               thisDirection = prevPage;
          }
          document.getElementById('page' + currentPage).classList.add('js-hidden');
          document.getElementById('page' + thisDirection).classList.remove('js-hidden');
          // Move user to the top of the window as if a new page has loaded
          window.scrollTo( 0, 0);
     }

     function updatePaginationView() {
          // Create labels for next and previous UI
          var nextLabel = nextPage + ' of ' + numberOfPages;
          var prevLabel = prevPage + ' of ' + numberOfPages;

          // Set pagination buttons
          for(i = 0; i < nextBtn.childNodes.length; i++) {
               if(nextBtn.childNodes[i].classList && nextBtn.childNodes[i].classList.contains('page-numbers')) {
                    nextBtn.childNodes[i].innerHTML = nextLabel;
               }
          }
          for(i = 0; i < prevBtn.childNodes.length; i++) {
               if(prevBtn.childNodes[i].classList && prevBtn.childNodes[i].classList.contains('page-numbers')) {
                    prevBtn.childNodes[i].innerHTML = prevLabel;
               }
          }    

          // Hide UI if at beginnig or end
          if (prevPage === 0) {
               prevBtn.parentNode.classList.add('js-hidden');
          } else {
               prevBtn.parentNode.classList.remove('js-hidden');
          }
          if (currentPage === numberOfPages || numberOfPages === 1) {
               nextBtn.parentNode.classList.add('js-hidden');
          } else {
               nextBtn.parentNode.classList.remove('js-hidden');
          }
     } 

     function showHidePagination(){
          if (numberOfPages ===  0){
               document.getElementById('searchResultsPagination').classList.add('js-hidden');
          }
     } 

     function init(){
          // Setup default model
          initPaginationModel();
          showHidePagination();
          // Make sure default button labels are correct
          updatePaginationView();
     }

     var pageNumber = 1;
     var numberOfPages = 2;

     // uploadElement.addEventListener('change', onChange);
     nextBtn.addEventListener('click', function() { paginationClicked('next'); });
     prevBtn.addEventListener('click', function() { paginationClicked('prev'); });

     init();

</script>

{% endblock %}
