{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Border force officer" %}
{% set profileSalaryLow = "23,000" %}
{% set profileSalaryHigh = "31,000" %}
{% set profileHoursLow = "38" %}
{% set profileHoursHigh = "42" %}
{% set profileDescription = "Border Force officers protect UK border entry points like ports and airports, by enforcing immigration and customs regulations." %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large">1. How to become</h2>

    <p>You'll need to:</p>
    <ul class="list list-bullet">
        <li>be a UK national with no restrictions on your stay</li>
        <li>have lived in the UK for the last 5 years</li>
        <li>Pass <a href="https://www.gov.uk/criminal-record-checks-apply-role">enhanced background checks</a> and <a href="https://www.gov.uk/government/publications/national-security-vetting-advice-for-people-who-are-being-vetted">security checks</a></li>
        <li>pass a medical examination</li>
        <li>have a good level of physical fitness</li>
        <li>have a full UK driving licence</li>
    </ul>
    <p>To enter at officer level, you'll also need to have one of the following:</p>
    <ul class="list list-bullet">
        <li>experience of serving in the army or the police</li>
        <li>2 A levels (or equivalent) at grade E or above</li>
    </ul>
    <p>You can apply through the <a href="https://www.gov.uk/government/organisations/civil-service-fast-stream">Civil Service Fast Stream</a> if you have a degree.</p>
    <h3 class="heading-medium">Work</h3>
    <p>You could start out as an assistant officer and work your way up to the officer role. </p>
    <p>To do this you'll usually need 5 GCSEs at grades 9 to 4 (A* to C), including English and maths or <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent qualifications</a>. </p>
    <h3 class="heading-medium">Apprenticeship</h3>
    <p>You may be able to become an assistant officer through an <a href="https://www.gov.uk/apprenticeships-guide/overview">advanced apprenticeship</a> in operational delivery.</p>
    <p>To do this apprenticeship, you'll need GCSEs at grades 9 to 4 (A* to C) in English and maths or <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent qualifications</a>.</p>
    <p>Read more about working for<a href="https://www.gov.uk/government/organisations/civil-service/about/recruitment"> the Civil Service</a>.</p>
</section>

<!--section 2-->
<section id="skills-required">
        <h2 class="heading-large">2. Skills required</h2>

        <p>You'll need:</p>
        <ul class="list list-bullet">
            <li>excellent communication skills for working with the public, police and courts</li>
            <li>observational skills and an eye for detail when gathering information</li>
            <li>the ability to make well balanced decisions</li>
            <li>the confidence to manage challenging situations</li>
            <li>a calm and professional manner</li>
            <li>the ability to lead others</li>
            <li>teamworking skills</li>
        </ul>
</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large">3. What you'll do</h2>

    <p>You'll protect UK border entry points like ports, airports, postal depots and the rail network.</p>
    <p>You'll check passengers for immigration control purposes, and you'll enforce customs regulations by making sure the right tax is paid on goods. You'll also be looking for and removing illegal items like drugs, firearms, and counterfeit goods.</p>
    <p>Your duties will depend on which part of the country you're based in. Your day-to-day work could include:</p>
    <ul class="list list-bullet">
        <li>checking travel documents and passports</li>
        <li>questioning passengers about their travel plans, and deciding if they need further questioning</li>
        <li>searching people, luggage and vehicles</li>
        <li>writing case notes</li>
        <li>working with the police on major cases</li>
        <li>attending court as a witness</li>
    </ul>
    <p>You might also take part in counter-terrorism activities or prevention of human trafficking.</p>
</section>

<!-- Case Study -->
<section>
    <a href="../case-studies/borderforceofficer6" class="casestudy-block">
        <div class="grid-row">
            <div class="column-one-third">
                <img alt="Case Study Image" class="casestudy-image" src="/public/_sprint11/images/casestudyborder.jpg">
            </div>
            <div class="column-two-thirds">
                <h3>Case Study: Seijal</h3>
                <p>Seijal has been a border force office for just over two years. Employed by the Home Office, she came into the role through the Civil Service Fast Stream. </p>
                <span class="casestudy-link">read more...</span>
            </div>
        </div>
        <iframe width="100%" height="355" style="margin-top: 20px;" src="https://www.youtube.com/embed/bdUMkvhjGmk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

    </a>
</section>

<!--section 4 -->
<section id="salary">
    <h2 class="heading-large">4. Salary</h2>

    <p>Starter: £23,000</p>
    <p>Experienced: £27,000</p>
    <p>Highly experienced: £31,000</p>
    <p>Overtime working may mean you can earn more.</p>
    <p>These figures are a guide.</p>

</section>

<!--section 5 -->
<section id="working-hours-patterns-and-environment">
        <h2 class="heading-large">5. Working hours, patterns and environment</h2>

        <p>You'll usually work 40 hours a week on a shift system, which could include nights, weekends and bank holidays.</p>
        <p>You'll mainly work indoors, based at a port or airport, but you'll spend time away when working on investigations or attending court. You'll usually need a full UK driving licence.</p>
        <p>The role can be physically demanding.</p>
</section>

<!--section 6-->
<section id="career-path-and-progression">
        <h2 class="heading-large">Career path and progression</h2>

        <p>You'll get continuous training during your first 6 to 12 months. Once you’ve developed your skills and passed your probationary period, you'll have the full responsibilities of a <a href="https://www.gov.uk/government/organisations/border-force">Border Force </a>officer.</p>
        <p>With experience you could then become a team leader, or move into a management position. You could also use your skills in training and working with new staff.</p>
        <p>You may also be able to apply for roles in other departments of the <a href="https://www.gov.uk/government/organisations/home-office">Home Office </a>or <a href="https://www.gov.uk/government/organisations/civil-service/about/recruitment">Civil Service.</a></p>
</section>

<!--section 7-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large">7. Current opportunities</h2>
    <!-- <p>Find the latest opportunities</p> -->

    <div class="grid-row" id="appGeneric">
        <div class="column-full">
            <h2 class="heading-medium" style="margin-top:0px;">
                Apprenticeships
                <span class="heading-secondary">In England</span>
            </h2>
        </div>
        <div class="column-half">
            <div class="opportunity-item">
                <h3 class="heading-small"><a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-125152">Border force apprentice</a></h3>
                <ul class="list">
                    <li><span class="bold-small">Weekly wage:</span> £230</li>
                    <li><span class="bold-small">Weekly hours:</span> 37</li>
                    <li><span class="bold-small">Location:</span> Liverpool</li>
                </ul>
            </div>
        </div>
        <div class="column-half">
            <div class="opportunity-item">
                <h3 class="heading-small"><a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-115429">Border control 3 apprentice</a></h3>
                <ul class="list">
                    <li><span class="bold-small">Annual wage:</span> £20,925</li>
                    <li><span class="bold-small">Weekly hours:</span> 37</li>
                    <li><span class="bold-small">Location:</span> Merton</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="opportunity-footer">
        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
    </div>

</section>

<section class="PROD_icon-buttons ">
    {% include "../includes/job-profile_social.html" %}
</section>


<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















