{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 2</span>
				Prototypes
			</h1>

			<h2 class="heading-large">Pages</h2>

			<ul class="list list-bullet">
				<li><a href="job-profiles/air-cabin-crew">Air cabin crew</a></li>
				<li><a href="job-profiles/chef">Chef</a></li>
				<li><a href="job-profiles/computer-games-tester">Computer games tester</a></li>
				<li><a href="job-profiles/counsellor">Counsellor</a></li>
				<li><a href="job-profiles/dental-nurse">Dental nurse</a></li>
				<li><a href="job-profiles/forensic-scientist">Forensic scientist</a></li>
				<li><a href="job-profiles/hairdresser">Hairdresser</a></li>
				<!-- <li><a href="job-profiles/interior-designer">Interior designer</a></li> -->
				<!-- <li><a href="job-profiles/paralegal">Paralegal</a></li> -->
				<li><a href="job-profiles/physiotherapist">Physiotherapist</a></li>
				<li><a href="job-profiles/police-officer">Police officer</a></li>
				<li><a href="job-profiles/primary-school-teacher_v3">Primary school teacher</a></li>
				<li><a href="job-profiles/psychologist">Psychologist</a></li>
				<li><a href="job-profiles/social-worker_v3">Social worker</a></li>
				<li><a href="job-profiles/studio-sound-engineer">Studio sound engineer</a></li>
				<li><a href="job-profiles/teaching-assistant">Teaching assistant</a></li>
				<li><a href="job-profiles/tv-presenter">TV presenter</a></li>
				<li><a href="job-profiles/veterinary-nurse">Veterinary nurse</a></li>
			</ul>

<!-- 			<h2 class="heading-large">Search</h2>
			<ul class="list list-bullet">
				<li><a href="search-start_job-profiles_v2">Job title</a></li>
				<li><a href="search-start_why-are_v2">Service wide</a></li>
			</ul> -->
		</div>
	</div>
</main>

{% endblock %}


