{% extends "./layout.html" %}

{% block page_title %}
	Service Green
{% endblock %}

{% block content %}

<main id="content" role="main">
     {% include "./includes/phase_banner_beta_above-colour.html" %}
     <header class="PROD_hero">
          <div class="grid-row">
               <div class="column-two-thirds">
                    <h1 class="heading-xlarge">Service Green</h1>
                    <p class="lede">Explore what kind of work is right for you, and take the next steps towards what you want to be</p>
                    <form id="searchForm">
                         <!-- <label>Enter a job title</label> -->
                         <div class="PROD_search">
                              <div id="search-box" class="PROD_search__input-container">
                                   <input class="PROD_search__input" autocomplete="off" placeholder="Enter a job title" type="text">
                              </div>
                              <input class="PROD_search__submit" onclick="saveSearchTermsAndContinue()" type="button" value="Search">
                         </div>
                    </form>
               </div>
          </div>
     </header> 
</main>

<script>
// This function gets the value entered in the search box and saves it to the session data
// Then loads the next page
function saveSearchTermsAndContinue() {
     var searchPrompt = "Enter a job title";
     window.setSessionData('searchPrompt', searchPrompt);
     var searchTerm = document.getElementById('my-typeahead').value;
     window.setSessionData('searchTerm', searchTerm, function(){
          setTimeout(changePage, 500);
          function changePage() {
             window.location.href="#1";
          }
     });
}

// This function make sure the form is submitted when search field is in focus and the user presses enter
// This function is overriding one set in the accessible-typeahead.min.js that doesn't allow this behaviour if there are auto-complete options
function searchOnReturn() {
     var searchContainer = document.getElementById("my-typeahead");
     var e = window.event;
     searchContainer.addEventListener('keydown', function(e) {
          if (e.which === 13 || e.keycode === 13) {
               e.preventDefault();
               saveSearchTermsAndContinue();
          }
     });
} 

function init () {
     searchOnReturn();
}
window.onload = init;

</script>


{% endblock %}
