@import '_colours';
@import '_conditionals';

$secondary-button-bg: transparent;

.inline {
    .button{
        margin-bottom: 10px;

        @include media(tablet) {
            margin-bottom: 0px;
        }

        &:last-child {
            margin-bottom: 0px;
        }

        &.beta-grey-button {
            @include media(tablet) {
                margin-left:.5em;                
            }
            &:first-child {
                margin-left:0px !important;
            }
        }
    }
}

.beta-grey-button {
    @include button ($grey-3);
}

.button.beta-link-button {
    background:$secondary-button-bg;
    color: $link-colour;
    text-decoration: underline;
    box-shadow:none !important;

    @include media (mobile) {
        margin-top:0.75em;
    }

    &:focus {
      background:$secondary-button-bg;
      color: $link-colour;
      @include box-shadow(0 2px 0 $focus-colour);
    }

    &:visited, &:link {
      background:$secondary-button-bg;
      color:$link-colour;
    }

    &:hover {
      background:$secondary-button-bg;
      color:$link-hover-colour;
    }

    &:active {
      top:0;
      color:$link-hover-colour;
      background:$focus-colour;
    }
    // Disabled buttons
    &.disabled,
    &[disabled="disabled"],
    &[disabled]{
        background: $secondary-button-bg;
        &:focus {
          outline: none;
        }
        &:hover, &:link, &:visited, &:active{
            background:$secondary-button-bg;
            color: $link-colour;
            text-decoration: underline;
            box-shadow:none;
        }
    }
}