@import '_colours';
@import '_conditionals';

$secondary-button-bg: transparent;

.inline {
    .button{
        margin-bottom: 10px;

        @include media(tablet) {
            margin-bottom: 0px;
        }

        &:last-child {
            margin-bottom: 0px;
        }

        &.beta-grey-button {
            @include media(tablet) {
                margin-left:.5em;                
            }
            &:first-child {
                margin-left:0px !important;
            }
        }
    }
}

.beta-grey-button {
    @include button ($grey-3);
}