{% extends "../layout.html" %}

{% block page_title %}
  Find a career
{% endblock %}

{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}

{% set categoryName = 'Hospitality and food' %}

{% include "../includes/survey.html" %}


<main id="content" role="main">
    {% include "../includes/global_header_bar.html" %}

    {% include "../includes/breadcrumb_categories.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge" id="currentcategory">{{ categoryName}}</h1>
            <!-- <p class="page-header__summary">Blurb about the category, what do the jobs on this page have in common etc.</p> -->

            <div class="paginated-page" id="page1">
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Chef</a></h2>
                    <h3 class="category-job__alt-titles">Cook</h3>
                    <p class="category-job__overview">Chefs prepare, cook and present food.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Kitchen assistant</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Oral health practitioner</h3> -->
                    <p class="category-job__overview">Kitchen assistants prepare food, make sure chefs have everything they need, and keep the kitchen clean.</p>
                </div>
                <div class="category-job">
                    <h2 class="heading-medium category-job__title"><a href="../job-profiles/police-officer" class="prototype-link">Waiter</a></h2>
                    <!-- <h3 class="category-job__alt-titles">Dental surgeon, dental practitioner</h3> -->
                    <p class="category-job__overview">Waiting staff serve customers in restaurants and cafes by taking orders and payment, serving food and preparing tables.</p>
                </div>
            </div>
            {% include "../includes/signpost.html" %}
        </div>
        <div class="column-one-third">
            {% include "../includes/other_categories.html" %}
        </div>
    </div>
</main>

{% endblock %}
