{% extends "../jobprofile-htb.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Beauty consultant" %}
{% set profileSecondaryName = "Beautician" %}
{% set profileDescription = "Beauty consultants sell beauty products and help customers choose the right products to buy." %}
{% set salaryLow = "15,500" %}
{% set salaryHigh = "18,000" %}
{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "Mon - Sat" %}
{% set patternValue = "Evenings & weekends" %}
{% set patternDescription = "" %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large jp-heading">How to become a {{profileName}}</h2>
    <p>There are a number of options and routes which could allow you to become a beauty consultant.</p>

    <!-- College Section -->
    <div class="htb-section" id="apprenticeships">
        <h3>College</h3>
        <div class="content">
            <div class="htb-boxes">
                <div class="htb-box">
                    <i class="far fa-clock"></i>
                    <span>Typically takes</span>
                    <p>1 year</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-pound-sign"></i>
                    <span>Cost / pay</span>
                    <p>Course Fees</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Min. Qualifications</span>
                    <p>3 GCSEs</p>
                </div>
            </div>
            <p>You could study for:</p>
            <ul class="list list-bullet">
                <li>a level 2 certificate or diploma in beauty consultancy</li>
                <li>a general qualification in retail, sales or customer service</li>
            </ul>

            <h4 class="heading-small">Requirements:</h4>
            <p>To get onto a level 2 course you may need 3 GCSEs at grades 9 to 3 (A* to D). Check with course providers for exact entry requirements. You might be able to use <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent level qualifications</a> to get onto a course.</p>
            <h4 class="heading-small">Next steps:</h4>
            <div class="htb-feature">
                <a href="#">
                    <i class="fas fa-link"></i>
                    <p>Apply for financial help towards studying</p>
                </a>
            </div>
            <div class="htb-feature">
                <a href="#">
                    <i class="fas fa-link"></i>
                    <p>Look for Beatuy consultant courses near you</p>
                </a>
            </div>
        </div>
    </div>

    <!-- Work -->
    <div class="htb-section" id="work">
        <h3>Work your way up</h3>
        <div class="content">
            <div class="htb-boxes">
                <div class="htb-box">
                    <i class="far fa-clock"></i>
                    <span>Typically takes</span>
                    <p>2 Years</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-pound-sign"></i>
                    <span>Cost / pay</span>
                    <p>Paid</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Min. Qualifications</span>
                    <p>None</p>
                </div>
            </div>
            <p>You could get useful experience in any sales role and then apply for a job working for a beauty concession (a commercial operation within a department store). </p>
        </div>
    </div>

    <!-- Apprenticeships -->
    <div class="htb-section" id="apprenticeships">
        <h3>Apprenticeships</h3>
        <div class="content">
            <div class="htb-boxes">
                <div class="htb-box">
                    <i class="far fa-clock"></i>
                    <span>Typically takes</span>
                    <p>1 to 2 years</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-pound-sign"></i>
                    <span>Cost / pay</span>
                    <p>Paid</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Min. qualifications</span>
                    <p>Level 1</p>
                </div>
            </div>
            <p>You could do an intermediate or advanced <a href="https://www.gov.uk/apprenticeships-guide">apprenticeship</a> in beauty therapy make-up. These last 12 to 18 months. You may need a level 2 qualification to get onto the advanced apprenticeship. Check with course providers for exact entry requirements.</p>

            <h4 class="heading-small">Requirements:</h4>
            
            <ul class="list-bullet list">
            <li>You may need a level 2 qualification to get onto the advanced apprenticeship. Check with course providers for exact entry requirements.</li>
            <li>Get work experience in sales</li>
            </ul>

            <h4 class="heading-small">Next steps:</h4>




            <div class="htb-feature">
                <a href="http://www.habia.org/">
                    <i class="fas fa-link"></i>
                    <p>The Hairdressing and Beauty Industry Authority (HABIA) has more information about careers in beauty consultancy and therapy.</p>
                </a>
            </div>
            <div class="htb-feature">
                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">
                    <i class="fas fa-link"></i>
                    <p>Look for a beauty therapist apprenticeship near you </p>
                </a>
            </div>
        </div>

    </div>


</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">Skills</h2>
    <p>You'll need:</p>
    <ul class="list list-bullet">
        <li>a friendly manner to put customers at ease </li>
        <li>knowledge of products and skin types </li>
        <li>
            practical and artistic ability in using cosmetics for makeovers
        </li>
        <li>
            sales skills to meet your targets
        </li>
        <li>
            maths skills for handling money
        </li>
        <li>
            IT skills for managing supplies
        </li>
    </ul>
</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>
    <p>Your day-to-day duties could include:</p>
    <ul class="list list-bullet">
        <li>recommending products to suit each customer</li>
        <li>meeting sales targets</li>
        <li>keeping up to date with new products</li>
        <li>giving customers a makeover</li>
        <li>monitoring stock levels and re-ordering items</li>
        <li>keeping records</li>
        <li>handling cash and card payments</li>
    </ul>
</section>

<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Career path and progression</h2>
    <p>You'll usually work 35 to 40 hours a week, Monday to Friday. You may sometimes need to work overtime to meet deadlines.</p>
    <p>Most of your work will be office-based at a computer. There may be some out-of-office duties, like attending meetings with clients or partners.</p>
</section>

<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large jp-heading">Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>



<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















