{% extends "../jobprofile-htb.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Chef" %}
{% set profileSecondaryName = "Cook" %}
{% set profileDescription = "Chefs prepare, cook and present food." %}
{% set salaryLow = "18,000" %}
{% set salaryHigh = "22,000" %}
{% set hoursRange = "Long hours" %}
{% set hoursDetail = "Shift/rota" %}
{% set patternValue = "Evenings, weekends & public holidays" %}
{% set patternDescription = "" %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large jp-heading">How to become</h2>

    <p>There are a number of ways to become a Chef, you could:</p>

    <!-- College Section -->
    <div class="htb-section" id="apprenticeships">
        <h3>College</h3>
        <div class="content">
            <div class="htb-boxes">
                <div class="htb-box">
                    <i class="far fa-clock"></i>
                    <span>Typically takes</span>
                    <p>1 Year</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-pound-sign"></i>
                    <span>Cost / pay</span>
                    <p>Course fees</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Min. Qualifications</span>
                    <p>Level 1 course</p>
                </div>
            </div>
            <p>One way into the job is to take a college course, like a Level 2 or 3 Diploma in Professional Cookery.</p>
            <h4 class="heading-small">Next steps:</h4>
            <div class="htb-feature">
                <a href="#">
                    <i class="fas fa-link"></i>
                    <p>Apply for financial help towards studying</p>
                </a>
            </div>
            <div class="htb-feature">
                <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">
                    <i class="fas fa-link"></i>
                    <p>Look for Professional Cookery courses near you</p>
                </a>
            </div>
        </div>
    </div>


    <!-- Work -->
    <div class="htb-section" id="work">
        <h3>Work your way up</h3>
        <div class="content">
            <div class="htb-boxes">
                <div class="htb-box">
                    <i class="far fa-clock"></i>
                    <span>Typically takes</span>
                    <p>4 Years</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-pound-sign"></i>
                    <span>Cost / pay</span>
                    <p>Paid</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Min. Qualifications</span>
                    <p>None</p>
                </div>
            </div>
            <p>If you don't want to study full time, you could start work as a kitchen assistant or trainee ('commis') chef and work your way up while learning on the job. You could apply for work to local restaurants or catering companies.</p>
        </div>
    </div>

    <!-- Apprenticeships -->
    <div class="htb-section" id="apprenticeships">
        <h3>Apprenticeships</h3>
        <div class="content">
            <div class="htb-boxes">
                <div class="htb-box">
                    <i class="far fa-clock"></i>
                    <span>Typically takes</span>
                    <p>1 year</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-pound-sign"></i>
                    <span>Cost / pay</span>
                    <p>Paid</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Min. qualifications</span>
                    <p>Level 1 course</p>
                </div>
            </div>
            <p>Another way to learn while you work is to become an <a href="https://www.gov.uk/apprenticeships-guide">apprentice chef</a>.</p>
            <h4 class="heading-small">Next steps:</h4>
            <div class="htb-feature">
                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">
                    <i class="fas fa-link"></i>
                    <p>Look for a chef apprenticeships near you </p>
                </a>
            </div>
        </div>
    </div>


    <!-- Voluntary and work experience -->
    <div class="htb-section" id="apprenticeships">
        <h3>Voluntary and work experience</h3>
        <div class="content">
            <div class="htb-boxes">
                <div class="htb-box">
                    <i class="far fa-clock"></i>
                    <span>Typically takes</span>
                    <p>1-3 Months</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-pound-sign"></i>
                    <span>Cost / pay</span>
                    <p>Unpaid</p>
                </div>
                <div class="htb-box">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Min. qualifications</span>
                    <p>None</p>
                </div>
            </div>
            <p>If you have no experience, you could <a href="https://do-it.org">volunteer</a> as a chef or a cook.</p>

        </div>
    </div>



    <p>The <a href="http://www.hospitalityguild.co.uk/">Hospitality Guild</a> has more information about training as a chef and a list of jobs available.</p>



</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">Skills required</h2>

    <p>You'll need:</p>
    <ul class="list list-bullet">
        <li>organisational and time management skills</li>
        <li>excellent communication and number skills</li>
        <li>the ability to stay calm under pressure</li>
    </ul>
</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>

    <p>You could work in hotels, restaurants, pubs, schools, colleges, cruise ships, the NHS or the armed forces.</p>
    <p>In a small kitchen you may be a general chef. In a large kitchen you may be a specialist chef, in charge of one area like pastry, fish or vegetables, working under a head chef.</p>
    <p>Your day-to-day tasks will vary with your role, but may include:</p>
    <ul class="list list-bullet">
        <li>preparing attractive menus to nutritional standards</li>
        <li>controlling and ordering stock and inspecting it on delivery</li>
        <li>gutting and preparing animals and fish for cooking</li>
        <li>scraping and washing large quantities of vegetables and salads</li>
        <li>cooking and presenting food creatively</li>
        <li>monitoring production to maintain quality and consistent portion sizes</li>
        <li>working under pressure to make sure food is served on time</li>
        <li>keeping to hygiene, health and safety and licensing rules</li>
    </ul>
    <p>You'll need knowledge of allergens, nutrition and diets.</p>

</section>


<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Career path and progression</h2>

    <p>With experience, you could progress to section chef (station chef) and look after a particular area like desserts. The next step is sous chef, running an entire kitchen when the head chef is busy.</p>
    <p>As head chef (also known as chef de cuisine), you'll run a kitchen, create menus and manage the budget.</p>
    <p>You could move into the business side by taking a foundation degree or degree in hospitality management.</p>
    <p>Very large establishments have executive chefs, usually in charge of multiple outlets. This is a management role and you would do very little cooking.</p>
    <p>Another option is to train as a teacher or assessor working for a college or training provider.</p>

</section>

<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large jp-heading">Current opportunities</h2>
    <!-- <p>Find the latest opportunities</p> -->

    <div class="grid-row" id="appGeneric">
        <div class="column-full">
            <h2 class="heading-medium" style="margin-top:0px;">
                Apprenticeships
                <span class="heading-secondary">In England</span>
            </h2>
        </div>
        <div class="column-half">
            <div class="opportunity-item">
                <h3 class="heading-small"><a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-125152">Administration Apprentice</a></h3>
                <ul class="list">
                    <li><span class="bold-small">Weekly wage:</span> £230</li>
                    <li><span class="bold-small">Weekly hours:</span> 37</li>
                    <li><span class="bold-small">Location:</span> Liverpool</li>
                </ul>
            </div>
        </div>
        <div class="column-half">
            <div class="opportunity-item">
                <h3 class="heading-small"><a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-115429">Policing Level 3 Apprentice - J2698/J2701</a></h3>
                <ul class="list">
                    <li><span class="bold-small">Annual wage:</span> £20,925</li>
                    <li><span class="bold-small">Weekly hours:</span> 37</li>
                    <li><span class="bold-small">Location:</span> Merton</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="opportunity-footer">
        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
    </div>

</section>



<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















