{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				Beta prototypes
				<!-- <span class="heading-secondary">Customise the prototype</span> -->
			</h1>
		</div>
		<div class="column-half">
			<ul class="list list-number">
				<li><a href="_beta-initial-state/index.html">Initial state (From Alpha)</a></li>
				<li><a href="_sprint1/index.html">Sprint 1</a></li>
				<li><a href="_sprint2/index.html">Sprint 2</a></li>
				<li><a href="_sprint3/index.html">Sprint 3</a></li>
				<li><a href="_sprint4/index.html">Sprint 4</a></li>
				<li><a href="_sprint5/index.html">Sprint 5</a></li>
				<li><a href="_sprint6/index.html">Sprint 6</a></li>
				<li><a href="_sprint7/index.html">Sprint 7</a></li>
				<li><a href="_sprint8/index.html">Sprint 8</a></li>
				<li><a href="_sprint9/index.html">Sprint 9</a></li>
				<li><a href="_sprint10/index.html">Sprint 10</a></li>
                <li><a href="_sprint11/index.html">Sprint 11</a></li>
                <li><a href="_sprint19/index.html">Sprint 19</a></li>
			</ul>
		</div>
		<!-- <div class="column-half">
		</div> -->
	</div>
</main>

{% endblock %}


