{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				Beta prototype list
				<!-- <span class="heading-secondary">Customise the prototype</span> -->
			</h1>
		</div>
		<div class="column-half">

			<h2 class="heading-medium">Posting Journey</h2>
			<ul class="list list-number">
				<li><a href="_beta-initial-state/index.html">Initial state (From Alpha)</a></li>
			</ul>

		</div>
		<!-- <div class="column-half">
		</div> -->
	</div>
</main>

{% endblock %}


