{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Hotel receptionist" %}
{% set profileSecondaryName = "" %}
{% set profileDescription = "Hotel receptionists make guests feel welcome, manage room bookings (reservations) and deal with requests from guests." %}
{% set salaryLow = "16,500" %}
{% set salaryHigh = "20,000" %}
{% set hoursRange = "32 - 40" %}
{% set hoursDetail = "Shift/rota" %}
{% set patternValue = "Evenings, weekends & public holidays" %}
{% set patternDescription = "" %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large">1. How to become a {{profileName}}</h2>
        <p>You could:</p>
        <ul class="list list-bullet">
            <li>do an apprenticeship </li>
            <li>study at college</li>
            <li>start as a trainee and learn on the job</li>
        </ul>
        <h3 class="heading-medium">Apprenticeship</h3>
        <p>You'll need to do an <a href="https://www.gov.uk/apprenticeships-guide">intermediate apprenticeship</a> in hotel reception work or business administration. You'll also need good communication skills.</p>
        <p>To study at college or start as a trainee, you'll usually need:</p>
        <ul class="list list-bullet">
            <li>GCSEs at grades 9 to 4 (A* to C) in English and maths <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">or equivalent qualifications</a> </li>
            <li>excellent communication and customer service skills</li>
            <li>IT skills</li>
        </ul>
        <h3 class="heading-medium">College</h3>
        <p>You could study for a college course like a level 2 or 3 diploma or certificate in hospitality. <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">Search for courses in your area</a>. </p>
        <p>Check with course providers for exact entry requirements. You might be able to use <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent level qualifications</a> to get onto a course.</p>
        <p>You may be able to get <a href="https://www.gov.uk/further-education-courses/financial-help">financial help</a>. </p>
        <h3 class="heading-medium">Work experience</h3>
        <p>You could start work in the hospitality industry if you want to learn the role of receptionist.</p>
        <p>A lot of hotels get visitors from outside the UK so you may find it useful if you can speak a second language.</p>
        <p>The <a href="http://www.hospitalityguild.co.uk">Hospitality Guild</a> has more information on careers in hospitality and tourism.</p>

    </section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large">2. Skills</h2>
        <p>You'll need:</p>
        <ul class="list list-bullet">
            <li>administration and customer service skills</li>
            <li>IT skills to work with computerised booking and payment systems</li>
            <li>excellent written and spoken communication skills</li>
            <li>a friendly and professional telephone manner</li>
            <li>patience and tact</li>
            <li>the ability to stay calm under pressure and look after several things at once</li>
        </ul>
        <p>It may also be useful if you can speak a foreign language.</p>

    </section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large">3. What you'll do</h2>
        <p>Your day-to-day tasks may include:</p>
        <ul class="list list-bullet">
            <li>dealing with bookings</li>
            <li>completing procedures when guests arrive and leave</li>
            <li>choosing rooms and handing out keys</li>
            <li>preparing bills and taking payments</li>
            <li>taking and passing on messages to guests</li>
            <li>dealing with special requests from guests (like booking theatre tickets or storing valuable items)</li>
            <li>answering questions</li>
            <li>dealing with complaints or problems</li>
        </ul>
        <p>You'll usually work as part of a team and you may be responsible for one area like managing telephone reservations or guest departures (checkouts).</p>
        <p>In small hotels, your duties may include other tasks like showing guests to their rooms or serving drinks in the bar.</p>

    </section>

<!--section 4-->
<section id="career-path-and-progression">
    <h2 class="heading-large">4. Career path and progression</h2>
        <p>With experience and qualifications, you may be able to progress to front office manager or hotel manager. You could also move into different areas of hotel work, like events and banqueting services, sales, personnel or accounts.</p>
        <p>You could also move outside the hospitality industry into related areas like customer service and administration.</p>

    </section>

<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large">5. Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>




<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















