{% extends "../jobprofile.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Travel agent" %}
{% set profileSecondaryName = "Travel consultant" %}
{% set profileDescription = "Travel agents book and plan business and leisure travel for customers." %}
{% set salaryLow = "17,500" %}
{% set salaryHigh = "21,000" %}
{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "Shift/rota" %}

{% set patternValue = "Evenings & weekends" %}
{% set patternDescription = "" %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
        <h2 class="heading-large">1. How to become</h2>

        <p>You could:</p>
        <ul class="list list-bullet">
            <li>study at college for a Level 3 Certificate or Diploma in Travel and Tourism</li>
            <li>do an advanced apprenticeship in travel consultancy</li>
            <li>start as a trainee travel agent and receive on-the-job training from your employer</li>
        </ul>
        <h3 class="heading-medium">College</h3>
        <p>To do a Level 3 Diploma in Travel and Tourism you'll usually need GCSEs at grades 9 to 4 (A* to C), which must include English language, <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">or equivalent qualifications</a>.</p>
        <p>You may be able to <a href="https://www.gov.uk/further-education-courses/financial-help">get financial help</a> to study.</p>
        <p>Find a <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">travel and tourism course</a> near you.</p>
        <h3 class="heading-medium">Apprenticeship</h3>
        <p>Many travel agencies offer <a href="https://www.gov.uk/apprenticeships-guide">advanced apprenticeships</a> where you can work towards the Level 3 Certificate or Diploma in Travel and Tourism.</p>
        <p>You'll usually need GCSEs at grades 9 to 4 (A* to C), including English language and maths. Employers may also accept <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent level 2 qualifications</a>.</p>
        <p>Work experience</p>
        <p>You could start as a trainee travel agent and receive on-the-job training from your employer. While working, you could study one of these qualifications:</p>
        <ul class="list list-bullet">
            <li>Level 2 or 3 Certificate in Travel and Tourism</li>
            <li>Level 3 (Extended) Certificate/Diploma in Travel and Tourism</li>
            <li>Level 4 Certificate/Diploma in Management for Travel and Tourism</li>
            <li>Level 5 Certificate/Diploma in Management for Travel and Tourism</li>
        </ul>
        <p>It may help if you have customer service experience and can speak a foreign language.</p>
        <p>The <a href="http://www.itt.co.uk/">Institute of Travel &amp; Tourism</a> (ITT) and <a href="http://www.careersthatmove.co.uk/">Careers that Move</a> have more information about the industry.</p>
</section>

<!--section 2-->
<section id="skills-required">
        <h2 class="heading-large">2. Skills required</h2>

        <p>You'll need:</p>
        <ul>
            <li>excellent customer service skills and telephone manner</li>
            <li>strong communication and sales skills</li>
            <li>the ability to prioritise and cope with pressure at busy times</li>
        </ul>
</section>

<!--section 3-->
<section id="what-youll-do">
        <h2 class="heading-large">3. What you'll do</h2>

        <p>You may work in a high street travel agents or a call centre, specialising in personal or business travel.</p>
        <p>Depending on your role, your day-to-day tasks may include:</p>
        <ul class="list list-bullet">
            <li>understanding and meeting customers' needs</li>
            <li>using your geographical knowledge to help customers find a suitable package holiday or plan independent travel</li>
            <li>making bookings and payments using online computer systems</li>
            <li>advising customers about passports, insurance, visas, vaccinations, tours and vehicle hire</li>
            <li>informing customers of changes like cancelled flights</li>
            <li>arranging refunds and handling complaints</li>
            <li>meeting sales targets</li>
            <li>keeping up to date with developments in the travel industry</li>
        </ul>
</section>



<!--section 4-->
<section id="career-path-and-progression">
        <h2 class="heading-large">4. Career path and progression</h2>

        <p>With training and experience, there may be opportunities to progress into senior roles like branch or call centre manager, operations director, regional director or managing director.</p>
        <p>You could also move into other roles in the travel sector, like tour operating.</p>
</section>

<!--section 5-->
<section id="current-opportunities" style="margin-bottom:30px">
        <h2 class="heading-large">5. Current opportunities</h2>
        <div class="opportunity-footer dfc-code-jp-novacancyText">
            <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
        </div>
</section>


<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















