{% extends "../../jobprofile-cad-2.html" %}

{% block page_title %}
  Find a career
{% endblock %}
{% set profileName = "Beauty consultant" %}
{% set profileSecondaryName = "Beautician" %}
{% set profileDescription = "Beauty consultants sell beauty products and help customers choose the right products to buy." %}
{% set salaryLow = "15,500" %}
{% set salaryHigh = "18,000" %}
{% set hoursRange = "37 - 40" %}
{% set hoursDetail = "Mon - Sat" %}
{% set patternValue = "Evenings & weekends" %}
{% set patternDescription = "" %}
{% block content %}

{% set serviceName = 'Find a career' %}
{% set bannerStyle = 'BETA-style' %}


<!--section 1-->
<section id="how-to-become">
    <h2 class="heading-large">How to become a {{profileName}}</h2>
    <p>There are no set requirements, but it could help if you were to:</p>
    <ul class="list list-bullet">
        <li>do a college qualification</li>
        <li>get work experience in sales</li>
        <li>do an apprenticeship</li>
    </ul>
    <h3 class="heading-medium">College</h3>
    <p>You could study for:</p>
    <ul class="list list-bullet">
        <li>a level 2 certificate or diploma in beauty consultancy</li>
        <li>a general qualification in retail, sales or customer service</li>
    </ul>
    <p>To get onto a level 2 course you may need 3 GCSEs at grades 9 to 3 (A* to D). Check with course providers for exact entry requirements. You might be able to use <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent level qualifications</a> to get onto a course.</p>
    <p>You may be able to get <a href="https://www.gov.uk/further-education-courses/financial-help">financial help</a>.</p>
    <h3 class="heading-medium">Work</h3>
    <p>You could get useful experience in any sales role and then apply for a job working for a beauty concession (a commercial operation within a department store). </p>
    <h3 class="heading-medium">Apprenticeship</h3>
    <p>You could do an intermediate or advanced <a href="https://www.gov.uk/apprenticeships-guide">apprenticeship</a> in beauty therapy make-up. These last 12 to 18 months. You may need a level 2 qualification to get onto the advanced apprenticeship. Check with course providers for exact entry requirements</p>
    <p>The <a href="http://www.habia.org/">Hairdressing and Beauty Industry Authority</a> (HABIA) has more information about careers in beauty consultancy and therapy</p>

</section>

<!--section 2-->
<section id="skills-required">
    <h2 class="heading-large jp-heading">What it takes</h2>
    <p>You'll need:</p>
        <ul class="list list-bullet ">
            <li> customer service skills </li>
            <li> speaking and listening skills</li>
            <li> the ability to use English - reading, writing, spelling and grammar skills </li>
            <li> a desire to help people </li>            
            <li> the ability to sell products and services</li>
            <li> the ability to work quickly and accurately with your hands</li>
        </ul>

</section>

<!--section 3-->
<section id="what-youll-do">
    <h2 class="heading-large jp-heading">What you'll do</h2>
    
    <p>You could work in a department store or work from home for a cosmetics company. You could also work in an airport departure lounge, on a cruise liner or in a hotel.</p>

    <p>Your specific day-to-day duties could include:</p>
    <ul class="list list-bullet">
        <li>recommending products to suit each customer</li>
        <li>meeting sales targets</li>
        <li>keeping up to date with new products</li>
        <li>giving customers a makeover</li>
        <li>monitoring stock levels and re-ordering items</li>
        <li>keeping records</li>
        <li>handling cash and card payments</li>
    </ul>

    <p>You'll usually work at a cosmetics counter</p>
    <p>You'll usually wear a company uniform and use the cosmetics you're promoting.</p>

</section>


<!--section 4-->
<section id="enviroments">
    <h2 class="heading-large jp-heading"> Your working environment </h2>
        <p>You may spend a lot of your time standing or bending over clients.</p>
        <p>If you have an allergy or sensitive skin, you may find that some of the products you use may irritate the skin on your hands.</p>
</section>


<!--section 5-->
<section id="career-path-and-progression">
    <h2 class="heading-large jp-heading">Career path and progression</h2>
    <p>With experience and further training you could move into management.</p>
</section>


<!--section 6-->
<section id="current-opportunities" style="margin-bottom:30px">
    <h2 class="heading-large jp-heading">Current opportunities</h2>
    <div class="opportunity-footer dfc-code-jp-novacancyText">
        <p>There are currently no opportunities in this field of work.</p><p>Check again soon or look for another <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">apprenticeship</a>.</p>
    </div>
</section>



<p class="grey font-xsmall">Last updated: 23 March 2016</p>



{% endblock %}
















