{% extends "./layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Sprint 23</span>
				Ready for live
			</h1>
			<p class="lede">Prototypes to guide the creation of the live site. The code <strong>should not</strong> be used directly in the live environment</p>

			<h2 class="heading-large">Voice of customer - Generic feedback</h2>
			<p>Until the full Exit Route journey can be built the same recruitment methods will be used to direct users to a service wide feedback form.</p> 
			<p>Below are the two ideas that we will aim to A/B test with in the live enviroment</p>
			<ul class="list list-bullet">
				<li><a href="PROD_VOC_exit-routes-survey_v3.html">A - VOC generic feedback</a></li>
				<li><a href="PROD_VOC_exit-routes-survey_v2.html">B - VOC generic feedback</a></li>
			</ul>
		</div>
	</div>
</main>

{% endblock %}


